.cr__header-MyAccount {
  max-width: 242px;
  width: 100%;
  height: 374px;
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  border: 1px solid #dad8d6;
  border-bottom-left-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: translate(-132px, 0px);
  z-index: 9;
  &-information {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 70px;
    padding: 0em 1em;
    img {
      height: 44px;
      width: 44px;
      border-radius: 50%;
    }
    span {
      margin-left: 1em;
      font-weight: 600 !important;
    }
  }
  &-store {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 58px;
    border-top: 1px solid #dad8d6;
    border-bottom: 1px solid #dad8d6;
    padding: 0em 1em 0em;
    a {
      font-weight: 600 !important;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
    padding: 0em 1em;
    transition: 0.3s;
    &:hover {
      background-color: #ededed;
    }
  }
  .profile {
    font-weight: 600 !important;
    height: 42px;
  }
  .logout {
    border-bottom-left-radius: 3px;
    height: 41px;
  }
  a {
    text-decoration: none;
  }
}
