.cr__interests-container {
  .cr__header-dropdown {
    max-width: 1300px;
    width: 100%;
    // height: 100%;
    max-height: 550px;
    padding: 0;
    display: flex;
    margin: 0 auto;
    background-color: #ffffff;
    // overflow-y: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid #dad8d6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    &-interestsLevel1 {
      height: 100%;
      width: 470px;
      border-right: 1px solid #ededed;
      padding: 1em 0;
      &-item {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;
        color: #898989;
        transition: 0.3s;
        cursor: pointer;
        img {
          filter: grayscale(100%);
          height: 10px;
          width: 10px;
          transition: 0.3s;
          margin-top: 0.25em;
        }
      }
      &-item:hover {
        color: #3f3f3f;
        background-color: #ededed;
        img {
          filter: brightness(0.1);
        }
      }
    }
    &-interestsLevel2 {
      overflow: hidden;
      height: 100%;
      width: 100%;
      max-width: calc(1300px - 318px);
      padding: 1em 1em 1em 2em;
      &-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #898989;
        padding-bottom: 0.5em;
        img {
          filter: grayscale(100%);
          height: 10px;
          width: 10px;
          transition: 0.3s;
          margin-top: 0.25em;
          transition: 0.3s;
        }
        a {
          color: #898989;
          transition: 0.3s;
        }
      }
      &-container {
        display: flex;
        &-list {
          width: 50%;
        }
        &-representImage {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;

          img {
            width: 100%;
            border-radius: 2.5%;
            margin: 1em 1em 0 1em;
          }
        }
      }
      &-level2 {
        padding: 1em 0;
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
        max-height: 490px;
        height: 100%;
        width: 100%;
        max-width: calc(1300px - 318px);
        &-item {
          padding-bottom: 1em;
          //   padding-right: 1em;
          // max-width: 300px;
          width: 35.3%;
          align-self: flex-start;
          margin-right: 2.5em;
          img {
            filter: grayscale(100%);
            height: 10px;
            width: 12px;
            transition: 0.3s;
            margin-top: 0.25em;
            transition: 0.3s;
            margin-left: 0.5em;
          }
        }
      }
      &-level3 {
        display: flex;
        flex-direction: column;
        &-name {
          color: #898989;
          transition: 0.3s;
        }
        &-name:hover {
          color: #d53976;
        }
        &-more {
          margin-top: 0.25em;
        }
      }
    }
    a {
      text-decoration: none;
    }
    @media screen and (max-width: 994px) {
      padding: 0 1%;
    }
  }
  .defaultInterest {
    color: #3f3f3f;
    background-color: #ededed;
    img {
      filter: brightness(0.1);
    }
  }
}
.loading--interests {
  background-color: #ffffff;
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  height: 100%;
}
