.cr__header-collections {
  max-width: 522px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(318px);
  top: 121px;
  &-container {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 242px;
    background-color: #ffffff;
    border: 1px solid #dad8d6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  }
  &-list {
    border-right: 1px solid lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0;
  }
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 39px;
    color: #6b6b7a;
    transition: 0.3s;
    padding: 0 0.5em 0 1em;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
  }
  &-item:hover,
  .defaultCollection {
    color: #37373e;
    font-weight: 600 !important;
    background-color: #ededed;
  }
  &-item:hover::after,
  .defaultCollection::after {
    content: '';
    background: url('../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
    filter: brightness(0%);
    height: 20px;
    width: 20px;
    transition: 0.3s;
    position: absolute;
    right: 0%;
    transform: scale(0.6);
  }
  &-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    img {
      height: 208px;
      width: 253px;
      border-radius: 5px;
      object-fit: cover;
    }
  }
  a {
    text-decoration: none;
  }
  @media screen and (max-width: 1060px) {
    transform: none;
    right: 0;
    top: 121px;
  }
}
