.storeApp__module{
    h3{
      margin-bottom:1em; 
    }
    /*----------------------------------------
    // FORM CONTAINERS
    ----------------------------------------*/
    .form{
        ////////////////////
        // DATA CONTAINER
        &__data{
            position: relative;
            //padding-bottom: 0.925em;
            //border-bottom: solid 1px $color4;
            //margin-bottom: 0.5em;

            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                border: none;
            }
        }
    }

    /*----------------------------------------
    // FORM CONTAINER
    ----------------------------------------*/
    .form--annotated {
        .ui-detailed-block {
            display: flex;
            flex-flow: row wrap;
            margin: 1em auto;
            &__detail {
                width: 100%;
                position: relative;
                .heading {
                    @include type-setting(0);
                    padding: 1em 0;
                    margin: 0;
                    font-family: $font_content;
                    font-weight: bold;
                    text-align: left;
                    line-height: 1em;
                    .form__helpIcon{top: 15px;}
                }
                .heading2 {
                    padding: 1em 0 0.5em;
                    margin: 0;
                    font-weight: 500;
                    text-align: left;
                    line-height: 21px;
                    .form__helpIcon{top: 15px;}
                    font-size: unset;
                }
                .detail {
                    color: #a49b92;
                    @include type-setting(0);
                    padding-bottom: 1em;
                    text-indent: 0;
                }
            }
            &__content {
                width: calc(100% + #{$margin-base*2});
                background: #fff;
                border: solid 1px $color4;
                padding: $margin-base*2;
                margin: 0 #{-($margin-base)};
                box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.0), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
                .title {
                    display: block;
                    @include type-setting(0);
                    font-family: $font_content;
                }
                input {
                    width: 100%;
                }
            }
            a{
                text-decoration: none;
            }
            .cr__googleforms {
                div{
                margin: 1.5em 0 0;
                }
                p{
                    margin-bottom: 1em;
                }
                a{
                    cursor: pointer;
                    height: 35px;
                    width: 137px;
                    border: 1px solid #c72a60;
                    border-radius: 3px;
                    background-color: #e63976;
                    box-shadow: inset 0 -2px 6px 0 rgba(0,0,0,.06),0 1px 0 0 rgba(0,0,0,.09);
                    color: #fff;
                    transition: .3s;
                    padding: 10px;
                }
                .shippingForm {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45%;
                }
            }
            .cr__googleforms:hover{
                a{
                    color: #e63976;
                    background-color: #fff;
                }
            }
        }
        /*----------------------------------------
        // MEDIA QUERIES
        ----------------------------------------*/
        @media screen and (min-width: $bp-tablet-m) {
            .ui-detailed-block {
                &__content {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        @media screen and (min-width: $bp-desktop-sm) {
            .ui-detailed-block {
                flex-flow: row nowrap;
                border-bottom: solid 1px darken($color5, 5%);
                padding-bottom: 1.5em;
                margin: 1.5em auto;
                &__detail {
                    flex:1 1 15em;
                    padding-right: 1.5em;
                }
                &__content {
                    width:auto;
                    flex: 0 0 32em;
                }
            }
        }
    }

    /*----------------------------------------
    // BOXED FORM CONTAINER
    ----------------------------------------*/
    .form--boxed{
        @extend form;
        position: relative;
        padding: $margin-base*2.5;
        background: $color5;
        // border: solid 1px $color4;
        border-radius: $border-radius;

        ////////////////////
        // FORM LABELS
        label{
            display: inline-block;
            //font-family: $font_title;
            margin-bottom: 0.325em;
            &.title{
                @include type-setting(1);
                width: 98%;
            }
        }

        ////////////////////
        // INPUTS
        input,
        textarea{
            width: 100%;
            display: inline-block;
            outline: none;
            padding: 0.5em 0.75em;
            border: solid 1px $color4;
            color: $color3;
            font-family: $font_content;
            @include type-setting(0);
            transition: color 180ms;

            &:focus{
                color: $color2;
            }
        }

        textarea{
            min-height: 8em;
            border: 0;
        }
    }

    /*----------------------------------------
    // SETTINGS FORM CONTAINER
    ----------------------------------------*/
    .form--transparent{
        @extend form;

        .form__data{
            margin-bottom: 1.5em;
        }
        .form__detail{
            textarea{ min-height: 14em; }
        }
        .form__submit{
            text-align: center;
            .c2a_square{
                color: #fff;
            }
        }

        ////////////////////
        // FORM LABELS
        label{
            display: inline-block;
            color: $color3;
            font-size: 0.875em;
            font-weight: 300;
            margin-bottom: 0.125em;
        }


        ////////////////////
        // INPUTS
        input,
        textarea{
            width: 100%;
            display: inline-block;
            outline: none;
            padding: 0 0.125em 0.125em;
            border: none;
            border-bottom: solid 1px $color4;
            color: $color2;
            font-family: $font_content;
            @include type-setting(1);
            transition: border-color 200ms ease;

            &:focus{
                border-color: darken($color4, 30%);
            }
        }

        textarea{
            @include type-setting(0);
            border: solid 1px $color4;
            padding: 0.25em 0.5em;
            min-height: 9.5em;
        }
    }

    .search {
        form {
          width: 100%;
          position: relative;
          text-align: center;
          margin: 0.625em 0px;
          input[type=text] {
            background: white url($images_path+'icons/search/search_icon.svg') no-repeat calc(100% - 1em) center;
            background-size: 1.2em;
            color: $color2;
            border: $border-style;
            padding: .3em 1em;
            width: 95%;
            @include type-setting(0);
            font-family: $font_title_bold;
            border-radius: 2em;
          }
        }
    }
}
.albo{
    width:100%;
    padding:1em 0;
  @media screen and (max-width:726px){
    margin: 0 -0.625em;
    width: 106.5%;
  }
}