/*----------------------------------------
// ASIDE
----------------------------------------*/
.storeMenu{
    //position: fixed;
    //height: 100%;
    position: fixed;
    overflow: hidden;
    //overflow: hidden;
    z-index: 9;
    left: 0; top: 0;

    width: 100%;
    //max-height: 60px;
    //height: 0;//100vh;
    padding: $margin-base*1.15;
    background: $color2 url($images_path+'storeApp/menu_texture.svg') center top;
    background-size: 50%;

    &_container{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .logo{
            width: 100%;
            &__button{
                display: block;
            }
        }

        .menu{
            @include responsive-container( 100%);
            width: 2rem;
            max-width: 35px;
            cursor: pointer;
            @include hide-text();
            >a {
                position: absolute;
                display: block;
                width: 100%; height: 100%;
                top: 0;
                left: 0;
              }
            &.menu {
            background: url($images_path+'icons/icon_menu.svg') no-repeat center;
            background-size: 40%;
            filter: grayscale(1 );
            }
        }  
    }
    .open{
        display: block;
        margin: 2em 0;
    }
      .closed{
        display: none;
    }
    

    /*----------------------------------------
    // GENERIC MODULES
    ----------------------------------------*/
    &__module{
        position: relative;
        padding-bottom: 0.875em;
        margin-bottom: 0.875em;
        border-bottom: 1px solid #53535E;

        .note{
            @include type-setting(-1);
            line-height: 1.5em;
            color: lighten($color: $color3, $amount: 15%);
            margin: 0;
        }

        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }


    /*----------------------------------------
    // PROFILE MODULE
    ----------------------------------------*/
    &__profile{
        display: flex;
        flex-flow: row wrap;

        // PROFILE IMAGE CONTAINER
        .imageContainer{
            overflow: hidden;
            align-self: baseline;
            width: 65px;
            margin-right: $margin-base;
            border: solid 1px $color3;
            background: darken($color2, 6%);
            @include responsive-container(100%);

            &__wrapper{
                position: absolute;
                left: 0; top: 0;
                width: 100%;
                height: 100%;
                @include background__store-profile--default();
            }

            img{
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }

        // STORE INFO CONTAINER
        &-info{
            position: relative;
            flex: 1 0 auto;

            // Store name
            h3{
                color: #fff;
                @include type-setting(1);
                margin-bottom: 0.325em;
                overflow-wrap: break-word;
            }

            // 'View site' Button
            .c2a_border{
                background: none;
                border: solid 1px $color3;
                border-radius: $border-radius;
                font-family: $font_content;
                @include type-setting(-1);
                padding: 0.325em 0.75em;
                color: $color4;
            }
        }
    }


    /*----------------------------------------
    // NAVIGATION MODULE
    ----------------------------------------*/
    &__navigation{
        &-item{
            position: relative;

            a{
                display: block;
                color: $color5;
                text-decoration: none;
                @include type-setting(0);
                padding: 5px 0;
            }
            a.active{
                color: #fff;

                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    width: calc(100% + #{$margin-base*3}); height: 100%;
                    margin: 0 #{-($margin-base*1.5)};
                    background: $color1;
                    z-index: -1;

                }
            }
        }
    }


    /*----------------------------------------
    // NEW ARTICLE  MODULE
    ----------------------------------------*/
    &__new-article{
        text-align: center;
        margin: $margin-base 0;
        .c2a_square{
            padding: 0.5em 0.875em 0.4em;
            width: 100%;
            background: $color5;
            border: $color4;
            color: $color1;
            @include type-setting(0);
        }
    }


    /*----------------------------------------
    // CANASTA ROSA PRO MODULE
    ----------------------------------------*/
    &__new-crPro {
        .link{
            position: relative;
            display: block;
            color: $color4;
            text-decoration: none;

            .hover-active &:hover {
                color: $color1;
            }
            
            span{
                display: inline-block;
                position: absolute;
                width: 0;
                height: 0;
                margin-left: 0.75em;
                top: 50%;
                transform: translateY(-50%);
                border-style: solid;
                border-width: 5px 0 5px 7px;
                border-color: transparent transparent transparent $color1;
            }
        }
    }

    /*----------------------------------------
    // REFERER MODULE
    ----------------------------------------*/
    &__referrerCode {
        color: white;
        padding-right: 1em;
        @include type-setting(-1);
        .btns-container{
            display: flex;
            justify-content: flex-end;
        }
        .question {
            font-weight: 200;
        }

        .send {
            font-weight: 700;
            cursor: pointer;
            @include type-setting(0);
        }

        .referrer-form { margin-top: 8px;}
        input {
            width: 100%;
            border: 1px solid $color2;
            background: lighten($color2, 10%);
            padding: .5em 0.75em;
            border-radius: 0.1875em;
            font-size: 1em;
            line-height: 22.048px;
            color: white;
        }

        .danger {
            color: $color1;
            font-size: 1em;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: lighten($color2, 35%);
            font-weight: 200;
            opacity: 1; /* Firefox */
        }
          
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: lighten($color2, 35%);
            font-weight: 200;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: lighten($color2, 35%);
            font-weight: 200;
        }
        
        // .no-code {
        //     display: inline-block;
        //     margin-top: 8px;
        //     cursor: pointer;
        // }
    }

    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/

    @media screen and (min-width: $bp-tablet-m){
        position: fixed !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: $bp-tablet-m){
        
        //top: $main-menu-desktop-height;
        height: 100vh;
        max-height: none;
        width: $storeApp-menu-desktop-width;
        padding: $margin-base $margin-base*2;
        //display: flex;
        //flex-flow: column wrap;

        &_container{
            //display: inline;
            margin: 0 0 1em;
            .menu{
                display: none;
            }
        }
        .open{
            margin: 0;
        }
        .closed{
            display: block;
        }
        // PROFILE INFO
        &__profile{
            order: -1;
            display: block;
            text-align: center;
            padding-bottom: 0;
            border-bottom: none;
            
            .imageContainer{
                margin: 0 auto 1em;;
                width: 110px;
            }
            
            &-info{
                .c2a_border{
                    width: 100%;
                }
            }
        }

        // CREATE ARTICLE
        &__new-article{
            order: -1;
            padding-bottom: 0.875em;
            margin-bottom: 0.875em;
            border-bottom: 1px solid #53535E;

            a{ width: 100%; }
        }
    }
}



/*----------------------------------------
// MODULES SUBMENU
----------------------------------------*/
.storeApp__submenu{
    $submenu-height: $main-menu-desktop-height;

    position: relative;
    height: 66px;
    z-index: 2;
    margin-top: -1px;

    ul{
        position: fixed;
        background: $color5;
        border-bottom: solid 1px $color4;
        padding: 0 $margin-base;
        height: 66px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        overflow-y: hidden;
    }
    ul::-webkit-scrollbar,ul::-webkit-scrollbar-track{
        width: 0;
        background: transparent;
    }
    &-item{
        display:flex;
        padding: 1.8em 1.2em;
        line-height: 1.2em;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    
        a{
            color: lighten($color2, 10%);
            text-decoration: none;

            &:hover,
            &.active{
                color: $color1;
            }
        }
    }
    &-item:nth-child(2), &-item:nth-child(3){
        border-right: solid 1px $color4;
        border-left: solid 1px $color4;
    }

    @media screen and (min-width: $bp-tablet-m){
        ul{
            width: calc(100% - #{$storeApp-menu-desktop-width} + 5px);
            justify-content: center
        }
    }
    @media screen and (min-width: $bp-tablet-l){
        ul{
            justify-content: center;
        }
    }
}
