.storeApp-modal{
    position: relative;
    //padding: $margin-base;
    width: 100%;
    border: solid 1px $color4;
    border: none;
    border-radius: $border-radius;
    background: #fff;
    text-align: left;
    overflow: hidden;

    &:last-child{
        margin-bottom: 0
    }

    /////////////////////////
    // CONTENT
    &__content{
        padding: $margin-base;
    }

    /////////////////////////
    // TITLE
    &__title{
        @include type-setting(0);
        background: lighten($color4, 4%);
        border-radius: $border-radius $border-radius 0 0;
        border-bottom: solid 1px darken($color4, 5%);
        padding: $margin-base $margin-base 0.325em;
        margin: 0;
    }

    /////////////////////////
    // BUTTONS
    &__button{
        display: inline-block;
        margin: 0 $margin-base;
        border: none !important;
        border-radius: $border-radius;
        background: $color1;
        color: #fff !important;
        @include type-setting(0);
        font-family: $font_content;
        padding: 0.5em 0.75em !important;
    }
    &__button--cancel{
        display: inline-block;
        margin: 0 auto;
        background: transparent;
        color: $color2 !important;
        @include type-setting(0);
    }

    /////////////////////////
    // BOTTOM NAVIGATION
    &__navBottom{
        padding-top: $margin-base;
        margin: $margin-base 0;
        border-top: solid 1px $color4;
        text-align: right;
        &-addressNav{
        padding-top: $margin-base;
        margin: $margin-base 0;
        text-align: right;
        margin-right: -1.1em;
        }
    } 
}




/*----------------------------------------
// ADD PRODUCT MODAL BOX
----------------------------------------*/
.modalBox__addProduct{
    //position: fixed;
    width: 100%;
    //max-width: 420px;
    min-width: 280px;
    text-align: center;
    background: $color5;
    padding: 1.25em 1.5em 0.875em;
    border-radius: 0.5em;
    //@include center-content(50%, 50%);
    overflow: hidden;
    .formatChars{
     left: 38%;
    }
    .errorsWords {
     text-align: left;
     margin: 0 0.85em 2em;
     li {
         margin: 0.5em 0 0 1.5em;
         list-style: disc;
     }
    }
    /*----------------------------------------
    // CONTENT MODULES
    ----------------------------------------*/
    .addProductForm__title{
        margin-bottom: 0.75em;
    }
    form{
        .form__data{
            margin-bottom: 0;
            &-buttons{
                display: flex;
                flex-flow: row wrap;
            }

            &-name{
                label{
                    display: none;
                }
                
                input{
                    margin-bottom: 1em;
                    padding-bottom: 0.25em;
                    border: 0;
                    border-bottom: solid 1px $color4;
                    background: transparent;
                    color: darken($color3, 2%);
                    text-align: center;
                    width: 100%;
                    font-family: $font_content;
                    font-weight: 300;
                    outline: none;
                    @include type-setting(1);
                    &::placeholder{
                        color: darken($color4, 5%);
                    }
                }
            }

            &-button{
                cursor: pointer;
                border: none;
                padding: 0.5em 0.75em;
                margin: 0 0.5em;
                width: 100%;
                background: transparent;
                color: $color3;
                @include type-setting(0);

                &.submit{
                    color: #fff;
                    font-family: $font_content;
                    background: $color1;
                    margin-bottom: 0.325em;
                }
                &.cancel{
                    border: none;
                    order: 1
                }
            }
        }
    }


    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-sm){
        form{
            .form__data{
                &.buttons{
                    flex-flow: row nowrap;
                }
            }
            .addProductForm__button{
                &.cancel{
                    order: 0
                }
            }
        }
    }
}