@import 'Products/control-bar';

.storeApp__products {
  //background: $color5;
  max-width: none;
  padding-bottom: $storeApp-controlnav-height + 1em;
  overflow: hidden;

  .container__links {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $margin-base;
    .status_link {
      color: $color1;
      //@include type-setting(-1);
      padding: 0 0 0 $margin-base * 2;
      position: relative;
      text-decoration: none;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: -7px;
        width: 20px;
        height: 20px;
        background: url($images_path + 'icons/icon_view.svg') no-repeat;
      }
    }
    .status_inactive {
      position: relative;
      color: $color3;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: -$margin-base * 2.5;
        width: 20px;
        height: 20px;
        background: url($images_path + 'icons/icon_noview.svg') no-repeat;
      }
    }
    .link_back {
      text-decoration: none;
      color: $color3;
      position: relative;
      padding: 0 0 0 $margin-base * 2;

      &:before {
        content: '';
        position: absolute;
        display: block;
        transform: rotate(90deg);
        top: 5px;
        left: -7px;
        width: 20px;
        height: 20px;
        background: url($images_path + 'icons/arrows/arrow_down_gray.svg') no-repeat;
      }
    }
  }

  .container__views--buttons {
    text-align: right;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .national-shipping {
      margin: 0;
      color: $color3;
      position: relative;
      padding: 0 1.5em;
      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: 0;
        width: 16px;
        height: 16px;
        opacity: 0.5;
        background: url($images_path + 'icons/schedules/icon_standard.svg') no-repeat;
      }
    }
    .button-simple {
      @include hide-text;
      text-align: right;
      &:before {
        content: '';
        opacity: 1;
        display: inline-block;
        position: relative;
        background-size: contain;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: $margin-base;
        background: url($images_path + 'icons/icon_grid.svg') no-repeat center;
        transform: scale(0.9);
      }
      &.view_list {
        &:before {
          background: url($images_path + 'icons/icon_list.svg') no-repeat center;
          transform: scale(1);
        }
      }
    }
    .activeButton {
      filter: invert(34%) sepia(68%) saturate(2950%) hue-rotate(318deg)
        brightness(93%) contrast(92%);
    }
    .cr__separator {
      margin: 0 0.25em;
      border-right: 2px solid #898989;
      height: 22px;
    }
    &--left {
      display: flex;
      align-items: center;
      height: 28.5px;
    }
  }

  @import 'Products/products-list';
  @import 'Products/detail';
  @import 'Products/stock';
  @import 'Products/gallery';
  @import 'Products/shipping';
  @import 'Products/form';

  // MEDIA QUERIES
  @media screen and (min-width: $bp-tablet-sm) {
    padding-bottom: $storeApp-controlnav-height + 3em;
  }
}

.cr__products {
  &--title {
    padding: 0 0 1.5em 0;
    border-bottom: 1px solid #dad8d6;
    margin: 2em 0 2.5em;
  }
}
