////////////////////////////
// SHIPPING SCHEDULES STORE
///////////////////////////
.shipping-schedules {
  hr {
    border: 1px solid $color5;
  }
  .name {
    padding: 0 $margin-base 0 $margin-base * 3;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-size: contain;
      opacity: 0.8;
      width: 17px;
      height: 21px;
      left: 0px;
    }
    &.icon_store-schedules:before {
      background: url($images_path + 'icons/schedules/icon_calendar.svg')
        no-repeat center;
    }
    &.icon_store-shipping:before {
      background: url($images_path + 'icons/schedules/icon_shipping.svg')
        no-repeat center;
      width: 22px;
    }
    &.icon_store-time:before {
      background: url($images_path + 'icons/schedules/icon_schedule.svg')
        no-repeat center;
    }
    &.icon_time-prepare:before {
      background: url($images_path + 'icons/schedules/icon_time-prepare.svg')
        no-repeat center;
    }
    &.icon_schedule:before {
      background: url($images_path + 'icons/schedules/icon_schedule.svg')
        no-repeat center;
      left: 2px;
    }
    &.icon_standard:before {
      background: url($images_path + 'icons/schedules/icon_standard.svg')
        no-repeat center;
      left: 2px;
    }
    &.icon_shipping_note:before {
      background: url($images_path + 'icons/schedules/icon_shipping_note.svg')
        no-repeat center;
      top: 7px;
    }
    &.icon_shipping_warning:before {
      background: url($images_path + 'icons/icon_warning--orange.svg') no-repeat center;
      top: 20px;
    }
    &.icon_shipping_cdmx:before {
      background: url($images_path + 'icons/schedules/icon_shipping_cdmx.svg')
        no-repeat center;
      top: 7px;
    }
  }
  .description {
    color: $color3;
    @include type-setting(-1);
    margin: auto auto 0.5em;
  }
  .txt {
    color: $color3;
    margin-left: $margin-base * 3;
  }

  .store-schedules {
    .schedules_header {
      .shipping-schedules__add-button {
        color: $color1 !important;
        font-weight: bold;
      }
    }
    .button-square--white {
      margin: $margin-base 0;
    }
    .schedules-list {
      &__item {
        display: flex;
        justify-content: space-between;
        margin: $margin-base/2 0;
        position: relative;
        &:hover {
          .schedules_actions {
            display: flex;
          }
        }
        .schedules_actions {
          display: none;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          right: 15px;
          top: 3px;
          flex: 0 0 70px;
          .button-simple {
            line-height: 0;
          }
        }
      }
    }
    @media screen and (min-width: $bp-mobile-m) {
      .schedules_header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .schedules-list {
        &__item {
          .schedules_info {
            display: flex;
            justify-content: space-between;
            flex: 0 0 70%;
          }
        }
      }
    }
    @media screen and (min-width: $bp-desktop-sm) {
      .schedules-list {
        width: 100%;
      }
    }
  }

  //SCHEDULES MANAGER
  .schedules-window {
    .listSelector_schedules {
      display: flex;
      .ui-listbox {
        flex: 0 0 130px;
        &:first-child {
          margin-right: 1em;
        }
      }
    }
    .controls {
      text-align: right;
    }
  }

  //////////////////////////
  // SCHEDULES BUTTONS LIST
  .buttons_list {
    list-style: none;

    //////////////////////
    // SCHEDULES

    $schedules-icons: (
      morning: (
        still: 'icons/schedules/icon_schedule_morning.svg',
        hover: 'icons/schedules/icon_schedule_day-active.svg',
      ),
      evening: (
        still: 'icons/schedules/icon_schedule_day.svg',
        hover: 'icons/schedules/icon_schedule_day-active.svg',
      ),
      afternoon: (
        still: 'icons/schedules/icon_schedule_afternoon.svg',
        hover: 'icons/schedules/icon_schedule_day-active.svg',
      ),
    );

    .button-option {
      width: max-content;
      cursor: pointer;

      // ICONS and STATES
      @each $label, $icon in $schedules-icons {
        & .#{$label}:before {
          background-image: url($images_path + map-get($icon, still));
        }
        &.active .#{$label} {
          color: white;
          &:before {
            background-image: url($images_path + map-get($icon, hover));
          }
        }
        &--disabled .#{$label} {
          &:before {
            opacity: 0.5;
          }
        }
      }

      // SCHEDULE BUTTON
      .button-tag {
        // max-width: 260px;
        &:before {
          content: '';
          left: 0;
          top: -1px;
          position: absolute;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 23px;
          height: 23px;
        }
      }
    }
    .button-option:hover {
      background: lighten($color3, 40%);
    }
    .button-option.active,
    .button-option.active:hover {
      background: $color1;
      @each $label, $icon in $schedules-icons {
        &:hover .#{$label} {
          color: white;
          &:before {
            background-image: url($images_path + map-get($icon, hover));
            opacity: 1;
          }
        }
      }
    }

    // MEDIA QUERIES
    @media screen and (min-width: $bp-mobile-sm) {
      width: 280px;
    }
  }
}
