.statusNotificationsWindow {
    position: relative;
    z-index: 2;
    width: 100%;
    color: $color2;
    margin-top: -1px;
    input {
        outline: none;
        padding: 0.2em 0.55em;
        border: solid 1px $color4;
        border-radius: 3px;
        font-family: $font_content;
        @include type-setting(0);
        //color: $color3;
        // transition: color 180ms;
        // &:focus{
        //     color: $color2;
        // }
    }

    .c2a_square {
        margin-left: 0.5em;
        padding: 0.2em 1em;
        @include type-setting(0);
    }
    .list {
        list-style: initial;
        margin-left: 1.5em;
    }
    strong {
        font-weight: bold;
    }
    a{
        color: inherit
    }

    //////////////////////////
    // NOTIFICATION CONTENT
    &__content{
        position: fixed;
        width: 100%;
        padding: 1.25em 1.75em;
        background: $color5;
    }

    //////////////////////////
    // Styles Windows
    &--warning {
        color: $color-warning;
        .statusNotificationsWindow__content {
            background: $status-color-warning--light;
            :before{
                content: '';
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background: linear-gradient(158deg,#f4e489 0%, #f1d747 40%, #d3b507 100%);
                    top: 0; left: 0;
            }
        }
    }

    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-m){
        text-align: left
    }
}