.crpro-page{
    @import 'school';
    @import 'services';
    @import 'workshops';

    .crpro-cover{
        width: 100%;
        height: 30vh;
        background: $color2 url($images_path+'crPro/cover.png') center no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-bottom: 2.5em;

        .details {
            padding: .3em;
            &__name,
            &__description{
                color: white;
            }
            &__logo{
                margin-bottom: $margin-base/2;
                height: 6vh;
                img{
                    height: 100%;
                }
            }
            
            &__name{
                margin-bottom: 0.125em;
                font-weight: bold;
                font-size: 2.5em;
            }
            &__description{ margin: 0; font-size: 1.5em;}
        }

    }

    .crpro-intro-box {
        text-align: center;
        padding: 0 ($margin-base);
        margin: 0 auto 2.5em;
        max-width: 40em;

        .crpro-intro{
            width: 100%;
            border-radius: $border-radius;
            margin-bottom: 2.5em;
            color: $color3;
            //background: $color5 url($images_path+'crPro/texture.svg') no-repeat center;
            //padding: $margin-base*3 $margin-base*2;

            p{
                margin: 0 auto 1em;
                color: $color3;
                &:last-child{ margin-bottom: 0 }
            }
        }

        .title{ 
            color: $color1;
            text-align: center;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 1em;
            padding: 0 0;
            text-transform: none;
            //border-bottom: solid 3px $color1;
            @include type-setting(1);

            @media screen and (min-width: $bp-tablet-l) {
                @include type-setting(3);
            }
        }
        .content{
            color: $color2;
            @include type-setting(1);
            text-align: center;
            margin: auto;
           
        }
    }

    section.about-cr{padding: 0;}

    .collapseBox {
        padding: 0;
        border-bottom: none;
        border-top: solid 1px $color4;
        .box__content{
           padding: 1.25em;
        }
        .header{
            //border-bottom: solid 1px $color4;
            &:after{content: none;}
        }
    }

    //MOBILE MENU
    .crpro-menu{
        display: block;
        a{ 
            width:100%;
            color:$color2;
        }
        .header{
            height: 10vh;
            padding: $margin-base*2;
            a{text-decoration: none;}
        }
        .box{
            background: $color5;
            padding: 0;
        }

        &__section{
            display: flex;
            width:100%;
            justify-content:start;
        }

        &__link{
            display: flex;
            align-items: center;

            &:after{
                content: '';
                position: relative;
                display: inline-block;
                margin-left: 0.5em;
                width: 15px; height: 15px;
                flex: 0 0 auto;
                transition: transform 200ms ease-in-out;
                filter: grayscale(100%);
                background-size: contain;
                background: url($images_path+'icons/arrows/arrow_down.svg') no-repeat center;
            }
            &.active{
                color: $color1;
                &:after{
                    transform: rotate(270deg);
                    filter: none;
                    background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center
                }
            }
            &.storeCreate{ &:after{content:none}}
             // .header {
        //     // Active component styles
        //     .hover-active &:hover {
        //         
        //     }
        //     &.active{
        //         color: $color1;
        //         // Icon
        //        
        //     }
        // }
        }

        &__icon{
            height:2.5em;
            width:2.5em;
            img {
                height: 100%;  
                width: 100%;
            }
        }

        &__title{
            display: flex;
            align-items: center;
            margin-left: 1em;
            p{margin:0}
        }
    }
    //DESKTOP MENU
    .crpro-menu-lg {
        display: none;
    }

    //ALERTS
    .alert{
        font-weight: 900;
        color: lighten($color3,20%);
    }

    .alert-cat{
        @include type-setting(0); margin-bottom: 0;
    }

    /*--------------------------------------------------------
    //                  MEDIA QUERIES
    --------------------------------------------------------*/
    @media screen and (min-width: $bp-tablet-m){
        .crpro-cover {
            height: 40vh
        }
        .alert{margin:0 ($margin-base) 0; padding: ($margin-base) 0}
        .alert-cat{
            text-align: center;
            margin-bottom: 5%;
            @include type-setting(1);
        }
    }
    @media screen and (min-width: $bp-desktop-sm){
        .crpro-menu{
            display: none;
        }
        .crpro-menu-lg{
            display: block;

            &__nav{
                display: flex;
                justify-content: center;
                text-align: center;
            }

            //Sections boxes of nav
            a{
                text-decoration: none;
            }

            &__section{
                margin:1em $margin-base;
                padding: 1em 0;
                height: 11em;
                position: relative;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                z-index: 1;
                border-radius: 0.5em;
                background:#efefef;
                box-shadow: 0 6px 24px -8px rgba($color3, 0.75);
                transition: all 200ms ease;
            }

            &__icon{
                height: 5em;
                width: 5em;
                img { width: 100%; height: 100%;}
            }

            &__title{
                width:100%;
                color: $color2;
                p{margin: 0;}
                span{
                    display: block;
                }
            } 
            
            //Where the route is rendered
            .section{
                background: $color5;
                z-index: -1;
            }

            //Styles of active section box 
            .crpro-menu-lg__section {
                transition: transform 200ms ease;
            }
            .section-tab:hover {
                .crpro-menu-lg__section{
                    box-shadow: 0 6px 26px -7px hsla(0, 0%, 30%, 0.75);
                }
            }
            .active {
                .crpro-menu-lg__section{
                    transform: translateY(5%);
                    background: $color1;
                    color: $color5;
                    &:after{
                        content: '';
                        display: block;
                        width:5em;
                        height: 5em;
                        background:$color1;
                        position: absolute;
                        bottom: -5%;
                        transform: rotate(45deg);
                        z-index: -1;
                    }
                }
                .crpro-menu-lg__title{
                    color:$color5;
                }
            }
        }
    }
    @media screen and (min-width: $bp-desktop-sm) {
        .crpro-cover{
            background-size: 100%;
            //display: none;
            .details{
                &__logo{
                    margin-bottom: $margin-base*2;
                }
                &__name{
                    @include type-setting(5);
                    margin-bottom: 0.25em;
                }
                &__description{ font-size: 1.7em;}
            }
        }

        .crpro-intro-box {
            width: 50%;
            min-width: 49em;
            margin-left: auto;
            margin-right: auto;
            //display: flex;
            position: relative;
            //justify-content: center;
            max-width: $layout-max-width;

            .crpro-intro{
                p{
                    width: 90%;
                    max-width: none;
                }
            }
        }
    }
}
