.services{
    h4{
        @include type-setting(1);
        color: $color1;
        font-family: $font_header;
        text-transform: uppercase;
        padding-bottom: 0.5em;
        margin-bottom: 0.75em;
        border-bottom: solid 1px $color4;
    }
    .card{
        display: flex;
        width: 100%;
        margin-bottom: $margin-base * 2;
        align-items: flex-start;

        &__thumbnail{
            flex: 0 0 30%;
            margin-right: $margin-base*2;
            border: $border-style;
            overflow: hidden;
            @include background__product--default();
            @include responsive-container(100%);
            img{
                width: 100%;
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
        .description{
            overflow: hidden;
        }

        &__title{
            display: block;
            font-weight: 900;
            margin: 0 0 0.45em;
            line-height: 1.25em;
            color: $color2;
        }
        &__content{
            color: $color3;
            @include type-setting(-1);
            line-height: 1.5em;
            margin-bottom: 0.5em;
        }
        &__link{
            display: inline-block;
            color: white;
            @include type-setting(-1);
            background: $color1;
            border-radius: $border-radius;
            padding: 0.4em 0.875em 0.3em;
        }
    }
    
    // .alert{
    //     font-weight: 900;
    //     color: lighten($color3,20%);
    //     margin-bottom: 0;
    // }
    // .alert-cat{@include type-setting(0)}
}

@media screen and (min-width: $bp-desktop-sm){
    .section-services{
        display: flex; 
        justify-content: center;
    }
    .services{
        width: 80%;
        margin-top: 5%;

        h4{
            text-align: start;
        }

        .card{
            width:31%;
            margin: 0 ($margin-base) ($margin-base * 2);
        }
        .cards-box{
            display: flex;
            margin-left: (-$margin-base);
            margin-right: (-$margin-base);
            margin-bottom: $margin-base * 3;
            justify-content: start;
            flex-wrap: wrap
        }
        // .alert{margin:0 ($margin-base) 0; @include type-setting(1); padding: ($margin-base) 0}
        // .alert-cat{text-align: center;margin-bottom: 5%}
    }
   
}

