.workshops{
    .workshops_list{
        list-style: none;
        padding-left: 0;
    }
    .workshop{
        padding: $margin-base;
        .title{font-weight: bold;} 
        p{
            text-indent: 0;
            margin: 0 0 $margin-base/2 0;
            .bold{font-weight: bold;}
        }
        h5{font-size: $font_title_bold;  margin: 0 0 $margin-base/2 0;}
        &:nth-child(odd){background: $color5;}
        &_container{
            display: flex;
            flex-direction: column;
            &.wrapper--center{max-width: 55.5em;}
            .info_container{
                margin: $margin-base;
                text-align: left;
                .registry{
                    text-decoration: none;
                    color: $color1;
                    font-weight: bold;
                }
                .half{
                    display: flex;
                    .price{margin-right: $margin-base;}
                }
            }
            
            .image_container{ 
                width: 10em; height: 10em;
                margin: 0 auto;
                border: $border-style;
                overflow: hidden;
                @include background__product--default();
                @include responsive-container(100%);
                object-fit: cover;
                img{
                    width: 100%;
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm) {
        .workshop{
            &:nth-child(even){background: #ffffff;} 
        }
        
        .workshop_container{
            flex-direction: row;
            justify-content: space-between;
            padding: $margin-base $margin-base*2;
            
            .info_container{
                flex: 0 0 62%;
            }
        }
        .alert-cat{padding: 5%; margin-bottom: 0}
    }
    @media screen and (min-width: $bp-tablet-m) {
        .workshop_container{
            .info_container{
                flex: 0 0 70%;
            }
        }
    }
}