.cr__storeOff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  margin: 0 1em;
  &--textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 270px;
    margin-bottom: -2.25em;
    z-index: 2;
    &--title {
      span {
        font-weight: 600;
      }
    }
    &--content {
      margin-top: 1em;
      span {
        cursor: pointer;
        font-weight: 600;
      }
      button {
        margin-top: 2em;
        height: 42px;
        width: 106px;
        border: 0.65px solid #e63976;
        border-radius: 3px;
        background-color: #e63976;
        box-shadow: 0 0 20px 1px rgba(43, 43, 48, 0);
        color: #ffffff;
      }
    }
  }
  &--img {
    text-align: center;
    img {
      width: 300px;
      height: 300px;
    }
  }

  @media screen and(min-width:768px) {
    height: 100vh;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    &--img {
      width: 348px;
      height: 356px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    &--textContainer,
    &--img {
      margin: 2em;
      img {
        width: 396px;
        height: 404px;
      }
    }
  }
}
