.cr__modalBoxCloseStore {
  background-color: #ffffff;
  min-height: 268px;
  max-width: 479px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  &--title,
  &--titleQuestions {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-weight: 600 !important;
    }
  }
  &--title {
    margin-bottom: 0.5em;
    span {
      width: 290px;
    }
  }
  &--titleQuestions {
    span {
      width: 225px;
    }
  }
  &--content {
    margin: 0.5em 1.5em 1.5em;
  }
  &--open {
    max-width: 270px;
    margin: 0.5em 0 1.25em;
  }
  &--questions {
    margin: 0.5em 1em;
  }
  &--content,
  &--questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--content {
    align-items: center;
  }
  &--questions {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    &--containerList {
      text-align: left;
      &--item {
        margin: 1.25em 0;
        .input {
          width: 100%;
          max-width: 340px;
          height: 28px;
          border: 1px solid #dad8d6;
          border-radius: 3px;
          padding-left: 0.5em;
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          &::placeholder {
            color: #dad8d6;
          }
          /* Internet Explorer 10-11 */
          :-ms-input-placeholder {
            color: #dad8d6;
          }
          /* Microsoft Edge */
          ::-ms-input-placeholder {
            color: #dad8d6;
          }
        }
      }
    }
    input + label {
      margin-left: 0.35em;
    }
    input[type='checkbox']:checked {
      display: none;
    }
    input[type='checkbox']:checked + label {
      background-image: url('/images/icons/selectors/icon_checkbox_check.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 13px;
      background-position-y: 6px;
      background-position-x: 0px;
      width: 13px;
      height: 13px;
      padding-left: 20px;
    }
  }
  &--buttons {
    margin: 0em 0.5em 0.75em;
    display: flex;
    justify-content: center;
    button {
      height: 41px;
      width: 107.3px;
      border-radius: 3px;
    }
    &--sent,
    &--cancel {
      background-color: #e63976;
      border: 1px solid #e63976;
      color: #ffffff;
    }
    &--accept {
      margin-right: 0.5em;
      background-color: #ffffff;
      border: 1px solid #ffffff;
    }
    &--cancel {
      margin-left: 0.5em;
    }
    &--sent::disabled {
      border: 0.65px solid #dad8d6;
      background-color: #dad8d6;
      color: #dad8d6 !important;
    }
  }
}
