@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';

section.notFoundPage,
.notFoundPage {
  @import 'home/new-shops';
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  .img_container {
    display: block;
    margin: 0 auto;
    width: 400px;
    @include responsive-container(100%);
    img {
      position: absolute;
      @include responsive-image();
      @include center-content(50%, 50%);
    }
  }
  h3,
  .link {
    margin: 1em auto 0.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link {
    @include type-setting(1);
  }
}
