@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';

.accountActivation {
    
    text-align: center;
    position: relative;
    .welcome__illustration {
        @include responsive-container(69.71235195%);
        max-width: 31.25em;
        margin: 0 auto;
        background: url($images_path+'illustration/welcome.svg') no-repeat center;
        background-size: contain;
    }
    
    h3{
        color: $color1;
    }
    h5{
        font-weight: 600;
        color: $color2;
        margin-bottom: 0.5em;
    }
    p{
        color: $color3;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}