* {
  box-sizing: border-box;
  outline: none;
}
::selection {
  background: $color1;
  color: #fff;
}
::-moz-selection {
  background: $color1;
  color: #fff;
}

#main-container {
  display: flex;
  flex-flow: row wrap;
}
.wrapper--center {
  max-width: $layout-max-width;
  margin: 0 auto;
}

@font-face {
  font-family: 'Museo 100';
  src: url($fonts_path + 'Museo-100.eot');
  src: url($fonts_path + 'Museo-100.eot?#iefix') format('embedded-opentype'),
    url($fonts_path + 'Museo-100.woff') format('woff'),
    url($fonts_path + 'Museo-100.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Museo 300';
  src: url($fonts_path + 'Museo-300.eot');
  src: url($fonts_path + 'Museo-300.eot?#iefix') format('embedded-opentype'),
    url($fonts_path + 'Museo-300.woff') format('woff'),
    url($fonts_path + 'Museo-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//
html {
  font-size: 16px;
  font-size: 1em;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  //background-color: #fff;
  font-family: $font_content;
  font-weight: normal;
  @include type-setting(0);
  color: $color2;
  overflow-x: hidden;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  // position: fixed;
  width: 100%;
}
.body-sections {
  min-height: 600px;
}

// MAIN REACT APP CONTAINER
#app-container {
  position: relative;
  height: 100%;

  .app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .app-layout.checkout,
  .app-layout.my-store {
    .app-body-layout {
      margin-top: 0;
      min-height: 600px;
    }
  }
  @media screen and (min-width: 728px) {
    .upper-menu,
    .upper-menu__logo,
    .new-menu-container {
      display: none;
    }
  }
}

// HEADERS
@include headings_style;

// CONTENT
p {
  @include type-setting(0);
  margin: auto auto emRhythm(2);
  white-space: pre-wrap;
  font-weight: 300;
  @if $paragraph-spacing == false {
    & + p {
      text-indent: 1.5em;
      //margin-top: -1.5em;
    }
  }
}
small {
  @include type-setting(-1);
}

.title--main {
  text-align: center;
  @include type-setting(1);
  //margin-bottom: 0.75em;

  @media screen and (min-width: $bp-tablet-sm) {
    @include type-setting(2);
  }
  @media screen and (min-width: $bp-tablet-m) {
  }
  @media screen and (min-width: $bp-desktop-m) {
  }
}

.ui-icon {
  display: block;
  @include responsive-container(100%);
  @include hide-text();
  width: 17px;
  border-radius: 2px;
  background: $color4 url($images_path + 'icons/icon_delete.svg') no-repeat center;
  background-size: 45%;

  svg {
    position: absolute;
    top: 0;
  }

  &--error {
    background-color: $status-color-error;
    svg {
      fill: #fff;
    }
  }
  &__icon {
    width: 50%;
    height: 50%;
    position: absolute;
    @include center-content(50%, 50%);
  }
}

////////////////
// THUMBNAILS
.ui-draggable {
  overflow: hidden;
  cursor: grabbing !important;
  box-shadow: 0px 0px 8px 1px rgba(#000, 0.3);

  // Button Icons (delete, etc..)
  &__icons {
    position: absolute;
    opacity: 1;
    display: none;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
  // Images
  img {
    @include center-content(50%, 50%);
  }
}

.menu_categories {
  display: none;
  background: #bf2c62;

  ul {
    justify-content: center;
    padding: 0.625em 0.625em 0.46875em;
    position: relative;

    li {
      margin: 0 0.92em;
      position: relative;
      text-align: center;
    }

    div {
      &:first-child {
        display: none;
      }
    }
    .link {
      color: $color6;
      font-family: $font_title;
      font-size: 1.12em;
      //@include type-setting(1); // SEPARATOR
      text-decoration: none;
      font-weight: 100;
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    position: relative;
    z-index: 1;
    display: block;
    //background: $color5;
    text-align: center;
    box-shadow: 0px 2px 3px 0px rgba(#000, 0.15);

    ul {
      justify-content: space-between;
      display: inline-block;
      margin: auto;
      width: 100%;
      overflow-y: hidden;
      li {
        width: max-content;
      }
      div {
        display: flex;
        &:first-child {
          display: inline-flex;
        }
      }

      .search {
        display: none;
      }
    }
  }
}

/*----------------------------------
// SECTION DEFAULT STYLES
----------------------------------*/
section {
  position: relative;
  padding: emRhythm(35) $margin-base; //#{ $margin-base * 3.5} $margin-base;
  width: 100%;
}

.message-error {
  text-align: center;
  margin: 3em auto;
}

/*----------------------------------------
// POPULAR  CATEGORIES
----------------------------------------*/
section.categoriesPopular {
  ////////////////////////////////
  // CATEOGORIES LIST
  .categoriesPopular__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0 #{- ($margin-base/2)};

    // CATEGORY
    .category {
      position: relative;
      flex: 50%;
      margin-bottom: 0.625em;
      padding: 0 #{$margin-base / 2};

      // Wrapper
      .category__wrapper {
        border-radius: $border-radius;
        overflow: hidden;
      }

      //
      h4 {
        text-align: center;
        position: absolute;
        z-index: 2;
        @include center-content(50%, 50%);
        @include type-setting(1);
        line-height: 1.5em;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      a.category__image {
        display: block;
        max-height: 107px;
        @include responsive-container(percentage(145/195));
        color: #fff;
        text-decoration: none;
        &:before {
          background-color: rgba($color2, 0.65);
          z-index: 1;
          top: 0;
          left: 0;
        }
        img {
          position: absolute;
          @include center-content(50%, 50%);
          @include responsive-image();
        }
      }
    }
  }

  /*----------------------------------------
	// MEDIA QUERIES
	----------------------------------------*/
  @media screen and (min-width: 50em) {
    .categoriesPopular__list {
      .category {
        flex: 20%;
      }
    }
  }
}

// Modalbox for Covid

.cr__home {
  margin-top: -0.75em;
  &-banners {
    display: flex;
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
    justify-content: center;
    padding: 0 2.5em;
    &-nl,
    &-ja {
      display: flex;
      height: 112px;
      max-width: 771px;
      width: 100%;
      border: 1px solid #ededed;
      border-radius: 3px;
      margin: 0 2em;
      &-img {
        width: 190px;
        img {
          height: 100%;
          width: 190px;
        }
      }
      &-imgMobile {
        display: none;
      }
      &-container {
        margin: 0 auto;
        padding: 0.5em 1em;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        h5,
        span {
          margin-bottom: 0.25em;
        }
        h5 {
          font-size: 18px;
          font-weight: 600;
          line-height: 23px;
        }
        h6 {
          font-weight: 100 !important;
          line-height: 17px;
        }
      }
    }
    &-nl {
      background-color: #2e3353;
      margin: 0 0.55em 0 0;
      &-text {
      }
    }
    &-ja {
      background-color: #f5d7d4;
      margin: 0 0 0 0.55em;
      flex-direction: row-reverse;
      &-text {
        h5,
        h6,
        span {
          color: #6f1e17;
        }
      }
    }
    a {
      text-decoration: none;
    }
    h5,
    h6 {
      text-transform: none;
    }
  }
  @media screen and (min-width: 771px) and (max-width: 1200px) {
    &-banners {
      &-nl,
      &-ja {
        &-text {
          h5 {
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 770px) {
    &-banners {
      flex-direction: column;
      align-items: center;
      padding: 0;
      &-nl,
      &-ja {
        margin: 0;
        border: none;
        border-radius: 0px;
        &-img {
          display: none;
        }
        &-imgMobile {
          display: block;
          width: 100px;
          img {
            height: 100%;
            width: 100px;
          }
        }
        &-text {
          h5 {
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
      &-ja {
        flex-direction: row;
        margin: 1em 0 0;
      }
    }
  }
  @media screen and (max-width: 900px) {
    margin-top: 0;
    margin-bottom: -0.35em;
  }
}

.cr__covid {
  height: 55px;
  max-height: 55px;
  width: 100%;
  max-width: 1060px;
  background-color: #f8db6a;
  position: relative;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  &-list {
    display: flex;
    height: 100%;
  }
  &-img-lefthand {
    img {
      height: 55px;
    }
  }
  &-img-alert {
    margin-left: 1em;
    margin-right: 1.5em;
    margin-top: 0.75em;
    img {
      height: 30px;
      width: 30px;
    }
  }
  &-img-righthand {
    position: absolute;
    right: 0;
    img {
      height: 55px;
    }
  }
  &-textContainer {
    margin-top: 0.25em;
    &-title {
      font-weight: bold;
      text-transform: none;
      text-align: left;
      margin-bottom: 0;
      @include type-setting(0);
      width: 100%;
      max-width: 700px;
    }
    &-subtitle {
      text-transform: none;
      text-align: left;
      margin-bottom: 0;
      width: 100%;
      max-width: 700px;
      @include type-setting(0);
      span {
        font-weight: 700;
      }
    }
    &-mobile {
      display: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    // margin: 0.25em 2.5em 1em 2.5em;
    margin-bottom: 0.75em;
    &-img-lefthand {
      display: none;
    }
    &-img-alert {
      margin-left: 0.75em;
      margin-right: 0.75em;
      margin-top: 0.75em;
      img {
        height: 25px;
        width: 25px;
      }
    }
    &-img-righthand {
      position: absolute;
      right: 0;
      img {
        height: 55px;
      }
    }
    &-textContainer {
      text-align: center;
      &-title {
        font-size: 1em;
      }
      &-subtitle {
        max-width: 600px;
        font-size: 0.9em;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0.75em;
    min-height: 55px;
    max-height: 75px;
    height: 100%;
    &-img-lefthand,
    &-img-righthand {
      display: none;
    }
    &-img-alert {
      margin-left: 0.75em;
      // margin-right: 0.25em;
      margin-top: 0.85em;
      margin-bottom: 0.25em;
      img {
        height: 25px;
        width: 25px;
      }
    }
    &-textContainer {
      text-align: center;
      margin: 0 auto;
      &-title {
        display: none !important;
      }
      &-subtitle {
        display: none !important;
      }
      &-mobile {
        display: inline-block;
        padding: 0.5em;
        margin: 0 auto;
        text-transform: none;
        @include type-setting(-1);
        line-height: 1.5em;
      }
    }
  }
}
.cr__covidModalBox {
  background-color: white;
  padding: 2em;
  text-align: left;
  @media screen and (max-width: 767px) {
    max-height: 450px;
    height: 100%;
    overflow: auto;
  }
  &-text {
    color: #37373e !important;
    margin-bottom: 0.5em;
    text-align: justify !important;
    text-justify: inter-character;
    font-size: 1em !important;
  }
}
