@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';

section.categoryResults {
  padding: 0;
  margin-top: -1px;
  .title_header {
    @include type-setting(0);
    text-transform: none;
    display: none;
  }
  .assistant,
  .season-banner {
    max-width: 47.5em;
    width: auto;
    margin-bottom: emRhythm(30);
    @media screen and (min-width: $bp-tablet-m) {
      //margin: 0 auto $margin-base;
    }
  }

  .icon_filter {
    margin-bottom: 0;
    color: $color3;
    text-decoration: none;
    @include hide-text;
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      background: url($images_path + 'icons/icon_filter.svg') no-repeat center;
      background-size: contain;
      width: 25px;
      height: 21px;
      vertical-align: middle;
      margin-right: $margin-base;
    }
  }

  ////////////////////////////////////
  // CATEGORY COVER
  ////////////////////////////////////
  // .hotsale-border {
  //   border-bottom: 4px solid #ff894b;
  // }
  .category-cover {
    //here
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow: hidden;
    // Image
    &__image {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      // background: $color-gradient-cover;
      // background: rgb(181,35,148);
      // background: linear-gradient(180deg, rgba(181,35,148,1) 0%, rgba(231,153,110,1) 90%);
      width: 100%;
      height: 100%;

      // Overlay
      &:after {
        content: '';
        // background: url($images_path + 'utils/texture_category.svg') repeat;
        background-size: 25em;
        // opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .img-visa {
      display: flex;
      justify-content: center;
      z-index: 1 !important;
      text-align: center;
      background-color: #1a1f71;
      &-titles {
        // border-left: 2.2px solid;
        // border-color: rgba(255, 255, 255, 0.4);
        // padding-left: 2.5em;
        z-index: 1;
        // height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        h5 {
          color: #fff6e3;
          margin-bottom: 0;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
          font-weight: 800 !important;
        }
      }
    }
    .img-hotsale {
      display: flex;
      justify-content: center;
      z-index: 1 !important;
      text-align: center;
      background: url('https://canastarosa.s3.us-east-2.amazonaws.com/media/buenFin/banner4.jpg')
        repeat-x center;
      &:after {
        // background: linear-gradient(
        //   131.73deg,
        //   #f7862a 0%,
        //   #ff4747 43.8%,
        //   #ff2f52 84.85%,
        //   #c70d0d 100%
        // );
        background: url('https://canastarosa.s3.us-east-2.amazonaws.com/media/buenFin/banner4.jpg')
          repeat-x center;
        background-size: cover;
      }

      &-logo {
        z-index: 1;
        padding-right: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        img {
          width: 95px;
          height: 95px;
        }
      }
      &-titles {
        // border-left: 2.2px solid;
        // border-color: rgba(255, 255, 255, 0.4);
        // padding-left: 2.5em;
        z-index: 1;
        // height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        h5 {
          color: #fff6e3;
          margin-bottom: 0;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
          font-weight: 800 !important;
        }
      }
      @media screen and (max-width: 767px) {
        &-logo {
          z-index: 1;
          padding-right: 0.75em;
          padding-left: 0.2em;
          margin-bottom: 0;
          margin-left: 0;
          margin-top: 0;
          img {
            width: 70px;
            height: 70px;
          }
        }
        &-titles {
          // padding-left: 0.75em;
          // padding-right: 0.2em;
          border: none;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        // margin-top: 0.5em;
      }
    }

    .img-bazar {
      display: flex;
      justify-content: center;
      z-index: 1 !important;
      text-align: center;
      &:after {
        // background: linear-gradient(
        //   131.73deg,
        //   #f7862a 0%,
        //   #ff4747 43.8%,
        //   #ff2f52 84.85%,
        //   #c70d0d 100%
        // );
        background: url('../images/assets_bazar/Banner/bazaar_pizarron.jpg')
          no-repeat center;
        background-size: cover;
      }

      &-logo {
        z-index: 1;
        padding-right: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        img {
          width: 95px;
          height: 95px;
        }
      }
      &-titles {
        // border-left: 2.2px solid;
        // border-color: rgba(255, 255, 255, 0.4);
        // padding-left: 2.5em;
        z-index: 1;
        // height: 59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        h5 {
          color: #fff6e3;
          margin-bottom: 0;
          text-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
          font-weight: 800 !important;
        }
      }
      @media screen and (max-width: 767px) {
        &-logo {
          z-index: 1;
          padding-right: 0.75em;
          padding-left: 0.2em;
          margin-bottom: 0;
          margin-left: 0;
          margin-top: 0;
          img {
            width: 70px;
            height: 70px;
          }
        }
        &-titles {
          // padding-left: 0.75em;
          // padding-right: 0.2em;
          border: none;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        // margin-top: 0.5em;
      }
    }

    // Category Name
    .details {
      // &__name,
      &__description {
        color: white;
        text-align: center;
        margin: 0;
      }
      &__name {
        @include type-setting(3);
        font-weight: 600;
        color: #161620;
        margin: 0;
        /*margin-bottom: $margin-base/2;*/
      }
      &__description {
        margin: 0 auto;
      }
    }

    ///////////////////////
    // MEDIA QUERIES
    @media screen and (min-width: $bp-tablet-m) {
      //here
      .details {
        width: 50%;
        &__name {
          @include type-setting(4);
        }
      }
    }
  }
  .addToCart {
    .storesMenu {
      margin: $margin-base;
      .sidebar_filters--container {
        border: none;
      }
    }
  }
  .form {
    width: auto;
  }

  ////////////////////////////////////
  // BREADCRUMBS
  ////////////////////////////////////
  .breadcrumbs {
    display: block;
    width: 100%;
    margin-bottom: emRhythm(20);

    &__list {
      display: inline-block;
    }

    &__counter {
      color: $color3;
      @include type-setting(-1);
    }

    // Category
    .category {
      @include type-setting(-1);
      background: url($images_path + 'icons/arrows/arrow_next_gray.svg') no-repeat
        0.5em 0.45em;
      background-size: 5px;
      padding-left: 1.5em;
      display: inline;

      &:first-child {
        padding-left: 0;
        background: none;
      }

      &__link {
        color: $color3;
        text-decoration: none;
        &--active {
          color: $color1;
        }

        @include hover {
          color: $color1;
          transition: color $transition-delay;
        }
      }
    }
  }

  ////////////////////////////////////
  // STORES MENU
  ////////////////////////////////////
  .storesMenu {
    margin: $margin-base * 2 0;
    position: relative;
    a {
      color: $color2;
      text-decoration: none;
    }
    ul {
      display: flex;
      overflow-y: hidden;
      // background: skyblue;
      f &:before {
        content: '';
        height: 4em;
        width: 4em;
        position: absolute;
        right: -1px;
        bottom: 0;
        z-index: 1;
        transform: rotate(-90deg);
        background: url($images_path + 'utils/gradient_color.png') no-repeat;
        background-size: cover;
      }
    }

    // TITLE
    .title {
      text-align: center;
      span {
        @include type-setting(-1);
      }
    }
    .title_header {
      margin: 0 0 $margin-base;
    }

    // STORE
    .store {
      display: flex;
      align-items: center;
      //margin: $margin-base 0;
      &.active {
        .logo {
          filter: none;
        }
        .name {
          color: $color1;
        }
      }

      // Logo
      .logo {
        flex: 0 0 50px;
        display: block;
        text-decoration: none;
        border-radius: 50%;
        border: $border-style;
        width: 50px;
        height: 50px;
        filter: grayscale(100%);
        @include responsive-container(100%);
        @include background__store-profile--default();
        background-size: 185%;
        overflow: hidden;
        img {
          position: absolute;
          @include responsive-image();
          @include center-content(50%, 50%);
        }
      }

      // Products Count
      .count {
        @include type-setting(-1);
        opacity: 0.45;
      }

      // Store Name
      .name {
        padding: $margin-base;
        display: flex;
        flex: 1;
        width: max-content;
        justify-content: space-between;
        align-items: center;
        color: $color3;
      }
    }

    .sidebar_filters--container {
      position: relative;
      background: #ffffff;
      padding: $margin-base;
      border: $border-style;
      .button-container {
        padding: emRhythm(20) 0 0;
        //border-top: $border-style;
        margin-top: emRhythm(20);
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        .icon-close {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          @include hide-text();
          width: 45px;
          height: 40px;
          background: url($images_path + 'icons/icon_delete_pink.svg') no-repeat
            center;
          border: none;
          background-size: 45%;
        }
        .c2a_border {
          font-family: $font_button;
          font-weight: bold;
          margin-bottom: $margin-base;
        }
        .reset {
          border-color: $color3;
          color: $color3;
        }
        .error {
          color: $color1;
          font-style: italic;
        }
      }
      .filter {
        color: $color3;
        padding: 0 0;
        margin-bottom: emRhythm(20);
        &-title {
          color: $color2;
          font-weight: 400;
          margin-bottom: emRhythm(10);
        }
        .price {
          display: block;
        }
      }

      .stores-directory {
        height: 15em;
        overflow: hidden;

        .store-list {
          position: relative;
          display: block;
          height: 100%;
          &:before {
            content: none;
          }

          .store:first-child {
            margin-top: 0;
          }
        }

        .btn-show_stores {
          padding: 0.3em 0.5em;
          border-radius: 25px;
          font-size: 0.875em;
          position: absolute;
          right: 9px;
        }
      }

      .see-less {
        .store-list {
          overflow-y: auto;
        }
        .btn-show_stores {
          color: $color3;
        }
      }

      .see-more {
        .store-list {
          overflow-y: hidden;
          height: 61%;
          border-bottom: $border-style;
        }
        .btn-show_stores {
          border: none;
          background-color: $color1;
          color: white;
        }
      }

      @media screen and (min-width: $bp-desktop-sm) {
        .stores-directory {
          .btn-show_stores {
            padding: 0.2em 0.5em;
            right: 5px;
          }
        }
      }
      input[type='checkbox'] {
        display: none;
      }
      input[type='checkbox'] + label.checkmark {
        padding-left: 22px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 15px;
        line-height: 25px;
        background-position-y: 3px;
        cursor: pointer;
        display: flex;
      }
      input[type='checkbox']:checked + label.checkmark {
        background-image: url($images_path + 'icons/selectors/icon_checkbox_check.svg');
      }

      label.checkmark {
        background-image: url($images_path + 'icons/selectors/icon_checkbox.svg');
        user-select: none;
        margin-bottom: emRhythm(5);
      }

      input[type='radio'] {
        display: none;
      }
      input[type='radio'] + label.dot {
        padding-left: 22px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 15px;
        line-height: 25px;
        background-position-y: 3px;
        cursor: pointer;
        display: flex;
      }
      input[type='radio'].dots:checked + label.dot {
        background-image: url($images_path + 'icons/selectors/icon_radio_check.svg');
      }

      label.dot {
        background-image: url($images_path + 'icons/selectors/icon_radio.svg');
        user-select: none;
        margin-bottom: emRhythm(5);
      }
    }
  }

  .productsList {
    .visaTitle {
      font-weight: 500 !important;
      margin-bottom: 1em;
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin: 0 0 1em 1em;
      }
      @media screen and (max-width: 768px) {
        margin: 0 0 1em 0.5em;
      }
    }
    width: 100%;
    .title_container {
      padding: 0 $margin-base;
      .title {
        color: $color3;
        flex: 0 0 100%;
        @include type-setting(0);
        text-transform: none;
      }
      .icon_filter {
        flex: 0 0 auto;
        text-align: right;
      }

      @media screen and (min-width: $bp-tablet-m) {
        .title {
          flex: 0 0 50%;
          margin-bottom: 0;
          align-self: flex-end;
        }
      }
    }
  }

  ////////////////////////////////////
  // STORE SUMMARY
  ////////////////////////////////////
  .store-summary {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    padding: $margin-base;
    background: white;
    border: solid 1px $color4;
    margin-bottom: $margin-base;
    box-shadow: 0px 4px 30px -8px rgba(0, 0, 0, 0.15);

    // COVER
    &__cover {
      width: 100%;
      @include background__store-cover--default();
      background-size: cover;
      background-repeat: no-repeat;
      @include responsive-container(50%);
      max-height: 10em;
    }

    // Information
    &__info {
      text-align: center;
      width: 100%;
      // Thumbnail
      .image {
        @include responsive-container(100%);
        background-size: 185%;
        border-radius: 50%;
        border: white 6px solid;
        overflow: hidden;
        width: 6.5em;
        margin: -4em auto 0;
        @include background__store-profile--default;
        img {
          @include center-content(50%, 50%);
        }
      }

      // Slogan
      .slogan {
        @include type-setting(0);
        font-family: $font_content;
        color: $color3;
        margin-bottom: $margin-base;
        padding-bottom: $margin-base;
        border-bottom: solid 1px $color4;
      }

      // Visiti Store Button
      .visit {
        display: inline-block;
        @include type-setting(0);
        color: $color1;
        text-decoration: none;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }

    ///////////////////////////////////////////////////
    // MEDIA QUERIES
    @media screen and (min-width: $bp-tablet-sm) {
      &__info {
        position: relative;
        padding: $margin-base 0 0 8em;
        text-align: left;
        min-height: 5em;
        .image {
          position: absolute;
          margin: -3em $margin-base 0 0;
          left: $margin-base;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-l) {
      &__info {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        .name-wrapper {
          flex: 1;
        }
        .slogan {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
  ///////////////
  //Visa Stores//
  //////////////
  .cr__visaStores {
    padding: 2em 0 1.5em;
    border-bottom: 1px solid lightgray;
    .visaTitle {
      font-weight: 500 !important;
      margin: 0 0 1em;
    }
    .cr__storesCardsWrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 1em 0.5em 1em 1em;
    }
    .cr__storesCardsWrapperInSlider {
      margin: 1em 2.5em 1em 2.5em;
    }
    .cr__storesCardWrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 273px;
      margin: 0 0.65em 0.65em 0;
      border-radius: 5px;
      border: 1px solid lightgray;
      height: 100%;
      .cr__storesCover {
        height: 100px;
        position: relative;
        img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          position: absolute;
          background-color: #1eb592;
          bottom: 0.5em;
          right: 0.75em;
          width: 80px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .cr__storesInfo {
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5em;
        overflow: hidden;
        &-img {
          margin-right: 1em;
          border-radius: 5px;
          border: 1px solid lightgray;
          height: 52px;
          img {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        &-names {
          cursor: pointer;
          text-decoration: none !important;
        }
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .cr__storesCardsWrapper {
        justify-content: center;
      }
      .cr__storesCardWrapper {
        flex-basis: 46%;
        margin: 0.5em;
      }
      .visaTitle {
        margin: 0 0 0 1.5em;
      }
    }
    @media screen and (max-width: 767px) {
      .visaTitle {
        margin-left: 1em;
      }
      .cr__storesCardWrapper {
        flex-basis: 100%;
        margin: 0.5em 0.75em 0.5em 0.4em;
      }
    }
  }

  ///////////////
  //Bazar Stores//
  //////////////
  .cr__bazarStores {
    padding: 2em 0 1.5em;
    border-bottom: 1px solid lightgray;
    .bazarTitle {
      font-weight: 500 !important;
      margin: 0 0 1em;
    }
    .cr__storesCardsWrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 1em 0.5em 1em 1em;
    }
    .cr__storesCardsWrapperInSlider {
      margin: 1em 2.5em 1em 2.5em;
    }
    .cr__storesCardWrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 273px;
      margin: 0 0.65em 0.65em 0;
      border-radius: 5px;
      border: 1px solid lightgray;
      height: 100%;
      .cr__storesCover {
        height: 100px;
        position: relative;
        img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          position: absolute;
          background-color: #1eb592;
          bottom: 0.5em;
          right: 0.75em;
          width: 80px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .cr__storesInfo {
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5em;
        overflow: hidden;
        &-img {
          margin-right: 1em;
          border-radius: 5px;
          border: 1px solid lightgray;
          height: 52px;
          img {
            border-radius: 5px;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        &-names {
          cursor: pointer;
          text-decoration: none !important;
        }
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .cr__storesCardsWrapper {
        justify-content: center;
      }
      .cr__storesCardWrapper {
        flex-basis: 46%;
        margin: 0.5em;
      }
      .visaTitle {
        margin: 0 0 0 1.5em;
      }
    }
    @media screen and (max-width: 767px) {
      .visaTitle {
        margin-left: 1em;
      }
      .cr__storesCardWrapper {
        flex-basis: 100%;
        margin: 0.5em 0.75em 0.5em 0.4em;
      }
    }
  }

  ////////////////////////////////////
  // RESULTS LIST CONTAINER
  ////////////////////////////////////
  .results_list {
    width: 100%;
    //background: $color5;
    border-top: solid 1px $color4;
    border-bottom: solid 1px $color4;
    padding: 0 $margin-base $margin-base;
    min-height: 60em;

    // LISTING INFO & FILTERS ICON
    .filters {
      position: relative;
      display: flex;
      p {
        margin: 0 $margin-base 0 0;
      }
      &__list {
        overflow: hidden;
        width: 130px;
        position: relative;

        select {
          background: #fff;
          color: #777777;
          border: $border-style;
          font-family: $font_content;
          @include type-setting();
          height: 32px;
          padding: 3px;
          width: 120px;
        }
        select:focus {
          outline: none;
        }
      }
    }

    .title_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: $margin-base 0;
    }

    // PRODUCTS LIST
    .products__list {
      @import 'search/productsList';
      .product {
        width: 50%;
        //flex: none;
        .shipping_date {
          color: #1e9064;
        }
      }
      @media screen and (max-width: 768px) {
        justify-content: center;
        // .hotsale {
        //   width: 18.5% !important;
        //   margin: 0 0.5em 1em;
        // }
      }
    }

    // MEDIA QUERIES
    @media screen and (min-width: 35em) {
      &_products {
        &--header {
          display: none;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-sm) {
      display: block;
      &__title {
        display: block;
      }
      .listing-info {
        text-align: left;
      }
      .products__list {
        .product {
          width: 50%;
        }
      }

      @media screen and (min-width: 726px) and (max-width: 1200px) {
        .center {
          justify-content: center;
        }
        .hotsale {
          width: 22% !important;
          margin: 0 0.5em 1em;
        }
      }
    }
    .product-landing,
    .product-category {
      border-radius: 6px;
      border: 1px solid #ededed;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12);
      padding: 0 !important;
      overflow: hidden;
    }
    .product-category {
      width: 100% !important;
      margin: 0 0.5em 1em;
      flex: 0 0 23% !important;
      @media screen and (min-width: 727px) and (max-width: 1200px) {
        flex: 0 0 29.5% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (min-width: 555px) and (max-width: 726px) {
        flex: 0 0 47% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (min-width: 420px) and (max-width: 554px) {
        flex: 0 0 46% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (max-width: 419px) {
        flex: 0 0 44.6% !important;
        margin: 0 0.5em 1em;
      }
    }
    .product-landing {
      width: 100% !important;
      margin: 0 0.5em 1em;
      flex: 0 0 23% !important;
      @media screen and (min-width: 727px) and (max-width: 1200px) {
        flex: 0 0 30% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (min-width: 555px) and (max-width: 726px) {
        flex: 0 0 47% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (min-width: 420px) and (max-width: 554px) {
        flex: 0 0 45% !important;
        margin: 0 0.5em 1em;
      }
      @media screen and (max-width: 419px) {
        flex: 0 0 44% !important;
        margin: 0 0.5em 1em;
      }
    }
    @media screen and (max-width: 768px) {
      .mobile-center {
        justify-content: center;
      }
    }
    @media screen and (min-width: $bp-tablet-m) {
      border: 0px;
      .products__list {
        margin-top: 1em;
        .product {
          width: 33.33%;
        }
        // .hotsale {
        //   width: 18.5%;
        //   margin: 0 0.5em 0.5em;
        // }
      }
      .title_container {
        margin: 0;
      }
    }

    @media screen and (min-width: $bp-desktop-sm) {
    }
  }

  ////////////////////////////////////
  // MEDIA QUERIES
  ////////////////////////////////////
  @media screen and (min-width: $bp-tablet-sm) {
    .storesMenu {
      .title {
        text-align: left;
      }
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    .results_list {
    }
    .results_list-container {
      display: flex;
    }
    .products__wrapper {
      flex: 1;
    }
    .storesMenu {
      flex: 0 0 30%;
      margin: 0 $margin-base * 3 0 0;
      position: relative;
      height: 606px;
      &:after {
        content: '';
        height: 14%;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: url($images_path + 'utils/gradient_color.png');
      }
      ul {
        display: block;
        height: 540px;
        //overflow: auto;
        position: relative;
        padding-bottom: 2.5em;
        &:before {
          content: none;
        }
      }

      .store {
        .name {
          width: auto;
          &:after {
            content: '';
            display: none;
            position: relative;
            margin-left: 0.5em;
            transform: rotate(270deg);
            background: url($images_path + 'icons/arrows/arrow_up.svg') no-repeat
              center;
            background-size: contain;
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
          }
        }
        &.active {
          .name {
            &:after {
              display: block;
              background: url($images_path + 'icons/arrows/arrow_down.svg') no-repeat
                center;
            }
          }
        }
      }
      &.sidebar_filters {
        &:after {
          content: none;
        }
      }
    }
    @media screen and (min-width: $bp-desktop-sm) {
      .storesMenu {
        flex: 0 0 20%;
      }
    }
  }

  .hotsale-slider {
    max-width: 59em;
    padding: 0.5em 0 2em;
    p {
      margin: 1em;
      text-align: center;
      font-weight: 500;
    }
    &-container {
      margin: 0 auto;
      &-item {
        margin: 0 auto !important;
        height: 125px;
        width: 117px;
        text-align: center;
        margin: 0 1.5em;
        display: flex !important;
        justify-content: center;
        img {
          width: 100%;
          height: 75px;
          border-radius: 10px;
          border: 1px solid lightgrey;
          object-fit: cover;
        }
        h6 {
          margin-top: 0.5em;
          text-align: center;
          text-transform: none;
        }
        a {
          text-decoration: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
  .visa-slider {
    max-width: 52em;
    padding: 0.5em 0 2em;
    @media screen and (max-width: 767px) {
      padding: 0.5em 0 0;
    }
    p {
      margin: 1em;
      text-align: center;
      font-weight: 500;
    }
    &-container {
      margin: 0 auto;
      &-item {
        margin: 0 auto !important;
        height: 125px;
        width: 117px;
        text-align: center;
        margin: 0 1.5em;
        display: flex !important;
        justify-content: center;
        img {
          width: 100%;
          height: 75px;
          border-radius: 10px;
          border: 1px solid lightgrey;
          object-fit: cover;
        }
        h6 {
          margin-top: 0.5em;
          text-align: center;
          text-transform: none;
        }
        a {
          text-decoration: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  .bazar-slider {
    max-width: 52em;
    padding: 0.5em 0 2em;
    @media screen and (max-width: 767px) {
      padding: 0.5em 0 0;
    }
    p {
      margin: 1em;
      text-align: center;
      font-weight: 500;
    }
    &-container {
      margin: 0 auto;
      &-item {
        margin: 0 auto !important;
        height: 125px;
        width: 117px;
        text-align: center;
        margin: 0 1.5em;
        display: flex !important;
        justify-content: center;
        img {
          width: 100%;
          height: 75px;
          border-radius: 10px;
          border: 1px solid lightgrey;
          object-fit: cover;
        }
        h6 {
          margin-top: 0.5em;
          text-align: center;
          text-transform: none;
        }
        a {
          text-decoration: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
  .category-discovery {
    height: 250px !important;
    @media screen and (max-width: 767px) {
      overflow: hidden;
    }
  }
  .category-offers {
    height: 50px !important;
    ul {
      li {
        height: 100%;
        padding: 0 2.5em;
      }
    }
    @media screen and (max-width: 767px) {
      margin-top: 0.75em !important;
      position: absolute;
      bottom: 15%;
      ul {
        min-width: 400px;
        li {
          padding: 0 1em;
          cursor: pointer;
        }
      }
    }
  }
  .slider-mobile {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    div {
      margin: 1em !important;
    }
    img {
      width: 117px;
      cursor: pointer;
    }
  }
  .slider-mobile-category {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    div {
      margin: 0.5em 1em !important;
    }
    img {
      width: 117px;
    }
  }
  .hotsale-discover-offers::-webkit-scrollbar,
  .hotsale-discover-offers::-webkit-scrollbar-track,
  .visa-discover-offers::-webkit-scrollbar,
  .visa-discover-offers::-webkit-scrollbar-track,
  .slider-mobile::-webkit-scrollbar,
  .slider-mobile::-webkit-scrollbar-track,
  .slider-mobile-category::-webkit-scrollbar,
  .slider-mobile-category::-webkit-scrollbar-track {
    width: 0;
    background: transparent;
  }
  .visa-discover {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 200px;
    border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    position: relative;

    &-trianglelvisa {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 180px 180px 0 0;
      border-color: #dad8d6 transparent transparent transparent;
    }
    &-trianglervisa {
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 180px 180px;
      border-color: transparent transparent #dad8d6 transparent;
    }
    &-offers {
      // height: 100%;
      width: 100%;
      display: flex;
      justify-content: initial;
      align-self: center;
      @media screen and (min-width: 768px) {
        justify-content: center;
      }
      &-list {
        display: flex;
        // justify-content: space-between;
        &-item {
          padding: 0 2em;
          height: 100px;
          img {
            border-radius: 50%;
            height: 97px;
            width: 100px;
            border: 2px solid #b7b7b7;
            margin-bottom: 1em;
            object-fit: cover;
          }
          .buttonVisa {
            background: #003ea9 !important;
            border: 1px solid #003ea9 !important;
            border-radius: 3px !important;
          }
          .button {
            cursor: pointer;
            height: 35px;
            width: 100%;
            border: 1px solid #dd4646;
            border-radius: 1px;
            background: linear-gradient(180deg, #ff6d6d 0%, #f3304c 100%);
            color: #fffcf8;
            letter-spacing: 0;
            line-height: 21px;
            text-align: center;
            padding: 7px 25px;
            text-decoration: none;
          }
        }
        &-item:nth-child(1),
        &-item:nth-child(2),
        &-item:nth-child(3) {
          border-right: 1px dashed #bbbbbb;
        }
      }
    }
  }
  .hotsale-discover {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 240px;
    border: 1px solid #dcdcdc;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    padding-top: 1em;
    position: relative;
    margin-bottom: 1em;
    &-trianglel {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 227px 212px 0 0;
      border-color: #37373e transparent transparent transparent;
    }
    &-triangler {
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 227px 212px;
      border-color: transparent transparent #37373e transparent;
    }
    &-triangle-c-l {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 184px 154px 0 0;
      border-color: #37373e transparent transparent transparent;
    }
    &-triangle-c-r {
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 184px 154px;
      border-color: transparent transparent #37373e transparent;
    }
    p {
      margin-top: 1em;
      font-weight: 500;
    }
    &-offers {
      // height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 1em;
      padding-top: 1.5em;
      &-list {
        display: flex;
        // justify-content: space-between;
        &-item {
          padding: 0 2em;
          height: 100px;
          img {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            border: 2px solid #585555;
            margin-bottom: 1em;
            object-fit: cover;
          }
          .buttonVisa {
            background: #003ea9 !important;
            border: 1px solid #003ea9 !important;
            border-radius: 3px !important;
          }
          .button {
            cursor: pointer;
            height: 35px;
            width: 100%;
            border: 1px solid white;
            border-radius: 3px;
            background: #2b2b30;
            color: white;
            letter-spacing: 0;
            line-height: 21px;
            text-align: center;
            padding: 7px 25px;
            text-decoration: none;
          }
        }
        &-item:nth-child(1),
        &-item:nth-child(2),
        &-item:nth-child(3) {
          border-right: 1px dashed #bbbbbb;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .hotsale-slider {
      padding: 0;
      &-container-item {
        height: 124px;
      }
      p {
        margin: 1em 0 0.5em 0;
      }
    }
    overflow: hidden;
    .hotsale-discover,
    .visa-discover {
      height: 180px;
      &-trianglel,
      &-triangler,
      &-trianglelvisa,
      &-trianglervisa,
      &-triangle-c-l,
      &-triangle-c-r {
        display: none;
      }
      p {
        margin-top: 0.5em;
      }
      &-offers {
        overflow-y: hidden;
        overflow-x: scroll;
        justify-content: initial;
        &-list {
          a {
            padding: 4px;
            cursor: pointer;
          }
        }
      }
    }
    .hotsale-discover-offers {
      padding-top: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .hotsale-slider-container {
      width: 100%;
      img {
        width: 117px;
        cursor: pointer;
      }
    }
    .hotsale-discover,
    .visa-discover {
      overflow: hidden;
      &-trianglel,
      &-triangler,
      &-trianglelvisa,
      &-trianglervisa,
      &-triangle-c-l,
      &-triangle-c-r {
        display: none;
      }
      &-offersVisa {
        overflow-y: hidden;
        overflow-x: scroll;
        justify-content: initial;
        &-list {
          a {
            padding: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
  // /////////Slick Carousel
  .slick-slide {
    padding: 0 1em !important;
    float: left !important;
    display: block !important;
    height: 100% !important;
    min-height: 1px !important;
    position: relative !important;
  }
  .slick-next,
  .slick-prev {
    height: 21.5px !important;
    width: 21px !important;
    border-radius: 50% !important;
    background-color: #585858 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    position: absolute !important;
    top: 50% !important;
    display: block !important;
    padding: 0 !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
    border: none !important;
  }
  #slider-categorie-container .slick-next,
  #slider-categorie-container .slick-prev {
    top: 40px !important;
  }
  .slick-next::before,
  .slick-prev::before {
    font-family: slick !important;
    -webkit-font-smoothing: antialiased !important;
    color: white !important;
    font-size: 30px !important;
    opacity: 1 !important;
    margin-left: -3px !important;
    line-height: 0.95 !important;
    position: absolute !important;
    top: 50% !important;
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
    border: none !important;
  }
  .slick-arrow {
    z-index: 1;
  }
  .slick-arrow:hover {
    background-color: #585858 !important;
  }
  .slick-arrow:focus {
    background-color: #585858 !important;
  }

  .slick-next {
    right: -33px !important;
  }
  .slick-next::before {
    content: '→' !important;
  }
  .slick-prev {
    left: -33px !important;
    z-index: 1 !important;
  }
  .slick-prev::before {
    content: '←' !important;
  }
}
