/*----------------------------------
// GENERIC/DEFAULT BACKGROUND IMAGES
----------------------------------*/
@mixin background__store-profile--default() {
  background-image: url($images_path+"store/store_profile.svg");
  background-color: #ffff;
  background-size: contain;
  background-position: center;
  &:before {
    background-color: white;
  }
}
@mixin background__store-cover--default() {
  background-color: $color5;
  background-image: url($images_path+"store/store_cover.png");
  background-size: 350px;
  background-position: center;
  background-repeat: repeat;
}
@mixin background__product--default() {
  background-image: url($images_path+"utils/texture_thumbnail.svg");
  background-color: $color4;
  background-size: contain;
  background-position: center;
  &:before {
    background-color: white;
  }
}
@mixin background__product--update2020() {
  background-image: url($images_path+"placeholder/placeholder--productPage.jpg");
  background-color: $color4;
  background-size: contain;
  background-position: center;
}
/*----------------------------------------
// STORE TENT
----------------------------------------*/
@mixin tent-tile() {
  &:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -10px;
    width: 100%;
    height: 64px;
    background: url($images_path+"utils/store_tent.svg") repeat-x center top;
  }
}

/*----------------------------------------
// MAIN MENU
----------------------------------------*/
@mixin menu_base() {
  ul {
    position: relative;
    display: flex;
    // align-items: center;
    padding: $margin-base $margin-base ($margin-base * 0.75);
    li {
      position: relative;
      margin-right: #{$margin-base * 3};
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 1.125em;
        text-decoration: none;
        color: $color2;
        font-family: $font_title;
        cursor: pointer;
      }
    }
    .search {
      form {
        position: relative;
        text-align: center;

        input[type="text"] {
          width: 100%;
          font-size: 1.0625em;
          font-family: $font_title;
          color: $color2;
          background: lighten($color5, 10%)
            url($images_path+"icons/search/search_icon.svg") no-repeat
            calc(100% - 0.75em) center;
          background-size: 20px;
          border: 1px solid lighten($color3, 30%);
          line-height: 1.5em;
          padding: 0.4em #{$margin-base * 3} 0.25em $margin-base;
          border-radius: 0.25em;

          &:focus {
          }
          &::placeholder {
            color: $color3;
          }
        }
      }
    }
  }
}
