@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';

.ProductError{
    padding:2em;
    text-align: center;
    margin-bottom: 1em;
    .img_container{
        display: block;
        margin: 0 auto;
        width: 400px;
        @include responsive-container(100%);
        img{
            position: absolute;
            @include responsive-image();
            @include center-content(50%,50%);
        }
    }
    .ProductErrorName {
        background: #E63976;
        color: #fff;
        margin-top: 30px;
        display: inline-block;
    }
    .ProductSpace{
        width: 100%;
        height: 60px;
    }
    a{
        color: #E63976;
    }
}
.details__like{
    width: 100%;
    padding: 30px;
    padding-left: 0px;
}
