footer {
  width: 100%;
  color: $color4;
  background-color: #161620;
  //position: absolute;
  @include type-setting(-1);

  h4 {
    color: $color6;
    @include type-setting(2);
    text-align: left;
    margin-bottom: $margin-base/2;
    padding-bottom: $margin-base/2;
    border-bottom: $border-style;
  }
  a {
    position: relative;
    display: inline-block;
    color: $color4;
    text-decoration: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    // GENERIC MODULES
    &__module {
      position: relative;
      //border-bottom: solid 1px $color3;
      //width: 100%;
      //margin-bottom: 3em;
    }
  }

  /*----------------------------------------
  // SOCIAL MEDIA
  ----------------------------------------*/
  .socialMedia {
    //display: none;
    text-align: center;
    width: 100%;

    // CANASTA ROSA LOGO
    .logo {
      display: none;
      margin: 0 auto;
    }

    // SOCIAL MEDIA ICONS
    &__list {
      background: $color1;
      position: relative;
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      margin: 0 auto 1em;

      &_container {
        width: 100%;
        padding: 2em;
        // &:first-child,
        // &:nth-child(2) {
        //   background: linear-gradient(
        //     90deg,
        //     #e63976 0%,
        //     rgba(178, 15, 107, 0.3) 100%
        //   );
        // }
      }

      // Icons
      &__item {
        @include responsive-container(100%);
        @include hide-text();
        width: 2rem;
        margin: 0 auto;
        a {
          position: absolute;
          width: 100%;
          height: 25px;
          top: 0;
          left: 0;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        $footer-social-icons: (
          facebook: 'footer_icon_facebook.svg',
          pinterest: 'footer_icon_pinterest.svg',
          instagram: 'footer_icon_instagram.svg'
        );
        @each $name, $icon in $footer-social-icons {
          &.#{$name} {
            a {
              background-image: url($images_path+'icons/social/'+$icon);
            }
          }
        }
      }
    }
  }

  /*----------------------------------------
  // NEWSLETTER
  ----------------------------------------*/
  .newsletter {
    text-align: center;
    padding: 0 $margin-base 0;
    form {
      position: relative;
      input {
        position: inline-block;
      }
      input[type='text'] {
        background-color: #585862;
        color: rgb(160, 162, 172);
        font-family: $font_title;
        letter-spacing: 0.05em;
        @include type-setting(1);
        border: 0;
        border-radius: $border-radius 0 0 $border-radius;
        padding: 0.5em 0.5em 0.4em;
      }
      input[type='submit'] {
        background: $color_gradient;
        color: #fff;
        font-family: $font_title;
        letter-spacing: 0.05em;
        @include type-setting(1);
        border: 0;
        border-radius: 0 $border-radius $border-radius 0;
        padding: 0.5em 0.75em 0.4em;
        margin-left: -5px;
      }
    }
  }

  /*----------------------------------------
  // MENU
  ----------------------------------------*/
  .menu {
    padding: 0 $margin-base $margin-base * 2;
    .menu__navigation {
      .navigation {
        position: relative;
        .navigation__item {
          position: relative;
          margin: auto;
          //text-align: center;

          // Links/Buttons
          .link {
            position: relative;
            display: inline-block;
            padding-left: 14px;
            color: $color4;
            text-decoration: none;
            transition: color 120ms ease;

            &:before {
              display: block;
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background: $color_gradient;
              border-radius: 20px;
              @include center-content(0%, 50%);
            }

            .hover-active &:hover,
            &.active {
              color: $color1;
            }
          }
        }
      }
    }
  }

  /*----------------------------------------
  // CREDITCARDS
  ----------------------------------------*/
  .payment-methods {
    //order: -1;
    width: 100%;
    padding: $margin-base;
  }
  .creditCards {
    //display: none;
    text-align: center;

    // Payment Methods Icons List
    .creditCards__list {
      display: flex;
      justify-content: center;
      flex-flow: row nowrap;

      &__item {
        span {
          display: none;
        }
        margin-right: 5px;
        &:before {
          content: '';
          display: inline-block;
          background: no-repeat center;
          background-size: contain;
          width: 40px;
          height: 25px;
        }
        &.visa {
          &:before {
            background-image: url($images_path+'icons/payment/icon_visa.svg');
          }
        }
        &.mastercard {
          &:before {
            background-image: url($images_path+'icons/payment/icon_mastercard.svg');
          }
        }
        &.amex {
          &:before {
            background-image: url($images_path+'icons/payment/icon_amex.svg');
          }
        }
        &.paypal {
          &:before {
            background-image: url($images_path+'icons/payment/icon_paypal.svg');
          }
        }
        &.oxxo {
          &:before {
            width: 50px;
            background-image: url($images_path+'icons/payment/icon_oxxo.svg');
          }
        }
      }
      .bankTransfer {
        margin: 0 0.25em;
        @include type-setting(-1);
        line-height: 1.2em;
        text-align: center;
        font-weight: bold;
        color: #ffff;
      }
    }

    .brand__ssl {
      span {
        display: none;
      }
      &:before {
        content: '';
        display: inline-block;
        background: url($images_path+'icons/payment/icon_ssl.svg') no-repeat;
        background-size: contain;
        width: 100px;
        height: 30px;
      }
    }
  }

  /*----------------------------------------
  // CONTACT INFORMATION
  ----------------------------------------*/
  .contact {
    width: 100%;
    text-align: center;
    padding: $margin-base * 2 $margin-base;
    line-height: 1.875em;
    color: $color4;
    &__title {
      display: block;
    }
    &__link {
      display: block;
      color: $color6;
      padding: 0 0.5em;
      &.phone {
        &:before {
          content: '';
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          margin-right: 0.5em;
          background: url($images_path+'icons/icon_phone.svg') no-repeat;
        }
      }
      &.whatsapp {
        &:before {
          content: '';
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          margin-right: 0.5em;
          background: url($images_path+'icons/social/social_icon_whatsapp_pink.svg')
            no-repeat;
        }
      }
    }

    @media screen and (min-width: $bp-mobile-l) {
      &__link {
        display: inline-block;
        border-right: solid 1px darken($color2, 5%);

        &:last-child {
          border: none;
        }
      }
    }
  }

  /*----------------------------------------
  // TERMS / CONDITIONS
  ----------------------------------------*/
  .bottomLine {
    position: relative;
    width: 100%;
    //width: calc(100% + #{ $margin-base*2 });
    margin: 0 #{- ($margin-base)};
    padding: 0.32em #{$margin-base};
    //background-color: #34343A;
    border-top: solid 1px #2b2b30;
    text-align: center;
    .bottomLine__navigation {
      .bottomLine__navigation__item {
        display: inline-block;
        border-right: solid 1px $color3;
        &:first-child {
          display: block;
          border: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          padding: 0em 0.5em;
        }
      }
    }
  }

  /*----------------------------------------
  // MEDIA QUERIES
  ----------------------------------------*/
  @media screen and (max-width: 600px) {
    .contact {
      flex: 0 0 50%;
    }
    .socialMedia {
      &__list {
        height: 86px;
        background: linear-gradient(270deg, rgba(217,53,116,1) 50%, rgba(218,54,117,0.90) 50%);
        &__item {
          top: 30%;
        }
        a {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  @media screen and (min-width: $bp-tablet-sm) {
    padding: #{$margin-base * 3} 0 0;
    .footer {
      justify-content: space-around; //provisional
      flex-flow: row wrap;
    }

    .contact {
      flex: auto;
      border-top: solid 1px darken($color2, 5%);
    }

    .socialMedia {
      width: auto;
      order: -1;
      flex: 0 0 30%;

      .logo {
        display: block;
        max-width: 13em;
      }

      &__list {
        display: flex;
        background: none;
        width: 100px;
        // position: absolute;
        // left: 33%;

        &_container {
          padding: 0em;
          // margin-right: 1em;
          &:first-child,
          &:nth-child(2) {
            background: transparent;
          }
        }
        &__item {
          width: 1.55rem;
          height: 86px;
        }
      }
    }

    .payment-methods {
      width: auto;
    }
    .creditCards {
      margin-top: $margin-base;
      .brand__ssl {
        margin-top: $margin-base;
      }
    }

    .newsletter,
    .menu {
      order: -1;
    }

    .bottomLine {
      display: block;
      //margin-top: 2em;
      padding-top: 0.65em;
      padding-bottom: 0.65em;

      .bottomLine__navigation {
        .bottomLine__navigation__item {
          &:first-child {
            display: inline-block;
            border-right: solid 1px $color3;
            padding-right: 0.5em;
          }
        }
      }
    }
  }

  @media screen and (min-width: 50em) {
    .contact {
      &__title {
        display: inline-block;
      }
    }
  }
  // @media screen and (min-width: 50em) {
  //   .socialMedia{
  //     order: -1;
  //     width: 100%
  //   }

  //   .logo,
  //   .newsletter,
  //   .menu {
  //     order: 0;
  //     width: 33.333%;
  //   }

  //   .logo{
  //     align-self: center;
  //     margin-bottom: 0;
  //   }
  // }

  @media screen and (min-width: 60em) {
    $footer-padding: 2.5%;
    padding-left: $footer-padding;
    padding-right: $footer-padding;

    .footer {
      justify-content: space-around;
    }

    .payment-methods,
    .newsletter,
    .menu {
      //width: 25%;
      order: 0;
      text-align: left;
    }

    .socialMedia {
      flex: 0;
    }

    .menu {
      .menu__navigation {
        .navigation {
          .navigation__item {
            text-align: left;
          }
        }
      }
    }

    .newsletter {
      flex: 1;
      max-width: 270px;
    }

    .socialMedia {
      flex: 0 0 220px;
      border: 0;
      padding-bottom: 0;
    }

    .bottomLine {
      order: 1;
      margin-left: -($footer-padding);
      margin-right: -($footer-padding);
      width: calc(100% + #{($footer-padding * 2)});
    }
  }
}
