footer {
  display: flex;
  width: 100%;
  padding: #{$margin-base * 3} $margin-base 0;
  flex-flow: row wrap;
  color: $color4;
  background-color: $color2;
  @include type-setting(-1);

  h4 {
    color: $color6;
    @include type-setting(2);
    text-align: center;
  }

  a {
    position: relative;
    display: inline-block;
    color: $color4;
    text-decoration: none;
  }

  // GENERIC MODULES
  .footer {
    &__module {
      position: relative;
      margin-bottom: 2em;
      border-bottom: solid 1px $color3;
      padding-bottom: 2em;
      width: 100%;
    }
  }

  /*----------------------------------------
  // LOGO
  ----------------------------------------*/
  .logo {
    display: none;
    text-align: center;

    a {
      display: inline-block;
      margin: auto;
    }
  }

  /*----------------------------------------
  // NEWSLETTER
  ----------------------------------------*/
  .newsletter {
    text-align: center;
    form {
      position: relative;
      input {
        position: inline-block;
      }
      input[type="text"] {
        background-color: #585862;
        color: rgb(160, 162, 172);
        font-family: $font_title;
        letter-spacing: 0.05em;
        @include type-setting(1);
        border: 0;
        border-radius: $border-radius 0 0 $border-radius;
        padding: 0.5em 0.5em 0.4em;
      }
      input[type="submit"] {
        background: $color_gradient;
        color: #fff;
        font-family: $font_title;
        letter-spacing: 0.05em;
        @include type-setting(1);
        border: 0;
        border-radius: 0 $border-radius $border-radius 0;
        padding: 0.5em 0.75em 0.4em;
        margin-left: -5px;
      }
    }
  }

  /*----------------------------------------
  // MENU
  ----------------------------------------*/
  .menu {
    margin-bottom: 0;
    border: none;
    .menu__navigation {
      .navigation {
        position: relative;
        .navigation__item {
          position: relative;
          margin: auto;
          text-align: center;
          a {
            position: relative;
            display: inline-block;
            padding-left: 14px;
            color: $color4;
            text-decoration: none;
            &:before {
              display: block;
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background: $color_gradient;
              border-radius: 20px;
              @include center-content(0%, 50%);
            }
          }
        }
      }
    }
  }

  /*----------------------------------------
  // SOCIAL MEDIA
  ----------------------------------------*/
  .socialMedia {
    order: -1;
    text-align: center;
    padding-bottom: 1em;
    .socialMedia__list {
      position: relative;
      display: inline-flex;
      flex-flow: row nowrap;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      .socialMedia__list_container {
        .socialMedia__list__item {
          @include responsive-container(100%);
          @include hide-text();
          width: 2rem;
          margin: 0 10px;
          a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
          $footer-social-icons: (
            facebook: "footer_icon_facebook.svg",
            pinterest: "footer_icon_pinterest.svg",
            instagram: "footer_icon_instagram.svg"
          );
          @each $name, $icon in $footer-social-icons {
            &.#{$name} {
              a {
                background-image: url($images_path+"icons/social/"+$icon);
              }
            }
          }
        }
      }
    }
  }

  /*----------------------------------------
  // TERMS / CONDITIONS
  ----------------------------------------*/
  .bottomLine {
    position: relative;
    width: calc(100% + #{$margin-base * 2});
    margin: 0 #{- ($margin-base)};
    padding: 0.32em #{$margin-base};
    //background-color: #34343A;
    text-align: center;
    .bottomLine__navigation {
      .bottomLine__navigation__item {
        display: inline-block;
        border-right: solid 1px $color3;
        &:first-child {
          display: block;
          border: none;
        }
        &:last-child {
          border-right: none;
        }
        a {
          padding: 0em 0.5em;
        }
      }
    }
  }

  /*----------------------------------------
  // MEDIA QUERIES
  ----------------------------------------*/
  @media screen and (min-width: $bp-tablet-sm) {
    .logo {
      display: block;
      order: -1;
      border: none;
      padding-bottom: 0;
      margin-bottom: 1em;
    }

    .newsletter,
    .menu {
      border: none;
      width: 50%;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .bottomLine {
      margin-top: 2em;
      padding-top: 0.65em;
      padding-bottom: 0.65em;

      .bottomLine__navigation {
        .bottomLine__navigation__item {
          &:first-child {
            display: inline-block;
            border-right: solid 1px $color3;
            padding-right: 0.5em;
          }
        }
      }
    }
  }

  @media screen and (min-width: 50em) {
    .socialMedia {
      order: -1;
      width: 100%;
    }

    .logo,
    .newsletter,
    .menu {
      order: 0;
      width: 33.333%;
    }

    .logo {
      align-self: center;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 60em) {
    $footer-padding: 2.5%;
    padding-left: $footer-padding;
    padding-right: $footer-padding;
    .footer {
      justify-content: space-around;
    }
    h4 {
      text-align: left;
      margin-bottom: 0.325em;
      padding-bottom: 0.325em;
      border-bottom: solid 1px $color3;
    }

    .socialMedia,
    .logo,
    .newsletter,
    .menu {
      width: 25%;
      order: 0;
      text-align: left;
    }

    .logo {
      flex: 0;
    }

    .menu {
      .menu__navigation {
        .navigation {
          .navigation__item {
            text-align: left;
          }
        }
      }
    }

    .newsletter {
      flex: 1;
      max-width: 270px;
    }

    .socialMedia {
      flex: 0;
      border: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .bottomLine {
      order: 1;
      margin-left: -($footer-padding);
      margin-right: -($footer-padding);
      width: calc(100% + #{($footer-padding * 2)});
    }
  }
}
