// Fixed menu
@import "responsive";

.header-fix {
    width: 100%;
    //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    @include responsive-up("md") {
        // position: fixed;
        z-index: 9999;
    }
    // .cr__header{
    //     display: block;
        
    // }
    // .cr__headerMobile{
    //     display: none;
    // }
    // @media screen and (max-width:767px){
    //     .cr__header{
    //         display: none;
    //     }
    //     .cr__headerMobile{
    //         display: block;
    //     } 
        
    // }
}
.header-fix {
    display: none;
   }
.header-fix-mobile {
    display: block;
}
   @media screen and (min-width:768px) {
.header-fix {
   display: block;
   }
.header-fix-mobile {
   display: none;
   } 
}
.app-body-layout {
    @include responsive-up("md") {
        // margin-top: 121px;
        min-height: 600px;
        transition: 0.3s ease;
    }
}
.app-body-layout-hidingMenu {
    @include responsive-up("md") {
        margin-top: 59px;
        min-height: 600px;
        transition: 0.3s ease;
    }
}

.app-container-fixed {
    .app-layout {
        min-height: auto !important;
    }
    .app-body-layout {
        position: fixed !important;
        min-height: 600px;
    }

    footer {
      position: fixed !important;
    }
    .header-fix, .header-fix-mobile{
        height: 100%;
    }
    .header-fix{
     display: block;
    }
    .header-fix-mobile{
     display: none;
    }
    @media screen and (max-width:767px){
    .header-fix{
    display: none;
    }
    .header-fix-mobile{
    display: block;
    } 
    }
}
.content{
  img{
      width: 100% !important;
      height: auto !important;
  }
}

%menu-dropdown_class {
    font-size: 1rem;
    font-family: $font_title;
    line-height: 1em;
    background: $color5;
    position: absolute;
    right: 0px;
    top: calc(100% + 10px);
    width: 100vw;
    z-index: 2;

    //max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 500ms cubic-bezier(0.86, 0, 0.07, 1);

    // DROP DOWN CONTAINER
    .menu-dropdown__container {
        padding: 1em $margin-base;
    }

    // DROP DOWN MENU LIST
    > ul {
        box-shadow: -1px 1px 5px $color4;
        position: relative;
    }

    ul > li {
        position: relative;
        margin: 0 1em;
        border-bottom: $border-style;
        color: $color2;

        > a {
            cursor: pointer;
            display: block;
            color: $color2;
            padding: $margin-base;

            // Arrow Icon
            &:after {
                content: '';
                position: absolute;
                right: 0;
                margin-left: 0.5em;
                background: url($images_path + "icons/arrows/arrow_next.svg") no-repeat center;
                filter: grayscale(100%);
                opacity: .5;
                background-size: contain;
                width: 16px;
                height: 16px;
            }
        }

        &:last-child {
            border: none;
        }
    }

    @media screen and (min-width: $bp-tablet-sm) {
        //width: 50vw;
    }

    @media screen and (min-width: $bp-tablet-m) {
        width: 40vw;
    }

    @media screen and (min-width: $bp-tablet-l) {
        .searchCategories {
            li.search {
                display: none;
            }
        }
    }

    @media screen and (min-width: $bp-desktop-sm) {
        width: 30vw;
    }

    @media screen and (min-width: $bp-desktop-l) {
        width: 25vw;
    }
}

header {
    order: -2;
    z-index: 100;
    position: relative;
    width: 100%;
    color: #fff;
    background: $color1;

    &:before {
        content: '';
        position: absolute;
        width: 50%;
        min-width: 320px;
        height: 100%;
        right: 0;
        top: 0;
        background: linear-gradient(90deg, $color1 0%, #B4106C 65%);
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    /*----------------------------------------
    // NAV CONTAINER
    ----------------------------------------*/
    .navContainer {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 10px $margin-base;
        height: $main-menu-desktop-height;
        border-bottom: 1px solid rgba(#AA0E54, 0.75);
    }

    /*----------------------------------------
    // LOGO
     ----------------------------------------*/
    & .logo {
        position: relative;
        height: 100%;

        picture {
            height: 100%;
        }

        a {
            //position: absolute;
            display: inline-flex;
            align-items: center;
            height: 100%; //top: 0; left: 0;
            max-height: 2em;
        }

        img {
            //@include responsive-image()
            display: block;
            width: auto;
            height: 100%;
        }

        span {
            @include responsive-container(100%);

            display: inline-block;
            width: 200px;

            &:before {
                background: red;
            }
        }
    }

    /*----------------------------------------
    // TOOLBAR
    ----------------------------------------*/
    & .toolbar {
        $icon-max-width: 2.125rem;
        $searchbar-max-width: 13rem;

        //position: relative;
        text-align: right;
        display: flex;
        flex-flow: row nowrap; //flex-direction: flex-end;
        justify-content: flex-end;
        align-items: center;

        // Generics Menu Item Settings
        > li {
            position: relative;
            margin: 0 0.18rem;

            &:last-child {
                margin-right: 0;
            }
        }

        /////////////////////////
        // ITEMS WITH TEXT
        /////////////////////////
        &__text {
            button {
                background: transparent;
                font-size: inherit;
                color: inherit;
                border: 0;
                padding: 0;
                margin: 0;
            }

            &.login {
                border: solid 1px rgba(#fff, 0.32);
                border-radius: $border-radius;
                padding-left: 0.75em;
                padding-right: 0.75em;
            }
        }

        /////////////////////////
        // ITEMS WITH ICONS
        /////////////////////////
        &__item {
            @include responsive-container(100%);

            width: $icon-max-width;
            max-width: 35px;
            cursor: pointer;

            @include hide-text;

            // Open / Close states
            .open {
                width: 160px;
                transition: width .3s ease;
            }

            .closed {
                width: 0px;
                overflow: hidden;
                transition: width .3s ease;
            }

            &:hover {
                .menu-dropdown {
                    //max-height: 100vh;
               
                }
            }

            &.active {
                .menu-dropdown {
                    max-height: 100vh;
                }
            }

            // Links
            > a,
            > button {
                @include hide-text;

                position: absolute;
                background: transparent;
                border: none;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        ////////////////
        // SEARCH
        .search {
            display: none;
            height: 100%;

            &__form {
                float: right;
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;
                transition: width 200ms ease;
            }

            // Hide Default Icon Container
            &:before {
                //display: none
           
            }

            // Hover Styles
            &--open {
                .search__form {
                    width: 100%;
                    width: $searchbar-max-width + $icon-max-width;
                }

                .search__input {
                    width: $searchbar-max-width;
                }
            }

            &:hover {
                @extend .search--open;
            }

            // Search icon
            &__icon {
                top: 0;
                float: right;

                @include hide-text;

                border: none;
                padding: 0;
                margin: 0;
                height: 100%;
                width: 30px;
                background: url($images_path + "header/header_search.svg") no-repeat center;
                background-size: 75%;
            }

            // Input field
            &__input {
                display: inline-block;
                position: relative;
                overflow: hidden;
                width: 0%;
                height: 100%;
                transition: width 200ms ease;

                input {
                    padding: 0.5em $margin-base;
                    margin-right: 5px;
                    border: solid 1px darken(#a50860, 1%);
                    border-radius: 2px;
                    width: 100%;
                    height: 100%;
                    color: $color4;
                    font-size: 0.875rem;
                    font-family: $font-content;
                    background: #a50860;
                    transition: all 200ms ease;

                    &:focus {
                        border: solid 1px rgba(#d05a9c, 0.75);
                    }

                    &::placeholder {
                        color: $color4;
                    }
                }
            }
        }

        ////////////////
        // CATEGORIES
        .categories {
            background: url($images_path + "header/header_search.svg") no-repeat center;
            background-size: 80%;

            &.logout {
                .menu-dropdown {
                    //right: calc(-#{$icon-max-width * 1.5} + #{$margin-base *.7});
               
                }
            }

            // DROPDOWN
            .menu-dropdown {
                //right: calc(-8.7em + #{$margin-base});

                &__container {
                    text-transform: capitalize;

                    li {
                        display: flex;

                        a {
                            width: 100%;
                            color: $color2;
                            padding: 1em;
                            padding-left: 2.5em;

                            &:before {
                                content: '';
                                left: 0;
                                position: absolute;
                                opacity: .5;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                top: 12px;
                                width: 23px;
                                height: 23px;
                                background-image: url($images_path + "/icons/category/icon_category_holiday.svg");
                            }
                        }

                        //
                        &.search {
                            border-bottom: 1px solid white;
                            background: $color4;
                            margin: -1em -0.625em 1em;

                            form {
                                width: 100%;
                                position: relative;
                                text-align: center;
                                margin: 0.625em 0px;

                                input[type=text] {
                                    background: white url($images_path + "icons/search/search_icon.svg") no-repeat calc(100% - 1em) center;
                                    background-size: 1.2em;
                                    color: $color2;
                                    border: 0;
                                    padding: .3em 2.5em .3em 1.25em;
                                    width: 95%;

                                    @include type-setting(0);

                                    font-family: $font_title_bold;
                                    border-radius: 2em;
                                }
                            }
                        }
                    }

                    //
                    $category-icons: (fiestas: "icon_category_fiestas.svg", saludable: "icon_category_saludable.svg", diseno: "icon_category_diseno.svg", accesorios: "icon_category_decoracion.svg", delicioso: "icon_category_delicioso.svg", decoracion: "icon_category_hogar.svg", infantil: "icon_category_infantil.svg", todos: "icon_category_todos.svg");

                    @each $name, $icon in $category-icons {
                        li.#{$name} {
                            a {
                                &:before {
                                    background-image: url($images_path + "icons/category/" + $icon);
                                }
                            }
                        }
                    }

                    .title {
                        font-family: $font_content;
                        text-transform: initial;
                        color: $color3;

                        @include type-setting(-1);
                    }
                }
            }
        }

        ////////////////
        // MY STORE
        .store {
            background: url($images_path + "header/header_store.svg") no-repeat center;
            background-size: 92%;
        }

        ////////////////
        // MY FAVOURITES
        .favs {
            background: url($images_path + "header/header_favs.svg") no-repeat center;
            background-size: contain;
        }

        ////////////////
        // PROFILE
        .profile {
            border-radius: 50%;

            //transform: scale(0.9);

            // Button
            & > button {
                border-radius: inherit;
                background: #991753 url($images_path + "header/header_profile@2x.png") no-repeat center;
                background-size: cover;
            }

            // DROPDOWN
            .menu-dropdown {
                //right: -12.5em; //calc(-#{$icon-max-width * 2} + #{$margin-base * 1.8});

                &__container {
                    //right: #{2em * 2};

                    li {
                        &.logout {
                            border: none;

                            a {
                                color: $color1;
                                font-weight: bold;

                                &:after {
                                    content: none;
                                }
                            }
                        }

                        &.userProfile {
                            display: flex;
                            padding-bottom: 1em;
                            align-items: flex-start;

                            .photo {
                                display: block;
                                border-radius: 50%;
                                overflow: hidden;
                                border: $border-style;
                                flex: 0 0 80px;
                                margin-right: $margin-base * 2;

                                @include responsive-container(100%);

                                position: relative;

                                img {
                                    position: absolute;

                                    @include center-content(50%, 50%);
                                }
                            }

                            .info {
                                text-align: left;
                                align-self: center;

                                &_name {
                                    margin: 0 0 $margin-base;
                                }

                                .button-square--white {
                                    background: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        ////////////////
        // SHOPPING CART ICON
        .shoppingCart {
            background: url($images_path + "header/header_cart.svg") no-repeat center;
            background-size: 95%;

            // Items on Cart
            .notifications {
                position: absolute;
                top: -3px;
                right: -5px;
                text-align: center;
                background: #fff;
                color: $color1;
                font-family: $font_content;
                font-size: .6rem;
                font-weight: bold;
                line-height: 1.5em;
                border-radius: 20px;
                padding: .12em .5em 0;
            }
        }

        ////////////////
        // MENU
        .menu {
            background: url($images_path + "icons/icon_menu.svg") no-repeat center;
            background-size: 40%;
        }
    }

    /*-----------------------------------------------
    // SECTION NAVIGATION [INSPIRE/MARKETPLACE/PRO]
    -----------------------------------------------*/
    & .areaNavigation {
        position: relative;
        order: 1;
        width: 100%;
        padding: $margin-base;
        background: #BE1D69;
        text-align: center;
        text-transform: uppercase;
        font-family: $font_title;

        @include type-setting(1);

        // BUTTONS
        a {
            width: 33.333%;
            position: relative;
            color: rgba($color6, 0.8);
            display: inline-block;
            padding: 0 0.5em;
            font-family: $font-content;
            font-weight: 300;

            &:hover,
            &.active {
                color: #fff;
                font-weight: normal;
            }

            &:nth-child(2) {
                border-right: solid 1px #F16E9D;
                border-left: solid 1px #F16E9D;
            }
        }
    }

    /*-------------------------------------------
    // DROPDOWN MENU
    -------------------------------------------*/
    .menu-dropdown {
        @extend %menu-dropdown_class;
    }

    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-m) {
        .navContainer {
            height: $main-menu-desktop-height;
            padding: 10px $margin-base;
        }

        & .toolbar {
            &__text {
                line-height: 1.65em;
            }

            &__item {
                max-width: 30px;
            }

            .profile {
                max-width: 26px;
            }
        }
    }

    @media screen and (min-width: 45.5em) {
        .toolbar {
            .search {
                display: block;
                background-size: 70%;
            }

            // .categories {
            //   background: url($images_path+'header/header_categories.svg') no-repeat center;
            //   background-size: 70%;
            // }
            .categories,
            .categories_mobile {
                display: none;
            }
        }
    }

    @media screen and (min-width: $bp-tablet-l) {
        // TOOLBAR
        .toolbar {
            .search {
                display: block;
                background-size: 70%;
            }

            .store {
                background-size: 80%;
            }

            .shoppingCart {
                background-size: 85%;
            }
        }
    }

    @media screen and (min-width: $bp-desktop-sm) {
        $padding-header: 2.5%;

        padding-left: $padding-header;
        padding-right: $padding-header;

        .areaNavigation {
            position: absolute;
            background: transparent;
            top: $margin-base;
            left: 12.5em;

            //@include center-content(50%, 50%);
            width: auto;
            margin: 0 auto;
            padding: 0 0 0 $margin-base;
            border-left: solid 1px #F16E9D;

            a {
                width: auto;

                &:nth-child(2) {
                    border: none;
                }
            }
        }
    }

    @media screen and (min-width: $bp-desktop-l) {
        .toolbar__item {
            .open {
                width: 200px;
            }
        }
    }
}

#fc_widget{
    width: 100%;
    .d-hotline{
        right: auto;
        left: 30px !important;
    }
}
