@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';

.home{
    padding: 0;
    section{
        //padding-left: 0.625em;
        //padding-right: 0.625em;
    }
    .aboutUs{
        padding: 2em;
    }
    .assistant, .season-banner{
        max-width: 47.5em;
        //width: auto;
        //margin: $margin-base;
        @media screen and (min-width: $bp-tablet-m){
            margin: 0 auto;
        }
    }

    @media screen and (min-width: $bp-tablet-m){
        .banner-container{
            display: flex;
            justify-content: space-around;
            .assistant, .awards__banner{flex: 0 0 65%}
        }
    }
    @import 'home/main-banner';
    @import 'home/trending-items';
    @import 'home/new-shops'; 
    @import 'home/favorites-stores';
    @import 'home/marketplace-benefits';
    @import 'home/card-list';
    @import 'home/about-us';
}



