/*----------------------------------------
// MIXINS
----------------------------------------*/
@mixin responsive-image(){
  display: block;
  width: 100%;
  height: auto;

  &.vertical{
    height: 100% !important;
    width: auto !important;
  }
  &.horizontal{
    width: 100% !important;
    height: auto !important;
  }
}
  
@mixin responsive-container($ratio: 0){
    position: relative;

    &:before{
        content: '';
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: $ratio;
    }
}
   
@mixin hide-text(){
  font:0/0 a;	
}

@mixin with-hover(){
  .hover-active &:hover {
    @content;
  }
}

/// BEM Mixins
/// @access public
/// @param {String}
@mixin bem_element($element) {
  &__#{$element} {
      @content;
  }
}

@mixin bem_modifier($modifier) {
  &--#{$modifier} {
      @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
  
@mixin center-content($left: null, $top: null){
  @if $left {
    left: $left;
  } @else {
    $left: 0;
  }

  @if $top {
    top: $top; 
  } @else {
    $top: 0
  }

    transform: translate(-$left, -$top);
}

@mixin hover {
  .hover-active & {
      &:hover {
        @content;
      }
  }
}

/*----------------------------------------
// FUNCTIONS
----------------------------------------*/
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}
@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}
@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@function tan($angle) {
  @return sin($angle) / cos($angle);
}  