@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';
@import 'utils/buttons';

.recoverPass{
    margin: auto;
    .title{
        border-bottom: 1px solid lighten($color3, 30%);
        margin-bottom: #{ $margin-base * 2};
        padding-bottom: $margin-base;
    }
    &_form{
        .form{
            input[type=submit] {
                width: auto;
                margin: #{ $margin-base * 2} auto;
                text-align: center;
                display: flex;
                justify-content: center;
                @extend .c2a_border;
                &:hover{
                    background: $color1;
                    color: white;
                }
            }
        }   
        p{
            @include type-setting(-1);
            text-align: center;
            color: $color3;
        }   
    }
    @media screen and (min-width: $bp-tablet-sm) {
        max-width:25em;
    }
}