@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';
@import 'utils/buttons';


$storeApp-menu-desktop-width: 215px;
$storeApp-controlnav-height: 3.4375em;
@import 'storeApp/modalbox';
@import 'storeApp/Products/attribute-components';

.storeApp {
    position: relative;
    padding-top: 60px;
    min-height: 100vh;
    //background: #faf9f8;
    
    // IMPORTS
    @import 'storeApp/forms';
    @import 'storeApp/menu';
    @import 'storeApp/store-settings';
    @import 'storeApp/product';
    @import 'storeApp/section';
    @import 'storeApp/orders';
    @import 'storeApp/statusNotificationsWindow';
    @import 'storeApp/shipping-schedules';
    @import 'storeApp/dashboard';
    @import 'storeApp/movements';
    @import 'storeApp/Plans/myaccount';
    @import 'storeApp/Plans/plans';
    @import 'storeApp/Plans/modalboxes';

    /*----------------------------------------
    // CONTENT MODULES
    ----------------------------------------*/
    .contentWrapper{
        position: relative;
    }
    &__module{
        position: relative;

        ////////////////////
        // TITLE
        h3{
            @include type-setting(3);
            text-align: center;
            margin-bottom: 0.75em;
            font-family: $font_header;
        }
    }
    //Message for limit time change mercado pago to bank account only for sellers 
    .cr__containerMessage{
        text-align: center;
        padding: 2em 2em;
        &__img{
         height: 300px;
         width: auto;
        }
        &__title{
         font-size: 1.728em;
         margin-top:1em;
        }
        &__info{
         font-size: 1em;
         line-height: 1.5em;
         padding: 0em 2.5em;
         margin-bottom: 1em;
         width: 620px;
         span{
             font-weight: bold;
             color: #e63976;
         }
        }
        &__button{
         text-decoration: none;
         color: $color1;
         font-size: 1.5em;
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            &__title{
                margin-bottom:1em;
               }
            &__info{
                font-size: 1em;
                line-height: 1.5em;
                padding: 0;
                margin-bottom: 1.5em;
                width: 420px;
               }
        }
        @media screen and (max-width: 767px) {
            padding: 2em 1em;
            &__title{
                @include type-setting(0);
                margin-top:1em;
               }
            &__info{
                @include type-setting(-1);
                line-height: 1.5em;
                padding: 0;
                margin-bottom: 1.5em;
                width: 300px;
               }
        }
    }
    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-m){
        padding-top: 0;
        //height: calc(100vh - #{$main-menu-desktop-height});

        .contentWrapper{
            padding-left: $storeApp-menu-desktop-width;
        }

        &__module{
            padding-left: 10%;
            padding-right: 10%;
            margin: 0 auto;
            //max-width: 960px; 
        }
    }
}
.errorsWords {
    text-align: left;
    margin: 0 0 3em;
    li {
      margin: 0.5em 0 0 1.5em;
      list-style: disc;
    }
  }
  .errorForm {
    input, textarea {
      border-color: #cc3131 !important;
    }
  }