@import 'variables';
@import 'mixins';
@import 'common';
@import 'typography';
@import 'utils/buttons';

.storeCreate{
    position: relative;
    background: $color5 url($images_path+'utils/texture_detail.png') center;
    padding-top: 6.875em;
    padding-bottom: 5.25em;

    /*----------------------------------------
    // STORE TENT
    ----------------------------------------*/
    @include tent-tile();

    /*----------------------------------------
    // TITLE
    ----------------------------------------*/
    h3{
        text-align: center;
        margin-bottom: 0.325em;
    }

    /*----------------------------------------
    // CONTAINER & BACKGROUND
    ----------------------------------------*/
    &__wrapper{
        position: relative;
    }
    &__container{
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 32em;
        background: #fff;
        padding: 0.9375em;
        border: solid 1px $color4;
        border-radius: $border-radius;
        text-align: center;
    }
    &__background{
        display: none;
        @include center-content(50%, 50%);
        position: absolute;
        width: 100%;
        max-width: 1200px;
        
        &:before{
            width: 100%;
            padding-bottom: 30%;
            content: '';
            display: block;
            position: relative;
            background: url($images_path+'store/store_background.svg') no-repeat center;
            background-size: contain;
        }
    }

    /*----------------------------------------
    // FORM
    ----------------------------------------*/
    .storeForm{
        position: relative;

        fieldset{
            max-width: 25em;
            position: relative;
            margin: 0 auto;
        }

        // LABELS
        label{
            color: $color3;
            font-size: 0.875em;
        }

        // TEXT
        textarea, input{
            outline: none;
            background: #fff
        }

        // CHECKBOX
        input[type=checkbox]{
            display: inline-block;
            text-align: center;
            margin-right: 0.5em;
        }

        // SUBMIT
        input[type=submit]{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            @include c2a_square();
        }

        // DATA CONTAINER
        .form__data{
            position: relative;
            margin-bottom: 1.25em;
            text-align: center;

            &:last-child{
                margin: 0;
            }

            p{
                @include type-setting(-1);
                line-height: 1.5em;
                color: $color3;
                display: inline-block;
                width: 80%;
                margin: 0 auto;

                a{
                    color: inherit;

                    &:hover{
                        color: $color2
                    }
                }
            }
        }


        //////////////////////////////
        // STORE NAME
        .form__data-storeName{
            input{
                width: 100%;
                padding-bottom: 0.15em;
                border: 0;
                border-bottom: solid 1px $color4;
    
                color: $color2;
                text-align: center;
                font-family: $font_content;
                font-weight: normal;
                @include type-setting(3);
                line-height: 1.5em;
    
                transition:
                    all 200ms ease-out,
                    border-bottom-color 120ms ease,
                    font-size 160ms ease-out;
    
                &:focus{
                    @include type-setting(4);
                    border-bottom-color: $color1
                }
            }
        }

        //////////////////////////////
        // TERMS CHECKBOX
        .form__data-terms{
            input[type=checkbox]{
                position: absolute;
                top: 0;
                transform: translateX(-22px); 
            }
        }
    }

    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: 40em){
        &__wrapper{
            min-height: 45vh;
        }  
        &__background{
            display: block;
        }

        .storeForm{
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}

.errorsWords {
    text-align: left;
    margin: 0 0 2em 2em;
    li {
      margin: 0.5em 0 0 1.5em;
      list-style: disc;
    }
  }