@import 'variables';

section.terms{
    
    h4, h5{ 
        margin-bottom: $margin-base;
        font-weight: bold;
    }
    .title { 
        text-align: center;
        font-size: 2.0736em;
    }
    h4, .mt-medium{ margin-top: $margin-base*4;}
    p{
        color: $color3;
        text-indent: 0;
        margin-bottom: $margin-base*3;
        text-align: justify;
    }
    
    a{
        text-decoration: none;
        color:  #0097d6;
        word-wrap: break-word;
    }
    @media screen and (min-width: $bp-desktop-sm){
        width: 64em;
        ul{ list-style: inherit;
            li{ margin-left: 20px;}
        }
    }
}