@import url('https://fonts.googleapis.com/css?family=Sarabun:200,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

@function type-scale($level) {
	@return map-get($type-scale, $level);
}
@function line-height($level) {
  @return map-get($line-heights, $level);
}
// Returns a number without a unit. For example 16px becomes 16
@function stripUnits($number) {
	@return $number / ($number * 0 + 1);
}

// Returns an EM value. For example 24px becomes 1.5em
@function emCalc($target, $context: $base-font-size) {
	@return stripUnits(($target / $context))+0em;
}
@function emRhythm($lines: $base-vertical-unit, $font-size: $font_size_base, $silent: false) {
	// @if is-int($lines)==false and $silent==false {
	// 	@warn #{$lines}+$not-integer-txt;
	// }

	@return (stripUnits($lines) * stripUnits($base-vertical-unit)) / (stripUnits($font-size) * stripUnits($font_size_base))+0em;
}
@mixin type-setting($level: 0) {
	font-size: #{type-scale($level)}em;
	line-height: line-height($level);
}
@mixin headings_style() {
	@for $i from 1 through 6 {
		h#{$i}{
			@include type-setting( (6 - $i) );
			font-family: $font_title;
			font-weight: 400;
			text-transform: uppercase;
			color: $color2;
			letter-spacing: 0.025em;
			margin-bottom: emRhythm(2, type-scale($i));
		}
	}
}

//
$fonts_path: '../fonts/';
$font_content: 'Sarabun', 'Helvetica', 'Arial', sans-serif;
$font_title: 'Sarabun', 'Helvetica', 'Arial', sans-serif;
$font_title_bold: 'Sarabun', 'Helvetica', 'Arial', sans-serif;
$font_size_base: 16px;
$font_scale_ratio: 1.2;
$base_line_height: $font_size_base * 1.378;
$base-vertical-unit: 12px;
$paragraph-spacing: false;
$font_button: 'Sarabun', 'Helvetica', 'Arial', sans-serif;
$font_header: 'Sarabun', 'Helvetica', 'Arial', sans-serif;

// multiplier * (ratio ^ step)
// 1 * (1.25 ^ 1) = 1.333
$type-scale: (
	-2: 1 * pow($font_scale_ratio, -2),
	-1: 1 * pow($font_scale_ratio, -1),
	0: 1,
	1: 1 * pow($font_scale_ratio, 1),
	2: 1 * pow($font_scale_ratio, 2),
	3: 1 * pow($font_scale_ratio, 3),
	4: 1 * pow($font_scale_ratio, 4),
	5: 1 * pow($font_scale_ratio, 5),
	6: 1 * pow($font_scale_ratio, 6)
);

$line-heights: (
	-1: $base_line_height,
	0: $base_line_height,
	1: $base_line_height,
	2: $base_line_height * 1.25,
	3: $base_line_height * 1.5,
	4: $base_line_height * 2,
	5: $base_line_height * 2,
	6: $base_line_height * 2
);
