$images_path: "../images/";

$color1: #e63976;
$color2: #37373e;
$color3: #898989;
$color4: #ededed;
$color5: #faf7f5;
$color6: #f6cdd3;
$color7: #b5a59c;
$color-gradient: linear-gradient(158.82deg, $color1 0%, #b4106c 100%);
$color-gradient-cover: linear-gradient(
  158deg,
  #ef7c40 0%,
  $color1 40%,
  #d91e6d 100%
);
$color-gradient-gray: linear-gradient(158.82deg, $color3 0%, $color2 100%);

$status-color-success: #1eb592;
$status-color-error: #e6575d; //lightcoral;
$status-color-warning: #ceb52b;
$status-color-warning--light: #f9efc0;
$color-warning: darken($status-color-warning, 15%);

$transition-delay: 300ms;

$layout-max-width: 72.5em;
$margin-base: 0.625em;
$border-radius: 0.1875em;
$main-menu-desktop-height: 50px;
$border-style: 1px solid lighten($color3, 30%);

$bp-mobile-sm: 20em;
$bp-mobile-m: 25em;
$bp-mobile-l: 30em;
$bp-tablet-sm: 35em;
$bp-tablet-m: 45.5em;
$bp-tablet-l: 56.26em;
$bp-desktop-sm: 60em;
$bp-desktop-m: 64em;
$bp-desktop-l: 80em;
