.cr__headerMobile-dropdown-categories {
  width: 100%;
  min-height: 200px;
  background-color: #ffffff;
  padding: 0 0 1em;
  position: absolute;
  z-index: 3;
  &-level1,
  &-level2,
  &-level3 {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-title {
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 1.75em;
    text-transform: none;
    margin: 0 0;
  }
  .border {
    border-bottom: 1px solid #dad8d6;
    margin: 0 0 0.35em;
  }
  &-title::after {
    content: '';
    background: url('../../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
    filter: brightness(0%);
    height: 22px;
    width: 20px;
    position: absolute;
    left: -1%;
    top: 15.45px;
    transform: rotate(180deg) scale(0.6);
    padding: 0 0 0 0.75em;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dad8d6;
    margin: 0 0 0.35em;
    a {
      margin: 0 1em 0 0;
    }
  }
  &-item,
  &-link {
    height: 36px;
    display: flex;
    padding: 0 0 0 17px;
    span {
      text-transform: capitalize;
    }
  }
  &-item::after {
    content: '';
    background: url('../../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
    filter: invert(1) grayscale(1);
    height: 22px;
    width: 20px;
    position: absolute;
    right: 4%;
    transform: scale(0.6);
    margin: 0.14em 0 0;
  }
  a {
    text-decoration: none;
  }
}
