.keywords-seo {
  padding: 6px 12px !important;
  margin: 10px !important;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.keywords-seo:hover {
  background-color: #e63976;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.keywords-seo:hover * {
  color: white !important;
}

.keywords-seo__container {
  margin: 0px 60px 60px 60px;
  padding: 20px;
  text-align: center;
}

.keywords-seo-tags__container * {
  letter-spacing: 0px !important;
}

.keywords-seo-tags__container * a {
  font-size: 18px !important;
  text-transform: lowercase !important;
  color: #e63976;
  line-height: 30px !important;
  text-decoration: none !important;
}

.keywords-seo-tags__container * h1,
.keywords-seo-tags__container * h2,
.keywords-seo-tags__container * h3,
.keywords-seo-tags__container * h4,
.keywords-seo-tags__container * h5,
.keywords-seo-tags__container * h6 {
  margin: 0px !important;
  line-height: 0px !important;
}

.title-seo {
  font-size: 26px;
  color: #e63976;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
/*# sourceMappingURL=Tags.css.map */
