.keywords-seo {
  padding: 6px 12px !important;
  margin: 10px !important;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  transition: all 0.5s;
  transform: scale(1);
  &:hover {
    background-color: #e63976;
    transform: scale(1.1);
    & * {
      color: white !important;
    }
  }
}

.keywords-seo__container {
  margin: 0px 60px 60px 60px;
  padding: 20px;
  text-align: center;
}

.keywords-seo-tags__container * {
  a {
    font-size: 18px !important;
    text-transform: lowercase !important;
    color: #e63976;
    line-height: 30px !important;
    text-decoration: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px !important;
    line-height: 0px !important;
  }
  letter-spacing: 0px !important;
}

.title-seo {
  font-size: 26px;
  color: #e63976;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
