.cr__national {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-left: 10px solid #f8db6a !important;
  border: 1px solid #ededed;
  min-height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--title {
    font-weight: 600;
  }
  &--subtitle {
    color: #494953;
    line-height: 1.5em;
  }
}
