/*----------------------------------------
// ATTRIBUTE COMPONENT
----------------------------------------*/
.attribute-component{
    position: relative;
    padding: $margin-base;
    border: solid 1px $color4;
    margin: $margin-base $margin-base 1em;
    background: #fff;

    &:last-child{
        margin-bottom: 0
    }

    /////////////////////////
    // ATTRIBUTES TYPE FORM
    .attribute-type{
        position: relative;
        margin-bottom: 1em;

        &__label{
            @include type-setting(0);
            margin-bottom: 0.125em;
        }
        &__attribute-types{
            font-size: 0.875em;
            font-family: $font_content;
            width: 100%;
        }

        &__delete{
            color: $status-color-error;
            position: absolute;
            padding: 0;
            top: 0.5em; right: $margin-base;
            border: none;
        }
    }


    /////////////////////////
    // ATTRIBUTES CONTAINER
    .attributes{
        margin-bottom: $margin-base;

        // ADD ATTRIBUTES FORM
        .addAtributtes{
            display: flex;
            flex-flow: row nowrap;

            // Form elements
            &__input{
                border-radius: $border-radius 0 0 0;
                transition: border-color 200ms ease;
                width: 100%;
                border: solid 1px $color4;
                padding: $margin-base;
                font-size: 0.875em;

                &:focus{
                    border-color: rgba($color3, 0.7);
                }
                &::placeholder{
                    color: darken($color4, 5%);
                }
            }
            &__button{
                flex: 0 0 auto;
                background: $color4;
                color: $color2;
                font-size: 0.875em;
                font-family: $font_content;
                border: solid 1px $color4;
                border-left: none;
                border-radius: 0 $border-radius 0 0;
            }
        }
        
        // ADD ATTRIBUTES FORM
        .attributes__list{
            border: solid 1px $color4;
            border-top: 0;
            border-radius: 0 0 $border-radius $border-radius;
            background: $color5;
            padding: $margin-base;
            
            // Single Attribute
            .attribute{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                padding: $margin-base;
                border: solid 1px $color4;
                border-top: none;
                background: #fff;

                &:first-child{
                    border-top: solid 1px $color4;
                }

                &__delete{
                    border-radius: 1px;
                    @include responsive-container(100%);
                    @include hide-text();
                    flex: 0 0 25px;
                    background: url($images_path+'icons/icon_delete.svg') no-repeat center;
                    background-size: 45%;
                }
            }
        }
    }

    /////////////////////////
    // PRICE MODIFIER
    .price-modifier{
        display: flex;
        flex-flow: row nowrap;

        // LABEL
        &__label{
            display: inline-block;
            font-family: $font_content;
            @include type-setting(-1);
            line-height: 1.325em;
            padding-left: 0.25em;
        }

        // CHECKBOX
        &__check{
            width: auto;
        }
    }
}



/*----------------------------------------
// ATTRIBUTE MANAGER
----------------------------------------*/
.attribute-manager{
    background: $color5;

    /////////////////////////
    // MANAGER ADD
    .manager-add{
        margin: 0.875em auto;
        text-align: center;

        &__button{
            border: none !important;
            padding: 0.325em 0.875em !important;
            color: $color1 !important;
            background: none;
            @include type-setting(0);
            font-family: $font_content;
        }
    }
}