/*----------------------------------------
// BOTTOM NAVIGATION
----------------------------------------*/
.controlNavBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $storeApp-controlnav-height;
    padding: $margin-base;
    background: $color1;
    z-index: 1;
    &__navigation {
        width: auto;
        display: flex;
        height: 100%; //align-items: flex-start;
        justify-content: center
    }
    &__item {
        cursor: pointer;
        border-radius: $border-radius;
        border: solid 1px rgba($color6, 0.32);
        color: $color6;
        font-size: #{(14/16)}em;
        line-height: 1.875em;
        text-align: center;
        padding: $margin-base/2 $margin-base;
        margin: 0 $margin-base;
        &--white {
            background: #fff;
            color: $color1;
        } // PUBLISH BUTTON
        &.publish {
            border: none;
            .status {
                position: relative;
                top: -0.65em;
                margin-right: 1em;
            }
            .switch {
                width: 6em;
                display: inline-block;
            }
        } // SAVE DRAFT BUTTON
        &.draft {
            &:after {
                display: none;
                content: ' Cambios';
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm) {
        &__navigation {
            width: calc(100% - #{$storeApp-menu-desktop-width});
        }
        &__item {
            &.draft {
                &:after {
                    display: inline-block;
                }
            }
        }
    }
    @media screen and (min-width: 42.5em) {
        &__navigation {
            align-items: center;
            justify-content: center;
        }
        &__item {
            &.publish {
                align-self: flex-start;
            }
        }
    }
}