/*----------------------------------------
// PRODUCT DETAIL
----------------------------------------*/
.productDetail {
  position: relative;
  .button-square--grey {
    cursor: pointer;
    text-align: center;
    border: solid 1px $color4 !important;
    text-decoration: none;
    height: 41px;
    width: 141px;
  }
  .errorForm {
    input, textarea {
      border-color: #cc3131 !important;
    }
  }
  .errorsWords {
    text-align: left;
    margin: 0 0 3em;
    li {
      margin: 0.5em 0 0 1.5em;
      list-style: disc;
    }
  }
  .sections {
    position: relative;

    &__select {
      width: inherit !important;
      margin: 0 1em 1em 0;
      min-width: 160px;
    }

    .category__select {
      height: 10em;
    }
  }
  .detail {
    margin-top: 0.25em;
  }
  .sectionTitle {
    font-weight: 500;
  }
  .bold {
    font-weight: bold;
  }
  .cr__addCategory {
    &--buttons {
      border-top: 1px solid #dad8d6;
      border-bottom: 1px solid #dad8d6;
    }
  }
  .cr__addInterest {
    &--buttons {
      border-top: 1px solid #dad8d6;
    }
    &--buttons:last-child {
      border-bottom: 1px solid #dad8d6;
    }
  }
  .cr__addCategory,
  .cr__addInterest {
    &--add {
      // border-bottom: 1px solid #dad8d6;
      button {
        margin-bottom: 1em;
      }
    }
    &--buttons {
      display: flex;
      justify-content: space-between;
      p {
        margin: 0;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          margin: 0 0.25em 0.25em 0;
        }
      }
      &--tree {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 1em 0 0;
        padding: 0.75em 0;
      }
      &--icons {
        display: flex;
        cursor: pointer;
        &--uiicon {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
    .edit {
      cursor: pointer;
      @include responsive-container(100%);
      @include hide-text();
      width: 1rem;
      position: relative;
      margin-right: 0.5em;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url($images_path + 'icons/icon_edit.svg');
      }
    }
    .ui-icon {
      height: 17px;
    }
  }
}
