//////////////////////////
// Product Detail
#description {
    height: 180px;
}
.form--boxed{
    //////////////////////////
    // MEDIA QUERIES
    @media screen and (min-width: $bp-desktop-sm){
        .form__data{
            display: flex;
            align-items: flex-start;

            &-name input{
                align-self: center
            }
        }
        .field_details{
            flex: 0 0 37.5%;
            margin-right: $margin-base;
        }
        .form__helpIcon{
            display: none;
        }
    }

    //////////////////////////
    // Product Stock & Price
    .form__data-attributes{
        display: block;
    }

    //////////////////////////
    // Submit
    .form__data-submit{
        text-align: center;
        input{
            width: auto;
            margin: auto;
        }
    }
}
//////////////////////////
// Product Detail
#description{height: 180px;}