/*----------------------------------------
// GALLERY CONTAINER
----------------------------------------*/
.gallery_module{
    .preloader{
        margin-bottom: 1.5rem;
    }
    .ui-detailed-block__content{
        padding-bottom: 0;
        transition: 0.3s;
    }

    //////////////////////////
    // FILE UPLOAD
    .cr__loaderContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .newfileUpload{
        min-height: 272px;
      }
    .activeDrag {
        border: 2px dashed #E63976;
        // transform: scale(1.2);
        transition: 0.3s;
    }
    .form__data-fileUpload {
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        input {
            display: none;
        }
        label {
            text-align: center;
            // width: 150px;
            // margin: auto;
            display: block;
            &:before {
                @extend .icon_oval-add;
                width: 50px;
                height: 50px;
                padding: 0;
                margin: auto;
            }
        }
        span {
            margin-top: 0.5em;
        }
    }
    .cr__galleryContainer{
        width: 100%;
        margin-top: 1.5em;
        ul { 
        width: 100%;
        }
    }
    .gallery {
        position: relative;
        // margin: 0 #{-$margin-base};
        ////////////////
        // THUMBNAILS
        .thumbnail {
            //$thumbnail-margin: $ma;
            position: relative;
            @include responsive-container(100%);
            overflow: hidden;
            margin: 0 $margin-base $margin-base;
            //border: solid 0.5em transparent;
            //border-top: none;
            //border-bottom: none;
            width: calc(50% - #{$margin-base*2});
            display: inline-block;
            cursor: pointer; 
            border-radius: 3px;
            &:first-child{
                border: $color1 4px solid;
                position: relative;
                border-radius: 3px;
                .note_img-primary{
                    display: block;
                }
            }
            .note_img-primary{
                display: none;
                position: absolute;
                z-index: 1;
                top: -6%;
                color: #ffffff;
                background: $color1;
                width: max-content;
                padding: .3em $margin-base/1.5;
            }

            // Hover
            &:hover {
                .thumbnail__icons {
                    display: block;
                    opacity: 1
                }
            } // Button Icons (delete, etc..)
            &__icons {
                position: absolute;
                opacity: 1;
                display: none;
                top: 5px;
                right: 5px;
                z-index: 1;
            } // Images
            img {
                @include center-content(50%, 50%);
                border-radius: 3px;
                width: 101% !important;
            }
        } 
        .ui-icon {
            width: 22.24px !important;
        }
    }// MEDIA QUERIES
@media screen and (min-width: 22.5em) {
    .gallery{
        .thumbnail {
            width: calc(33.333% - #{$margin-base*2});
            height: 97%;
        }
    } 
}
// @media screen and (min-width: $bp-desktop-sm) {
//     .gallery{
//         .thumbnail{
//             width: calc(25% - #{$margin-base*2});
//         } 
//     }
// }
// @media screen and (min-width: $bp-desktop-m) {
//     .gallery{
//         .thumbnail{
//             width: calc(20% - #{$margin-base*2});
//         }   
//     }  
// }
}
