/*----------------------------------------
// PRODUCTS LIST
----------------------------------------*/
.products__view {
  .pagination {
    justify-content: flex-start;
    .button {
      font-size: 1.2em;
    }
  }
  .withoutStock {
    border-color: #e76e6e !important;
  }
  .product {
    &__image {
      position: relative;
      display: block;
      a {
        display: block;
        overflow: hidden;
        @include responsive-container(percentage(157/193));
        width: 100%;
        min-height: 185px;
        @include background__product--update2020();
        background-size: cover;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      img {
        @include responsive-image();
        @include center-content(50%, 50%);
      }
    }
    &__info {
      flex: 1;
      // TITLE
      .name {
        margin-bottom: 0.25em;
        text-decoration: none;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .price {
        margin-bottom: 0.25em;
        span {
          font-weight: 600;
        }
      }
      .stock_quantity {
        margin-bottom: 0.4em;
      }
      .detail {
        color: $color2;
        .strong {
          font-weight: 600;
        }
        .quantity {
          &.without-stock {
            background: lighten($status-color-error, 25%);
            color: $status-color-error;
            padding: 0.1em 0.2em;
          }
          &.warning {
            color: darken(#f2d250, 25%);
            padding: 0.1em 0.2em;
            border: 0;
          }
        }
      }
      .aditional__detail {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 0.25em;
        p {
          margin: 0;
        }
      }
      .status_link {
        text-decoration: none;
        // position: relative;
        // &:before {
        //   content: '';
        //   position: absolute;
        //   display: block;
        //   top: 4px;
        //   left: -25px;
        //   width: 20px;
        //   height: 20px;
        //   background: url($images_path + 'icons/icon_view.svg') no-repeat;
        // }
      }
      .status_inactive {
        position: relative;
        color: $color3;
        padding-left: $margin-base * 2.5;
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 3px;
          left: 0;
          width: 20px;
          height: 20px;
          background: url($images_path + 'icons/icon_noview.svg') no-repeat;
        }
      }
      .status {
        border-radius: 3em;
        color: $color3;
      }
      .national-shipping {
        // @include hide-text;
        // position: relative;
        // margin: 0;
        // &:before {
        //   content: '';
        //   position: absolute;
        //   display: block;
        //   top: 0;
        //   right: 0;
        //   width: 16px;
        //   height: 16px;
        //   background: url($images_path + 'icons/schedules/icon_standard.svg')
        //     no-repeat;
        // }
      }
    }
  }
}
.products__view--list {
  margin-bottom: 1em;
  padding: $margin-base;

  // PRODUCT
  .product {
    position: relative;
    text-decoration: none;
    width: 100%;
    margin: 0 0 $margin-base;
    padding: 0 0 $margin-base;
    border-bottom: $border-style;

    &__wrapper {
      display: flex;
      background: none;
      border: none;
      border-radius: 0.1875em;
    }

    // HOVER STYLES
    &:hover {
      backface-visibility: none;
      .product__actions {
        display: block;
        position: absolute;
        right: 0;
      }
    }

    //Image
    &__image {
      max-width: 4em;
      margin: 0 0.6em 0 0;
      flex: 1;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    // Info
    &__info {
      position: relative;
      color: $color3;
      display: flex;
      justify-content: space-between;

      .name {
        flex: 0 0 50%;
      }
      .detail {
        flex: 0 0 40%;
      }
      .product__actions {
        display: none;
      }
      .aditional__detail {
        display: initial;
      }
      .status_link {
        position: absolute;
        bottom: -5px;
        left: $margin-base * 2;
        color: $color1;
      }
      .national-shipping {
        position: absolute;
        bottom: 13px;
        margin: 0;
      }
      .status_inactive {
        position: absolute;
        bottom: -5px;
        left: 0;
      }
      .status {
        position: absolute;
        bottom: -5px;
        left: 0;
        font-weight: bold;
      }
    }
  }
  /////////////////////////////
  // MEDIA QUERIES
  /////////////////////////////
  @media screen and (min-width: $bp-mobile-l) {
    .product__info {
      .detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    .product__image {
      margin: 0 $margin-base * 2 0 0;
    }
  }
}

/*----------------------------------------
// PRODUCTS CARDS
----------------------------------------*/
.products__view--cards {
  display: flex;
  flex-wrap: wrap;
  .pagination {
    width: 100%;
    margin: 0 auto;
  }
  // PRODUCT ITEM
  .product {
    width: 100%;
    border: solid 1px $color4;
    padding: 0;
    border-radius: $border-radius;
    position: relative;
    margin-bottom: $margin-base;
    // WRAPPER
    &__wrapper {
      height: 100%;
      background: #ffffff;
      // &:hover { background: $color5; }
    }

    // HOVER STYLES
    &:hover {
      backface-visibility: none;
      .product__actions {
        display: flex;
      }
    }

    // PRODUCT STATUS (PUBLISHED/ERROR/ETC...)
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 25px $margin-base 0 0;
      background: $status-color-warning;
    }
    &--published &:before {
      background: $status-color-success;
    }
    &--error &:before {
      background: $status-color-error;
    }

    ///////////////////////
    // PRODUCT INFORMATION
    &__info {
      margin: $margin-base;
      .detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 $margin-base;
      }
      //   .status_link {
      //     color: $color1;
      //     text-decoration: underline;
      //     margin: 0 0 0 $margin-base * 2;
      //   }
    }

    //////////////////////////////////////////////////
    // PRODUCT ACTIONS (DELETE/MOVE/PUBLISH/ETC...)
    &__actions {
      display: none;
      position: absolute;
      align-items: flex-start;
      top: 5px;
      right: 5px;
      padding: 0;
      height: auto;
      width: auto;
      .button {
        cursor: pointer;
        width: 22px;
      }
    }
  }

  /////////////////////////////
  // MEDIA QUERIES
  /////////////////////////////
  @media screen and (min-width: $bp-mobile-m) {
    .product {
      width: calc(50% - #{$margin-base * 2});
      margin: 0 $margin-base #{$margin-base * 2};
    }
  }
  @media screen and (min-width: $bp-tablet-sm) {
    .product {
      //width: 100%;
      //margin: 0 auto #{$margin-base*2};
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    .product {
      width: calc(50% - #{$margin-base * 2});
      margin: 0 $margin-base #{$margin-base * 2};
    }
  }
  @media screen and (min-width: $bp-tablet-l) {
    .product {
      width: calc(33.333% - #{$margin-base * 2});
    }
  }
  @media screen and (min-width: $bp-desktop-l) {
    .product {
      width: calc(25% - #{$margin-base * 2});
    }
  }
}
