/*----------------------------------------
// STOCK AND PRICES
----------------------------------------*/
.shipping{
    position: relative;

    .productSizes, .productShipping, .productPerishable{
        border: $border-style;
        padding: $margin-base;
    }

    .field_details{
        .title{font-weight: bold; color: $color3;}
    }
    //////////////////////////
    // PRODUCT SIZES
    .productSizes{
        position: relative;
        .form__data{
            display: flex;
            align-items: center;
            border-bottom: solid 1px $color4;
            padding: $margin-base;
            border-radius: $border-radius;
            label{
                margin:0 $margin-base/2 0 $margin-base*3;
                &:before {
                    content: '';
                    left: 10px;
                    position: absolute;
                    background: url($images_path+'icons/product/icon_weight.svg') no-repeat center;
                    width: 20px;height: 20px;
                    opacity: .7;
                }
            }
            .field_weight{width: 30%;}
            span{ margin-left: $margin-base/2;}
        }
    } 
    
    //////////////////////////
    // SHIPPING METHODS
    .productShipping{
        position: relative;
        // Radio Buttons
        .radio-icons {
            &:before {
                left: 37%;
            }
            &:after {
                display: none;
            }
        }
    }

    // .shipping-sizes {
    //     .radio-icons{
    //         margin: 1em 0 0;
    //     }
    // }

    .perishable{
        position: relative;
        .radio-icons{
            // margin: 0 0 1em;
            &:before {
                left: 50%;
            }
            &:after {
                display: none;
            }
        }
        .fragile_container{
            border-top: solid 1px $color4;
            padding: $margin-base $margin-base 0;
            border-radius: $border-radius;
            position: relative;
            margin-top: $margin-base;
            .button-option{
                width: max-content;
                padding: $margin-base/2 $margin-base*2;
                .button-tag{display: none;}
                .fragile{ padding: 0 0 0 $margin-base*2;}
                &:before {
                    content: '';
                    left: 23px;
                    background: url($images_path+'/icons/product/icon_fragile.svg') center no-repeat;
                    position: absolute;
                    background-size: contain;
                    width: 23px;
                    height: 23px;
                }
                &.active{
                    .fragile{color: #ffff;}
                    &:before{
                        background-image: url($images_path+'/icons/schedules/icon_schedule_day-active.svg');
                    }
                }
            }
        }
    }

    .shipping-method{
        // input[type=checkbox]{display: none;}
        &_container{
            width: 35%;
            .method{
                &:before  {
                    content: '';
                    display: block;
                    position: relative;
                    width: 40px;
                    height: 39px;
                    @include center-content(50%, 0);
                    background-size: cover;
                    transition: all 120ms ease-in-out;
                }
                &.express:before{
                    background: url($images_path+'icons/product/icon_item-express.svg') no-repeat top center;
                    background-size: cover;
                }
                &.standard:before{
                    background: url($images_path+'icons/product/icon_item-standard.svg') no-repeat top center;
                    background-size: cover;
                }
                &.standard{
                    .button-option{
                        border: none;
                        list-style: none;
                        margin: auto;
                        .button-tag{
                            cursor: text;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .radio-icons{
            margin-top: 1em;
            &:first-child{margin: 0;}
        }
        .radio-icons__container{
            display: flex;
            justify-content: center;
            flex: 50%;
        }  
        .shipping{
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin: 0.5em;
         .form-switch{
          max-width: 70px;
          margin: 0 0.5em 0 0;
          cursor: pointer;
         }           
        }
        .options-container{
            margin: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .items{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0.5em;
                width: 100%;              
            }
            .preloader{
             margin-top: auto;
             margin-bottom: auto;
            }
            //Shipping Express Methods Switch\\   
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 28px;
                margin: 0.25em 0.25em 0;
              }
              .switch input { 
                opacity: 0;
                width: 0;
                height: 0;
              }
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;
              }
              .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
              }
              input:checked + .slider {
                background-color: #1eb592;
              }
              input:focus + .slider {
                box-shadow: 0 0 1px #1eb592;
              }
              input:checked + .slider:before {
                transform: translateX(30px);
              }
              .slider.round {
                border-radius: 28px;
              }
              .slider.round:before {
                border-radius: 50%;
              }
            //////////////////////////
            //BUTTON WHIT ICON
            //////////////////////////
            .button-option{
                margin: $margin-base; 
                position: relative;
                width: 100%;
                .form__helpIcon{
                    right: -1em;
                    top: 0;
                }
                .button-tag{
                    position: relative;
                    margin: $margin-base;
                    &:before {
                        content: '';
                        left:0;
                        position: absolute;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 23px;
                        height: 23px;
                    };
                    &.express-moto:before{
                        background-image: url($images_path+'icons/product/icon_express_moto.svg');
                    }
                    &.express-car:before{
                        background-image: url($images_path+'icons/product/icon_express_car.svg'); 
                    }
                    
                }
                &.active{
                    .button-tag:before{
                        background-image: url($images_path+'icons/schedules/icon_schedule_day-active.svg');
                    }
                }
                // &.express_moto{
                //     padding: $margin-base;
                //     label:before {
                //         background-image: url($images_path+'icon_express_moto.svg');
                //     }
                // }
                // &.express_car{
                //     padding: $margin-base;
                //     label:before{
                //         background-image: url($images_path+'icon_express_car.svg');
                        
                //     }
                // }
                // &.active{
                //     label:before{
                //         background-image: url($images_path+'icon_schedule_day-active.svg');
                //     }
                // }
            }
        } 
        .note_container{
            margin: auto;
            padding: $margin-base;
            font-size: .8em;
            width: 50%;
            color: $color1;
            .download{color: $color3;}
            a{
                text-decoration: none;
                color: $color1;
                font-weight: bold;
            }
        }
    }
    
    //////////////////////////
    // RADIO BUTTONS
    //////////////////////////
    .radio-icons {
        position: relative;
        display: flex;
        padding: ($margin-base*2) $margin-base $margin-base;
        width: 100%;
        //border: solid 1px $color4;
        border-radius: $border-radius;
        text-align: center;
        background: #fff;
        &.standard{
            border-top: 1px solid $color4;
        }
        // Separators
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: calc(100% - #{$margin-base*2});
            width: 1px;
            left: 33.333%;
            top: $margin-base;
            background: rgba($color4, .5);
        }
        &:after {
            left: 66.666%;
        }
       
        // Disabled Field
        &--disabled {
            //color: $color4;
            //.label{ color: $color2}
        }
        // INDIVIDUAL SIZE
        &__container {
            width: 100%;
            position: relative;

            // Label
            .label {
                @include type-setting(0);
                display: inline-block;
                width: 100%;
                height: 100%;
                position: relative;
                margin-bottom: 0;
                cursor: pointer;
                transition: color 120ms;
                line-height: 1em;
            }

            // Size info
            .info {
                display: block;
                @include type-setting(-1);
                color: $color3;
            }

            input[type=radio].dots:checked+label.dot{ background-image: none;}
            label.dot{background-image: none;}
            
            // Radio Buttons
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            // Background Image
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                display: block;
                position: relative;
                margin-bottom: 0.5em;
                width: 40px;
                height: 39px;
                @include center-content(50%, 0);
                background: url($images_path+'icons/product/icon_item-medium.svg') no-repeat top center;
                background-size: cover;
                transition: all 120ms ease-in-out;
            }

            #type_perishable_chk:checked+label:before,
            #type_perishable_chk:not(:checked)+label:before{
                background: url($images_path+'icons/product/icon_item-perishable.svg') no-repeat top center;
                background-size: cover;
            }
            
            #type_noPerishable_chk:checked+label:before,
            #type_noPerishable_chk:not(:checked)+label:before{
                background: url($images_path+'icons/product/icon_item-nonperishable.svg') no-repeat top center;
                background-size: cover;
            }

            #type_xs_chk:checked+label:before,
            #type_xs_chk:not(:checked)+label:before{
                background: url($images_path+'icons/product/icon_item-small.svg') no-repeat top center;
                background-size: cover;
            }

            #type_m_chk:checked+label:before,
            #type_m_chk:not(:checked)+label:before{
                background: url($images_path+'icons/product/icon_item-large.svg') no-repeat top center;
                background-size: cover;
            }

            #express:checked+label:before,
            #express:not(:checked)+label:before{
                background: url($images_path+'icons/product/icon_item-express.svg') no-repeat top center;
                background-size: cover;
            }

            #type_perishable_chk:checked, 
            #type_noPerishable_chk:checked,
            #express:checked,
            #type_xs_chk:checked,
            #type_m_chk:checked{
                &+label:before {
                    background-position: bottom center;
                    color: $color1;
                }
            }

            // Checked Status
            [type="radio"]:checked{
                &+label {
                    color: $color1;
                }
                &+label:before {
                    background-position: bottom center;
                    color: $color1;
                }
            }
        }
    }


    @import '../../utils/selectBox-checkBox';
    .ui-checkbox-list{margin: 1em auto auto $margin-base*3;}
    .schedules-list{
        margin: 1em 0 1em $margin-base*3;
        .schedules_info{ color: $color3;}
    }
}