/*----------------------------------------
// STOCK AND PRICES
----------------------------------------*/
.productStock{
    position: relative;

    //fieldset:first-child{border-bottom: $border-style; padding-bottom: $margin-base*2;}
    
    .detail_txt{position: relative;}

    ////////////////////////////////////
    // PRODUCT TYPES (HECHO BAJO PEDIDO / PRODUCTO CON INVENTARIO)

    .product-type{
        .form__data{
            label{
                flex: 0 0 40%;
                .note{ display: block;}
            }
            input{width: 100px;}
            .txt{margin-left: $margin-base}
            .note{
                flex: 0 0 47%;
                color: $color3;
                @include type-setting(-1);
            }
        }
        input[type=radio].dots:checked+label.dot{
            color: $color1; font-weight: bold;
        }
        .product-type__option{
            .option{
              border-bottom: $border-style;  
              margin: 0 0 $margin-base;
              padding: 0 0 $margin-base;
                &:last-child{border: none; margin: 0; padding: 0;}
                &_detail{
                    padding:0 $margin-base*2;
                }
            }
        }
    }
   
    .variations-list{
        position: relative;
        margin-top: 1em;
        overflow: hidden;
        overflow-x: auto;

        &__table{
            position: relative;
            //margin-bottom: 1em;
            width: auto;
            min-width: auto;
            // border: solid 1px $color4;
            border-radius: $border-radius;
        }
        &__item{
            display: flex;
            flex-flow: row nowrap;
            padding: $margin-base;
            border-bottom: solid 1px $color4;
            color: $color3;

            &:first-child{
                border-top: none;
            }
            &:last-child{
                border-bottom: none;
            }
            &:nth-child(odd){
                background: $color5;
            }

            .name{
                flex: 0 0 70px;
                margin-right: $margin-base;
            }
            .price,
            .quantity{
                flex: 0 0 80px;
                margin-right: $margin-base
            }
            .visible{
                // align-self: flex-end;
                // flex: 0 0 60px;
                // text-align: right;
            }
            .withoutStock {
                input {
                    color: #cc3131 !important;
                }
            }
            .withoutStock{
                color: #cc3131 !important;
            }
        }
        &--headers{
            color: $color2;
        }
    }



    /////////////////////
    // FORM DATA
    .form__data{
        &-attributes{
            margin-top: 1em;
        }
        &--quantity, &--prepare, &#price{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: auto;
            label{margin-right: $margin-base*2;}
            // span{margin-left: $margin-base;}
            // input, #price_txt{width: 100px;}
            .form__data{width: auto;}
        }
        &--prepare,  &--quantity{
            margin: $margin-base 0;
        }
    }

    @media screen and (min-width: $bp-tablet-l){
        .product-type{
            .form__data{
                label{ flex: 0 0 45%;}  
            }
        }
    }
}