body {
  background-color: #faf9f8;
}

.hide {
  display: none;
}

.improvements-logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.improvements-root-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: center;
}

.improvements-container {
  margin-top: 60px;
  border: 1px solid #d6d6d6;
  width: 80%;
  margin: 60 center !important;
  display: inline-block;
  text-align: left;
  background-color: white;
}

.logo {
  width: 200px;
}

.improvements-title {
  background: #37373e;
  display: flex;
  font-size: 100%;
  font-weight: 700;
  color: white;
  justify-items: center;
}

.improvements-text-title {
  font-size: 22px;
  padding: 20px;
}

.improvements-components {
  margin: 30px;
}

.improvements-component-include {
  border-top: 1px solid grey;
  margin-top: 10px;
  padding-top: 10px;
}

.improvements-component-title {
  font-size: 100%;
  font-weight: 700;
}

.improvements-info-title {
  margin: 30px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 15px;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

.imgLogo {
  width: 200px;
}

.improvements-component-include {
  // .billing__form-address {
  //     display: flex;
  // }
  // .form__data-street{
  //  flex: 0 0 60%;
  // }
  // .address_content{
  //     display: flex;
  //     align-items: flex-end;

  #interior_number,
  #postal_code {
    margin-bottom: 0.65em;
  }
  select {
    height: 40px;
  }

  // }
}
