.guest-login {
  padding: 0.6em 1.2em;
  border: 1px solid #e43271;
  border-radius: 0.1875em;
  background: #e63976
    linear-gradient(
      180deg,
      #e63976 0%,
      rgba(229, 56, 118, 0.5) 30%,
      rgba(180, 16, 108, 0.5) 100%
    );
  font-size: 1.125em;
  font-family: 'Sarabun', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  color: white;
}
.modalLogin-guest {
  margin-bottom: 30px;
  text-align: left;
  p {
    margin-bottom: 20px;
  }
  .guest-login {
    cursor: pointer;
  }
}
