.storesPage {
  padding: 0;
  @import '../search/storesList';
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  .title {
    text-align: center;
    margin: $margin-base auto;
    @include type-setting(3);
  }

  &-list {
    // background: $color5;
    padding: $margin-base * 1 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 1200px) {
    width: 600px;
  }
  @media screen and (max-width: 767px) {
    max-width: 767px;
    width: 100%;
    padding: 0.5em 1em;
    overflow: hidden;
    .cr__stores-title {
      margin-top: 0.5em !important;
      padding-bottom: 0.5em;
    }
  }
  .cr__stores {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3.25em;
    h1,
    h2,
    h3 {
      text-transform: none;
      text-align: left;
    }
    h3 {
      margin-bottom: 0;
    }
    &-title {
      margin-top: 1.5em;
      font-weight: 500;
      text-transform: none;
      margin-bottom: 0;
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
    }
    &-item {
      height: 255px;
      border-radius: 3px;
      box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.1);
      border: 1px solid rgba(118, 118, 118, 0.1);
      a {
        text-decoration: none;
      }
      &-a {
        height: 156px;
        img {
          height: 156px;
          width: 388px;
          object-fit: cover;
        }
      }
      &-b {
        display: flex;
        align-items: center;
        height: 98px;
        .cr__container-logo {
          padding: 10px;
          img {
            height: 60px;
            width: 60px;
            border: 1px solid #ededed;
          }
        }
        .cr__container-name {
          margin: 10px 0.25em 0 0;
          h2 {
            margin-bottom: 0;
          }
        }
      }
    }
    &-item:hover {
      box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.5);
      transition: 300ms;
    }
    @media screen and (min-width: 767px) and (max-width: 1200px) {
      max-width: 600px;
      overflow: hidden;
      &-title {
        margin-left: 0.1em;
      }
      &-list {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
      }
      &-item {
        width: 287.27px;
        height: 210px;
        margin: 0.25em;
        &-a {
          height: 114.39px;
          img {
            height: 114.39px;
            width: 287.27px;
          }
        }
        &-b {
          display: flex;
          align-items: flex-start;
          .cr__container-logo {
            padding: 13px 13px 13px 13px;
            img {
              height: 40px;
              width: 40px;
              border: 1px solid #ededed;
            }
          }
        }
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 767px;
      width: 100%;
      overflow: hidden;
      margin: 0;
      &-list {
        margin: 0;
        display: inline-block;
        overflow: hidden;
      }
      &-item {
        height: 210px;
        margin-bottom: 1em;
        &-a {
          height: 114.39px;
          img {
            width: 100%;
            height: 114.39px;
          }
        }
        &-b {
          display: flex;
          align-items: flex-start;
          .cr__container-logo {
            padding: 13px 13px 13px 13px;
            img {
              height: 60px;
              width: 60px;
              border: 1px solid #ededed;
            }
          }
        }
      }
    }
  }
}
