// Countdown
.cr__countdown {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0.35em 0.1em 0.15em 0.1em;
  div {
    text-align: center;
    padding: 0.5em;
    border: 2px solid #e67787;
    border-radius: 10px;
    margin: 0.25em;
    // width: 100%;
    // max-width: 100px;
    width: 90px;
  }
  p {
    margin: 0 0;
  }
  h6 {
    margin-top: 0.3em;
  }
  .cr__icon--clock {
    margin-left: 0.6em;
  }
}
