.cr__header-mainHeader {
  width: 100%;
  height: 55px;
  background: #21212c;
  display: flex;
  &-logo {
    margin: 12px 1em 8.5px 1em;
    display: block;
    a {
      background: url('../../images/logo_horizontal.svg') no-repeat;
      display: block;
      height: 38.5px;
      width: 196px;
    }
  }
  &-myAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1em;
    min-width: 105px;
    width: auto;
    padding-right: 1em;
    // border-right: 1px solid lightgrey;
    cursor: pointer;
    &-title {
      font-weight: 600 !important;
    }
    &-icon {
      filter: invert(1) grayscale(100%);
      background-size: contain;
      height: 10px;
      width: 10px;
      margin-left: 0.5em;
      margin-top: 0.25em;
      transition: 0.3s;
    }
  }
  .dropdownOpen {
    transform: rotateZ(180deg);
  }
  &-separator {
    border-right: 1px solid #b7b7b7;
    margin-right: 1em;
    height: 24.5px;
    margin-top: 1em;
  }
  &-cart {
    margin: 0 1em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: auto;
    position: relative;
    &-containerIcon {
      display: flex;
      position: relative;
    }
    &-cartCounter {
      border-radius: 50%;
      background-color: #db3a78;
      height: 17px;
      width: 17px;
      position: absolute;
      padding: 0.115em 0.35em;
      left: 20px;
      top: -4px;
      z-index: 1;
    }
    &-icon {
      filter: brightness(6);
      background-size: contain;
      height: 27.43px;
      width: 30px;
      margin-right: 0.25em;
      position: absolute;
      transition: 0.3s;
    }
    &-icon:hover {
      transform: scale(1.2);
    }
    &-title {
      font-weight: 600 !important;
      margin: 0.25em 0 0 2.8em;
      display: table;
    }
    a {
      text-decoration: none;
    }
  }
  // *:focus{
  //   border: 1px solid #db3a78;
  //   border-radius: 5px;
  // }
}
