.cr__plans__modalBox {
  //Welcome Modal Box
  &-welcome {
    background-color: #ffffff;
    width: 100%;
    height: 342px;
    margin: 0 auto;
    padding: 2em;
    position: relative;
    overflow: hidden;
    //Figures
    &-lu {
      position: absolute;
      top: 16%;
      left: 13%;
      height: 161.74px;
      width: 180.66px;
      transform: scale(1.7);
    }
    &-ld {
      position: absolute;
      bottom: -7%;
      left: -13%;
      height: 196.11px;
      width: 191.11px;
      transform: rotate(58deg);
    }
    &-text {
      margin: 0 auto;
      width: 100%;
      max-width: 390px;
      padding-top: 2em;
      &-title {
        margin-bottom: 0.15em;
        font-weight: 900 !important;
      }
      &-paragraph {
        text-align: center;
        margin: 1em 0;
        display: block;
        font-weight: 100 !important;
      }
      &-button {
        cursor: pointer;
        color: #37373e !important;
        font-weight: bold !important;
        display: block;
        margin-top: -1em;
        z-index: 3;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
      }
    }
    &-rd {
      position: absolute;
      bottom: -5%;
      right: -5%;
      height: 193.31px;
      width: 316.84px;
      z-index: 2;
      transform: rotate(-4deg);
    }
    &-rd2 {
      position: absolute;
      bottom: -13.5%;
      right: -1%;
      height: 221.31px;
      width: 536.84px;
      z-index: 1;
      transform: rotate(1deg);
    }
    &-rd3 {
      position: absolute;
      bottom: -4%;
      right: -1%;
      height: 221.31px;
      width: 600.84px;
      z-index: 0;
      transform: rotate(1deg);
      opacity: 0.1;
    }
  }
  //Stripe Modal Box
  &-stripe {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      border-bottom: 1px solid #dad8d6;
      &-x {
        cursor: pointer;
        translate: 0.3s;
        color: #b7b7b7;
      }
      &-x:hover {
        color: #494953;
      }
    }
    &-buttons {
      display: flex;
      justify-content: flex-end;
      padding: 1em 1em;
      margin-right: 1em;
      border-top: 1px solid #dad8d6;
      position: absolute;
      bottom: 0%;
      width: 100%;
      margin-left: -1em;
      &-cancel {
        margin-right: 0.5em;
        height: 34px;
        width: 93px;
        border: 1px solid #dad8d6;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
          0 1px 0 0 rgba(0, 0, 0, 0.09);
        transition: 0.3s;
      }
      &-cancel:hover {
        color: #e63976;
      }

      &-add {
        height: 35px;
        width: 137px;
        border: 1px solid #c72a60;
        border-radius: 3px;
        background-color: #e63976;
        box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
          0 1px 0 0 rgba(0, 0, 0, 0.09);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
      }
      &-add:hover {
        color: #e63976;
        background-color: #ffffff;
        border-color: #e63976;
      }
    }
    &-error {
      margin: 1em 1em 0.5em;
      border-top: 5px solid #f8db6a;
      background-color: #f8efc0;
      min-height: 57px;
      height: 100%;
      border-radius: 3px;
      p {
        margin: 1em 2em;
      }
    }
    &-form {
      margin: 0.5em 1em;
      min-height: 250px;
      height: 100%;
      display: inline-flex;
      form {
        width: 100%;
      }
      label {
        display: flex;
        margin-bottom: 0.75em;
      }
      .borderError {
        border-color: #fa755a !important;
      }
      .cardElement {
        border: 1px solid;
        border-color: #b7b7b7;
        padding: 0.5em;
        border-radius: 2px;
      }
      &-cardNumberContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
      }
      &-expiryCvcContainer {
        display: flex;
        width: 100%;
        max-width: 480px;
        margin-top: 0.5em;
      }
      &-expiryContainer {
        margin-right: 1em;
        width: 50%;
      }
      &-cvcContainer {
        width: 50%;
      }
    }
  }
}
