html {
  scroll-behavior: smooth;
}
.cr__plansManager {
  margin: 0 auto;
  width: 100%;
  padding: 2em 10%;
  .mainBorder {
    border-bottom: 1px solid #b7b7b7;
  }
  .border {
    border-bottom: 1px solid #dad8d6;
  }
  &-title {
    margin-bottom: 0.75em !important;
    text-transform: none;
    font-weight: 900 !important;
    line-height: 1.05em !important;
  }
  &-tabs {
    display: flex;
    justify-content: start;
    &-list {
      display: inherit;
      width: 100%;
      &-item {
        margin: 0 1em 0 0;
        padding-bottom: 0.35em;
        cursor: pointer;
      }
      .activeTab {
        border-bottom: 4px solid #00707c;
        width: 75px;
        text-align: center;
        transition: transform 0.3s;
      }
    }
  }
  &-mainTab {
    &-paymentStatus {
      height: 58px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
    }
    .paymentError {
      border-top: 5px solid #f8db6a;
      background-color: #f8efc0;
    }
    .paymentSuccess {
      border-top: 5px solid #9ebe69;
      background-color: #eef8e0;
      color: $color2;
    }
    &-section {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2em;
      padding-bottom: 0.75em;
      p {
        margin: 1em 0;
        max-width: 350px;
        width: 100%;
      }
    }
    &-content {
      max-width: 527px;
      width: 100%;
      &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        &-list:nth-child(1) {
          margin-top: 0;
        }
        &-list {
          margin-top: 1em;
          padding-bottom: 1em;
          display: flex;
          justify-content: space-between;
        }
        span {
          margin: 0 0.25em;
        }
        .underline {
          text-decoration: underline;
        }
      }
      &-title {
        margin-bottom: 1em;
      }
      &-addPayment {
        margin: 1em 0.5em 1em;
        a {
          cursor: pointer;
        }
      }
      &-paypal {
        margin: 0.5em 0;
        padding-top: 1em;
        border-top: 1px solid #dad8d6;
        cursor: pointer;
        img {
          height: 20px;
          width: 30px;
          margin: 0 1em;
          position: relative;
          top: 3px;
        }
        label {
          cursor: pointer;
        }
      }
      &-cardList {
        margin: 0.5em 0;
        display: flex;
        &-input {
          margin-top: 6.5px;
        }
        label {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          width: 100%;
          position: relative;
          margin-left: 1em;
          .cr__cardProvider-icon {
            width: 30px;
            height: 20px;
            position: relative;
            top: 3px;
            margin-right: 1em;
          }
        }
        &-exp {
          margin-top: 3px;
          .cr__icon--trash {
            width: 30px;
            height: 20px;
            margin-left: 1em;
            cursor: pointer;
          }
        }
      }
      &-subscribe {
        padding-top: 1em;
        margin: 1em 0;
        border-top: 1px solid #dad8d6;
        button {
          height: 35px;
          width: 137px;
          border: 1px solid #c72a60;
          border-radius: 3px;
          background-color: #e63976;
          box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
            0 1px 0 0 rgba(0, 0, 0, 0.09);
          color: #ffffff;
          transition: 0.3s;
        }
        button:hover {
          color: #e63976;
          background-color: #ffffff;
          border-color: #e63976;
        }
      }
      &-withoutCards {
        margin-left: 0.5em;
      }
    }
  }
  input[type='radio'] {
    position: relative;
    width: 1.1em;
    height: 1.1em;
    border: 2px solid #dad8d6;
    border-radius: 50%;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 1.4px;
      left: 3px;
      width: 2px;
      height: 5.5px;
      border-style: solid;
      border-color: #ffffff;
      border-width: 0 1.7px 1.7px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    &:checked {
      color: #ffffff;
      border-color: #1eb592;
      background: #1eb592;
      &::before {
        opacity: 1;
      }
    }
  }
  &-selection {
    margin-bottom: 0.75em;
    max-width: 540px;
    width: 100%;
    &-list {
      display: flex;
      justify-content: space-between;
      max-width: 540px;
      width: 100%;
      &-item {
        text-align: center;
      }
      &-item:nth-child(1) {
        margin-right: 1em;
      }
    }
    &-container {
      position: relative;
      &-double {
        height: 250px;
        position: relative;
      }
      &-buttons {
        height: 50px;
        position: absolute;
        bottom: 0%;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
      }
      &-iconStandard {
        margin: 0 auto;
        height: 40px;
        width: 40px;
        transform: scale(1.05);
      }
      &-iconPro {
        margin: 0 auto;
        height: 40px;
        width: 40px;
        transform: scale(0.95);
      }
      &-subtitle {
        font-weight: 500 !important;
        margin-top: 0.5em;
      }
      &-paragraph {
        width: 100%;
        max-width: 250px;
        font-weight: 100 !important;
      }
      &-plan {
        margin-top: 0.5em;
      }
      &-button {
        padding: 0.4em 0.875em;
        width: 190px;
        height: 47px;
        background: #ffffff;
        color: #e63976;
        border: 1px solid #e63976;
        border-radius: 3px;
        transition: 0.3s;
      }
      &-button:hover {
        background: #e63976;
        color: #ffffff;
      }
    }
    .checkmark {
      height: 14px;
      width: 14px;
      margin-right: 0.25em;
    }
  }
  &-table {
    &-standard {
      margin-top: 1em;
      border-top: 1px solid #b7b7b7;
      padding-top: 1em;
      font-weight: 100 !important;
      cursor: pointer;
      img {
        width: 12px;
        height: 12px;
        fill: lightgrey;
        margin-left: 0.5em;
      }
      .rotate {
        transform: rotate(180deg);
      }
    }

    &-pro {
      margin-top: 1em;
      border-top: 1px solid #b7b7b7;
      padding-top: 1em;
      font-weight: 100 !important;
      cursor: pointer;
      img {
        width: 12px;
        height: 12px;
        fill: lightgrey;
        margin-left: 0.5em;
      }
      .rotate {
        transform: rotate(180deg);
      }
    }
  }
  .doubleTop {
    margin-top: 2em;
  }
  &-tables {
    width: 100%;
    max-width: 1040px;
    table {
      width: 100%;
      th {
        padding-bottom: 17px;
        border-bottom: 2px solid #dad8d6;
      }
      .right {
        text-align: right;
      }
      .single-margin {
        padding-top: 10px;
      }
      .extra-margin {
        padding-top: 36px;
      }
      .section-parent {
        padding-bottom: 10px;
        border-bottom: 2px solid #37373e;
      }
      .section-child {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dad8d6;
      }
      .second-color {
        color: #898989;
      }
      .marginLeft {
        margin-left: 1em;
      }
      h6 {
        text-transform: none;
      }
    }
  }
  &-paymentTab {
    display: flex;
    justify-content: center;
    margin: 2em;
  }
  h5,
  h6 {
    text-transform: none;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .sectionTitle {
      h5,
      p {
        min-width: 220px;
      }
    }
    &-selection {
      min-width: 350px;
      &-container-plan{
        margin-top: 0;
      }
      &-container-button{
       width: 150px;
       height: 37px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    overflow: hidden;
    padding: 1em;
    &-tabs {
      &-list {
        justify-content: center;
      }
    }
    &-mainTab {
      &-section {
        flex-direction: column;
        margin-top: 2em;
      }
      &-section:nth-child(3) {
        .titles {
          margin-bottom: -2em;
        }
      }
      &-content {
        &-item {
          &-list:nth-child(1) {
            margin-top: 2em;
          }
        }
      }
    }
    &-table {
      &-standard,
      &-pro {
        text-align: center;
        a {
          text-decoration: none;
        }
      }
    }

    &-selection {
      &-list {
        flex-direction: column;
        &-item {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

/*React Transition Group*/
/*Fade*/
.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

/*Skeletons*/

/*Skeleton Tab1 Manager*/
.cr__skeleton {
  &-tab1 {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 2em 5em;
    .styles {
      background-color: #ededed;
      border-radius: 10px;
    }
    &-section1 {
      padding-top: 1em;
      &-list {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-item1 {
        height: 20px;
        width: 200px;
      }
      &-item2 {
        height: 150px;
        width: 100%;
        max-width: 527px;
      }
    }
    &-section2 {
      &-list {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-item1 {
        ul {
          display: flex;
          flex-direction: column;
          li:nth-child(1) {
            height: 20px;
            width: 200px;
          }
          li:nth-child(2) {
            margin-top: 1em;
            height: 17px;
            width: 250px;
          }
        }
      }
      &-item2 {
        height: 200px;
        width: 100%;
        max-width: 527px;
      }
    }
    &-section3 {
      margin-top: 3em;
      &-list {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-item1 {
        ul {
          display: flex;
          flex-direction: column;
          li:nth-child(1) {
            height: 20px;
            width: 200px;
          }
          li:nth-child(2) {
            margin-top: 1em;
            height: 17px;
            width: 300px;
          }
        }
      }
      &-item2 {
        ul {
          display: flex;
          justify-content: space-between;
          li:nth-child(1) {
            height: 250px;
            width: 250px;
            margin-right: 1.5em;
          }
          li:nth-child(2) {
            height: 250px;
            width: 250px;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      padding: 1em;
      overflow: hidden;
      &-section1,
      &-section2,
      &-section3 {
        padding-bottom: 1em;
        &-list {
          flex-direction: column;
          &-item1 {
            margin-bottom: 1em;
          }
        }
      }
      &-section2,
      &-section3 {
        &-item1 {
          ul {
            li {
              margin-bottom: 1em;
            }
          }
        }
      }
      &-section3 {
        margin-top: 1em;
      }
    }
  }
}
