@import '../../variables';
@import '../../mixins';
@import '../../common';
@import '../../typography';
.cr__plans {
  margin: 0 auto;
  width: 100%;
  padding-top: 2em;
  .weight {
    font-weight: 900 !important;
  }
  &-title {
    margin-bottom: 1.2em;
    margin-left: 2em;
    text-transform: none;
    font-weight: 900 !important;
    line-height: 1.05em !important;
  }
  &-banner {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ededed;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &-title {
      margin: 0;
      margin-bottom: 0.35em;
      font-weight: 900 !important;
      text-align: center;
    }
    &-subtitle {
      margin: 0;
      margin-bottom: 0.15em;
      text-align: center;
      text-transform: none;
    }
    &-lu {
      position: absolute;
      left: 0%;
      top: 0%;
    }
    &-ld {
      position: absolute;
      left: 0%;
      bottom: 0%;
    }
    &-ru {
      position: absolute;
      right: 0%;
      top: 0%;
    }
    &-rd {
      position: absolute;
      right: 0%;
      bottom: 0%;
    }
  }
  .checkmark {
    height: 12px;
    width: 13px;
    margin-right: 0.5em;
  }
  .checkmarkPurple {
    height: 12px;
    width: 13px;
    margin-right: 0.5em;
  }
  &-selection {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    margin: 1em;
    &-list {
      display: flex;
      width: 674px;
      justify-content: space-between;
      &-item {
        width: 270px;
        text-align: center;
      }
      &-item:nth-child(2) {
      }
    }
    &-container {
      &-iconStandard {
        margin: 0 auto;
        height: 40px;
        width: 40px;
        transform: scale(1.2);
      }
      &-iconPro {
        margin: 0 auto;
        height: 40px;
        width: 40px;
        transform: scale(1.2);
      }
      &-title {
        margin: 0.5em 0em 0.5em;
        font-weight: 900 !important;
        text-transform: none;
      }
      &-subtitle {
        text-transform: none;
        font-weight: 500 !important;
      }
      &-paragraph {
        font-weight: 100 !important;
      }
      &-plan {
        margin: 2em 0;
        text-transform: none;
        font-weight: 500 !important;
      }
      &-button {
        margin: 1em 0;
        width: 220px;
        height: 45px;
        font-weight: 100 !important;
        box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.4) !important;
      }
    }
  }
  /*Comparison Table Web*/
  .web {
    display: flex;
  }
  &-specifications {
    display: flex;
    justify-content: center;
    text-align: left;
    padding-bottom: 2em;
    table {
      width: 100%;
      margin: 0em 10%;
      th {
        padding-bottom: 17px;
        border-bottom: 2px solid #dad8d6;
      }
      .center {
        text-align: center;
      }
      .single-margin {
        padding-top: 10px;
      }
      .extra-margin {
        padding-top: 36px;
      }
      .section-parent {
        padding-bottom: 10px;
        border-bottom: 2px solid #37373e;
      }
      .section-child {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #dad8d6;
      }
      .second-color {
        color: #898989;
      }
      .marginLeft {
        margin-left: 1em;
      }
      h6 {
        text-transform: none;
      }
    }
  }
  /*Comparison table Mobile*/
  @media screen and (max-width: 767px) {
    .web {
      display: none;
    }
    &-specifications {
      margin: 0;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      .right {
        text-align: right;
      }
      table {
        width: auto;
        margin: 1em;
      }
      &-title {
        text-transform: none;
        font-weight: 900 !important;
        margin-bottom: 0;
      }
    }
    &-tabs {
      margin: 1em 0 0;
      border-bottom: 1px solid #dad8d6;
      width: 100%;
      &-list {
        display: flex;
        justify-content: center;
        &-item {
          margin: 0 1em;
          padding-bottom: 0.35em;
          cursor: pointer;
        }
        .Standard {
          border-bottom: 4px solid #825a7a;
          width: 80px;
          text-align: center;
          transition: transform 0.3s;
        }
        .Plus {
          border-bottom: 4px solid #00707c;
          width: 80px;
          text-align: center;
          transition: transform 0.3s;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding-top: 0;
    overflow: hidden;
    &-title {
      display: none;
    }
    &-banner {
      margin-top: 0;
      &-lu {
        left: -15%;
      }
      &-ld {
        left: -46%;
      }
      &-ru {
        right: -32%;
      }
      &-rd {
        right: -33%;
      }
    }
    &-selection {
      padding-top: 0;
      &-list {
        display: block;
        width: 100%;
        &-item {
          width: 100%;
          text-align: left;
        }
      }
      .text-mobile {
        margin-left: 4em;
        margin-top: 2em;
      }
      &-container {
        position: relative;
        &-iconStandard {
          float: left;
          transform: scale(1.2);
        }
        &-iconPro {
          float: left;
          transform: scale(1.1);
        }
      }
    }
  }
}
