.cr__headerMobile-dropdown-collections {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 3;
  &-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &-title {
    height: 51px;
    display: flex;
    align-items: center;
    padding-left: 1.75em;
    border-bottom: 1px solid #dad8d6;
    text-transform: none;
  }
  &-title::after {
    content: '';
    background: url('../../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
    filter: brightness(0%);
    height: 22px;
    width: 20px;
    position: absolute;
    left: -1%;
    top: 15.45px;
    transform: rotate(180deg) scale(0.6);
    padding-left: 0.75em;
  }
  &-item {
    height: 36px;
    display: flex;
    padding: 0 0 0 17px;
    span {
      text-transform: capitalize;
    }
  }
  &-item::after {
    content: '';
    background: url('../../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
    filter: invert(1) grayscale(1);
    height: 22px;
    width: 20px;
    position: absolute;
    right: 4%;
    transform: scale(0.6);
    margin: 0.14em 0 0;
  }
  a {
    text-decoration: none;
  }
}
