.assistant_modalbox{
    position: relative;
    max-width: 35em;
    text-align: center;
    background: $color2;
    background-image: url($images_path+'illustration/butler_illustration.svg');
    background-repeat: no-repeat;
    
    .container_info{
        padding: 1em;
        h3{
            color: #ffffff; 
            margin-bottom: $margin-base; 
            font-size: 1em;
            .note{font-size: 1.95312em;}
        }
        p, span{color: #ffffff; }
        p+p{
            margin-top: 1.5em; 
            text-indent:0; 
        }
        .subtitle{
            margin:$margin-base 0;
            font-size: 1em;
        }
        .contact{ 
            font-family: $font_title_bold; 
            font-size:1.2em; 
            color: $color1;
            margin-bottom: $margin-base;
        }
        .contact_text{display: none;}
        .contact_assistant{
            color: #ffffff;
            font-family: $font_button;
            font-weight: bold;
            margin: $margin-base;
            &.whatsapp{
                position: relative;
                padding-left: 42px;
                &:before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background: url($images_path+'icons/social/social_icon_whatsapp_white.svg') no-repeat center;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                    left: 12px;
                }
            }
        }
        @media screen and (min-width: $bp-desktop-sm){
            .contact_text{display: block;}
            .contact_assistant{
                &.phone{display: none;}
            }
            
        }
    }
}