/*----------------------------------------
// DISABLE BUY MODALBOX
----------------------------------------*/
.modalDisableBuy{
    position: relative;
    background: $color5;
    text-align: center;
    max-width: 30em;
    padding: 2em;
    border-radius: #{ $border-radius * 3};

    ///////////////
    // TITLE
    h4{
        @include type-setting(2);
        color: $color1;
        font-family: $font_title_bold;
        margin-bottom: $margin-base;
    }
    p{ 
        @include type-setting(0);
        color: $color2; 
        margin: auto auto 1em; 
        &:last-child{ margin-bottom: 0}
    }
    .link{
        text-decoration: none;
        font-size: 1em;
        color: $color1;
    }
    .note{
        color: $color3;
        @include type-setting(-1);
        line-height: 1.5em
    }

    // MOBILE PHONE 
    .mobile-phone{
        position: relative;
        padding-left: 1.875em;
        margin-left: 0.5em;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            margin: auto;
            background: url($images_path+'icons/social/social_icon_whatsapp_negative.svg') no-repeat center;
            background-size: contain;
            width: 20px;
            height: 20px;
            
        }
    }
}