/*----------------------------------------
// FAIL BUY MODALBOX
----------------------------------------*/
.modalFailBuy{
    position: relative;
    background: $color5;
    text-align: center;
    max-width: 30em;
    padding: 2em;
    border-radius: #{ $border-radius * 3};
    h4{
        @include hide-text;
        margin-bottom: 1.5rem;
        
        &:before{
            content: '';
            display: inline-block;
            //position: absolute;
            left: 50%;
            background: url($images_path+'icons/icon_fail.svg') no-repeat center;
            background-size: contain;
            width: 53px;
            height: 53px;
        }

    }
    p{ 
        @include type-setting(0);
        color: $color2; 
        margin: 0 auto 0.75em;
    }
}