.modal_getCoupon {
  position: relative;
  max-width: 35em;
  text-align: center;
  background: $color2 url($images_path+'storeApp/menu_texture.svg') center
    bottom;
  background-size: 30%;
  padding: 1em;
  fieldset {
    width: 100%;
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url($images_path+'utils/back_modal.png') no-repeat center;
    background-size: contain;
    left: -43%;
    bottom: 0;
    width: 20em;
    height: 20em;
    opacity: 0.5;
  }
  h5 {
    margin: 2em 0 1em;
    color: $color1;
    position: relative;
    font-weight: bold;
    z-index: 9;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: -32px;
      left: 47%;
      background: url($images_path+'utils/heart_circle.svg') no-repeat center;
      background-size: contain;
      width: 32px;
      height: 32px;
    }
  }
  p {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: $margin-base * 1.5;
    color: white;
    position: relative;
    z-index: 1;
  }
  p + p {
    margin: 0;
    text-indent: 0;
  }
  .discount {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: $margin-base/2;
    font-family: $font_header;
    color: white;
    .text {
      font-size: 0.3em;
      font-weight: 100;
    }
  }
  .note {
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin: 0;
    color: $color3;
    @include type-setting(-1);
  }
  form {
    margin: $margin-base 0;
    z-index: 9;
    .c2a_square {
      width: 100%;
      font-family: $font_button;
      padding: 0.5em 1.2em;
    }
  }
  .button-simple {
    text-decoration: underline;
    position: relative;
    z-index: 1;
  }

  //WINDOW SUCCESS
  &--message {
    position: relative;
    background: $color5 url($images_path+'utils/texture_detail.png') center;
    background-size: 75%;
    padding: 1em;
    h2 {
      color: $color1;
      font-weight: bold;
      margin: 0 0 $margin-base;
    }
    .message {
      color: $color2;
      @include type-setting(1);
      position: relative;
      z-index: 1;
      span {
        font-weight: 600;
      }
    }
    a {
      color: #ffffff;
    }
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      background: url($images_path+'illustration/mail.svg') no-repeat center;
      background-size: contain;
      right: 0;
      bottom: 0;
      width: 7em;
      height: 7em;
      opacity: 0.8;
    }
  }

  ////////////////
  //MEDIA QUERIES
  ////////////////
  @media screen and (min-width: $bp-tablet-m) {
    //width: 40em;
    padding: 2em 3em;
    &:after {
      left: -22%;
    }
    &--message {
      padding: 2em 3em;
      width: 35em;
      background-size: 40%;
      &:after {
        width: 9em;
        height: 9em;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .c2a_square,
      fieldset {
        flex: 0 0 49%;
      }
      .form_status.danger {
        //position: absolute;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}
