.modal_leaveSite{
    position: relative;
    background: $color2 url($images_path+'storeApp/menu_texture.svg') center bottom;
    background-size: 30%;
    max-width: 35em;
    text-align: center;
    padding: 2em 1em 1em;
    &:after{
        content: '';
        display: inline-block;
        position: absolute;
        background: url($images_path+'utils/back_modal2.png') no-repeat center;
        background-size: contain;
        left: -50%; bottom: 0;
        width: 20em;
        height: 20em;
        opacity: .5;
    }
    p{
        font-size: 1em;
        margin-bottom: $margin-base*1.5;
        color: white;
        position: relative;
        z-index: 1;
    }
    p+p{margin:0; text-indent:0;}
    .header{
        font-size: 2.5em;
        font-weight: 700;
        font-family: $font_header;
        color: white;
        margin-bottom: $margin-base;
        &-subtitle{
            font-size: 2em;
            padding-bottom: .8em;
        }
    }
    .text{
        span{
            color:$color1;
            font-family: $font_header;
            font-weight: 500;
            font-size: 1.5em;
            
        }
    }
    .note{
        text-decoration: none;
        margin: 0;
        color: $color3;
        @include type-setting(-1);
        
    }
    .c2a_square{
        font-family: $font_button;
        padding:.5em 1.2em; 
        margin-top:1em;
        color:#ffffff;
        position: relative;
        z-index: 1;
    }
    .button-simple{
        text-decoration:underline; 
        display: block; 
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    
    ////////////////
    //MEDIA QUERIES
    ////////////////
    @media screen and (min-width: $bp-tablet-m){
        padding: 3em 2em;
        &:after{
            left: -35%; 
        }
    }
}