/*----------------------------------------
// LOGIN MODALBOX
----------------------------------------*/

.modalLogin{
    position: relative;
    background: $color5;
    text-align: center;
    max-width: 30em;
    padding: 2em;
    border-radius: #{ $border-radius * 3};
    .modalLoginInputs .form__data{
        margin-bottom: 0.7em;
    }
}