/*----------------------------------------
// MODAL BOX FORMS COMPONENT
----------------------------------------*/
.modal-addresses-manager {
    .addressName {
            border-bottom: 1px solid $color4;
            padding-bottom: 0.5em;
          }
    .container--half {
        display: flex;
        margin: auto;
        .form__data{
            &-streetName{
                width: 65%;
                margin-right: $margin-base;
            }
            &-streetNumber {
                width: 35%
            }
            &-city {
                width: 70%;
                padding-right: $margin-base;
            }
            &-postalCode {
                width: 30%
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm){
        .container--half{
            max-width: 80%;
        }
    }
}
