.modalSearch{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba($color2, 0.6);
    z-index: 9999;

    // BOX STYLES
    &--shadow{
        box-shadow: 0px 0px 12px rgba(#000, 0.325);
    }
    &--rounded{
        border-radius: #{ $border-radius * 3};
    }

    // LINK STYLES
    a {
        color: $color1;
        text-decoration: none;
    }
    &__link{
        color: $color1;
        text-decoration: none;
    }

    /*----------------------------------------
    // DYNAMIC CONTENT WRAPPER
    ----------------------------------------*/
    &__container{
        position: absolute;
        overflow-y: auto;
        @include center-content(50%, 50%);
        max-height: 95vh;
        border-radius: $border-radius;


        //////////////////////
        // CONTENT
        p {
            font-size: 0.875em;
            color: $color3;
            a{
                text-decoration: underline;
            }
        }

        //////////////////////
        // TITLES
        .title{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: solid 1px $color4;
            padding-bottom: $margin-base;
            margin-bottom: 1.8em;

            a{
                text-decoration: none;
                color: $color1;
                font-family: $font_title_bold;
            }
        }
    }
}