/*----------------------------------------
// MODAL BOX FORMS COMPONENT
----------------------------------------*/
.modal-addresses-list {
    //padding: $margin-base*2;

    .addresses{
        cursor: pointer;
        background: $color5;
        padding: $margin-base;
        border: solid 1px $color4;
        border-radius: $border-radius;
    }
    .address{
        background: white;
        padding: $margin-base*1.5;
        border-bottom-width: 0;

        &:last-child{
            //padding-bottom: 0;
            border-bottom-width: 1px
        }

        // Address Name
        &__title{
            @include type-setting(0);
            font-family: $font-content;
            margin: 0 0;
        }
        // Address Body
        &__body{
            margin: 0 0;
        }
    }
}