/*----------------------------------------
// MODAL BOX FORMS COMPONENT
----------------------------------------*/
.modal-box-form {
    &__form {
        .form__data {
            margin: 0 auto 0.75em;
            label {
                margin: 0 0 0.125em;
                padding: 0;
                border: none;
            }
            input,
            textarea {
                width: 100%;
                padding: 0.325em 0.75em;
                color: $color3;
                font-family: $font_content;
                border-radius: $border-radius;
                outline: 0px;
                border: 1px solid $color4;
                @include type-setting(0);
                &:focus {
                    outline: 0px;
                    border: 1px solid rgba($color3, 0.75);
                }
            }
            textarea {
                min-height: 10em;
            }

            @media screen and (min-width: $bp-tablet-sm) {
                max-width: 80%;
            }
        }
    }
}