.modalBox{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(#000, 0.6);
    z-index: 9999;

    // BOX STYLES
    &--shadow{
        box-shadow: 0px 0px 12px rgba(#000, 0.325);
    }
    &--rounded{
        border-radius: #{ $border-radius * 3};
    }

    // LINK STYLES
    a {
        color: $color1;
        text-decoration: none;
    }
    &__link{
        color: $color1;
        text-decoration: none;
    }

    /*----------------------------------------
    // DYNAMIC CONTENT WRAPPER
    ----------------------------------------*/
    &__container{
        position: absolute;
        overflow-y: auto;
        @include center-content(50%, 50%);
        text-align: center;
        // min-width: 100%;
        width: 100%;
        max-height: 95vh;
        max-width: 480px;
        border-radius: $border-radius;
        box-shadow: 0px 0px 12px rgba(#000, 0.5);
        @media screen and (max-width: 767px){
        padding: 0.5em;
        box-shadow: none;
    }

        //////////////////////
        // CONTENT
        p {
            font-size: 0.875em;
            color: $color3;
            a{
                text-decoration: underline;
            }
        }

        //////////////////////
        // TITLES
        .title{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: solid 1px $color4;
            padding-bottom: $margin-base;
            margin-bottom: 1.8em;

            a{
                text-decoration: none;
                color: $color1;
                font-family: $font_title_bold;
            }
        }
        // @media screen and (min-width: $bp-mobile-l){
        //    min-width: 40em;
        // }
    }



    /*----------------------------------------
    // FORMS (LOGIN/REGISTER/ETC...)
    ----------------------------------------*/
    .footer_form {
        @include type-setting(-1);
        p{
            line-height: 1.6em;
            margin-bottom: 0;
        }        
    }

    /////////////////
    // REGISTER FORM
    .form_register {
        .form{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            position: relative;
            width: 100%;
        }

        //////////////////////
        // FACEBOOK LOGIN
        &__facebook{
            margin: .6em 0 2em 0;

            .login_button{
                color: #fff;
                padding: 0.875em 0.325em;
                width: 100%;
                border-radius: 2px;
                background: linear-gradient(131.27deg, #6F93C7 0%, #3C5A96 100%)
            }

            span{
                display: flex;
                justify-content: center;
                align-items: center;
                &:before {
                    content: '';
                    display: inline-block;
                    background: url($images_path+'icons/social/icon_fb.png') no-repeat center;
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                    margin-right: $margin-base;
                }
            }
        }


        //////////////////////
        // MEDIA QUERIES
        @media screen and (min-width: 27em){
            form{
                // DATA FIELD CONTAINER
                .form__data-firstName,
                .form__data-lastName,
                .form__data-password,
                .form__data-confirmation{
                    width: calc(50% - #{$margin-base/2});
                }
            }
        }
    }
}
