.modal-map{
    h4{
        margin-left: 1em;
    }
    .map_container{
        display: none;
        width: 100%;
        height: 22em;
        position: relative;
        #map{
            height:100%;
        }
    }

    #pac-container{
        // position: absolute;
        // top: -5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em 0.3em;
        &:after{
            content: "";
            background: $color1 url($images_path+'header/header_search.svg') no-repeat .7em center;
            background-size: 1.3em;
            width: 2.8em; height: 2.5em;
            margin-left: 0.5em;
            border-radius: 0.6em;
            // right: 44px;
            // position: absolute;
        }
        #pac-input{
            width:80%;
        }
    }

    .modal-box-form__form{
        margin: auto;
        max-width: 85%;
       // padding-top: 2em;
       // padding-bottom: 2em;
    }
    
    .container {
        display: flex;
        margin: auto;
        flex-flow: row nowrap;

        &--half {
            flex-flow: row wrap;
            width: 100%;
        }
    }
    .form-search_address{
        //position: absolute;
        max-width: none;
        width: 100%;
        background: $color2;
        //border-bottom: solid 1px $color4;
        //@include center-content(50%, 0%);
        //top: 12%;
    }
    
    .form__data{
        max-width: none;
        input{
            border: 1px solid lightgray;
            border-radius: 0.2em;
        }

        &-streetName{
            //width: 50%;
            //margin-right: $margin-base;
        }
        &-city{ 
            width: 100%; 
            padding-right: $margin-base;
        }
        &-streetNumber,
        &-suiteNumber {
            width: 50%;
        }
        &-streetNumber {margin-right: $margin-base;}
        &-neighborhood,
        &-state,
        &-city {
            select {
                width: 100%;
                height: 36px;
            }
        }
        &-city{
            width: 100%;
        }
        &-neighborhood {
            width: 60%;
            margin-right: $margin-base;
        }
        &-postalCode {width: 40%}
    }
    
    #pac-input{
        //box-shadow: 0 0 9px rgba(#666, 0.5);
        background: #ffffff;
        background-size: 1.25em;
        padding: auto $margin-base;
    }


    @media screen and (min-width: $bp-tablet-sm){
        .form__data{
            &-city{
                padding-right: $margin-base;
            }
        }
        .container--half{
            flex-flow: row nowrap;
        }
    }
    @media screen and (max-width: $bp-mobile-l){
        .form__data{
            &-city{
                padding-right: 0;
            }
        }
    }
}

.warning{
    padding: 1em;
    background: $status-color-warning--light;
    border: 2px solid $status-color-warning;
}