/*----------------------------------------
// PASSWORD FORGET MODALBOX
----------------------------------------*/
.modalPasswordForget{
    position: relative;
    background: #FAF7F5;
    text-align: center;
    max-width: 30em;
    padding: 2em;
    border-radius: 0.5625em;
    p{
        color: $color2;
        margin-bottom: $margin-base*2;
        @include type-setting();
        span{
            font-weight: bold;
        }
    }

    &_message{
        position: relative;
        background: #D9EDFD url($images_path+'illustration/modal_forgetPass.svg') no-repeat;
        background-size: 143%;
        background-position-y:10%;
        
        height: 450px;
        .accountConfirm{
            position: absolute;
            padding: $margin-base*2 $margin-base;
            width: 85%;
            @include center-content(50%, 70%);
        }
        a{color: #fff;}
        h2{
            @include type-setting(4);
            margin-bottom: $margin-base/2;
            color: $color1;
            font-weight: bold;
        }
        
        p{
            color: $color2;
            margin-bottom: $margin-base*2;
            @include type-setting();
            span{
                font-weight: bold;
            }
        }


    // MEDIA QUERIES
        @media screen and (min-width: $bp-mobile-sm){
            background-size: 130%;
        }
        @media screen and (min-width: $bp-mobile-m){
            background-size: 110%;
        }
        @media screen and (min-width: $bp-mobile-l){
            background-size: 100%;
            p{@include type-setting(1);line-height: 1.6em}
        }
        @media screen and (min-width: $bp-tablet-m){
            // background-position-x: 36%;
            // background-position-y: 0;
            width: 100%;
            .accountConfirm{
                width: 50%;
                @include center-content(50%, 80%);
            }
        }
        @media screen and (min-width: $bp-desktop-sm){
            width: 100%;
        }
    }
}