/*----------------------------------------
// LOGIN MODALBOX
----------------------------------------*/
.modalRating{
    position: relative;
    background: white;
    text-align: center;
    max-width: 30em;
    padding: 2em 1em;
    border-radius: #{ $border-radius * 3};
    overflow: hidden;

    &-message{
        position: relative;
        background: #DDECFC url($images_path+'rating/rating_background.svg') center no-repeat;
        background-position-x: 47%;
        background-position-y: 60%;
        background-size: 53em;
        height: 380px;
        position: relative;

        .message{
            position: absolute;
            @include center-content(44%, 41%);
            width: 100%;

            &--title{
                @include type-setting(3);
                font-weight: bold;
                margin: 0 auto 0.5em;
            }
            &--content {
                @include type-setting(1);
                border-radius: $border-radius;
                padding:$margin-base;
                width: 95%;
                max-width: 17em;
                color: white;
            }
            &--title,
            &--subtitle{ 
                margin: 0 auto;
                color: white;
                max-width: 10em;
            }
        }

        .button{
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, 0);
            position: absolute;
            color: white;
            min-width: 5em;
        }
        @media screen and (min-width: $bp-tablet-m) {
                // width: 40em;
                // background-position-x: 44%;
        }
    }

    // MODALBOX TITLE
    &--title{
        @include type-setting(0);
        margin-bottom: $margin-base;
    }
    
    // ILLUSTRATION
    .face_rating{ 
        margin-bottom: 1.25em;
        padding-bottom: 1em;
        border-bottom: solid 1px $color4;
        &:after{
            content: '';
            display: inline-block;
            position: relative;
            background: url($images_path+'rating/rating.svg') no-repeat center;
            background-size: 100%;
            width: 75px;
            height: 76px;
            vertical-align: middle;
        }
    }

    // RATING STARS
    .ui-list-rating__stars{
        justify-content: center;
        margin: $margin-base auto;
        transform: scale(1.5);
        .star__item{
            input[type=checkbox] + label.checkmark {  
                width: 35px;
                height: 30px;
            }
        }
    }

    // REVIEW & COMMENTS FORM
    .review-container {
        text-align: left;
        margin-top: 1em;
        &--title{
            @include type-setting(1);
            font-weight: bold;
            .product-name{
                font-weight: bold;
            }
        }
        &--content {
            margin-bottom: 1em;
        }

        .form__data-title-review,
        .form__data-comment-review {
            label { border-bottom: none; margin:0; }
        }

        .form__data-comment-review {
            label { padding: 0; }
        }

        // Input warning
        .form__data-title-review {
            .form_status{
                margin-top: -4px;
            }
        }
    }

    .rating-container {
        &.logistics{
            margin: 1em auto;
            padding-bottom: 1em;
            border-bottom: solid 1px #ededed;
        }
        .rating_status{
            text-align: center;
            padding-top: $margin-base/2;
        }
    }

    .submit{
        display: block;
        margin: $margin-base auto 0;
    }


    @media screen and (min-width: $bp-mobile-l){
        .form{
            width: 80%;
            margin: 0 auto;
        }
    }
}