/*----------------------------------------
// REGISTER MODALBOX
----------------------------------------*/
.modalRegister{
    position: relative;
    background: $color5;
    text-align: center;
    max-width: 30em;
    padding: 2em;
    border-radius: #{ $border-radius * 3};
}