/*----------------------------------------
// REGISTER CONFIRMATION MODALBOX
----------------------------------------*/
.modalRegisterConfirmation{
    position: relative;
    background: #fdf4f5 url($images_path+'illustration/modal_activeAccount.svg') no-repeat;
    background-size: 120%;
    background-position-x:10%;
    height: 450px;
    
    .message{
        position: absolute;
        padding: $margin-base*2;
        width: 100%;
        @include center-content(50%, 100%);
    }
    a{color: #fff;}
    h2{
        @include type-setting(3);
        margin-bottom: $margin-base/2;
        color: $color1;
        font-weight: bold;
    }
    
    p{
        color: $color2;
        margin-bottom: $margin-base;
        span{
            color: $color1;
        }
        & + p{
            margin-top: -$margin-base/3;
            
        }
    }


//MEDIA QUERIES
    @media screen and (min-width: $bp-mobile-m){
        // background-size: 110%;
    }
    @media screen and (min-width: $bp-mobile-l){
        // background-size: 100%;
        .message{
            width: 80%;
            right: 10%;
        }
        h2{@include type-setting(4);}
        p{@include type-setting(0);}
    }
    @media screen and (min-width: $bp-tablet-m){
        // background-size: 135%;
        // background-position-x: 36%;
        // width: 700px;
        .message{
            width: 51%;
            @include center-content(90%, 80%);
        }
        .c2a_square{margin-top: $margin-base;}
    }
    @media screen and (min-width: $bp-desktop-sm){
        // width: 800px;
    }
}
