.modalWindow.requireAccount {
    position: relative;
    background: $color5;
    padding: #{$margin-base*3} $margin-base*2;

    .requireAccount__register{
        border-top: solid 1px $color4;
        padding-top: 1em;
        margin-top: 1em;
    }

    .message{
        @include type-setting(0);
        font-family: $font_content;
        margin-bottom: .875em;
        background: $status-color-warning--light;
        border: solid 1px $status-color-warning;
        padding: 0.5em;
    }
    .title{
        margin-bottom: 1em;
    }
    .subtitle {
        @include type-setting(0);
        margin: 0 auto;
        color: $color2;
    }
    .create-account{
        //@extend %c2a-square;
        color: $color1;
        @include type-setting(0);
        border: none;
        background: transparent;
        font-family: $font-content;
    }

    .modalLogin{
        padding-top: 0;
        padding-bottom: 0;
    }
}