.service__box{
    position: relative;
    max-width: 50em;
    background: #ffffff;
    text-align: left;
    &-content{
        .image__thumbnail{
            width: 100%; max-height: 18em;
            overflow: hidden;
            @include background__product--default();
            @include responsive-container(100%);
            img{
                width: 100%;
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
        .detail{
            margin: $margin-base;
            p{margin: 0 0 $margin-base;}
            h5, h4{ font-weight: bold;}
            &__header{
                .delivery-time{
                    span{font-weight: bold;}
                }
                .container-c2a{
                    text-align: left; 
                    a{
                        font-family: $font_button; font-weight: 600;
                        color: #ffffff;}
                    }
                &--c2a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price{flex: 0 0 40%;}
                    .container{
                        flex: 1; text-align: right;
                        .c2a_square{font-family: $font_button; font-weight: 600;}
                    }
                }
            }
            &__description{
                border-top: $border-style;
                margin: $margin-base 0;
                .collapseBox .box{
                    padding: 0;
                }
                .description{display: none;}
            } 
        }
    }
    .contact_form{
        padding:$margin-base*2;
        margin: 0 $margin-base;
        h5{
            border-bottom: $border-style;
            text-align: center;
            padding: 0 0 $margin-base 0;
            margin: 0 0 $margin-base 0;
        }
        .half_field{
            display: flex;
            justify-content: space-between;
            fieldset{flex: 0 0 49%;}
        }
        .container_c2a{
            margin: $margin-base 0 0;
            text-align: right;
        }
    }
    .window_state--success, .window_state--error{
        padding: $margin-base*2;
        text-align: center;
        &:before{
            content: '';
            display: inline-block;
            height: 120px; width: 120px;
        }
        h3{color: $color1;}
        p {
            color: $color2;     
            border-top: 1px solid pink;
            margin-top: $margin-base;
            padding-top: $margin-base;
            max-width: 70%
        }
    }
    .window_state--success{
        &:before{
            background: url($images_path+'illustration/mail.svg') no-repeat left center;
        }
    }
    .window_state--error{
        &:before{
            background: url($images_path+'illustration/mail_empty.svg') no-repeat left center;
        }
    }
    @media screen and (min-width: $bp-desktop-sm){
        &-content{
            display: flex;
            align-items: center;
            .image{
                flex: 1;
                padding: $margin-base;
                display: flex;
                align-items: center;
                justify-content: center;
                place-self: flex-start;
                margin-top: 1em;
                margin-left: 1.5em;
            }
            .detail{
                flex: 0 0 50%;
                margin: $margin-base*2;
                &__description{
                    .collapseBox{ display: none;}
                    .description{ 
                        display: block;
                        padding: $margin-base 0;
                    }
                } 
            }
        }
        .contact_form{
            max-width: 85%;
            margin: 0 auto;
        }
    }
    @media screen and (min-width: $bp-desktop-l){
        &-content{
        .detail__header--c2a{
            flex-direction: row;
        }
        }
    }
}