/*----------------------------------------
// DISABLE BUY MODALBOX
----------------------------------------*/
.modalShippingCdmx{
    position: relative;
    background: $color5;
    max-width: 35em;
    text-align: center;
    border-radius: #{ $border-radius * 3};
    h3{
        margin-top: 1.5em;
        color: $color1;
        position: relative;
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: -45px;
            left: 45%;
            background: url($images_path+'utils/heart_circle.svg') no-repeat center;
            background-size: contain;
            width: 43px;
            height: 43px;
        }
    }
    .container_img{
        display: none;
        overflow: hidden;
        max-height: 180px;
        @include responsive-container(100%);
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: linear-gradient(to right,transparent,$color5);
            width: 85px;
            height: 100%;
            padding: 0;
        }
        img {
            position: absolute;
            @include responsive-image();
            @include center-content(50%, 45%);
        }
    }
    .container_info{
        padding: 1em 2em;
        p+p{margin-top: 1.5em; text-indent:0; color: $color2; }
        a{
            text-decoration: none;
            color: $color3;
        }
        .underline{
            color: $color1;
            @include type-setting(1);
        }
        .subtitle{
            margin-bottom:1em;
            color: $color2;
            @include type-setting(0);
        }
        .note{
            text-decoration: none;
            margin-top: 1em;
            color: $color3;
            @include type-setting(-1);
        }
    }
    @media screen and (min-width: $bp-tablet-m){
        display: flex;
        .container_img{
            display: block;
            flex: 0 0 45%;
            max-height: 100%; 
        }
        .container_info{
            padding: 1em 1em 1em .6em;
            h3{
                &:before{
                    left: 40%;
                }
            }
        }
    }
}