.cr__header {
  &-search {
    margin: 11px 0.5em 10px;
    position: relative;
    width: 100%;
    min-width: 150px;
    &-form {
      width: 100%;
      min-width: 150px;
    }
    &-input {
      width: 100%;
      min-width: 150px;
      height: 38px;
      border: 1px solid #414045;
      border-radius: 5px;
      background-color: #ededed;
      box-shadow: inset 2px 3px 3px 0 rgba(0, 0, 0, 0.04);
      position: absolute;
      left: 0%;
      padding-left: 1em;
    }
    //No show Blue X by default on input tag
    &-input::-webkit-search-cancel-button {
      display: none;
    }
    &-input-icon {
      padding-right: 2em;
      position: absolute;
      right: 0%;
      top: 8px;
      // background: transparent url('../images/search_pink.svg') no-repeat;
      filter: grayscale(100%);
      height: 29px;
      width: 16px;
      cursor: pointer;
    }
    @media screen and (max-width: 767px) {
      margin: 0;
      &-input {
        height: 34px;
        background-color: #ffffff;
        padding-left: 17px;
        color: #b7b7b7 !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 21px !important;
      }
    }
  }
  &-search:focus {
    outline: none;
  }
}

.cr__inputSearchBtn {
  background: transparent url('/scripts/components/NewMenu/images/search_pink.svg')
    no-repeat !important;
  filter: grayscale(100%);
  background-size: contain !important;
  width: 16px !important;
  height: 16px;
  padding: 10px !important;
  color: transparent !important;
  position: absolute;
  top: 8px;
  right: 9px;
  border: none !important;
  &:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    top: 7px;
  }
}
