.cr__products-container {
  max-width: 1200px;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin: 0 auto;
  .cr__product-container-section {
    margin-bottom: 2.5em;
  }
  .strikeThrough {
    text-decoration: line-through;
    margin-right: 0.5em;
    margin-top: 0.2em;
    color: #ebe2da;
  }
  &-section {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 0em;
  }
  .cr__section-title {
    font-style: normal;
    font-weight: normal;
    @include type-setting(2);
    line-height: 0.8em;
    text-align: left;
    color: #343439;
    text-transform: uppercase;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  //Only for ProductswithPagination
  .cr__section-titleBVF {
    display: flex;
    justify-content: left;
    &-title {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      @include type-setting(2);
      line-height: 0.8em;
      text-align: left;
      color: #343439;
      text-transform: uppercase;
      margin-bottom: 1em;
      margin-top: 1em;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    &-nextTo {
      margin-left: 0.5em;
      height: 100%;
      margin-top: 1.5em;
      @media screen and (max-width: 767px) {
        height: 1em;
        margin-left: 0;
        text-align: left;
        display: inherit;
        margin-bottom: 0.5em;
        margin-top: -0.5em;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .cr__section-description {
    font-style: normal;
    font-weight: normal;
    @include type-setting(1);
    line-height: 21px;
    text-align: left;
    color: #898989;
    text-transform: none;
    margin-bottom: 0em;
    margin-top: 0.25em;
  }
  .cr__slider__container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 1em;
    margin-left: -1em;
    .cr__ImageContainer {
      width: 278.08px;
      height: 200px;
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      margin-top: 0.5em;
      border-radius: 8px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(0, 0, 0, 0.6) 90.5%
      );
      z-index: 2;
      border: 1px solid #dad8d6;

      &-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -2;
      }
    }
    .cr__Product {
      position: absolute;
      bottom: 0%;
      width: 278.08px;
      padding: 0.5em;
      text-decoration: none;
      margin-left: 0.25em;
      &-name {
        font-style: normal;
        font-weight: 600;
        @include type-setting(1);
        line-height: 1em;
        color: #faf9f8;
        text-align: left;
        margin-bottom: 0.35em;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-storeName {
        font-style: normal;
        font-weight: 300;
        @include type-setting(-1);
        line-height: 0.8em;
        text-align: left;
        color: #dad8d6;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.25em;
        margin-bottom: 0;
      }
      &-price {
        font-weight: 600;
        text-align: left;
        text-transform: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-priceContainer {
        display: flex;
      }
      h1 {
        margin-bottom: 0em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 721px;
    height: 100%;
    .cr__product-container-section {
      margin-bottom: 1.5em;
    }
    &-section {
      margin-bottom: 0em;
    }
    .cr__section-title {
      @include type-setting(1);
      line-height: 26px;
      margin-bottom: 0em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .cr__section-description {
      @include type-setting(-1);
      line-height: 13px;
      margin-bottom: 0em;
      margin-top: 0.25em;
    }
    .cr__slider__container {
      margin-top: 0.5em;
      .cr__ImageContainer {
        height: 200px;
        width: 225px;
      }
    }
    .cr__Product {
      width: 225px;
      padding: 0.5em;
      text-decoration: none;
      &-name {
        margin-bottom: 0.15em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 205px;
      }
      &-storeName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 205px;
      }
      &-price {
        text-align: left;
        // margin-right: 3.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: 205px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    max-width: 313px;
    height: 100%;
    .cr__product-container-section {
      margin-bottom: 1.5em;
    }
    .cr__slider__container {
      margin-top: 0.5em;
      .cr__ImageContainer {
        height: 200px;
        width: 140px;
      }
    }
    .cr__section-title {
      @include type-setting(1);
      line-height: 26px;
      margin-bottom: 0em;
      margin-top: 1em;
    }
    .cr__section-description {
      @include type-setting(-1);
      line-height: 13px;
      margin-bottom: 0em;
      margin-top: 0.25em;
    }
    .cr__Product {
      position: absolute;
      bottom: 0%;
      width: 140px;
      padding: 0.5em;
      text-decoration: none;
      margin-left: 0.15em;
      &-name {
        margin-bottom: 0.15em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 115px;
      }
      &-storeName {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 115px;
      }
      &-price {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 115px;
      }
      &-priceContainer {
        display: block !important;
      }
    }
    .strikeThrough {
      margin-bottom: -0.15em !important;
    }
  }
}
.warningAdmin {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e63976;
  font-weight: 600;
  font-size: 14px;
}
/////////Slick Carousel
.slick-slide {
  padding: 0 1em !important;
  float: left !important;
  display: block !important;
  height: 100% !important;
  min-height: 1px !important;
  position: relative !important;
}
.slick-next,
.slick-prev {
  height: 21.5px !important;
  width: 21px !important;
  border-radius: 50% !important;
  background-color: #e63976 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  padding: 0 !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  border: none !important;
}
.slick-next::before,
.slick-prev::before {
  font-family: slick !important;
  -webkit-font-smoothing: antialiased !important;
  color: white !important;
  font-size: 30px !important;
  opacity: 1 !important;
  margin-left: -3px !important;
  line-height: 0.95 !important;
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  border: none !important;
}
.slick-arrow {
  z-index: 1;
}
.slick-arrow:hover {
  background-color: #e63976 !important;
}
.slick-arrow:focus {
  background-color: #e63976 !important;
}
.slick-next {
  right: 15px !important;
}
.slick-next::before {
  content: '→' !important;
}
.slick-prev {
  left: 28px !important;
  z-index: 1 !important;
}
.slick-prev::before {
  content: '←' !important;
}
