.transaction {
  background: white;
  padding: 0 0 $margin-base;
  width: calc(100% + #{$margin-base * 2});
  .header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: $margin-base 0;
    p {
      font-family: $font-title;
      margin: 0;
      text-indent: 0;
    }
    span {
      font-weight: bold;
    }
  }
  &-list {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    border: 1px solid #dad8d6;
    border-bottom: none;
    border-radius: 3px;
    margin: 0 0.5em 0 0;
    &__table {
      margin-bottom: 1em;
      width: 100%;
      cursor: grabbing;
    }
    &__item {
      padding: $margin-base;
      // border-bottom: solid 1px $color4;
      .paidOrder {
        color: #217856 !important;
      }
      td {
        padding: $margin-base;
        text-align: center;
        height: 65px;
        display: table-cell;
        vertical-align: middle;
        border: 1px solid #dad8d6;
        border-left: none;
        a {
          color: $color1;
          font-weight: bold;
        }
      }
      td:last-child {
        border-right: none;
      }
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
      &:nth-child(odd) {
        background: #f0eefc;
      }
    }
    &__header {
      background: #ffffff;
      // border-top: $border-style;
      border-bottom: $border-style;
      font-weight: bold;
      &-order {
        min-width: 120px;
      }
      &-date {
        min-width: 160px;
      }
      &-reference,
      &-type {
        min-width: 100px;
      }
      &-status,
      &-total {
        min-width: 136px;
      }
      &-fullPrice,
      &-orderPrice,
      &-shipping,
      &-percentage,
      &-comission,
      &-iva,
      &-isr {
        min-width: 125px;
      }
      th {
        padding: $margin-base;
        font-weight: bold;
        position: relative;
        border-right: 1px solid #dad8d6;
        height: 65px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      .form__helpIcon {
        background: $color3;
        font-size: 1em;
        &:hover {
          .helpInfo {
            display: block;
            width: 120px;
            height: auto;
          }
        }
      }
    }
    .withoutMovements {
      text-align: center;
      padding-top: 1.5em;
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    // border: $border-style;
  }
}

.title {
  padding: $margin-base/2 0 $margin-base;
  order: 1;
  span {
    font-weight: bold;
  }
  @media screen and (min-width: $bp-tablet-m) {
    border-bottom: none;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 29.25em) {
    justify-content: space-between;
    .title {
      order: 0;
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    justify-content: center;
  }
  @media screen and (min-width: $bp-tablet-l) {
    justify-content: space-between;
  }
}

.filter_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  .filter {
    margin-bottom: 0;
    color: $color3;
    text-decoration: none;
    @include hide-text;
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      background: url($images_path + 'icons/icon_filter.svg') no-repeat center;
      background-size: contain;
      width: 25px;
      height: 21px;
      vertical-align: middle;
      margin-right: $margin-base;
    }
  }
}
.cr__payouts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  &-information {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2em 0 0;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    .cr__text- {
      &-subtitle {
        margin: 0 0 0.75em;
      }
      &-subtitle2 {
        margin: 0 0 0.5em;
      }
      &-subtitle3 {
        margin: 0 0 0.5em;
      }
    }
  }
  &-filtersNSearch {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 1em 0;
    &-left,
    &-right {
      display: flex;
      align-items: center;
      height: 100%;
      flex-wrap: wrap;
    }
  }
  &-search {
    position: relative;
    &-input {
      width: 200px;
      height: 40px;
      border: 1px solid #b7b7b7;
      border-radius: 3px;
      font-size: 1em;
      padding: 0.5em;
    }
    &-icon {
      background: transparent
        url('/scripts/components/NewMenu/images/search_pink.svg') no-repeat !important;
      filter: grayscale(100%);
      background-size: contain !important;
      height: 20px;
      width: 20px;
      color: transparent !important;
      position: absolute;
      top: 9.5px;
      right: 5px;
      border: none;
      &:hover {
        filter: grayscale(0%);
        cursor: pointer;
      }
    }
  }

  &-filterButton {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 0 0 1em;
    position: relative;
    cursor: pointer;
    span {
      margin: 0 0 0 1.5em;
      font-weight: 600 !important;
    }
    img {
      width: 22px;
      height: 22px;
      position: absolute;
      top: 10px;
    }
  }
  &-clearDate,
  &-clearStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27.23px;
    border-radius: 16px;
    text-align: center;
    margin: 0 0.5em 0 0;
    cursor: pointer;
    h6 {
      text-transform: none;
      padding: 0 0.5em;
      margin: 0 0.5em;
    }
    span {
      margin: 0 0.75em 0 0.5em;
    }
  }
  &-clearDate {
    border: 1px solid #501e4d;
  }
  &-clearStatus {
    border: 1px solid #217856;
  }
  &-clearDate,
  &-clearDate h6 {
    color: #501e4d;
  }
  &-clearStatus,
  &-clearStatus h6 {
    color: #217856;
  }
  &-containerDates {
    display: flex;
    margin: 0 0 1em;
  }
  &-downloadXLSX {
    margin-right: -0.75em;
    a {
      background-color: #e63976;
      border-radius: 3px;
      height: 40px;
      width: 146px;
      color: #ffffff;
      border: 1px solid #e63976;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      &:hover {
        color: #e63976;
        background-color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 941px) {
    &-containerDates {
      display: flex;
      margin: 0 0 1em;
      flex-direction: column;
      max-width: 290px;
      width: 100%;
    }
    &-clearDate {
      margin: 0 0 0.5em;
      height: 100%;
    }
    &-clearStatus {
      margin: 0;
      height: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    &-search {
      margin: 0 0em 1em 0;
      input:nth-child(1) {
        width: 100%;
      }
    }
    &-filtersNSearch-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 0 0 1em;
    }
    &-filterButton {
      height: 20px;
      padding: 0 0.75em;
      border-left: 1px solid #b7b7b7;
      border-right: 1px solid #b7b7b7;
      img {
        margin-top: 0.25em;
        position: unset;
        top: 0;
        height: 26px;
        width: 26px;
      }
    }
    &-downloadXLSX {
      margin: 0 0 0 1em;
      width: 100%;
      a {
        width: 100%;
      }
    }
    &-containerDates {
      max-width: unset;
    }
    &-clearDate,
    &-clearStatus {
      height: 32px;
    }
  }
  .pagination{
    justify-content: flex-start;
  }
}
