.about{
    background: $color5 url($images_path+'utils/texture_detail.png') center repeat;
    background-size: 150px;
    border-bottom: 1px solid lighten($color3, 30%);
    border-top: 1px solid lighten($color3, 30%);;
    padding: #{$margin-base * 2};
    &_container{
        background: white;
        border-radius: $border-radius;
        border: 1px solid lighten($color3, 30%);
        padding: #{$margin-base * 2};
        font-family: $font-title;
        p + p{
            text-indent: 0;
            margin-top: 1.5em;
        }
        p{
            color: $color3;
            font-size: .9em;
            &.bold{
                color: $color2;
                font-weight: bold;
                &.social{
                    text-align: center;
                    margin-top: 0.1em;
                }
            }
            a{
                color:$color1;
                margin-top: #{$margin-base * 3};
                word-wrap: break-word;
                text-decoration: none;
                cursor: pointer;
            }   
        }
        &--info{
            .follow_container{
                margin-bottom: $margin-base;
                border-top: $border-style;
                text-align: center;
            }
            .socialMedia .socialMedia__list{
                margin-top: 0.5em;
            }
        }
        &--photo{
            width: 100%;
            .photo{
                display: block;
                margin: 0 auto;
                overflow: hidden;
                @include background__product--default();
                @include responsive-container(percentage(344/500));
                img{
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }
            .views{
                display: block;
                ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    .thumbnail{
                        padding:#{$margin-base / 2};
                        width: 100px;
                        height: 100px;
                        .thumbnail__button{   
                            display: block;
                            margin: 0 auto;
                            overflow: hidden;
                            width: 100%;
                            cursor: pointer;
                            @include background__product--default();
                            @include responsive-container(100%);
                            opacity: .5;
                            &:hover{
                                opacity: 1;
                            }
                            img{
                                position: absolute;
                                @include responsive-image();
                                @include center-content(50%, 50%);
                            }
                        }
                    }
                }
            }
        }
        .store-schedules{
            margin-top: 1em;
            margin-bottom:0.3em;
            width: max-content;
            p{ margin: 0;}
            .name{ font-weight: bold; color: $color2;}
            .schedules-list{
                color:$color3;
                &__item{ 
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .weekday{
                        padding-right: $margin-base;
                    }
                }
            }
        } 

        .details__location{
            color: $color3;
            margin: $margin-base*2 0;
            p{margin: 0; font-size: inherit;}
            .location{
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    filter: grayscale(100%);
                    background: url($images_path+'icons/icon_location.svg') no-repeat center;
                    background-size: contain;
                    width: 7px;
                    height: 11px;
                    margin-right: #{$margin-base / 2};
                }
            }
        }
    }
    @media screen and (min-width: 45em){
        &_container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: 64em;
            padding: #{$margin-base * 3};
            p{
                &.bold.social{
                    text-align: left;
                }    
            }
            &--photo{
                flex: 0 0 50%;
            }
            &--info{
                margin-right: 2em;
                flex: 1;
                .socialMedia .socialMedia__list{
                    justify-content: flex-start;
                    margin-top: 0.5em;
                }
                .follow_container{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-align: left;
                    a{
                        margin-bottom: 0;
                    }
                }
            }
        }        
    } 
}
