.info{
    padding:#{$margin-base * 2} $margin-base;
    display: flex;
    flex-direction: column;
    color: $color3;
    &_politics{
        order: -1;
    }
    p{
        text-indent: 0;
        font-size: .9em;
    }
    li{
        &::before {
            content: "-"; 
            color:$color3;
            padding-right: $margin-base;
        }
        
    }
    .subtitle{
        color:$color1;
        font-family: $font-title;
        font-size: 1em;
        &-secundary{
            font-size: 1em;
            color: $color2;
            font-weight: bold;
        }
    }
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $color2;
        text-decoration: none;
        @include type-setting(2);
        font-family: $font-title;
        cursor: pointer;
        border-bottom: 1px solid lighten($color3, 30%);
        padding-bottom: $margin-base;
        &.dropdown {
            &:after {
                content: '';
                position: relative;
                margin-left: 0.5em;
                background: url($images_path+'icons/arrows/arrow_up.svg') no-repeat center;
                background-size: contain;
                width: 16px;
                height: 16px;
            }
        
        }
        h4{
            margin-bottom: 0;
        }
    }
    .category{
        padding: $margin-base 0;
        border-bottom: 1px solid lighten($color3, 30%);
        &:last-child, &:first-child{
            border-bottom: 0;
        }
    }
    @media screen and (min-width: $bp-desktop-sm) {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        justify-content: center; //provisional
        padding: 2.5em 3em;
        a{
            cursor: default;
            &.dropdown{
                &:after{
                    content: none;
                }
            }
        }
        &_faqs{
            margin-right: #{$margin-base * 5};
        }
        &_politic{
        }
    }
}