.holidays{
    background: linear-gradient(158deg,#f9f1c4 0%, $status-color-warning--light 70%);
    color: $color-warning;
    padding: $margin-base*2;
    text-align: center;
    position: relative;
    :before{
        content: '';
            position: absolute;
            height: 8px;
            width: 100%;
            background: linear-gradient(158deg,#f4e489 0%, #f1d747 40%, #d3b507 100%);
            top: 0; left: 0;
    }
    h4{
        color: $color-warning; 
        font-family: $font_header;
        font-weight: bold;
        margin: 0;
    }
}