section.storePage{
    @import 'store/profile';
    @import 'store/menu-store';
    @import 'store/products';
    @import 'store/reviews';
    @import 'store/aboutStore';
    @import 'store/faqs';
    @import 'store/holidays';

    padding: 0;

    a{
        @include type-setting(0);
        color: $color2; 
        &.c2a_border{
            border: 1px solid lighten($color3, 30%);
            padding: $margin-base;
            margin-bottom: 1.5em;
        }
        &.follow{
            &:before{ 
                content: '';
                display: inline-block;
                position: relative;
                background: url($images_path+'icons/icon_heart.svg') no-repeat center;
                background-size: contain;
                width: 25px;
                height: 21px;
                vertical-align: middle;
                margin-right: $margin-base;  
            }
        }
    }

    .socialMedia {
        .socialMedia__list {
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        .socialMedia__list_container {
            .socialMedia__list__item {
            @include responsive-container(100%);
            @include hide-text();
            width: 2rem;
            margin: 0 10px;
            a {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat
            }
            $footer-social-icons: ( facebook: 'social_icon_facebook.svg', pinterest: 'social_icon_pinterest.svg', instagram: 'social_icon_instagram.svg');
            @each $name,
            $icon in $footer-social-icons {
                &.#{$name} {
                a {
                    background-image: url($images_path+'icons/social/'+$icon);
                }
                }
            }
            }
        }
        }
    }

    ////////////////////////
    // SOCIAL MEDIA SHARE
    ////////////////////////
    .socialMedia__share {
        padding: $margin-base 0;
        position: relative;
        width: 320px;
        .share{
            color: $color3; font-weight: bold; text-align: center;
        }
        // Social Network
        &--buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 0 auto;
            .icon {
                @include type-setting(0);
                text-align: left;
                text-decoration: none;
                color: $color3;
                background: transparent no-repeat center;
                background-size: contain;
                border: none;
                cursor: pointer;

                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    background: no-repeat center;
                    background-size: contain;
                    top: 0.4em;
                    width: 2em;
                    height: 1.8em;
                } 
                span{
                    display: none;
                    color: white;
                    @include type-setting(0);
                }
                // &:hover{span{display: initial;}} 
                &.icon--facebook{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_facebook_color.svg');
                    }
                }
    
                &.icon--twitter{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_twitter_color.svg');
                    }
                }

                &.icon--whatsapp{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_whatsapp_color.svg');
                    }
                }
            }

            // Add to Wishlist
            .wishlist {
                border-radius: 0 0 3px 3px;
                background: linear-gradient(180deg, #FAF7F5 0%, #F1F0EF 100%);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                width: 48%;
                &:before {
                    background-image: url($images_path+'icons/icon_heart.svg');
                    margin-right: $margin-base;
                }
            }
        }

        @media screen and (min-width: $bp-mobile-l) { 
            &--buttons {
                width: 61%;
            }
        }
    }
    
    .desktop{
        display: none;
    }

    .review{
        .wrapper--center {

            flex-wrap: wrap;
            .review_title{
                width: 100%;
            }
            @media screen and (min-width: $bp-tablet-m) { 
                flex-wrap: nowrap;
                .review_title{
                    width: auto;
                }
            }
        }
    }

} 