.menu-store{
    display: none;
    @include menu_base();
    justify-content: center;
    background: $color2;
    ul{
        padding: 0;
        li{
            border-right: 1px solid $color3;
            margin: 0 $margin-base;
            padding-right: #{$margin-base * 2};
            &:last-child{
                padding-right: 0;
                border: none;
            }

            a{ 
                position: relative;
                display: block;
                padding: 0.65em 0.325em 0.425em;
                color: $color3;
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%; height: 0px;
                    background: $color1;
                    transition: height 120ms ease;
                }

                &.active{
                    color: $color4;
                    &:after{
                        height: 3px;
                    }
                }
            }
        }
    }


    @media screen and (min-width: $bp-desktop-sm) {
        display: flex;
    }  
}