/*----------------------------------------
// STORE PRODUCTS
----------------------------------------*/
.products {
  &__submenu {
    display: none;
    @include menu_base();
    a {
      @include c2a_base();
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    &__submenu {
      display: block;
      height: auto;
      margin-right: 2em;
      ul {
        flex-direction: column;
        align-items: normal !important;
        padding: #{$margin-base * 2.2};
        border: 1px solid lighten($color3, 30%);
        border-radius: $border-radius;
        li {
          margin-right: 0 !important;
          padding: #{$margin-base / 2} 0;
          a {
            display: flex;
            justify-content: space-between;
            color: $color2;
            font-family: $font-content;
            span {
              color: $color3;
              @include type-setting(-1);
            }
            &.active {
              color: $color1;
            }
          }
          &.search {
            border-bottom: 1px solid lighten($color3, 30%);
            margin-bottom: #{$margin-base * 2};
            padding-bottom: #{$margin-base * 2};
            input[type='text'] {
              background: #e0dddb url($images_path + 'icons/search/search_icon.svg')
                no-repeat calc(100% - 0.5em) center;
              padding: $margin-base #{$margin-base * 2};
              background-size: 1.2em;
              font-size: 0.8em;
              border-radius: 2em;
            }
          }
          .contact-owner {
            border-top: 1px solid lighten($color3, 30%);
            margin-top: #{$margin-base * 2};
            padding-top: #{$margin-base * 2};
            a {
              padding: #{$margin-base * 1.2} $margin-base;
              border-radius: $border-radius;
              background: linear-gradient(180deg, #e0dddb 0%, #bbb3ad 100%);
              color: $color2;
              font-size: 0.9em;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------
// PRODUCTS LIST
----------------------------------------*/

.products {
  background: $color5;
  border-top: 1px solid lighten($color3, 30%); //border-bottom: 1px solid lighten($color3, 30%);
  padding: #{$margin-base * 2} $margin-base;
  &__wrapper {
    margin: 0 auto;
    &.message-container {
      margin: auto 0;
      .message {
        text-align: center;
      }
    }
    //////////////////////
    // HEADER
    //////////////////////

    .listing-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $margin-base;
      p {
        margin: 0;
        span {
          color: $color3;
        }
      }
      a {
        margin-bottom: 0;
        background: $color4;
        &:before {
          content: '';
          display: inline-block;
          position: relative;
          background: url($images_path + 'icons/icon_filter.svg') no-repeat center;
          background-size: contain;
          width: 25px;
          height: 21px;
          vertical-align: middle;
          margin-right: $margin-base;
        }
        &.c2a_border {
          border: 1px solid lighten($color3, 30%);
          padding: $margin-base;
          color: $color2;
          margin-bottom: 0 !important;
        }
      }
    } //////////////////////
    // PRODUCTS LIST
    //////////////////////
    .products__list {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around; //max-width: 20em;
      // Product
      .product {
        padding: #{$margin-base / 2};
        flex: 0 0 50%;
        a {
          text-decoration: none;
        }
        &__info {
          padding: $margin-base 0;
          @include type-setting(-1);
          color: $color2;
          .product__name,
          .product__store-link,
          .product__rating,
          .product__price,
          .product__shippingMethod {
            display: block;
            line-height: 1.4em;
          }
          .product__rating {
            display: none;
          }
          .product__store-link {
            display: none;
            color: $color3;
          }
          .product__price {
            font-size: 1.12em;
            color: $color2;
            font-weight: bold;
          }
        }
      } // Thumnail
      .thumbnail {
        &__image {
          display: block;
          text-decoration: none;
          width: 100%;
          @include responsive-container(100%);
          overflow: hidden;
          @include background__product--default();
          img {
            position: absolute;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
            @include responsive-image();
            @include center-content(50%, 50%);
          }
        }
      }
    }
  }
  @media screen and (min-width: $bp-tablet-sm) {
    .paginator__container {
      width: 100%;
    }
    &__wrapper {
      .listing-info {
        margin: auto $margin-base;
        margin-bottom: $margin-base;
      }
      .products__list {
        //max-width: 40em;
        .product {
          padding: $margin-base;
          flex: 0 0 33.333%;
        }
      }
    }
  }
  @media screen and (min-width: 45em) {
    &__wrapper {
      .products__list {
        width: 95%;
        margin: 0 auto;
        justify-content: flex-start;
        .product {
          flex: 0 0 25%;
        }
      }
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    display: flex;
    justify-content: center;
    border-top: 0;
    padding: 2.5em 2em;
    &__wrapper {
      margin: 0;
      width: 100%;
      .mobile {
        display: none;
      }
      .desktop {
        display: block;
      }
    }
  }
}
