/*----------------------------------------
// STORE PROFILE
----------------------------------------*/
.profile{
    margin: 0 auto;
    
    //////////////////////
    // COVER PHOTO
    &__cover{
        //display: none;
        @include responsive-container(50%);
        overflow: hidden;
        width: 100%;
        max-height:15em;
        @include background__store-cover--default();
        background-color: $color5;
        
        img{
            position: absolute;
            @include center-content(50%, 50%);
            @include responsive-image();
        }
    }


    //////////////////////
    // STORE RESUME
    &__info {
        padding: $margin-base;
        margin-top: -5em;
        text-align: center;

        // CONTACT INFO/PROFILE
        .contactInfo{
            margin: 0 auto $margin-base;
            flex: 0 0 10em;
            max-width: 10em;

            // PROFILE IMAGE
            &__profilePicture{
                display: block;
                overflow: hidden;
                margin: 0 auto $margin-base;
                @include responsive-container(100%);
                @include background__store-profile--default();
                background-color: $color4;
                border: 1px solid lighten($color3, 30%);

                img{
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }
        } 
        
        // DETAILS
        .details{
            margin-bottom: #{$margin-base * 2};
            &__name{
                .title{
                    font-size: 2.0736em;
                }
                .rating-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span{padding-left: $margin-base;color: $color3;}
                }
            }
            &__location{
                color: $color3;
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    background: url($images_path+'icons/icon_location.svg') no-repeat center;
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    margin-right: #{$margin-base / 2};
                }
            }
            &__contact{
                color: $color3;
            }
            &__excerpt{}

            p{
                text-indent: 0px;
                color: $color3;
                &:last-child{
                    margin-top: 1em;
                    color: $color2;
                    margin-bottom: 0;
                }
            }
        } 

        // STORE CREATOR
        .creator{
            display: none;
            text-align: center;

            .photo{
                display: block;
                max-width: 65px;max-height: 65px;
                border-radius: 50%;
                margin: 0 auto;
                overflow: hidden;
                @include responsive-container(100%);
                img{
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }

            }
            p{
                margin-bottom: 0px;
            }
            span{
                color:$color1;
            }
        }

        // MOBILE
        .mobile {
            display: flex;
            position: relative;
            border-top: 1px solid lighten($color3, 30%);
            padding: 0 #{$margin-base * 2};
            justify-content: space-around;
            align-items: center;
            width: 100%;

            // &:before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     height: 70%;
            //     width: 1px;
            //     @include center-content(50%, 70%);
            //     background: $color4;
            // }

            a {
                margin-bottom: 0;
            }
        }
    }
    
    @media screen and (min-width: $bp-tablet-sm){
        &__info{
            padding:$margin-base #{$margin-base * 2};
        }
    }
    
    @media screen and (min-width: 45em){
        padding: 0;
        margin-bottom: 2.5em;

        // COVER PHOTO
        &__cover {
            margin-bottom: 2em;
        }
        // STORE INFORMATION
        &__info{
            display: flex;
            padding: 0 2em;
            margin-top: 0;
            align-items: flex-start;
            text-align: left;

            .mobile{
                display: none;
            }
            .desktop{
                display: block;
                .socialMedia__share{
                    padding: 0;
                    width: 100%;
                    .share{
                       flex:100%;
                    }
                }
            }

            // CONTACT INFO/PROFILE
            .contactInfo{
                position: relative;
                margin: -4em 0 0;
            }
            
            // DETAILS
            .details{
                flex: 1;
                border-bottom: 0;
                padding-left: 2em;
                padding-bottom: 0;
                margin-bottom: 0;
                &__name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
    @media screen and (min-width: $bp-desktop-sm) {    
        &__info{
            .details{
                border-right: 1px solid lighten($color3, 30%);
                padding-right: 2em;
            }
            .creator{
                display: block;
                margin-left: 1em;
                flex: 0 0 10em;
            }
        }
    }
}