/*----------------------------------------
// STORE REVIEWS
----------------------------------------*/
.review{
    padding: $margin-base $margin-base*1.5;
    .wrapper--center {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0 0 0 0;
    }

    .rating-title{
        @include type-setting(2);
        margin-bottom: 0.25em;
    }
    .rating-container{
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //flex-flow: column;
        .score{
            padding: 0 $margin-base 0 0;
            color: $color3;
        }
        .votes-count{
            display: block;
        }
        .ui-list-rating{
            display: inline-block;
        }
    }
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $margin-base;
        border-bottom: 1px solid lighten($color3, 30%);
        img{
            margin-right: $margin-base;
        }  
    }
    &_wrapper {
        margin: $margin-base auto; 
        &.message-container{
            margin: $margin-base auto; 
            .title, .message{text-align: center;}
            .title{
                &:after{
                    content: '';
                    display: block;
                    position: relative;
                    background-size: contain;
                    width: 60px;
                    height: 25px;
                    background: url($images_path+'rating/rating_start.png') no-repeat center;
                    margin: 0 auto 1em;
                }
            }
            .message{color: $color3;}
            .c2a_square{
                display: flex; 
                justify-content: center; 
                margin: 0 auto;
            }
            
        }
    }
    &_list{ width: 100%; margin: 0 0.5em 0 0.2em;}
    &_content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        width: 100%;
        border-bottom: 1px solid lighten($color3, 30%); 
        
        &--photo{
            display: block;
            overflow: hidden;
            //padding: 1em;
            @include responsive-container(100%);
            @include background__store-profile--default();
            background-color: $color4;
            border: 1px solid lighten($color3, 30%);
            max-width: 50px;
            border-radius: 50%;
            flex: 20% 1;
            margin: $margin-base $margin-base*1.5 $margin-base 0;
            img{
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }      
        }
        &--review{
            color:$color3;
            padding: 1em 0;
            flex: 80% 1;
            .content{
                &:first-child{
                    margin-bottom: 0;
                    color: $color2;
                }
            }
            .user_name{
                color: $color2;
                font-weight: bold;
                margin-right: $margin-base/2;
            }
            .date{
                font-style: italic;
                margin-right: $margin-base*3;
            }
            .status{
                font-weight: bold;
                color: $status-color-warning;
                font-style: italic;
            }
            .product-details{
                position: relative;
                margin-bottom: 0.75em;
                &__title{
                    @include type-setting(0);
                    margin-bottom: 0.75em;
                }
                &__thumbnail{
                    max-width: 120px;
                    position: relative;
                }
            }

            .score{
                @include type-setting(0);
                padding-right: 0.25em;
                font-style: none;
                font-weight: bold;
            }
            .ui-list-rating{
                //display: inline-block;
                position: relative;
                top: 0.125em;
                margin-bottom: $margin-base;
            }
        }
    }
    &_btn{
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
    @media screen and (min-width: $bp-tablet-sm){
        .review, .info{
            padding: #{$margin-base * 2};
        }
    }
    @media screen and (min-width: $bp-tablet-m) { 
        display: flex;
        flex-wrap: wrap;  
        &_title {
            min-width: 10em;
            align-self: flex-start;
            border-bottom: 0;
            margin-bottom: #{$margin-base * 2};
        }
        &_content{
            border: 0;
            &:after{
                content: '';
                display: block;
                position: absolute;
                height: 100%; width: 1px;
                @include center-content(0, 50%);
                left: 65px;
                background: $color4;
            }
            &--photo{
                margin-right: 30px;
                //padding-top: 1em;
            }
            &--review{
                border-bottom: 1px solid lighten($color3, 30%);
            }
        }
        &_btn{
            width: 100%;
        }
    }
    @media screen and (min-width: $bp-tablet-l){
        .wrapper--center{
            margin-left: $margin-base*3;
        }
    }
    @media screen and (min-width: $bp-desktop-sm) {
        .wrapper--center{
            margin-left: $margin-base*8;
        }
        &_title{
            display: block;
            padding: 0;
            border: 0;
            h3{
                margin-right: 0;
            }
        }
    }
    @media screen and (min-width: 85em){
        .wrapper--center{
            margin-left: $margin-base*13;
        }
    }
    @media screen and ( min-width:95em){
        .wrapper--center{
            margin-left: $margin-base*19;
        }
    }
}