@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/common';
@import '../../styles/typography';

.category{
  @include type-setting(-1);
  padding-left: 1.5em;
  display: inline;
  &__link{
      color: $color3;
      text-decoration: none;
      @include hover {
        color: $color1;
        transition: color $transition-delay;
     }
    }
    .active{
      color: $color1;
     }   
}

.searchForm{
      margin-bottom: 1em;
}
