.orderDetail {
  //background: $color5;
  //margin-top: -$margin-base*3;
  padding: $margin-base;
  p {
    margin: 0;
    color: $color2;
    text-indent: 0;
  }
  .title {
    @include type-setting(1);
    font-weight: bold;
  }
  .subtitle {
    font-weight: bold;
    margin-top: $margin-base;
    color: $color2;
    text-align: left;
  }

  .tracking-id {
    text-decoration: none;
  }

  .button_view {
    color: $color1;
    text-decoration: none;
    &.detail {
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat
          center;
        transform: rotate(180deg);
        background-size: contain;
        vertical-align: middle;
        margin-right: $margin-base/2;
        width: 12px;
        height: 12px;
      }
    }
  }
  //////////////////
  // ORDER
  //////////////////
  .order {
    padding: $margin-base;
    background: #ffff;
    border-radius: $border-radius;
    border: $border-style;
    border-bottom: solid 1px $color4;
    margin-bottom: 1em;
    .pickup-date {
      padding-bottom: $margin-base;
      .status {
        font-weight: bold;
      }
    }
    &_status {
      //padding: $margin-base*2 $margin-base;
      margin: 1em 0;
    }
    .status {
      font-weight: bold;
    }
    .order_status {
      border-bottom: $border-style;
      padding-bottom: $margin-base;
      margin: auto 0;
    }
    &_address {
      border-bottom: $border-style;
      padding-bottom: $margin-base;
      span {
        color: $color3;
      }
    }
    &_methods {
      display: flex;
      flex-wrap: wrap;
      border-bottom: $border-style;
      padding-bottom: $margin-base;

      &-payment {
        flex: 0 0 50%;
        .logo {
          width: 60px;
          height: auto;
          margin: 5px 0 0 0;
        }

        .payment-document-link {
          display: block;
          font-weight: bold;
          color: $color1 !important;
          @include type-setting(0);
          margin-bottom: 1em;
        }
      }

      &-shipping {
        flex: 0 0 50%;
        .method {
          color: $color3;
          span {
            font-weight: bold;
          }
        }
      }
      .total {
        display: none;
      }
    }

    .order_products {
      &-delivery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .date {
        margin: $margin-base 0 0;
      }
      .product_container {
        margin: $margin-base * 2 0;
        .product {
          margin-top: $margin-base * 3;
          &_detail {
            display: flex;
            flex-wrap: wrap;
            a {
              text-decoration: none;
            }
            &-img {
              .img_container {
                width: 90px;
                height: 90px;
                background: $color3;
                overflow: hidden;
                @include responsive-container(100%);
                position: relative;
                img {
                  position: absolute;
                  @include center-content(50%, 50%);
                  @include responsive-image();
                }
              }
            }
            &-data {
              flex: 0 0 65%;
              padding-left: $margin-base;
              .name,
              span {
                font-weight: bold;
                color: $color2;
              }
              .store,
              .attribute {
                color: $color3;
              }
            }
          }
          &_price {
            display: flex;
            justify-content: space-between;
            margin: $margin-base 0;
            .quantity {
              span {
                border: $border-style;
                padding: $margin-base/2 $margin-base;
                margin-left: $margin-base/2;
              }
            }
            .price {
              font-weight: bold;
              padding-right: $margin-base;
            }
          }

          &_notes {
            .note {
              font-style: italic;
              color: $color3;
            }
          }
        }
      }
      .total_container {
        display: flex;
        justify-content: flex-end;
        .form__helpIcon {
          top: 0.2rem;
          right: 6em;
        }
      }
      .total_price {
        background: rgba(137, 137, 137, 0.15);
        padding: $margin-base;
        text-align: right;
        flex: 1;
        .breakdown {
          position: relative;
          display: flex;
          justify-content: flex-end;
          .name {
            position: relative;
          }
          .products_count {
            @include type-setting(-1);
            margin: 0 0 0 $margin-base/2;
          }
          .quantity {
            text-align: right;
            flex: 0 0 120px;
            font-weight: bold;
          }
          &.total {
            font-weight: bold;
            margin-top: $margin-base;
            padding-top: $margin-base;
            border-top: $border-style;
          }
        }
      }
      .noInvoice{
        margin-top: 1em;
      }
    }
  }

  .store-order {
    background: $color5;
    padding: 1em;
    border: $border-style;
  }

  @media screen and (min-width: $bp-tablet-sm) {
    padding: $margin-base * 1.5;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $margin-base * 1.5;
      .status {
        display: flex;
        span {
          font-weight: bold;
        }
      }
    }
    .order {
      padding: $margin-base * 1.5;
      &_status {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      &_pickup-date {
        margin-bottom: $margin-base;
      }
      &_methods {
        justify-content: space-between;
        &-payment,
        &-shipping,
        .total {
          flex: 0 0 30%;
          padding-right: $margin-base;
        }
        .total {
          display: block;
          font-weight: bold;
          text-align: right;
        }
      }
      .order_products {
        .total_container {
          // .form__helpIcon{
          //     right: 28%;
          // }
        }
      }
    }
    .product {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_price {
        flex: 30%;
      }
      &_detail {
        flex: 60%;
      }
      &_notes {
        flex: 100%;
      }
    }
  }
  @media screen and (min-width: 45em) {
    width: 75%;
    margin-top: 0;
    .product {
      display: block;
    }
    .order {
      &_status {
        display: block;
      }
      .order_products {
        // .total_container{
        //     .form__helpIcon{
        //         right: 16%;
        //     }
        // }
      }
    }
  }
  @media screen and (min-width: $bp-tablet-l) {
    .order {
      &_status {
        display: flex;
      }
      .order_products {
        // .total_container{
        //     .form__helpIcon{
        //         right: 24%;
        //     }
        // }
      }
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    .order {
      &_address {
        display: flex;
        justify-content: space-between;
        .user {
          word-break: break-all;
        }
        .user,
        &-shipping,
        &-billing {
          flex: 0 0 30%;
          padding-right: $margin-base;
        }
      }
    }
    .order_products {
      .total_price {
        flex: 0 0 70% !important;
      }
      .total_container {
        // .form__helpIcon{
        //     right: 39%;
        // }
      }
    }
    .product {
      display: flex;
    }
    // .form__helpIcon{
    //     right: 10%;
    //     background: orange;
    // }
  }
}
