.orderListUI {
  position: relative;
  background: $color5;
  //padding: $margin-base*3 $margin-base;

  //margin-top: -$margin-base*3;
  %layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  p {
    margin: 0;
    color: $color2;
    text-indent: 0;
  }

  .button_view {
    color: $color1;
    text-decoration: none;

    &.detail {
      &:after {
        content: '';
        display: inline-block;
        position: relative;
        background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat
          center;
        background-size: contain;
        vertical-align: middle;
        margin-left: $margin-base/2;
        width: 12px;
        height: 12px;
      }
    }
  }

  ////////////////////////////////////
  // SECTION HEADER/SEARCH BOX
  ////////////////////////////////////
  &__header {
    @extend %layout;
    align-items: center;
    margin-bottom: 0.5em;

    .title {
      @include type-setting(1);
      margin: 0;
      width: 100%;
    }
    form {
      width: auto;
    }
  }

  ////////////////////////////////////
  // ORDER GROUP
  ////////////////////////////////////
  .orders-list_container {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    width: calc(100% + #{$margin-base * 2});
    margin-left: -$margin-base;
    border: solid 1px $color4;
    border-radius: 10px;
    overflow: auto;
  }
  .orders-list {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

    * {
      position: relative;
    }

    th {
    }
    tr {
    }
    td,
    th {
      cursor: pointer;
      text-align: left;
      padding: ($margin-base * 2) $margin-base;
    }
    .column--id {
      &.referrer {
        background: #f3a536;
        .order-referrer {
          font-weight: bold;
          color: #ffffff;
          display: block;
          &:before {
            content: '';
            display: inline-block;
            position: relative;
            background: url($images_path+'icons/status/icon_reward.svg')
              no-repeat center;
            background-size: contain;
            vertical-align: middle;
            width: 37px;
            height: 37px;
            left: 35%;
          }
        }
      }
      &.standard {
        background: $status-color-success;
        .button_view {
          color: #ffffff;
        }
        .order-standard {
          border-radius: 3em;
          max-width: max-content;
          text-align: center;
          color: #ffffff;
          display: block;
          @include type-setting(-1);
          &:before {
            content: '';
            display: inline-block;
            position: relative;
            background: url($images_path+'icons/schedules/icon_shipping_note.svg')
              no-repeat center;
            background-size: contain;
            vertical-align: middle;
            margin-right: $margin-base/2;
            width: 27px;
            height: 27px;
          }
        }
      }
    }
    .column--products {
      span {
        @include type-setting(-1);
        color: #afafaf;
        display: inline-block;
        padding: 0 0.5em;
      }
    }
    .column--status {
      text-align: center;
    }
    .column--priority {
      text-align: center;
      .high {
        color: $status-color-error;
      }
      .medium {
        color: $status-color-warning;
      }
      .low {
        color: $status-color-success;
      }
    }
    &__header {
      font-weight: 600;
    }
    .order {
      cursor: pointer;
      position: relative;
      background: #fff;
      color: $color3;
      border-radius: $border-radius;
      border-top: $border-style;
      border-bottom: $border-style;
      //border: $border-style;
      //border-bottom: solid 1px $color4;
      //margin: $margin-base auto;
      // display: flex;
      // flex-flow: row;
      // justify-content: flex-start;

      &:nth-child(odd) {
        background: #f5f5f5;
      }

      &--new {
        color: $color2;
        background: lighten(#f7db65, 12%) !important;
        border-color: #f7db65;

        .column--status {
          background: #f7db65 !important;
        }
      }

      .action-button {
        font-weight: bold;
        text-transform: uppercase;
        @include type-setting(-1);
      }

      //STATUS WARNINGS
      .status-display {
        display: inline-block;
        color: white;
        border-radius: 1em;
        text-align: center;
        padding: 0 ($margin-base * 1.5);
        text-transform: uppercase;
        @include type-setting(-2);
        letter-spacing: 0.05em;
        font-weight: bold;
        span {
        }

        //STATUS WARNINGS
        &--new {
          background: #f7db65;
          border-color: #f7db65;
        }
        &--preparing {
          background: #f3a536;
        }
        &--shipping {
          background: #54b6ca;
        }
        &--transit {
          background: #4d82bf;
        }
        &--other {
          background: #4d82bf;
        }
        &--ready {
          background: #4d82bf;
        }
        &--awaiting-shipment {
          background: #4d82bf;
        }
        &--delivered {
          background: $color4;
          color: $color2;
        }
        &--cancelled {
          background: $color4;
          color: $color2;
        }
      }

      // ORDER FINAL STATUS
      .final-status__header {
        @extend %layout;
        padding: $margin-base * 0.5 $margin-base;
        border-bottom: $border-style;
      }

      .order-delivered {
        background: rgba(137, 137, 137, 0.3);
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        position: relative;
        display: flex;
        justify-content: space-between;

        // .delivery,.payment{display: inline-block}
        .payment {
          text-align: right;
        }

        &__header {
          @extend %layout;
          padding: $margin-base * 0.5 $margin-base;
          border-bottom: $border-style;
        }

        //STATUS WARNINGS
        .delivered {
          background: #217856;
        }
      }

      .order-paid {
        background: $color1;
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        justify-content: space-between;

        p {
          color: white;
        }
      }

      .order-cancelled {
        background: $color3;
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        justify-content: space-between;

        p {
          color: white;
        }
      }

      &_created {
        padding: $margin-base;
        padding-bottom: 0;
        color: $color3;

        span {
          font-weight: bold;
        }
      }

      ////////////////
      // STORE ORDER
      .store-order {
        margin-bottom: 1em;

        .info {
          @extend %layout;
          margin: $margin-base;
          margin-top: 0;
          padding-bottom: $margin-base;
          border-bottom: $border-style;
          @include type-setting(-1);
        }

        .status {
          @extend %layout;

          span {
            padding-right: $margin-base;
          }
        }

        .summary {
          &__detail {
            @extend %layout;
            align-items: flex-start;
            justify-content: flex-start;
            margin: $margin-base;
            margin-bottom: 0;

            .quantity {
              @include type-setting(-1);
              color: $color3;
            }

            .store {
              color: $color3;
            }

            .img_container {
              .product_img {
                @include responsive-container(100%);
                width: 75px;
                background: $color3;
                overflow: hidden;
                position: relative;

                img {
                  position: absolute;
                  @include center-content(50%, 50%);
                  @include responsive-image();
                }
              }
            }

            .products_container {
              flex: 1 0 50%;
              padding: 0 0 0 1em;

              ul {
                li {
                  padding-left: 1em;
                  text-indent: -0.7em;

                  &:before {
                    content: '• ';
                    color: $color3;
                  }

                  p {
                    text-indent: 0;
                  }
                }
              }
            }

            .detail-container {
              display: flex;
              justify-content: space-between;
              width: 100%;

              &.user {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $bp-mobile-m) {
    .orders-list {
      .order .store-order .summary__detail {
        .detail-container {
          flex-direction: column;
          width: auto;
        }
      }
    }
  }

  @media screen and (min-width: 45em) {
    // width: 85%;
    background: none;
  }

  @media screen and (min-width: $bp-desktop-sm) {
    // width: 75%;
    .orders-list {
      .order {
        &_number {
          padding: $margin-base * 1.5;
        }

        &_status {
          margin: $margin-base $margin-base * 1.5;
        }
      }
    }
  }
}

.orderList {
  position: relative;
  background: $color5;
  padding: $margin-base;
  //margin-top: -$margin-base*3;
  %layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  p {
    margin: 0;
    color: $color2;
    text-indent: 0;
  }
  .button_view {
    color: $color1;
    text-decoration: none;

    &.detail {
      &:after {
        content: '';
        display: inline-block;
        position: relative;
        background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat
          center;
        background-size: contain;
        vertical-align: middle;
        margin-left: $margin-base/2;
        width: 12px;
        height: 12px;
      }
    }
  }

  ////////////////////////////////////
  // SECTION HEADER/SEARCH BOX
  ////////////////////////////////////
  &_header {
    @extend %layout;
    align-items: center;
    .title {
      @include type-setting(1);
      margin: 0;
    }
  }
  .form {
    width: auto;
  }

  ////////////////////////////////////
  // ORDER GROUP
  ////////////////////////////////////
  .orders-list {
    .order {
      position: relative;
      background: #fff;
      border-radius: $border-radius;
      border: $border-style;
      border-bottom: solid 1px $color4;
      margin: $margin-base auto;
      span {
        font-weight: bold;
      }

      &-detail {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: $margin-base;
        .order_created {
          color: $color3;
          span {
            font-weight: bold;
          }
        }
      }
      //STATUS WARNINGS
      .status-warning {
        color: white;
        border-radius: 1em;
        text-align: center;
        padding: 0 $margin-base;
        span {
          font-weight: bold;
        }
      }

      // ORDER FINAL STATUS
      .final-status__header {
        @extend %layout;
        padding: $margin-base * 0.5 $margin-base;
        border-bottom: $border-style;
      }

      .order-delivered {
        background: rgba(137, 137, 137, 0.3);
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        // .delivery,.payment{display: inline-block}
        .payment {
          text-align: right;
        }

        &__header {
          @extend %layout;
          padding: $margin-base * 0.5 $margin-base;
          border-bottom: $border-style;
        }
        //STATUS WARNINGS
        .delivered {
          background: #217856;
        }
      }

      .order-paid {
        background: $color1;
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        justify-content: space-between;
        p {
          color: white;
        }
      }

      .order-cancelled {
        background: $color3;
        border: $border-style;
        padding: $margin-base * 0.5 $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        justify-content: space-between;
        p {
          color: white;
        }
      }
      /////////////////
      // ORDER HEADER
      &_header {
        @extend %layout;
        align-items: center;
        background: rgba(137, 137, 137, 0.3);
        border: $border-style;
        padding: $margin-base;
        border-radius: $border-radius $border-radius 0 0;
        //STATUS WARNINGS
        .producing-order {
          background: #f3a536;
        }
        .shipping-order {
          background: #54b6ca;
        }
        .transiting-order {
          background: #4d82bf;
        }
      }
      &_detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $margin-base;
      }
      &_created {
        color: $color3;
        span {
          font-weight: bold;
        }
      }
      //STATUS WARNINGS
      .new-order {
        background: #f7db65;
        border-color: #f7db65;
      }

      ////////////////
      // STORE ORDER
      .store-order {
        margin-bottom: 1em;

        .info {
          @extend %layout;
          margin: $margin-base;
          margin-top: 0;
          padding-bottom: $margin-base;
          border-bottom: $border-style;
          @include type-setting(-1);
        }

        .status {
          @extend %layout;
          span {
            padding-right: $margin-base;
          }
        }

        .summary {
          a {
            text-decoration: none;
            color: $color2;
            cursor: pointer;
          }
          &__detail {
            @extend %layout;
            align-items: flex-start;
            justify-content: flex-start;
            margin: $margin-base;
            margin-bottom: 0;
            .quantity {
              @include type-setting(-1);
              color: $color3;
            }
            .store {
              color: $color3;
            }

            .img_container {
              .product_img {
                @include responsive-container(100%);
                width: 75px;
                background: $color3;
                overflow: hidden;
                position: relative;
                img {
                  position: absolute;
                  @include center-content(50%, 50%);
                  @include responsive-image();
                }
              }
            }
            .products_container {
              flex: 1 0 50%;
              padding: 0 0 0 1em;
              a {
                text-decoration: none;
                color: $color2;
              }
              ul {
                li {
                  padding-left: 1em;
                  text-indent: -0.7em;
                  &:before {
                    content: '• ';
                    color: $color3;
                  }
                  p {
                    text-indent: 0;
                  }
                }
              }
            }
            .detail-container {
              display: flex;
              justify-content: space-between;
              width: 100%;
              &.user {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $bp-mobile-m) {
    .orders-list {
      .order .store-order .summary__detail {
        .detail-container {
          flex-direction: column;
          width: auto;
        }
      }
    }
  }
  @media screen and (min-width: 45em) {
    width: 90%;
    background: none;
  }
  @media screen and (min-width: $bp-desktop-sm) {
    .orders-list {
      .order {
        &_number {
          padding: $margin-base * 1.5;
        }
        &_status {
          margin: $margin-base $margin-base * 1.5;
        }
      }
    }
  }
}
