.cr__modalBox--addCategory {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  &--header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    border-bottom: 1px solid #dad8d6;
    background-color: #f7f7f7;
  }
  &--content {
    margin: 1em 1.5em 2em;
    &--instructions {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      margin-bottom: 1em;
      &--tree {
        margin-top: 0.55em;
      }
      h5,
      h6 {
        text-transform: none;
        letter-spacing: 0;
      }
      h6 {
        line-height: 17px;
      }
      span {
        font-weight: 600;
      }
    }
    &--selectorContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 41px;
      border-radius: 3px;
      border: 1px solid #dad8d6;
      padding: 0.5em;
      &--img {
        width: 40px;
        img {
          width: 16px;
        }
      }
      .close {
        filter: brightness(0);
      }
    }
    &--selector {
      width: 100%;
      border: 1px solid #dad8d6;
      border-top: none;
      transition: height 0.65s ease;
    }
    &--level1,
    &--level2,
    &--level3,
    &--level4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      width: 100%;
      padding: 0 0.5em 0 2.5em;
      animation: animation 0.5s ease;
      background-color: #ffffff;
      &:hover {
        background-color: #ededed;
      }
      span {
        min-width: 185px;
      }
      &--img {
        width: 40px;
        img {
          width: 6px;
        }
      }
    }
    @keyframes animation {
      0% {
        opacity: 0;
        transform: translateY(-20%);
      }
      100% {
        opacity: 1;
        transform: translateY(5%);
      }
    }
    &--fatherCategory {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 51px;
      width: 100%;
      border-bottom: 1px solid #dad8d6;
      background-color: #ededed;
      .cr__text--subtitle3 {
        font-weight: 600 !important;
      }
      span {
        min-width: 185px;
      }
      &--img {
        margin: 0.29em 0.5em 0 1.5em;
        img {
          width: 6px;
          transform: scaleX(-1);
          filter: invert(10%) sepia(2%) saturate(5724%) hue-rotate(202deg)
            brightness(99%) contrast(71%);
          margin-bottom: 0.09em;
        }
      }
    }
  }
  &--buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 1.5em 1.5em;
    a {
      font-size: 0.8125em;
      color: #37373e;
      margin: 0 1.5em 0 0;
    }
    &--save {
      font-weight: 400;
      font-size: 0.8125em;
      line-height: 1.01562em;
      height: 40px;
      width: 100px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
    .disable {
      border: 1px solid #b7b7b7;
      background-color: #b7b7b7;
      color: #ededed;
      &:hover {
        color: #ededed;
        background-color: #b7b7b7;
      }
    }
    .button {
      border: 1px solid #c72a60;
      background-color: #e63976;
      color: #ffffff;
      &:hover {
        color: #e63976;
        background-color: #ffffff;
      }
    }
  }
  a {
    text-decoration: none;
  }
  .cursor {
    cursor: pointer;
  }
}
