//Buttons

.cr__button {
  margin: 10px;
  padding: 5px 20px;
  text-align: center;
  line-height: 1.2rem;
  min-width: 100px;
  text-decoration: none;
  transition: 0.3s ease;
}

.cr__mainBtn {
  background-color: $main;
  border: 1px solid $main;
  border-radius: 5px;
  color: $white;

  &:hover {
    background-color: $lightMain;
    border: 1px solid $lightMain;
    cursor: pointer;
  }
}

.cr__mainBtn--ghost {
  border: 1px solid $main;
  border-radius: 5px;
  color: $main;

  &:hover {
    background-color: $lightMain;
    border: 1px solid $lightMain;
    color: $white;
    cursor: pointer;
  }
}

.cr__secondaryBtn {
  background-color: $dark;
  border: 1px solid $dark;
  border-radius: 5px;
  color: $white;

  &:hover {
    background-color: $darkLight;
    border: 1px solid $darkLight;
    color: $white;
    cursor: pointer;
  }
}

.cr__secondaryBtn--ghost {
  border: 1px solid $dark;
  border-radius: 5px;
  color: $dark;

  &:hover {
    background-color: $darkLight;
    border: 1px solid $darkLight;
    color: $white;
    cursor: pointer;
  }
}

.cr__successBtn {
  background-color: $success;
  border: 1px solid $success;
  border-radius: 5px;
  color: $white;

  &:hover {
    background-color: $successLight;
    border: 1px solid $successLight;
    color: $white;
    cursor: pointer;
  }
}

.cr__successBtn--ghost {
  border: 1px solid $success;
  border-radius: 5px;
  color: $success;

  &:hover {
    background-color: $successLight;
    border: 1px solid $successLight;
    color: $white;
    cursor: pointer;
  }
}
