//Color Variables
$main: #e63976;
$lightMain: #ff679d;
$dark: #37373e;
$darkLight: #43434c;
$concrete: #f2f2f2;
$cloudy: #b5a59c;
$vanilla: #cfb39f;
$floralWhite: #fff8f2;
$ebonyClay: #343439;
$cream: #faf9f8;
$dandelion: #f8db6a;
$blond: #f8efc0;
$hacienda: #8f7d1d;
$jumbo: #898989;
$swissCoffee: #dad8d6;
$pinkLace: #f6cdd3;
$success: #1db592;
$successLight: #5bc3a7;
$white: #ffff;
$loblolly: #b7b7b7;
