.cr__icon {
  display: inline-block;
}

.cr__icon--p {
  svg {
    height: 1rem;
    display: table;
    padding: 0 0.4rem;
  }
}

.cr__icon--h1 {
  svg {
    height: 2.4rem;
    display: table;
    padding: 0 1rem;
  }
}

.cr__icon--giant {
  svg {
    height: 6rem;
    display: table;
    padding: 0 2.8rem;
  }
}
