section.banner_main{
    width: 100%;
    padding:  $margin-base;
    position: relative;
    margin-bottom: 1.25em;
    
    .slider{
        position: relative;
        width: 100%;
        transition: height 300ms ease-in-out;


        .slider_navigation{
            //@include responsive-container(60%);
            top: 0;
            position: absolute;
            width: 100%;
            z-index: 1;

            a{
                $nav_width: 10%;
                display: block;
                cursor: pointer;
                color: #fff;
                width: $nav_width;
                //height: 2.5rem;
                //max-width: 40px;
                @include responsive-container( percentage(80%/$nav_width) );

                @include hide-text();
                position: absolute;
                z-index: 9;
                top: 0%;
                
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    top: 50%;
                    transform: translateY(-50%);
                    transform-origin: center center;

                    width: 40px; height: 40px;
                    background: rgba($color2, .92) url($images_path+'icons/arrows/nav_arrow_prev.svg') 47% 50% no-repeat;
                    background-size: 20%;
                    border-radius: 100%;
                }

                &.prev{
                    //left: 10px;
                }
                &.next{
                    right: 0;
                    //right: 10px;

                      &:after {
                        right: 0;
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
        }

        &__move{
            position: relative;
            overflow: hidden;

        }

        &__container{
            width: 100%;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            transition: left 420ms ease-out;

            > .slide{
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;height: 100%;
                overflow: hidden;
                border-radius: $border-radius;
                @include responsive-container(80%);
                .slide__images {
                  order: -1;
                  display: flex;
                  flex-flow: row wrap;
                  @include responsive-container(80%);
                  overflow: hidden;
                  position: absolute;
                  width: 100%;
                  background: $color4;

                  img {
                    @include responsive-image();
                    @include center-content(50%, 50%);
                  }

                  .container {
                    position: absolute;
                    overflow: hidden;
                    width: 100%; height: 100%;
                    top: 0; // Right Border

                    a{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    div {
                      position: relative;
                    }
                  }
                }


                &.collection .slide__images{
                    order: -1;
                    display: flex;
                    flex-flow: row wrap;
                    @include responsive-container(60%);
                    overflow: hidden;
                    border-radius: $border-radius;
                    margin-bottom: 0.625em;

                    img{
                        @include responsive-image();
                        @include center-content(50%, 50%);
                        position: absolute;
                    }

                    .container{
                        position: absolute;
                        overflow: hidden;

                        div{
                            position: relative;
                        }
                    }

                    .container:nth-child(1){
                        width: 60%; height: 100%;
                        top: 0;

                        // Right Border
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            z-index: 1;
                            width: 1px; height: 100%;
                            right: 0;
                            background-color: #fff;
                        }
                    }
                    .container:nth-child(2){
                        width: 40%; height: 50%;
                        top: 0; left: 60%;
                        display: flex;
                        flex-flow: row;
                        
                        div{
                            width: 50%;
                            overflow: hidden;

                            // Left Border
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                z-index: 1;
                                width: 1px; height: 100%;
                                left: 0;
                                background-color: #fff;
                            }
                        }
                    }
                    .container:nth-child(3){
                        width: 40%; height: 50%;
                        left: 60%; top: 50%;

                        // Top Border
                        &:before{
                            content: '';
                            display: block;
                            position: absolute;
                            z-index: 1;
                            width: 100%; height: 1px;
                            top: 0;
                            background-color: #fff;
                        }
                    }
                }


                .slide__data{
                    position: relative;
                    text-align: center;
                    @include responsive-container(51%);
                    overflow: hidden;
                    background:$color2;
                    .content-wrapper{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 100%;
                        transform: translateX(-50%);
                        padding: $margin-base*1.5;
                    }
                    .title{
                        font-family: $font_title_bold;
                        color: #fff;
                        @include type-setting(1);
                        margin-bottom: 0.125em;
                        text-transform: uppercase;
                        a{
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                    p{
                        color: #fff;
                        line-break: 1em;
                        margin: 0;
                    }
                }
            }
        }


    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
        @media screen and (min-width: $bp-mobile-m){
            // Slides
            .slide{
                &:before{content: none;}
                .slide__images{@include responsive-container(60%)}
                .slide__data{
                    @include responsive-container(39%);
                    .title{ @include type-setting(2); margin-bottom:$margin-base}
                    p{ font-size: 1.065em }
                }
            }
        }
        @media screen and (min-width: $bp-tablet-sm){
            // Slides
            .slide{
                .slide__images{@include responsive-container(50%)}
                .slide__data{
                    @include responsive-container(21%);
                    .title{ @include type-setting(1)}
                }
            }
        }
        @media screen and (min-width:$bp-tablet-m) {
          $banner_ratio: 50%;
          &__container {
            >.slide {
                flex-direction: row;
              .slide__images {
                @include responsive-container(75%);
                flex: 0 0 62%;
                order: 1;
              }
              .slide__data{
                flex: 1;
                max-height: none;
                background-image: url($images_path+'storeApp/menu_texture.svg');
                background-size: 18em;
                background-repeat: repeat-x;
                background-position: center;
                text-align: left;
                .content-wrapper{
                    @include center-content(50%, 50%);
                    height: 100%;
                    width: 85%;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                }
            }
            }
          }
          .slider_navigation {
            a {
              $nav_width: 5%;
              width: $nav_width;
              &:before {
                padding-bottom: percentage($banner_ratio/$nav_width);
              }
            }
          }
        }


        @media screen and (min-width: $bp-tablet-l) {
          $banner_ratio: 35%;
          &__container {
            >.slide {
              .slide__images {
                @include responsive-container(65%);
                flex: 0 0 56%;
              }
            }
          }
          .slider_navigation {
            a {
              $nav_width: 5%;
              width: $nav_width;
              &:before {
                padding-bottom: percentage($banner_ratio/$nav_width);
              }
            }
          }
        }

        @media screen and (min-width: $bp-desktop-sm) {
          $banner_ratio:30%;
          width: 80%;
          margin: 0 auto;
          &__container {
            >.slide {
              .slide__images {
                order: -1;
              }
              .slide__data{
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 5px;
                    height: 100%;
                    right: 0;
                    top: -2px;
                    transform: skew(0, 30deg);
                    background: #bb1851;
                    z-index: -1;
                }
                .title{ 
                    background: $color-gradient;
                    padding: $margin-base*2 2.25em;
                    margin: 0 -2.3em;
                    width: 132%;
                }
              }
            }
          }
          .slider_navigation {
              width: 114%;
              left: -54px;
            a {
              $nav_width: 5%;
              width: $nav_width;
              &:before {
                padding-bottom: percentage($banner_ratio/$nav_width);
              }
            }
          }
        }
        @media screen and (min-width: $bp-desktop-m){
            .slider_navigation {
                width: 114%;
                left: -65px;
            }
        } 
    }


    //
    .bulletsList{
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);

        .bullets{
            width: auto;
            text-align: center;
            display: flex;

            > li{
                display: inline-block;
                @include hide-text();
                margin: 0 2px;

                a{
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 20px;
                    @include responsive-container(100%);
                    background: rgba(228, 227, 226, .6);
                    width: 10px;

                    &:hover,
                    &.active{
                        background: $color-gradient;
                    }
                }
            }
        }
        @media screen and (min-width:$bp-tablet-m) {
            bottom: -$margin-base;
        }
        
    }
     
}
