/*----------------------------------------
// POSTS GRID
----------------------------------------*/
section.posts-grid {
    border-top: solid 1px $color4;
    border-bottom: solid 1px $color4;
    background: $color5;
    text-align: center;

    //////////////////////
    // POSTS LIST
    .posts-grid__list {
        position: relative;
        display: flex;
        flex-flow: row wrap; //justify-content: center;
        text-align: left;
        margin: 0 #{ -($margin-base/2 ) } 2em;
        transition: height 320ms ease-in-out;
        
        // POST
        >.post {
            overflow: hidden;
            width: 50%;
            border-radius: $border-radius;
            .post__wrapper {
                position: relative;
                margin: 0 #{ $margin-base/2 } $margin-base;
                background-color: #fff;
                box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.04);
            }
            .post__image {
                position: relative;
                max-height: 20em;
                overflow: hidden;
                a {
                    display: block;
                    position: relative;
                    img {
                        display: block;
                        @include responsive-image();
                    }
                }
            } //
            .post__info {
                position: relative;
                padding: 0.625em 0.4375em;
                h4 {
                    @include type-setting(0);
                    line-height: 1.2em;
                    a {
                        color: $color2;
                        display: block;
                        text-decoration: none;
                        font-family: $font_content;
                    }
                }
            }
        }
        /* @media screen and (min-width: 36.25em) {
            > .post{ width: 33% }
        }

        @media screen and (min-width: 45.5em) {
            >.post {
                width: 25%
            }
        }
        */
        @media screen and (min-width: 60em) {
            width: 92%;
            margin: 0 auto 2em;
            >.post {
                //width: 20%;
                .post__wrapper {
                    margin: 0 #{ $margin-base } $margin-base*2;
                }
            }
        }
    }
}