/*----------------------------------------
// MARKETPLACE RELATED
----------------------------------------*/
section.related-marketplace {
    .related-marketplace__list {
        position: relative;
        width: 78.5%;
        margin: 0 auto;
        .item {
            position: relative;
            .item_wrapper {
                border: solid 1px $color4;
                background: #fff;
                .item__image {
                    @include responsive-container(75%);
                    a {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        overflow: hidden;
                        img {
                            position: absolute;
                            @include responsive-image();
                            @include center-content(50%, 50%);
                        }
                    }
                }
                .item__info {
                    padding: 0.875em 0.4375em 0.625em;
                    font-size: 0.9em;
                    a {
                        text-decoration: none;
                    }
                    h4 {
                        @include type-setting(0); //font-size: 0.875em;
                        font-family: $font-content;
                        line-height: 1.25em;
                        margin-bottom: 0;
                        a {
                            color: $color2;
                        }
                    }
                    .item__info__username {
                        font-size: 0.9em;
                        color: $color3;
                    }
                }
            }
        }
    }
}