/*----------------------------------------
// SEARCH BAR / TAGS LIST
----------------------------------------*/
section.search {
  order: -1;
  margin-bottom: 0.9375em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 50em;

  /////////////////////
  // SEARCH FORM
  form {
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 0.625em; // INPUT
    input[type="text"] {
      background: #f5f5f5 url($images_path+"icons/search/search_icon.svg")
        no-repeat calc(100% - 1.5em) center;
      background-size: 1.25em;
      color: $color2;
      border: solid 1px $color4;
      padding: 0.875em 3.5em 0.62em 1.5em;
      width: 95%;
      font-size: 1.12em;
      font-family: $font_title_bold;
      border-radius: 2em;
      transition: border-color 200ms ease;
      &:focus {
        /*border-color: darken($color4, 20%)*/
      }
    } // MEDIA QUERIES
    @media screen and (min-width: $bp-tablet-sm) {
      max-width: 70%;
    }
  } /////////////////////////////
  // CATEGORIES / LIST TAGS

  .categories {
    text-align: center;

    .categories__slider {
      //position: relative;
      overflow: auto;
      height: auto;
      overflow-y: hidden;
      ul {
        padding: 20px 0px;
      }
    }

    .categories__list {
      display: flex;
      flex-flow: row no-wrap;

      .category {
        position: relative;
        flex: 0 0 35%;
        margin-right: 0.625em;
        text-transform: capitalize;

        .category__wrapper {
          border-radius: 20px;
          overflow: hidden;
        }

        h3 {
          position: absolute;
          z-index: 2;
          @include center-content(50%, 50%);
          @include type-setting(-1);
          line-height: 1.5em;
          width: max-content;
          font-weight: 600;
          padding: 0 1em;
        }

        a.category__image {
          display: block;
          max-height: 60px;
          @include responsive-container(percentage(60/200));
          color: #fff;
          text-decoration: none;

          &:before {
            background-color: rgba($color2, 0.65);
            z-index: 1;
            top: 0;
            left: 0;
          }

          img {
            position: absolute;
            @include center-content(50%, 50%);
            @include responsive-image();
          }
        }

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }

    /*----------------------------------------
        // MEDIA QUERIES
        ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-sm) {
      .categories__list {
        .category {
          flex: 0 0 15%;
        }
      }
    }
  }
}
