/*----------------------------------------
// SIDEBAR
----------------------------------------*/
.sidebar {
    background: $color5;
    padding: #{ $margin-base * 3.5} $margin-base;
    
    ////////////////
    // TAGS LIST
    ////////////////
    &__tags {
        border-bottom: solid 1px $color4;
        padding-bottom: 2em;
        margin-bottom: 2em;
        position: relative;

        // Tags
        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; // TAG
            @include type-setting(-1);
            &__item {
                position: relative;
                margin: 0.25em;
                a {
                    display: inline-block;
                    background: #fff;
                    color: $color1;
                    text-decoration: none;
                    border: 1px solid #DAD8D6;
                    border-radius: 17.5px;
                    padding: 0.325em 1.12em;
                }
            }
        }
    }
    
    ////////////////////////
    // POSTS CONTAINER
    ////////////////////////
    .posts-grid {
        padding: 0;
        border: none;
    }
}