/*----------------------------------------
// ARTICLE WRAPPER
----------------------------------------*/
.single {
    @media screen and (min-width: $bp-tablet-sm) {
        .article-container {
            margin: 0 auto;
            width: 85%;
            padding-top: 2em;
            
            // COVER
            .article-container__cover {
                margin-left: 0;
                margin-right: 0;
                order: 0;
                width: 100%;
            }
            
            // SHARE	
            .article-container__share {
                height: 50px;
                border-radius: 3px 3px 0 0;
                margin-bottom: 0;
                a {
                    span {
                        display: inline;
                    }
                    &:before {
                        margin-right: 0.75em;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 55em) {
        .single__wrapper {
            border-top: solid 1px $color4;
            display: flex;
            flex-flow: row wrap;
        }
        .sidebar {
            width: percentage(530/1440);
        }
        .posts-grid {
            border-top: none;
            &__list {
                .post {
                    width: 50% !important
                }
            }
        }
        .article-container {
            display: block;
            width: percentage(910/1440);
            padding: 3.25em 6%;
        }
    }
    @media screen and (min-width: 72em) {
        .article-container {
            .author {
                width: auto;
                display: flex;
                flex-flow: row nowrap; //justify-content: space-between;
                padding: 0 $margin-base;
                border: none;
                order: 1;
                &__info {
                    padding: 0 1em 0 0;
                    margin: 0;
                    border: 0;
                    flex: 1;
                }
                &__links {
                    flex: 0 250px;
                }
            }
        }
    }
}

/*----------------------------------------
// ARTICLE CONTAINER
----------------------------------------*/
section.article-container {
    position: relative;
    padding-top: 0;
    padding-bottom: 2em;
    display: flex;
    flex-flow: row wrap;
    //border-bottom: solid 1px $color4;
    //padding-bottom: 2em;

    /*----------------------------------------
	// COVER CONTAINER
	----------------------------------------*/
    .article-container__cover {
        order: -1;
        width: calc(100% + #{$margin-base * 2});
        position: relative;
        margin: 0 #{-($margin-base)} 1em; //box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
        .link{
            position: relative;
            display: block;
            width: 100%;
        }
        .image {
            @include responsive-image();
        }
    }
    /*----------------------------------------
	// SHARE / SOCIAL MODULE
	----------------------------------------*/
    .article-container__share {
        position: relative;
        width: 100%;
        margin-bottom: 1em;
        border-radius: 0 0 3px 3px;
        background: linear-gradient(180deg, #FAF7F5 0%, #F1F0EF 100%);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        display: flex;
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 70%;
            width: 1px;
            @include center-content(50%, 50%);
            background: $color4;
        }

        // Social Network
        .social-share {
            display: flex;
            width: 50%;
        }

        a {
            display: inline-block;
            width: 50%;
            height: 100%;
            @include type-setting(0);
            line-height: 3.25em;
            text-align: center;
            text-decoration: none;
            color: $color2;
            background: transparent;
            border: none;
            cursor: pointer;

            span {
                display: none;
            }
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                background: no-repeat center;
                background-size: contain;
                top: 0.4em;
                width: 1.5em;
                height: 1.5em;
            }
            &.market {
                color: $color1;
                &:before {
                    background-image: url($images_path+'icons/icon_cart.svg');
                }
            }

            &.icon--facebook{
                color: $color2;
                &:before {
                    margin-right: 0.75em;
                    background-image: url($images_path+'icons/social/social_icon_facebook.svg');
                }
            }

            &.icon--twitter{
                color: $color2;
                &:before {
                    margin-right: 0.75em;
                    background-image: url($images_path+'icons/social/social_icon_twitter.svg');
                }
            }

            // &.icon--pinterest{
            //     &:before {
            //         background-image: url($images_path+'icons/social/social_icon_pinterest.svg');
            //     }
            // }

            // &.add {
            //     &:before {
            //         background-image: url($images_path+'icons/icon_heart.svg');
            //     }
            //     &:after {
            //         content: '';
            //         display: inline-block;
            //         position: relative;
            //         margin-left: 0.5em;
            //         background: url($images_path+'icons/arrows/arrow_down_gray.svg') no-repeat center;
            //         background-size: contain;
            //         width: 12px;
            //         height: 12px;
            //     }
            // }

        }
    }
    /*----------------------------------------
	//AUTHOR MODULE
	----------------------------------------*/
    .author {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 1em;
        padding-bottom: 1.25em; //border-bottom: solid 1px $color4;
        width: 100%;
        order: 1;
        &__info {
            position: relative;
            display: flex;
            align-items: center;
            flex-flow: row;
            width: 100%;
            font-size: 0.9375em;
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: solid 1px $color4;
            img {
                display: inline-block;
                border: solid 2px $color4;
                border-radius: 20em;
                width: 80px;
                height: auto;
                align-self: flex-start;
                margin-right: 1em;
            }
            >div {
                display: inline-block;
                h5 {
                    font-family: $font_content;
                    font-weight: normal;
                }
                span {
                    color: $color1
                }
                a {
                    color: $color1;
                    text-decoration: none;
                }
            }
        }
        &__links {
            //flex: 1 250px;
            width: 100%;
            text-align: center;
            &--wrapper {
                margin: auto;
                max-width: 250px;
            }
            a {
                display: block;
                width: auto;
            }
            &--source {
                color: $color3;
                text-decoration: none;
                font-style: italic;
                line-height: 23px;
                margin-bottom: 0.25em;
            }
            &--market {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 0px;
                    left: 0;
                    background: rgba(#fff, 0.2);
                }
            }
        }
    }
    /*----------------------------------------
	// META INFORMATION
	----------------------------------------*/
    .meta {
        margin-bottom: 1em;
        border-top: solid 1px $color4;
        padding-top: 2em;
        .meta__date {
            color: $color3;
            font-style: italic;
            @include type-setting(-1);
            margin-bottom: 0.325em;
            font-weight: 300;
        }
        .title {
            @include type-setting(2);
            font-family: $font-content;
            font-weight: 600;
            margin-bottom: 0.325em;
        }
        .meta__excerpt {
            color: $color3;
            font-size: 1.25em;
        }
    }
    .content{
        a{
            color: $color1;
            text-decoration: none;
        }
        img{
            width: 70%!important;
            height: auto!important;
            display: flex;
            margin: $margin-base*2 auto;
        }
        p+p{text-indent: 0;}
        p{
            font-family: $font_content!important;
            span{
                font-family: $font_content!important  
            }
        }  
        h1, h2, h3, h4, h5{
            text-transform: initial!important;
            font-family: $font_title!important;
            font-size: 1.5em!important;
            span{
                text-transform: initial!important;
                font-family: $font_title!important;
                font-size: 1em!important;
            }

        }
    }
    /*----------------------------------------
	// MATERIALS LIST
	----------------------------------------*/
    .materials {
        border-top: solid 1px $color4;
        padding-top: 2em;
        width: 100%;
        h3 {
            @include type-setting(1);
            font-family: $font-content;
            font-weight: 600;
            margin-bottom: 0.625em;
        }
        .materials__list {
            position: relative;
            border: solid 1px $color4;
            background: $color5;
            padding: #{$margin-base * 2.5} #{$margin-base * 2};
            .materials__list__item {
                position: relative;
                margin-bottom: 0.625em;
                padding-left: 1.5em;
                &:last-child {
                    margin-bottom: 0
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: .5em;
                    width: 6px;
                    height: 6px;
                    border-radius: 2em;
                    background: $color-gradient;
                }
            }
        }
    }
}