.cr__home {
  margin-top: -0.75em;
  @media screen and (max-width: 900px) {
    margin-top: 0;
    margin-bottom: -0.35em;
  }
}

.cr__covid {
  height: 55px;
  max-height: 55px;
  width: 100%;
  max-width: 1060px;
  background-color: #f8db6a;
  position: relative;
  text-align: center;
  margin: 0 auto;
  &-list {
    display: flex;
    height: 100%;
  }
  &-img-lefthand {
    img {
      height: 55px;
    }
  }
  &-img-alert {
    margin-left: 1.5em;
    margin-right: 1em;
    margin-top: 0.75em;
    img {
      height: 30px;
      width: 30px;
    }
  }
  &-img-righthand {
    position: absolute;
    right: 0;
    img {
      height: 55px;
    }
  }
  &-textContainer {
    margin-top: 0.25em;
    &-title {
      font-weight: bold;
      text-transform: none;
      text-align: left;
      margin-bottom: 0;
      @include type-setting(0);
      width: 100%;
      max-width: 800px;
    }
    &-subtitle {
      text-transform: none;
      text-align: left;
      margin-bottom: 0;
      width: 100%;
      max-width: 800px;
      @include type-setting(0);
    }
    &-mobile {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 0.75em;
    &-img-lefthand {
      display: none;
    }
    &-img-alert {
      margin-left: 0.5em;
      margin-right: 0.25em;
      margin-top: 0.85em;
      margin-bottom: 0.25em;
      img {
        height: 25px;
        width: 25px;
      }
    }
    &-img-righthand {
      display: none;
    }
    &-textContainer {
      &-title {
        display: none;
      }
      &-subtitle {
        display: none;
      }
      &-mobile {
        display: inline-block;
        text-transform: none;
        font-size: 1em;
        line-height: 22.048px;
        padding: 0.25em;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  // margin: 0.25em 2.5em 1em 2.5em;
  margin-bottom: 0.75em;
  &-img-lefthand {
    display: none;
  }
  &-img-alert {
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-top: 0.75em;
    img {
      height: 25px;
      width: 25px;
    }
  }
  &-img-righthand {
    position: absolute;
    right: 0;
    img {
      height: 55px;
    }
  }
  &-textContainer {
    &-title {
      font-size: 0.9em;
    }
    &-subtitle {
      font-size: 0.8333em;
    }
  }
}
.cr__covidModalBox {
  background-color: white;
  padding: 2em;
  text-align: left;
  p {
    color: #37373e;
    @include type-setting(0);
    margin-bottom: 0.5em;
    text-indent: none;
    text-align: justify;
    text-justify: inter-character;
  }
}
