@import '~@canastarosa/ds-theme/colors/sass/variables';

.cr__methodsPayments {
  padding: 1em;
  &__title {
    @include type-setting(1);
  }
  &__list {
    &-item {
      // border: 1px solid lightgray;
      margin: 1em 0em;
      padding: 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 488px;
      width: 488px;
      height: 82px;
      box-shadow: 0 1px 5px 0 rgba(107, 107, 122, 0.27);
      cursor: pointer;
      .cr__cardProvider {
        display: inline-block;
      }
      .cr__cardInformation {
        display: inline-block;
        margin-left: 1.5em;
        padding-bottom: 0.5em;
        &-lastFour {
          color: $colorDark300;
        }
      }
      .cr__defaultCard {
        display: inline-block;
        .cr__defaultCard-true {
          color: $colorMain300;
        }
      }
      .cr__iconContainer {
        display: inline-block;
        padding-left: 2em;
        border-left: 1px solid $colorGray300;
        height: 50px;
        .cr__icon--trash {
          margin-top: 0.8em;
          display: block;
        }
      }
      .cr__iconContainer:hover {
        color: black;
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        max-width: 380px;
        width: 380px;
      }
      @media screen and (max-width: 767px) {
        width: auto;
        .cr__cardInformation {
          margin-left: 0.5em;
        }
      }
    }
    &-item:hover {
      box-shadow: 1px 2px 6px 0 rgba(107, 107, 122, 0.47);
      transition: $transition-delay;
    }
    // Second li ---> rest of the list
    .cr__container-card {
      max-width: 395.5px;
      width: 100%;
      height: 82px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        max-width: 380px;
        width: 380px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 400px;
        justify-content: flex-start;
        .cr__cardInformation {
          margin-left: 0.5em;
        }
      }
    }
    .cr__container-icon {
      display: inline-block;
      border-left: 1px solid $colorGray300;
      padding-left: 2em;
      height: 50px;
      width: 45px;
      .cr__icon--trash {
        margin-top: 0.8em;
        display: block;
      }
    }
    .cr__container-icon:hover {
      color: black;
    }
  }
  .cr__sadCardContainer {
    text-align: center;
    p {
      margin-bottom: 1.5em;
    }
  }
  .center-title {
    text-align: center;
    margin-bottom: 0.5em;
  }
}
