.reviewsList{
    position: relative;
    background: $color5;
    padding: $margin-base;
    //margin-top: -$margin-base*3; 
    %layout{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @mixin layout-base() {
        @extend %layout;
    }
    p{margin: 0; color: $color2; text-indent: 0;}

    .button-square--gray{
        margin-left: $margin-base;
    }

    // LISTING INFO & FILTERS ICON
    .filters{
        position: relative;
        display: flex;
        justify-content: flex-end;
        p{color:$color3;margin: 0 $margin-base 0 0; }
        &__list{
            overflow: hidden;
            width: 130px;
            position:relative;
            &:after{
                content:"\025be";
                color: #777777;
                display:table-cell;
                text-align:center;
                width:30px;
                height:30px;
                background-color:$color4;
                position:absolute;
                padding-top: 2px;
                top:0px;
                right:0px;	
                pointer-events: none;
            }
            select {
                background: #fff;
                color: #777777;
                border: $border-style;
                font-family: $font_content;
                @include type-setting();
                height: 30px;
                padding: 5px;
                width: 120px;
            }
            select:focus{ outline: none;}
        }
    }

    &_header{
        @include layout-base();
        justify-content: center;
        align-items: left;
        border-bottom: solid 1px $color4;

        .tab-button{
            @include type-setting(1);
            margin: 0;
            padding: 0.5em 1em;
            background: transparent;
            border: solid 1px $color4;
            border-bottom: 3px solid white;
            border-right: none;

            &--active{
                background: white;
                border-bottom-color: $color1;
            }

            &:last-child{
                border-right: solid 1px $color4;
            }
        }
        .note{color: $color3;}
        
    }
    .review_wrapper{
        margin: $margin-base 0; 
        span{color: $color1;}
    }
    .productReview-list{
        margin-top: $margin-base*2;
    }
    .btn-container {
        text-align: center;
        margin: $margin-base*2 0 $margin-base*2 0;
    }
    .productReview{
        position: relative;
        background: #fff;
        border-radius:$border-radius;
        border: $border-style;
        border-bottom: solid 1px $color4;
        margin: $margin-base/2;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.15);

        /////////////////
        // ORDER HEADER
        &_header{
            @include layout-base();
            align-items: center;
            border-bottom: $border-style;
            padding:$margin-base*0.5 $margin-base;
            .day{
                @include type-setting(-1);
            }
        }

        .summary{
            padding: $margin-base 0;
            &__detail{
                margin: 0 $margin-base 0;
                position: relative;
                &-order{
                    padding:$margin-base*0.5 0;
                    .day, .order, .price, .status{
                        font-weight: bold;
                       span{font-weight: normal;}
                    }
                }
                .img_container{
                    width: 100%;
                    position: relative;
                    // Overlay
                    &:after {
                        content: "";
                        background: darken($color2, 20%);
                        opacity: 0.4;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                    }
                    .product_img{
                        @include responsive-container(100%);
                        width: 100%;
                        max-height: 130px;
                        background: $color3;
                        overflow: hidden;
                        position: relative;
                          
                        img{
                            position: absolute;
                            @include center-content(50%, 50%);
                            @include responsive-image();
                        }
                    }
                }
                .info_container{
                    @include center-content(50%, 50%);
                    width: 90%;
                    text-align: center;
                    position: absolute;
                    .store, p{color: #fff;}
                    
                }

                .review_product{
                    padding: $margin-base 0;
                    border-top: $border-style;
                    .comment{ 
                        font-weight: bold; 
                        margin: 0 0 .6em;
                        span{font-weight: normal;}
                    }
                    
                    &-rating{
                        display: flex;
                        align-items: center;
                        order: -1;
                        flex-flow: column wrap;

                        .ui-list-rating__stars {
                            transform: scale(1.5);
                        }

                        .button{
                            @include type-setting(0);
                            width: 100%;
                            flex: 0 0 100%;
                            color: $color1!important;
                            //border-bottom: 2px solid $color1;
                            padding: 0;
                            margin-bottom: .875em;
                        }
                    }
                }
            }
        }

    }
    @media screen and (min-width: $bp-tablet-sm){
        .productReview-list{
            display: flex;
            flex-wrap: wrap;
            .pagination {
                width: 100%;
            }
        }
        .productReview{
            flex: 0 0 48%;
            .summary__detail{
                .review_product{
                    width: 100%;
                    &-rating{order: 0;}
                }
            }
        }
    }
    @media screen and (min-width: 45em){
        width: 65%;
        background: none;
        .productReview{
            flex: 0 0 100%;
        }
    }
    
    @media screen and (min-width: $bp-desktop-sm){
        width: 75%;
        .productReview{
            flex: 0 0 48%;
        }
    }
}