//USER PROFILE
.profile_container {
  @import '../orders';
  // padding: $margin-base*3 0;
  margin-top: #{$margin-base * 3};

  .open {
    display: block;
  }
  .closed {
    display: none;
  }
  .category {
    border-top: 1px solid lighten($color3, 30%);
    padding: 0 $margin-base;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      @include type-setting(0);
      line-height: 3.25em;
      font-size: 1.2em;
      font-family: $font_title_bold;
      text-decoration: none;
      color: $color2;
      cursor: pointer;
      &.dropdown {
        &:after {
          content: '';
          position: relative;
          margin-left: 0.5em;
          transform: rotate(180deg);
          background: url($images_path+'icons/arrows/arrow_up.svg') no-repeat
            center;
          background-size: contain;
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  p {
    color: $color3;
  }
  a.danger {
    color: #e83b46;
    font-weight: 500;
    text-align: left;
    font-family: $font_content;
    text-decoration: none;
  }

  .disabled_account {
    padding: 2em 1em;
    border-top: 1px solid lighten($color3, 30%);
    p {
      @include type-setting(-1);
      text-align: justify;
    }
    h5 {
      font-family: $font_content;
      @include type-setting(0);
    }
  }

  .menu_category {
    display: none;
  }

  .info_principal {
    &_photo {
      .field_photo {
        @include responsive-container(100%);
        @include hide-text();
        margin: auto;
        width: 12rem;
        height: 12rem;

        &--image {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          border: 2px solid $color3;
          border-radius: 50%;
        }

        img {
          @include responsive-image();
          @include center-content(50%, 50%);
          display: block;
          position: absolute;
        }

        .inputfile {
          z-index: 1;
          display: block;
          position: absolute;
          background: url($images_path+'icons/icon_more_oval.svg') no-repeat
            center;
          background-size: contain;
          border-radius: 50%;
          border: solid 2px #fff;
          width: 45px;
          height: 45px;
          right: 0;
          bottom: 6%;
        }

        label {
          cursor: pointer;
        }
      }
      .field_name {
        p {
          .location {
            &:before {
              content: '';
              display: inline-block;
              position: relative;
              background: url($images_path+'icons/icon_location.svg') no-repeat
                center;
              background-size: contain;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
      .field_name,
      .field_about {
        text-align: center;
        padding: $margin-base;
      }
    }
  }

  .fields {
    background: $color5;
    padding: #{$margin-base * 2.5} $margin-base;
    .field_container {
      text-align: center;
    }

    .submit {
      text-align: center;
      margin-top: 0.5em;
    }

    .half {
      width: 48.5%;
      display: inline-block;
    }
    .half:first-child {
      margin-right: 0.5em;
    }

    .add {
      color: $color2;
      font-weight: lighter;
      font-family: $font-content;
      font-size: 0.875em;
      background: #f0edeb;
      padding: 1em 0.75em;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      border: 0;
      border-radius: $border-radius;
      border: $border-style;
      cursor: pointer;
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        background: url($images_path+'icons/icon_more.svg') no-repeat center;
        background-size: contain;
        vertical-align: middle;
        margin-right: $margin-base;
        width: 15px;
        height: 15px;
      }
    }
  }

  @media screen and (min-width: $bp-tablet-sm) {
    .address {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .form__data {
        flex: 70%;
        margin-right: $margin-base * 2;
      }
      &_c2a {
        display: flex;
        flex: 12%;
        justify-content: space-between;
        .button {
          @include type-setting(-1);
          text-decoration: none;
          color: $color3;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (min-width: 45em) {
    padding: $margin-base * 3 $margin-base;
    margin: #{$margin-base * 5};
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .fields {
      .half {
        width: 100%;
      }
    }
    .menu_category {
      display: inline-block;
      text-align: center;
      width: 33%;
      .categories {
        border: $border-style;
        background: $color5;
        padding: #{$margin-base * 2.5};
      }
      h4 {
        margin-bottom: $margin-base;
      }
      .category {
        border-bottom: $border-style;
        border-top: 0;
        a {
          font-family: $font_content;
          font-size: 1em;
          &.dropdown {
            &:after {
              display: none;
            }
          }
          .hover-active &:hover,
          &.active {
            color: $color1;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    .user_info {
      width: 65%;
    }
    .info_principal {
      &_photo {
        padding-bottom: $margin-base;
        border-bottom: 1px solid lighten($color3, 30%);
        width: 100%;
        .field_about {
          textarea {
            margin: $margin-base 0;
          }
        }
      }
      &_general {
        .category {
          display: none;
          a {
            &.dropdown {
              &:after {
                display: none;
              }
            }
          }
        }
        .fields {
          background: none;
          .half:first-child {
            margin-right: 0.5em;
          }
        }
      }
    }

    .disabled_account {
      padding: 2em 0;
    }
    .address {
      display: block;
      &_c2a {
        justify-content: flex-end;
      }
    }
    .orderList {
      width: 67%;
    }
  }

  @media screen and (min-width: $bp-desktop-sm) {
    .fields {
      .half {
        width: 48.5%;
      }
    }
    .menu_category {
      width: auto;
      //padding: $margin-base*3 $margin-base;
    }
    .user_info {
      width: 75%;
      //padding: #{ $margin-base * 2.5} $margin-base;
    }

    .address {
      display: flex;
      &_c2a {
        justify-content: space-between;
      }
    }
    .orderList {
      width: 75%;
    }
  }
  @media screen and (min-width: 70em) {
    margin: #{$margin-base * 3} auto #{$margin-base * 8};

    .fields {
      .half {
        width: 100%;
      }
    }
    .info_principal {
      display: flex;
      &_photo {
        margin-right: #{$margin-base * 3};
        padding-right: #{$margin-base * 3};
        border-right: 1px solid lighten($color3, 30%);
        width: 200%;
        padding-bottom: 0;
        border-bottom: 0;
      }
      &_general {
        .fields {
          .half:first-child {
            margin-right: 0.3em;
          }
        }
      }
    }
  }
  @media screen and (min-width: 75em) {
    .fields {
      .half {
        width: 48.5%;
      }
    }
  }
}
