.cr__headerMobile-main {
  width: 100%;
  height: 49px;
  background-color: #21212c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  margin: -1px 0 0;
  &-logo {
    display: block;
    a {
      background: url('../../images/logo_horizontal.svg') no-repeat;
      display: block;
      height: 27px;
      width: 165px;
    }
  }
  &-icons {
    display: flex;
  }
  &-cart {
    display: flex;
    align-items: center;
    position: relative;
    width: 36px;
  }
  &-cartCounter {
    height: 16px;
    width: 16px;
    background-color: #e63976;
    border-radius: 50%;
    left: 18px;
    top: -2px;
    position: absolute;
    text-align: center;
  }
  &-cartIcon {
    width: 28px;
    height: 24px;
  }
  &-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 36px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 0 0 0.3em;
  }
  &-hamburger {
    width: 23px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
  }
  &-hamburger::before,
  &-hamburger::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.3s ease-in-out;
  }
  &-hamburger::before {
    transform: translateY(-10px);
  }
  &-hamburger::after {
    transform: translateY(10px);
  }
  .activeHamburger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .activeHamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .activeHamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
