@import '../../orders';
.nav_filters {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: $margin-base * 1.5;
  select {
    background: #fff;
    color: #777777;
    border: $border-style;
    font-family: $font_content;
    @include type-setting();
    height: 30px;
    padding: 5px;
    width: 110px;
    @media screen and (min-width: $bp-tablet-sm) {
      width: 165px;
    }

    @media screen and (min-width: $bp-desktop-m) {
      width: 211px;
    }
  }
  select:focus {
    outline: none;
  }
}
.default-message {
  font-weight: bold;
  text-align: center;
  color: $color3;
  padding: 1em;
}
.tracking {
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $margin-base * 0.5 $margin-base;
    .follow-up {
      font-weight: bold;
      font-size: $margin-base * 2;
      order: 1;
      text-align: center;
      width: 100%;
    }
    .created,
    .delivered {
      @include type-setting(-1);
      color: $color3;
    }
  }

  .navigation__breadcrumbs {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: $margin-base;
    color: $color2;
    ///////////////////
    // STEPS LIST
    .steps {
      position: relative;
      display: inline-block;
      margin: auto;
      width: auto;

      // PROGRESS LINE
      &:before {
        content: '';
        position: absolute;
        height: 3px;
        width: 70%;
        background: $color4;
        transform: translate(-50%, -2px);
        top: 50%;
        left: 50%;
      }

      // STEP BULLET
      &__item {
        cursor: pointer;
        margin: 0 0.875rem;
        display: inline-block;

        .title {
          color: $color3;
          text-decoration: none;
          width: 20px;
          display: block;
          text-align: center;
          @include hide-text();
          @include responsive-container(100%);
          &:before {
            background: $color4;
            border-radius: 50%;
            transition: background 180ms ease;
          }
          &:hover {
            color: $color2;
            &:before {
              background: $color3;
            }
          }
          &.active {
            color: $color1;
            &:before {
              background: $color1;
            }
          }
        }
      }
    }
  }

  &__status-info {
    padding: $margin-base * 0.5 $margin-base;
    display: flex;
    justify-content: center;

    .action-button {
      &:not([disabled]) {
        @include with-hover() {
          color: white;
        }
      }
    }
    .step-container {
      width: 100%;
    }
    .container {
      text-align: center;
    }
    .name {
      text-align: center;
    }
    .standard-shipping {
      .form {
        border-top: solid 1px $color4;
        border-left: none;
        border-right: none;
        padding: 1em 0;

        &__submit {
          border-top: solid 1px $color4;
          padding-top: 1em;
        }
      }
      .steps {
        margin: 0 0 $margin-base/2;
        padding: 0 0 $margin-base/2;
        border-bottom: $border-style;
        text-align: center;
        &.disable {
          color: $color3;
          p,
          a {
            color: $color3;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
      }
      .item_step {
        .button-simple {
          color: $color1 !important;
          padding: 0;
          font-size: 1em;
        }
        p {
          color: $color3;
        }
        strong {
          font-weight: 600;
        }
        .c2a_square {
          margin: $margin-base;
        }
        .note {
          font-size: 0.8em;
          color: $color1;
        }
      }
      .step {
        margin-bottom: $margin-base;
        font-weight: bold;
        &.packages {
          text-align: center;
        }
      }
      .packages-number {
        display: flex;
        align-items: center;
        justify-content: center;
        select {
          padding: 0;
          margin-left: $margin-base;
        }
      }
      .packages-name {
        text-align: left;
      }
      .specs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: $margin-base;
        .spec {
          display: flex;
        }
        label {
          color: $color3;
          font-size: 0.8em;
        }
        input {
          width: 50px;
          height: 25px;
          margin: 0 $margin-base;
        }
      }
      .guide__index {
        text-align: left;
        margin: $margin-base;
      }
      .form__submit {
        text-align: center;
      }
    }

    .c2a_border {
      font-family: $font-button;
      font-weight: 600;
      padding: $margin-base;
      margin: $margin-base/2;
    }
    .new-order-info,
    .producing-order-info {
      text-align: center;
      p {
        strong {
          font-weight: 600;
        }
      }
    }
    .title-step-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $margin-base;
      .title-step {
        @include hide-text();
        &:after {
          content: '';
          display: inline-block;
          position: relative;
          background-size: contain;
          width: 40px;
          height: 40px;
        }
        //&.handmade{&:after{background: url($images_path+'icons/status/icon_handmade.svg') no-repeat center;}}
        &.newOrder {
          &:after {
            background: url($images_path + 'icons/status/icon_neworder.svg')
              no-repeat center;
          }
        }
        &.pickup {
          &:after {
            background: url($images_path + 'icons/schedules/icon_shipping.svg')
              no-repeat center;
          }
        }
        &.in-transit {
          &:after {
            background: url($images_path + 'icons/schedules/icon_shipping.svg')
              no-repeat center;
          }
        }
      }
      .message {
        font-family: $font_title_bold;
        margin-left: $margin-base;
        @include type-setting(1);
      }
    }
    .instructions {
      p {
        color: $color3;
      }
      margin-bottom: $margin-base;
      text-align: center;
      .message {
        margin-top: $margin-base;
      }
      strong {
        font-weight: 600;
      }
      .note {
        font-size: 0.8em;
        font-weight: inherit;
        color: $color1;
      }
      a {
        text-decoration: none;
        color: $color1;
      }
    }
    .container {
      .note {
        color: $color1;
        font-size: 0.8em;
        margin-bottom: 0.5em;
      }
    }
    .info_pickup {
      text-align: center;
    }
    .pickup {
      color: $color3;
      font-weight: bold;
    }
  }
  //TRANSITION
  // .exiting{
  //     transition: all 2s ease-in-out;
  //     transform: translateX(400%);
  // }
  // .exited{
  //     transform: translateX(0%);
  //     transition: all 2s ease-in-out;
  // }
  .move-enter {
    opacity: 0.01;
    transform: translate(-40px, 0);
    background: blue;
  }

  .move-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    background: red;
    transition: all 1000ms ease-in;
  }

  .move-exit {
    opacity: 1;
    background: green;
    transform: translate(0, 0);
  }

  .move-exit-active {
    opacity: 0.01;
    transform: translate(40px, 0);
    transition: all 1000ms ease-in;
    background: yellow;
  }
}

@media screen and (min-width: $bp-tablet-sm) {
  .instructions {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $bp-desktop-sm) {
  .order .store-order .tracking .navigation__breadcrumbs {
    .steps {
      width: 80%;
      display: flex;
      justify-content: space-between;
      &:before {
        width: 90%;
        transform: translate(-50%, -13px);
      }

      // BULLET
      &__item {
        .title {
          @include type-setting(-1);
          font-family: $font_content;
          width: auto;
          &:before {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 0;
            margin: 0 auto 0.125em;
          }
        }
      }
    }
  }

  .tracking__status-info {
    width: 90%;
    margin: 0 auto;

    .standard-shipping {
      width: 90%;
      margin: 0 auto;
      .steps {
        display: flex;
        justify-content: center;
        .item_step {
          text-align: left;
          flex: 0 0 48%;
        }
      }
      .specs {
        flex-direction: row;
        width: 80%;
        .spec {
          display: flex;
        }
        .form__data {
          flex: 1;
        }
        input {
          width: 10em;
          height: 10em;
        }
      }
    }
    .pickup-order-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &.packages {
        flex-direction: row;
        .instructions,
        .standard-shipping {
          flex: 100%;
          text-align: center;
        }
      }
      .title-step-container {
        flex: 0 0 100%;
      }
      .instructions {
        box-sizing: border-box;
        flex: 0 0 58%;
        margin: 0;
        margin-bottom: 0.5em;
        padding-right: 0.9em;
        text-align: left;
      }
      .container {
        flex: 1;
        flex-direction: column;
      }
    }
  }
}
