.cr__outOfStock {
  min-height: 100px;
  width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em 0 0.5em;
  margin: 1em -0.625em;
  overflow: hidden;
  border-bottom: 1px solid #dad8d6;
  border-top: 1px solid #dad8d6;
  &--img {
    margin-left: 0.5em;
    img {
      height: 41px;
      width: 41px;
      filter: invert(31%) sepia(72%) saturate(2189%) hue-rotate(318deg)
        brightness(94%) contrast(91%);
    }
  }
  &--content {
    margin-left: 2em;
    padding: 0.5em 0;
    h5 {
      text-transform: none;
      color: #494953;
      display: inline-block;
    }
    a {
      cursor: pointer;
      text-decoration: none;
    }
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    border: none;
  }
}
