.cr__articles-container {
  max-width: 1200px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  .sectionTitle {
    font-style: normal;
    font-weight: normal;
    @include type-setting(2);
    line-height: 0.8em;
    text-align: center;
    color: #343439;
    margin-bottom: 0;
    text-transform: uppercase;
    &-list {
      font-style: normal;
      font-weight: normal;
      @include type-setting(1);
      line-height: 22px;
      text-align: center;
      color: #898989;
      text-transform: none;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
  }
  .containerList {
    margin-bottom: 2em;
  }
  .mainList {
    list-style: none;
    display: flex;
    margin-bottom: 2em;
    &-first {
      position: relative;
      margin-right: 2em;
      z-index: 0;
      .cr__ImageContainer {
        width: 588px;
        height: 533px;
        border-radius: 3px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(0, 0, 0, 0.6) 90.5%
        );
        z-index: 0;
        &-link {
          display: inherit;
          height: 100%;
          width: 100%;
        }
        &-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
          z-index: -1;
          border-radius: 3px;
        }
      }
      .cr__Article {
        position: absolute;
        bottom: 5%;
        width: 560.63px;
        padding: 0.75em;
        margin-left: 1em;
        &-title {
          font-style: normal;
          font-weight: normal;
          @include type-setting(2);
          line-height: 1.44em;
          text-align: center;
          color: #faf9f8;
          text-transform: none;
          margin-bottom: 0.5em;
        }
        &-excerpt {
          font-style: normal;
          font-weight: normal;
          @include type-setting(0);
          line-height: 1.25em;
          text-align: center;
          color: #faf9f8;
          text-transform: none;
          padding-bottom: 0.5em;
        }
        &-more {
          text-decoration: none;
          font-style: normal;
          font-weight: normal;
          @include type-setting(0);
          line-height: 1em;
          color: #e63976;
          text-transform: none;
          white-space: nowrap;
        }
        &-more::before {
          content: ' ';
        }
        .more-mobile {
          display: none;
        }
      }
    }
    &-second {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 551px;
      .secondList {
        li:nth-child(1) {
          display: flex;
          justify-content: flex-start;
          border-bottom: 1px solid #dad8d6;
          padding-bottom: 2em;
          width: 575px;
          .cr__ImageContainer {
            width: 214px;
            height: 197px;
            border-radius: 3px;
            margin-right: 1em;
            &-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 3px;
            }
          }
          .cr__Article {
            width: 350px;
            padding: 0 0.75 0.75 0.75em;
            &-title {
              font-style: normal;
              font-weight: normal;
              @include type-setting(2);
              line-height: 1.44em;
              color: #343439;
              text-transform: none;
              margin-bottom: 0.5em;
              text-align: left;
              width: 355px;
            }
            &-excerpt {
              font-style: normal;
              font-weight: normal;
              @include type-setting(0);
              line-height: 1.25em;
              color: #898989;
              text-transform: none;
              margin-bottom: 0;
              text-align: left;
              width: 350px;
              overflow: hidden;
              text-justify: inter-word;
            }
            &-more {
              text-decoration: none;
              font-style: normal;
              font-weight: normal;
              @include type-setting(0);
              line-height: 1em;
              color: #e63976;
              text-transform: none;
              display: inline;
              white-space: nowrap;
            }
            &-more::before {
              content: ' ';
            }
          }
        }
        li:nth-child(2) {
          padding-top: 2em;
          margin-bottom: 1.3em;
        }
        li:nth-child(2),
        li:nth-child(3) {
          display: flex;
          justify-content: flex-start;
          width: 580px;
          .cr__ImageContainer {
            width: 214px;
            height: 125px;
            border-radius: 3px;
            margin-right: 1em;
            &-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 3px;
            }
          }
          .cr__Article {
            width: 350px;
            padding: 0 0.75 0.75 0.75em;
            &-title {
              font-style: normal;
              font-weight: normal;
              @include type-setting(1);
              line-height: 1.2em;
              text-align: center;
              color: #343439;
              text-transform: none;
              margin-bottom: 0.5em;
              text-align: left;
              width: 350px;
            }
            &-excerpt {
              font-style: normal;
              font-weight: normal;
              @include type-setting(0);
              line-height: 1.25em;
              text-align: center;
              color: #898989;
              text-transform: none;
              margin-bottom: 0;
              text-align: left;
              width: 350px;
              text-justify: inter-word;
              overflow: hidden;
            }
            &-more {
              text-decoration: none;
              font-style: normal;
              font-weight: normal;
              @include type-setting(0);
              line-height: 1em;
              color: #e63976;
              text-transform: none;
              white-space: nowrap;
            }
            &-more::before {
              content: ' ';
            }
          }
        }
      }
    }
  }
  .cr__Article-moreInspire {
    color: #e63976;
    @include type-setting(2);
    text-decoration: none;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 768px;
    padding-top: 1em;
    .sectionTitle {
      @include type-setting(1);
      line-height: 26px;
      margin-bottom: 0.25em;
      &-list {
        @include type-setting(0);
        line-height: 22px;
        margin-bottom: 2em;
      }
    }
    .mainList {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      &-first {
        position: relative;
        margin-right: 1em;
        .cr__ImageContainer {
          width: 353px;
          height: 317px;
          border-radius: 3px;
          background: linear-gradient(
            180deg,
            rgba(52, 52, 57, 0) 50%,
            rgba(0, 0, 0, 0.7221) 73.38%
          );
          z-index: 1;
          &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
          }
        }
        .cr__Article {
          position: absolute;
          bottom: 8%;
          width: 326px;
          padding: 0.75em;
          margin-left: 1em;
          &-title {
            @include type-setting(0);
            line-height: 1.2em;
            margin-bottom: 0.35em;
          }
          &-excerpt {
            @include type-setting(-1);
            line-height: 1em;
            margin-bottom: -0.35em;
          }
          &-more {
            @include type-setting(-1);
            line-height: 1em;
          }
        }
      }
      &-second {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 355px;
        .secondList {
          li:nth-child(1) {
            display: flex;
            justify-content: flex-start;
            border-bottom: 0;
            padding-bottom: 1.5em;
            width: 220px;
            .cr__ImageContainer {
              width: 116px;
              height: 90px;
              border-radius: 3px;
              margin-right: 1em;
              &-image {
                width: 116px;
                height: 90px;
                object-fit: cover;
              }
            }
            .cr__Article {
              width: 220px;
              padding: 0 0.75 0.75 0.75em;
              &-title {
                @include type-setting(0);
                line-height: 1em;
                width: 220px;
              }
              &-excerpt {
                @include type-setting(-1);
                line-height: 1.2em;
                margin-bottom: 0;
                width: 220px;
              }
              &-more {
                @include type-setting(-1);
                line-height: 1em;
              }
            }
          }
          li:nth-child(2) {
            padding-top: 0em;
          }
          li:nth-child(2),
          li:nth-child(3) {
            margin-bottom: 1.5em;
            display: flex;
            justify-content: flex-start;
            width: 220px;
            .cr__ImageContainer {
              width: 116px;
              height: 90px;
              border-radius: 3px;
              margin-right: 1em;
              &-image {
                width: 116px;
                height: 90px;
                object-fit: cover;
              }
            }
            .cr__Article {
              width: 220px;
              padding: 0 0.75 0.75 0.75em;
              &-title {
                @include type-setting(0);
                line-height: 1em;
                margin-bottom: 0.5em;
                width: 220px;
              }
              &-excerpt {
                @include type-setting(-1);
                line-height: 1.2em;
                margin-bottom: 0;
                width: 220px;
              }
              &-more {
                @include type-setting(-1);
                line-height: 1em;
                text-transform: none;
              }
            }
          }
        }
      }
    }
    .cr__Article-moreInspire {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 767px) {
    max-width: 320px;
    padding-top: 1em;
    .sectionTitle {
      @include type-setting(1);
      line-height: 26px;
      margin-bottom: 0.25em;
      &-list {
        @include type-setting(0);
        line-height: 22px;
        margin-bottom: 2em;
      }
    }
    .containerList {
      margin-bottom: 1em;
    }
    .mainList {
      list-style: none;
      display: block;
      margin-bottom: 2em;
      &-first {
        margin-bottom: 1.5em;
        display: block;
        justify-content: flex-start;
        width: 170px;
        flex-direction: column;
        position: relative;
        margin-right: 0;
        .cr__ImageContainer {
          width: 116px;
          height: 115px;
          border-radius: 3px;
          margin-right: 1em;
          background: none;
          &-image {
            width: 116px;
            height: 115px;
            object-fit: cover;
          }
        }
        .cr__Article {
          width: 170px;
          padding: 0 0.75em 0 0.75em;
          top: 0;
          text-align: left;
          margin-left: 7.5em;
          margin-top: 0;
          text-transform: none;
          &-title {
            @include type-setting(-1);
            line-height: 1.2em;
            // margin-bottom: 0.5em;
            width: 170px;
            text-align: left;
            color: #343439;
            text-transform: none;
          }
          &-excerpt {
            @include type-setting(-1);
            margin-bottom: 0.5em;
            line-height: 1.2em;
            width: 170px;
            text-align: left;
            color: #898989;
            text-transform: none;
          }
          &-more {
            @include type-setting(-1);
            line-height: 1em;
          }
          .more-web {
            display: none;
          }
          .more-mobile {
            display: inline;
          }
        }
      }
      &-second {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 320px;
        .secondList {
          li:nth-child(1) {
            display: flex;
            justify-content: flex-start;
            border-bottom: 0;
            padding-bottom: 1.5em;
            width: 170px;
            .cr__ImageContainer {
              width: 116px;
              height: 115px;
              border-radius: 3px;
              margin-right: 1em;
              &-image {
                width: 116px;
                height: 115px;
                object-fit: cover;
              }
            }
            .cr__Article {
              width: 170px;
              padding: 0 0.75 0.75 0.75em;
              &-title {
                @include type-setting(-1);
                line-height: 1.2em;
                width: 170px;
                text-transform: none;
              }
              &-excerpt {
                @include type-setting(-1);
                line-height: 1.2em;
                margin-bottom: 0;
                width: 170px;
                text-transform: none;
              }
              &-more {
                @include type-setting(-1);
                line-height: 1em;
              }
            }
          }
          li:nth-child(2) {
            padding-top: 0em;
            margin-bottom: 1.5em;
          }
          li:nth-child(2),
          li:nth-child(3) {
            display: flex;
            justify-content: flex-start;
            width: 170px;
            .cr__ImageContainer {
              width: 116px;
              height: 115px;
              border-radius: 3px;
              margin-right: 1em;
              &-image {
                width: 116px;
                height: 115px;
                object-fit: cover;
              }
            }
            .cr__Article {
              width: 170px;
              padding: 0 0.75 0.75 0.75em;
              &-title {
                @include type-setting(-1);
                line-height: 1.2em;
                margin-bottom: 0.5em;
                width: 170px;
                text-transform: none;
              }
              &-excerpt {
                @include type-setting(-1);
                line-height: 1.2em;
                margin-bottom: 0;
                width: 170px;
                text-transform: none;
              }
              &-more {
                @include type-setting(-1);
                line-height: 1em;
                text-transform: none;
              }
            }
          }
        }
      }
    }
    .cr__Article-moreInspire {
      @include type-setting(-1);
    }
  }
  .warningAdmin {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e63976;
    font-weight: 600;
    font-size: 14px;
  }
}
