form{
    margin-bottom: 1em;
    .form__data{
        display: flex;
        text-align: right;
        &-sections{
            .button-square--white{text-align: left;}
        }
    }
}

.section__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        border-bottom: $border-style;
    input{
        margin-bottom: 0;
        border: 0;
        width: auto;
    }

    .section__actions{
        display: flex;
        flex: 0 0 18%;
        justify-content: space-between;
        margin: 0 $margin-base;
        cursor: pointer;
        .edit{
            cursor: pointer;
            @include responsive-container(100%);
            @include hide-text();
            width: 1rem;
            position: relative;
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              background-image: url($images_path+ 'icons/icon_edit.svg');
            }
        }
        @media screen and (min-width: $bp-mobile-sm){
            flex: 0 0 15%;
        }
        @media screen and (min-width: $bp-tablet-sm){
            flex: 0 0 18%;
        }
        @media screen and (min-width: $bp-tablet-m){
            flex: 0 0 13%;
        }
        @media screen and (min-width: $bp-desktop-l){
            flex: 0 0 10%;
        }
    }
}

