.container-fiscal-popup {
  width: 100%;
  min-width: 280px;
  text-align: center;
  background: #faf7f5;
  padding: 1.25em 1.5em 0.875em;
  border-radius: 0.5em;
}

.container-fiscal-popup__options {
  margin-top: 30px;
}

.container-fiscal-popup__options button {
  margin: 10px;
}

.c2a_square-disabled {
  background: #e6e6e6 -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), color-stop(30%, rgba(111, 111, 111, 0.5)), to(rgba(0, 0, 0, 0.5))) !important;
  background: #e6e6e6
    linear-gradient(
      180deg,
      #c3c3c3,
      rgba(111, 111, 111, 0.5) 30%,
      rgba(0, 0, 0, 0.5)
    ) !important;
  border-color: #e2e2e2 !important;
}
/*# sourceMappingURL=FiscalPopup.css.map */
