.note-style {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
}

.note-style img {
  width: 25px;
  margin-right: 10px;
}

.note-style strong {
  color: #e63976;
}

.pink-text {
  color: #e63976 !important;
}

.form-button_error {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #e63976;
}

.save-and-update {
  margin-top: 20px;
}
/*# sourceMappingURL=StoreFiscalDataForm.css.map */
