.note-style {
  display: flex !important;
  align-items: flex-start;
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  img {
    width: 25px;
    margin-right: 10px;
  }
  strong {
    color: #e63976;
  }
}
.pink-text {
  color: #e63976 !important;
}

.form-button_error {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #e63976;
}

.save-and-update {
  margin-top: 20px;
}

.billing__form-fields {
  .display_name {
    height: 42px;
  }
  .state {
    height: 40px;
  }
  input {
    border-radius: 5px;
  }
  .regime {
    margin-top: 0;
  }
  @media screen and (max-width: 767px) {
    .regime {
      margin-top: 0.5em;
    }
  }
}
