.storeApp__accountsPayment {
  /*------------------------------------
        PAYMENT PROVIDERS
    ------------------------------------*/
  .payment-provider {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-bottom: $border-style;
    margin-bottom: 1em;
    //padding: $margin-base $margin-base*2;
    // height: 5em;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
    a,
    .link {
      color: $color3;
      text-decoration: none;
      max-height: max-content;
    }

    // Child Elements
    &__id {
      color: $color2;
      text-align: right;
      flex: 1;
      &:first-child {
        font-weight: bold;
      }
    }
    &__name {
      order: 2;
      flex: 0 0 100%;
      text-align: center;
      padding: $margin-base/2;
    }

    // Box Alignments
    &--center {
      justify-content: center;
    }

    &__options {
      // border-bottom: $border-style;
      padding: $margin-base * 0 0 1 0;
      h5 {
        padding-bottom: 0.5em;
      }
      &:last-child {
        border-bottom: none;
      }
      &.bankAccount {
        border-bottom: none;
        text-align: center;
      }
      label {
        width: 100%;
      }
    }
    // Icon Container
    &:before {
      content: '';
      display: inline-block;
      background-size: contain;
      background-position: center;
      flex: 0 0 100px;
      width: 120px;
      height: 40px;
      margin: 0 1em 0 0;
    }

    @media (min-width: $bp-mobile-m) {
      flex-flow: row nowrap;
      &:before {
        flex: 0 0 130px;
      }
      &__id {
        flex: 0 1 110px;
      }
      &__name {
        color: $color3;
        order: 0;
        flex: 1;
        text-align: left;
        overflow: hidden;
      }
    }

    // MERCADO PAGO
    &--mercado-pago {
      &:before {
        background: url($images_path+'icons/payment/icon_mercadopago.svg')
          no-repeat center;
      }
    }
  }

  /*------------------------------------
        BILLING
    ------------------------------------*/
  .billing {
    &__option {
      .option {
        padding: $margin-base * 2 0;
        border-bottom: $border-style;
        label {
          font-family: $font-title-bold;
          font-size: 1.25em;
          line-height: 0.8em;
        }
        &:first-child {
          padding: 0 0 $margin-base * 2;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .note {
        display: block;
        color: $color3;
        font-size: 0.8em;
        margin-left: 2em;
      }
    }
    &__form {
      .half-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form__data-field {
          flex: 0 0 49%;
        }
        .state {
          margin: 2px 0 0 0;
          flex: 0 0 50%;
        }
      }
      &-address {
        display: flex;
        justify-content: space-between;
        .form__data-street {
          flex: 0 0 60%;
        }
        .address_content {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-left: $margin-base;
          .form__data:last-child {
            margin: 0 0 0.66em $margin-base;
          }
        }
      }

      .form__data-fileUpload {
        margin-top: $margin-base;
        .upload_input {
          display: none;
        }
        label {
          color: $color1;
          cursor: pointer;
        }
      }

      &-fields {
        padding: $margin-base * 2;
        border: $border-style;
        box-shadow: 0 0 0 1px rgba(63, 63, 68, 0),
          0 1px 3px 0 rgba(63, 63, 68, 0.15);

        .error {
          border: solid 1px lightcoral;
          background: lighten(lightcoral, 25%);
          color: #e60737;
        }
      }
    }
    select {
      width: 100%;
    }
  }
  .select-banks,
  .select-accounts {
    margin-bottom: 0em;
    select {
      width: 100%;
      height: 40px;
    }
  }
  .select-banks {
    margin-bottom: 0.7em;
  }
  /*------------------------------------
        BANK ACCOUNT
    ------------------------------------*/
  .bank_account {
    position: relative;
    &-container {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-items: center;
      .heading {
        flex: 0 0 35%;
        font-weight: bold;
      }
    }
    .bank_account_add-button {
      display: flex;
      justify-content: flex-end;
      .button-simple {
        color: $color1 !important;
        text-align: center;
      }
    }
    .half-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    select {
      width: 100%;
    }
  }
  .bank_account_list {
    &-item {
      border-top: $border-style;
      padding-top: $margin-base;
      &:first-child {
        border: none;
        padding-top: 0;
      }
      span {
        font-weight: bold;
      }
      p {
        text-indent: 0;
      }
      .buttons_container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
  }

  .form-button_container {
    display: flex;
    justify-content: center;
    margin-top: $margin-base;
    .c2a_square {
      color: white;
    }
  }

  /*------------------------------------
        STATUS MESSAGES
    ------------------------------------*/
  h3 {
    position: relative;
  }
  .message {
    margin: 0 auto;
    text-align: center;
    border-radius: $border-radius;
    padding: $margin-base * 2 $margin-base * 2;
    max-width: max-content;
    .title {
      margin-bottom: $margin-base/2;
    }
    p {
      color: $color3;
      margin: 0;
    }

    &.success {
      background: rgba(29, 179, 144, 0.15);
      .title {
        color: $status-color-success;
      }
    }

    &.error {
      background: rgba(230, 87, 93, 0.15);
      .title {
        color: $status-color-error;
      }
    }
  }

  /*------------------------------------
        MEDIA QUERIES
    ------------------------------------*/
  @media screen and (min-width: $bp-mobile-m) {
    .bank_account {
      .half-content {
        flex-direction: row;
        .form__data-field {
          flex: 0 0 49%;
        }
      }
    }
  }
  @media screen and (min-width: $bp-mobile-l) {
    .bank_account {
      .bank_account_list-item {
        position: relative;
        .buttons_container {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .billing {
      .half-content {
        flex-direction: row;
        .form__data {
          flex: 0 0 49%;
        }
      }
    }
  }
  @media screen and (min-width: $bp-tablet-sm) {
    .form-button_container {
      justify-content: flex-end;
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    .bank_account .bank_account_list-item {
      .buttons_container {
        position: relative;
      }
    }
  }
  @media screen and (min-width: $bp-tablet-l) {
    .bank_account .bank_account_list-item {
      .buttons_container {
        position: absolute;
      }
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    h3 {
      &:after {
        display: inline-block;
        margin: 0;
        position: absolute;
        left: 15px;
        top: 3px;
      }
    }
  }
}
