
.form--boxed label{
        font-family: $font_content;
        font-size: $font_size_base;
}

/*----------------------------------------
// STORE ADDRESSESS
----------------------------------------*/
.storeApp_Addresses {
    p{
        text-align: center;
        margin-bottom: 1em;
    }
    .form__data-actions{
        text-align: center
    }
    .default-address{
        display: flex;
        justify-content: flex-end;
        
        .setdefault-address__button{
            border: none;
            border-radius: 0.1875em;
            font-size: 0.83333em;
            padding: 0.325em 0.75em;
            color: #ffffff;
            background-color: #e63976;
            cursor: pointer;
        }
        .loadingdefault-address__button{
            min-width: 50px;
            padding: 10px 0px;
        }
        .default-address__button{
            border: none;
            border-radius: 0.1875em;
            font-size: 0.83333em;
            padding: 0.325em 0.75em;
            color: #8d8d8d;
        }
        
    }

    ///////////////////
    // ADDRESS BLOCK
    .shipping__address {
        .address {
            .form__data {
                margin-bottom: 1em;
            }
            &_c2a {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
            }
        }
    }
    @media screen and (min-width:$bp-tablet-sm){
        .address{
            display: flex;
            &_c2a {
                flex: 20%;
                justify-content: space-between;
            }
        }
    }
    @media screen and (min-width:$bp-tablet-m){
        .address{
            display: block;
            &_c2a {justify-content: flex-end;}
        }
    }
    @media screen and (min-width:$bp-desktop-sm){
        .address{
            display: flex;
            width: 100%;
            margin: $margin-base/2 auto;
            padding: $margin-base;
            border-top: $border-style;
            &_c2a {justify-content: space-between;}
        }
    }
}
