@import '../Products/form';
.form--boxed{
 border: 0;
 padding: 0;
    input, textarea{
       background: none;
    }
    
    .form__data{
        &-actions{
            justify-content: center;
            text-align: center;
            border-bottom: $border-style;
            margin: 0 0 $margin-base*2;
            padding: 0 0 $margin-base*2;
        
        }
        &-faqs{
            border: $border-style;
            padding: $margin-base*2;
            position: relative;
            margin-bottom: $margin-base*2;
            .question{
                border: 0;
                margin-bottom: $margin-base;
            }
            .faqs__actions{
                position: absolute;
                top: 6px;
                right: 6px;
                cursor: pointer;
            }
            .faq{
                position: relative;
                 &:hover{
                     backface-visibility: none;
                     .edit{
                         display: flex;
                     }
                 }
             }
            .edit{
                display: none;
                cursor: pointer;
                @include responsive-container(100%);
                @include hide-text();
                width: 1rem;
                position: absolute;
                top: 10px;
                right: 0;
                a {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-size: contain;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-image: url($images_path+ 'icons/icon_edit.svg');
                }
            }
        }
    }
}
