/*----------------------------------------
// STORE SETTINGS
----------------------------------------*/
.storeApp__main{

    // Cover Image specs
    .ui_message {
        display: block;
        position: absolute;
        z-index: 1;
        @include center-content(50%, 50%);
        width: 50%;
        color: $color3;
        text-align: center;
    }
    

    ////////////////////
    // COVER PHOTO
    .cover{
        max-width: 50em;
        margin-bottom: 3em !important;
        padding-bottom: 1.5em;
        border-bottom: solid 1px darken($color4, 5%);
        flex-flow: row wrap;
    }
    .form__cover {
        position: relative;
        width: 100%;
        // Button
        .icon_oval-add {
            position: absolute;
            right: 0.5rem;
            bottom: -1.4rem;
            @include hide-text();
        }
        .container_icon{
            position: relative;
        }
        .form__helpIcon{
            position:absolute;
            top: 0; right: -10px;
            margin: 0.2em;
        }
        // Image Container
        &-image {
            overflow: hidden;
            z-index: 1;
            width: calc(100% + #{$margin-base*2});
            max-height: 200px;
            margin: 0 #{-$margin-base};
            position: relative;
            @include background__store-cover--default();
            background-color: $color5;
            border: solid 1px $color4;
            @include responsive-container(40%);
            img {
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
        @media screen and (min-width: $bp-desktop-m) {
            .form__cover-image {
                width: calc(100% + 6em);
                margin: 0 #{-3em};
            }
            .icon_oval-add {
                right: -3.5rem;
            }
        }
    }
    
    ////////////////////
    // PROFILE PHOTO
    .form__profile {
        position: relative;
        z-index: 1;
        margin: -3em auto 1.5em;
        width: 8em; // Button
        .icon_oval-add {
            position: absolute;
            right: -1.5rem;
            bottom: -1.4rem;
            @include hide-text();
        } 
        .container_icon{
            position: relative;
        }
        .form__helpIcon{
            position:absolute;
            top: 0; right: 18px;
            margin: 0.2em;
        }
        // Image Container
        &-image {
            width: 100%;
            position: relative;
            overflow: hidden;
            @include responsive-container(100%);
            @include background__store-profile--default();
            background-color: $color4;
            border: 1px solid lighten($color3, 30%);
            img {
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
        @media screen and (min-width: $bp-tablet-m) {
            margin-left: 0;
            margin-right: 0;
            margin-top: -5em;
            width: 9em;
        }
    }
    
    ////////////////////
    // PROFILE PHOTO
    .form__data-resume {
        textarea {
            min-height: 5em;
        }
    }

    ////////////////////
    // PROFILE PHOTO
    .form__submit {
        text-align: center;

        @media screen and (min-width: $bp-desktop-sm) {
            text-align: right
        }
    }

    ///////////////////////
    // SOCIAL MEDIA
    .social-media{
        margin-top: 1em;
        padding-left: 2.5em;
        label{
            display: inline-block !important;
            min-width: 11em;
            margin-right: 1em
        }
        label:before {
            content: '';
            display: block;
            position: absolute;
            background-size: contain;
            left: 0;
            width: 25px;
            height: 21px;
        }

        input{
            display: inline-block !important;
            width: auto !important;
            flex: 1
        }
    }
    
    // SOCIAL MEDIA ICONS
    $icons: ( facebook: 'social_icon_facebook.svg', instagram: 'social_icon_instagram.svg', pinterest: 'social_icon_pinterest.svg');
    @each $name,
    $value in $icons {
        .form__data-#{$name} {
            label:before {
                background: url($images_path+'icons/social/'+$value) no-repeat center;
            }
        }
    }

    //VACATIONS LIST
    .vacations-list{
        .ui-calendar-selector{
            display: flex;
            justify-content: space-between;
            margin: 0.5em;

            .ui-calendar-selector__day{
                padding-right: $margin-base * 4;
            }
    
            .schedules_actions{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0.8em;
            }
        }
    }

    // @media screen and (min-width: $bp-desktop-sm) {
    //     .vacations-list{
    //         .ui-calendar-selector{
    //             .schedules_actions{
    //                 display: none;
    //             }
    //             &:hover{
    //                 .schedules_actions {
    //                     display: block;
    //                 }
    //             }
    //         }
    //     }
    // }
}


