@import '../../../../styles/mixins';
.notFoundProducts {
  padding: 0;
  &-wrapper {
    margin: 0 15% 0 2%;
    .notFoundProducts-generalContainer {
      width: 100%;
      justify-content: flex-start;
      .notFoundProducts-textContainer {
        width: 60%;
        align-items: center;
        h3 {
          text-transform: none;
          justify-content: flex-start;
        }
        .link-container {
          margin: 1em 0;
        }
        .notFoundProducts-paragraphContainer {
          padding-right: 3em;
          p {
            margin-bottom: 0;
            span {
              font-weight: bold;
            }
          }
        }
      }
      .notFoundProducts-imageContainer {
        width: 50%;
      }
    }
  }

  .img_container {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include responsive-container(100%);
    img {
      position: absolute;
      @include responsive-image();
      @include center-content(50%, 50%);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .notFoundProducts-wrapper {
      margin: 0 2% 0 10%;
      .notFoundProducts-textContainer {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .notFoundProducts-wrapper {
      margin: 0 3%;
      .notFoundProducts-generalContainer {
        flex-direction: column;
        .notFoundProducts-textContainer {
          width: 100%;
          .notFoundProducts-paragraphContainer {
            padding-right: 0;
          }
        }
        .notFoundProducts-imageContainer {
          width: 95%;
        }
      }
    }
  }
}
