.cr__headerMobile {
  width: 100.2%;
  height: 128px;
  overflow: hidden;
  &-search {
    height: 52px;
    width: 100%;
    background-color: #161620;
    overflow: hidden;
    padding: 9px 7px;
    margin: -1px 0 0 0;
  }
}
.activeDropdown {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
}
