.category-banner {
  min-width: 100%;
  min-height: 100px;
  height: 100%;
  background-size: 100%;
  z-index: 0;
  .content-category {
    position: relative;
    margin-bottom: 0;
    &__background {
      z-index: 2;
      // background: rgba(0, 0, 0, 0.55);
      img {
        height: 100px;
        width: 100%;
        // filter: blur(1px);
        z-index: -1;
        position: relative;
        object-fit: cover;
        margin-bottom: -0.25em;
      }
    }
  }
  .titles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &__main {
      color: #faf9f8;
      // @include type-setting(4);
      font-weight: 600;
      // line-height: 0.8em;
      margin-bottom: 0;
    }
    // &__subtitle {
    //   color: #FAF9F8;
    //   font-size: 16px;
    //   font-style: normal;
    //   font-weight: normal;
    //   line-height: 21px;
    //   margin-bottom: 0;
    // }
  }
  @media screen and (min-width: 736px) and (max-width: 1200px) {
    min-height: 75px;
    .content-category {
      &__background {
        img {
          width: 100%;
          height: 75px;
        }
      }
    }
    .titles {
      &__main {
        // @include type-setting(3);
        // line-height: 1em;
        // margin-top: 0.7em;
      }
      // &__subtitle {
      //   font-size: 10px;
      //   line-height: 13px;
      // }
    }
  }
  @media screen and (max-width: 736px) {
    height: 66px;
    min-height: 66px;
    .content-category {
      &__background {
        img {
          height: 66px;
        }
      }
    }
    .titles {
      &__main {
        // @include type-setting(3);
        // line-height: 1em;
      }
      // &__subtitle {
      //   font-size: 10px;
      //   line-height: 13px;
      // }
    }
  }
}
