.cr__header-bottomHeader {
  width: 100%;
  height: 38px;
  background-color: #161620;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: 3em;
  &-titles {
    padding: 0 1em;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    &-icon {
      filter: invert(1) grayscale(1);
      background-size: contain;
      height: 8px;
      width: 8px;
      margin-left: 0.5em;
      transition: 0.3s;
    }
    &-activeIcon {
      filter: brightness(6);
      background-size: contain;
      height: 8px;
      width: 8px;
      margin-left: 0.5em;
      transition: 0.3s;
      transform: rotateZ(180deg);
    }
    text-decoration: none;
  }
  &-titles-title {
    padding-bottom: 0.6em;
    color: #b7b7b7;
    letter-spacing: 0.25px;
  }
  .activeSection,
  .hovering:hover {
    border-bottom: 2.3px solid #ffffff;
    bottom: 0%;
    padding-bottom: 0.25em;
    transition: 0.3s;
  }
  .activeSection {
    bottom: 0%;
  }
}
