.cr__storeInProgress {
  height: 136.5px;
  width: 100%;
  z-index: 4;
  &--container {
    border: 1.5px solid #f8db6a;
    background-color: #faf9f8;
    position: fixed;
    width: 100%;
    height: 136.5px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
  }
  &--icon {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    img {
      width: 30px;
      height: 30px;
    }
    h5 {
      text-transform: none;
      font-weight: 600;
      margin: 0 0 0 10px;
      line-height: 23px;
    }
  }
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 430px;
    text-align: center;
    margin-top: 0.5em;
    span {
      line-height: 17px;
      font-size: 13px;
      letter-spacing: 0;
      text-align: center;
    }
    &--link {
      font-weight: bold;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    height: 115px;
    &--container {
      width: calc(100% - 215px);
      height: 115px;
      padding-left: 42px;
    }
    &--icon {
      width: 100%;
    }
    &--content {
      span {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &--container {
      padding-left: 65px;
    }
    &--content {
      max-width: 562px;
    }
  }
}
