.cr__header {
  height: 121px;
}
.cr__header-bottomHeader {
  width: 100%;
  height: 38px;
  background-color: #161620;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cr__header-mainHeader {
  width: 100%;
  height: 55px;
  background: #21212c;
  display: flex;
}
.cr__header-topHeader {
  width: 100%;
  height: 28px;
  background-color: #1a1a25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.07em;
}
