.cr__cookieConsent {
  width: 100%;
  height: 86px;
  position: fixed;
  bottom: 0;
  z-index: 4;
  &-content {
    height: 100%;
    width: 100%;
    background-color: #21212c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title {
      margin: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 80px;
    }
    button {
      cursor: pointer;
      font-weight: 400;
      font-size: 0.8125em;
      line-height: 1.01562em;
      height: 35px;
      width: 100px;
      border: 1px solid #c72a60;
      border-radius: 3px;
      background-color: #e63976;
      box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
        0 1px 0 0 rgba(0, 0, 0, 0.09);
      color: #fff;
      align-items: center;
      transition: 0.3s;
      margin: 1em;
    }
    button:hover {
      background-color: #ffffff;
      color: #e63976;
    }
    a {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 767px) {
    height: 156px;
    z-index: 9999999999;

    .cr__cookieConsent--link {
      display: block;
    }
    .cr__cookieConsent-content-title {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }
    .cr__text--paragraph {
      font-size: 0.8125em;
    }
  }
  //comment

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 100px;

    .cr__cookieConsent--link {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    height: 86px;
  }
}

.user {
  display: none;
}
