$mobile-min-logo: 1035px;
$mobile-min-height: 700px;
$mobile-width-offset-min: 400px;
$mobile-width-offset: 580px;
$mobile-width: 768px;
$medium-desktop-width: 992px;
$large-desktop-width: 1200px;
$text-responsive-lg: 1450px;
$up-xs: 320px;
$up-sm: 576px;
$up-md: 768px;
$up-lg: 992px;
$up-xl: 1200px;
$limit: 1023px;
$newPink: #e63976;
$newPinkHover: #ff7ba9;
$newGray: rgba(0, 0, 0, 0.3);

@mixin xs-height {
  @media screen and (max-height: #{$mobile-min-height}) {
    @content;
  }
}

@mixin xs-offset-min {
  @media screen and (max-width: #{$mobile-width-offset-min}) {
    @content;
  }
}

@mixin xs-offset {
  @media screen and (min-width: #{$mobile-width-offset-min + 1px}) and (max-width: #{$mobile-width-offset}) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$mobile-width}) and (max-width: #{$medium-desktop-width}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$medium-desktop-width + 1px}) and (max-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$large-desktop-width + 1px}) {
    @content;
  }
}

@mixin responsive-up($up) {
  @if $up== 'xs' {
    @media screen and (min-width: #{$up-xs}) {
      @content;
    }
  }
  @if $up== 'sm' {
    @media screen and (min-width: #{$up-sm}) {
      @content;
    }
  }
  @if $up== 'md' {
    @media screen and (min-width: #{$up-md + 1px }  ) {
      @content;
    }
  }
  @if $up== 'lg' {
    @media screen and (min-width: #{$up-lg}) {
      @content;
    }
  }
  @if $up== 'xl' {
    @media screen and (min-width: #{$up-xl}) {
      @content;
    }
  }
}

@mixin responsive-down($down) {
  @if $down== 'xs' {
    @media screen and (max-width: #{$up-xs}) {
      @content;
    }
  }
  @if $down== 'sm' {
    @media screen and (max-width: #{$up-sm}) {
      @content;
    }
  }
  @if $down== 'md' {
    @media screen and (max-width: #{$up-md}) {
      @content;
    }
  }
  @if $down== 'lg' {
    @media screen and (max-width: #{$up-lg}) {
      @content;
    }
  }
  @if $down== 'xl' {
    @media screen and (max-width: #{$up-xl}) {
      @content;
    }
  }
}

@mixin responsive-only($only) {
  @if $only== 'xs' {
    @media screen and (max-width: #{$up-xs}) {
      @content;
    }
  }
  @if $only== 'sm' {
    @media screen and (min-width: #{$up-xs}) and (max-width: #{$up-sm}) {
      @content;
    }
  }
  @if $only== 'md' {
    @media screen and (min-width: #{$up-sm}) and (max-width: #{$up-md}) {
      @content;
    }
  }
  @if $only== 'lg' {
    @media screen and (min-width: #{$up-md}) and (max-width: #{$up-lg}) {
      @content;
    }
  }
  @if $only== 'xl' {
    @media screen and (min-width: #{$up-lg}) and (max-width: #{$up-xl}) {
      @content;
    }
  }
}

@mixin responsive-custom($from, $to) {
  @media screen and (min-width: #{$from}) and (max-width: #{$to}) {
    @content;
  }
}

@mixin responsive-custom-up($from) {
  @media screen and (min-width: #{$from}) {
    @content;
  }
}

@mixin responsive-custom-down($down) {
  @media screen and (max-width: #{$down}) {
    @content;
  }
}

@mixin responsive-custom-height-down($down) {
  @media screen and (max-height: #{$down}) {
    @content;
  }
}

@function alpha($color, $alpha) {
  @return rgba($color, $alpha);
}

@function rem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

@mixin shadow {
  filter: drop-shadow(0px 0px 8px rgba(62, 62, 62, 0.15));
}
