@import '../../../styles/customMedia';
@import '../../../styles/variables';
@import '../../../styles/mixins';

//Mobile navbar

%menu-dropdown_class {
  font-size: 1rem;
  line-height: 1em;
  background: $color5;
  position: absolute;
  top: calc(100% + 10px);
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  text-align: left;
  transition: max-height 500ms cubic-bezier(0.86, 0, 0.07, 1);

  // DROP DOWN CONTAINER
  .menu-dropdown__container {
    padding: 1em $margin-base;
  }

  // DROP DOWN MENU LIST
  > ul {
    box-shadow: -1px 1px 5px $color4;
    position: relative;
  }

  ul > li {
    position: relative;
    margin: 0 1em;
    border-bottom: $border-style;
    color: $color2;

    > a {
      cursor: pointer;
      display: block;
      color: $color2;
      padding: $margin-base;

      // Arrow Icon
      &:after {
        content: '';
        position: absolute;
        right: 0;
        margin-left: 0.5em;

        //background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center;
        filter: grayscale(100%);
        opacity: 0.5;
        background-size: contain;
        width: 16px;
        height: 16px;
      }
    }

    &:last-child {
      border: none;
    }
  }

  @media screen and (min-width: $bp-tablet-sm) {
    width: 50vw;
  }

  @media screen and (min-width: $bp-tablet-m) {
    width: 40vw;
  }

  @media screen and (min-width: $bp-desktop-sm) {
    width: 30vw;
  }

  @media screen and (min-width: $bp-desktop-l) {
    width: 25vw;
  }
}

.upper-menu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;

  * {
    box-sizing: border-box;
    outline: none;
  }

  @include responsive-down('md') {
    box-shadow: 0px -3px 25px rgba(60, 60, 60, 0.5);
  }
}

.upper-menu__logo {
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: 280px;

  img {
    height: 100%;
  }

  @include responsive-down('md') {
    max-width: 130px;
    height: auto;
    width: 100%;
  }

  @include responsive-down('sm') {
    img {
      width: 70%;
      min-width: 50px;
    }
  }
}

.upper-menu__sections {
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive-down('md') {
    order: 3;
    width: 100%;

    // margin-top: 20px;
    margin-bottom: 20px;
  }
}

.upper-menu__controller {
  display: flex;
  align-items: center;
}

.upper-menu__separator {
  width: 1px;
  background-color: $newPink;
  height: 20px;
}

.upper-menu__sections-block {
  padding: 0 0.5em;
  font-size: 0.875em;

  @include responsive-down('md') {
    padding: 0;
  }
}

.upper-menu__options {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include responsive-down('md') {
    flex-direction: column;
    align-items: flex-end;

    //margin-top: 20px;
    justify-content: center;
  }
}

.upper-menu__controller-1 {
  @include responsive-down('md') {
    order: 2;
    display: none;
  }
}

.upper-menu__search-mobile {
  height: 100%;

  img {
    height: 28px;
  }

  @media screen and (max-width: 880px) {
    display: none;
  }
}

.upper-menu__controller-2 {
  height: 100%;
  @include responsive-down('md') {
    order: 1;
    align-content: flex-end;
    align-items: center;
  }
}

.upper-menu__profile {
  position: relative;
  padding: 0 15px;

  .button {
    border-radius: 50%;

    @include hide-text;
    @include responsive-container(100%);

    width: 35px;
    margin: 0;
    padding: 0;
    border: 1px solid #bfbfbf;
    background: center no-repeat;
    background-size: cover;
  }

  // DROPDOWN
  .menu-dropdown {
    @extend %menu-dropdown_class;
  }

  .menu-dropdown {
    position: absolute;
    z-index: 100;
    background: #f9f7f5;
    padding: 1em;

    &__container {
      //right: #{2em * 2};

      li {
        &.logout {
          border: none;

          a {
            color: $color1;
            font-weight: bold;

            &:after {
              content: none;
            }
          }
        }

        &.userProfile {
          display: flex;
          padding-bottom: 1em;

          .photo {
            display: block;
            border-radius: 50%;
            overflow: hidden;
            border: $border-style;
            flex: 0 0 80px;
            margin-right: $margin-base * 2;
            height: 100%;

            @include responsive-container(100%);

            position: relative;

            img {
              position: absolute;

              @include center-content(50%, 50%);
            }
          }

          .info {
            text-align: left;
            align-self: center;

            &_name {
              margin: 0 0 $margin-base;
            }

            .button-square--white {
              background: white;
            }
          }
        }
      }
    }
  }
}

.upper-menu__search {
  padding: 0px 15px;

  input {
    border: 0px none;
    padding: 8px;
    border-radius: 18px;
    padding-left: 30px;
    max-width: 130px;
    width: 100%;
    color: $newPink;

    @include responsive-up('md') {
      max-width: 180px;
    }
  }

  position: relative;

  &:after {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: transparent
      url('https://image.flaticon.com/icons/png/512/55/55369.png') no-repeat;
    background-size: 15px;
    top: 50%;
    transform: translate(0, -50%);
    left: 25px;
  }

  @include responsive-down('md') {
    display: none;
    color: pink;
  }
}
.upper-menu__search-mobile-form {
  margin: 15px 0px;
  display: flex;
  input {
    outline: none;
    border: 1px solid #b7b7b7;
  }
}
.upper-menu__search-mobile-input {
  padding: 0px 15px;

  input {
    border: 0px none;
    padding: 8px;
    border-radius: 18px;
    padding-left: 30px;
    font-size: 18px;

    width: 100%;
    // color: $newPink;
    // border: 3px solid rgba(0,0,0,.07);
    border: 1px solid hsla(0, 0%, 54%, 0.75);

    @include responsive-up('md') {
      max-width: 180px;
    }
  }

  position: relative;

  &:after {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: transparent
      url('https://image.flaticon.com/icons/png/512/55/55369.png') no-repeat;
    background-size: 15px;
    top: 50%;
    transform: translate(0, -50%);
    left: 25px;
  }
}

.upper-menu__shopping {
  width: 60px;
  padding: 0 15px;
  position: relative;

  img {
    //width: 100%;
    height: 100%;
  }

  &-link {
    display: inline-block;
  }

  &-counter {
    position: absolute;
    text-align: center;
    background: $newPink;
    color: white;
    padding: 0.1em 0.5em;
    font-weight: bold;
    font-size: 0.6em;
    border-radius: 0.5em;
    z-index: 1;
    left: 50%;
    line-height: 1.85em;
    transform: translate(-30%, -10%);
  }
}

.upper-menu__sections-pro {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    padding-right: 5px;
  }
}

.pink-button {
  background-color: $newPink;
  padding: 5px 18px;
  margin: 0 10px;
  border-radius: 18px;
  border: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: $newPinkHover;
  }
}

//////////////////////

.show-desktop {
  display: none;

  @include responsive-up('md') {
    display: block;
  }
}

.show-mobile {
  display: none;

  @include responsive-down('md') {
    display: block;
  }
}

.mobile-separator {
  @include responsive-down('md') {
    display: none;
  }
}

.cursor {
  cursor: pointer;
}

.hoverMenu {
  transition: 0.3s;

  &:hover {
    color: $newPink;
    display: flex;
    align-items: center;
    text-decoration: underline !important;
  }

  .link {
    text-decoration: none;
    color: inherit;

    &--active {
      color: $newPink;
    }
  }
}

.only-mobile-separator {
  display: none;

  @include responsive-down('md') {
    display: inline-block;
    //margin-left: 15px;
  }
}

.upper-menu__shopping-img {
  transition: transform 0.3s;

  @include responsive-up('md') {
    &:hover {
      transform: scale(1.1);
    }
  }
}

.hamburguer-menu-container {
  .hamburguer-menu {
    height: 28px;
    margin-left: 5px;
    margin-right: 15px;
  }

  @include responsive-up('md') {
    display: none;
  }
}

.upper-menu__register-access {
  @include responsive-down('md') {
    display: none;
  }
}

.upper-menu__register-svg {
  height: 28px;

  img {
    height: 100%;
    margin: 0px 15px;
  }

  @include responsive-up('md') {
    display: none;
  }
}
