@import '../../../styles/variables';

.new-menu-container {
  // position: fixed;
  // z-index: 9999991;
  // height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-dropdown {
  background: white !important;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-top: none;
  border-bottom: none;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
  //border-bottom: 1px solid rgba(0,0,0,.2)  !important;
}
.button-square--pink {
  display: block !important;
}
.info_name {
  font-size: 22px !important;
}
.info_email {
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}
.userProfile {
  .info {
    width: 100% !important;
    text-align: center !important;
  }
}
