@import '../../../styles/customMedia';
@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/common';
@import '../../../styles/typography';

//Desktop navbar

/////////////Hide images banner

.sub-menu__banner,
.sub-menu__image {
  display: none !important;
}

.sub-menu__categories {
  width: 100% !important;
}

@include responsive-up('sm') {
  .sub-menu * {
    font-size: 16px !important;

    .menu-category {
      padding: 9px 6px;
      margin: 4px 0;
    }
  }
}

/////////////Hide images banner
.sub-menu {
  display: flex;
  min-height: 300px;
  box-shadow: 0px 27px 66px -35px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;

  // flex: 1;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.sub-menu__categories {
  width: 40%;

  @include responsive-down('lg') {
    width: 60%;
  }

  @include responsive-down('md') {
    width: 100%;
  }
}

.sub-menu__banner {
  width: 30%;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;

  @include responsive-down('lg') {
    width: 40%;
  }

  @include responsive-down('md') {
    display: none;
  }
}

.sub-menu__image {
  width: 30%;

  @include responsive-down('lg') {
    display: none;
  }
}

.sub-menu__banner-root-container {
  flex: 1;
  display: flex;
}

.sub-menu__banner-container {
  width: 85%;

  * {
    color: white;
  }

  .sub-menu__banner-container-title {
    font-family: $font_title_bold;

    @include type-setting(4);

    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.1em;
  }

  .sub-menu__banner-container-description {
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
  }

  .sub-menu__banner-container-button {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 18px;
    font-size: 14px;
    margin-top: 50px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }
}

.sub-menu__space {
  //padding-top: 20px;
}

.gradient-1 {
  background: linear-gradient(
    45deg,
    rgba(80, 0, 184, 1) 0%,
    rgba(230, 39, 217, 1) 100%
  );
  transition: all 0.3s;
}

.sub-menu__image {
  background-image: url('https://s3.us-east-2.amazonaws.com/canastarosa/mailings/FLORES.jpg');
  background-position: top center;
  background-size: cover;
}

.sub-menu__categories {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 20px 20px;

  @include responsive-custom-down('800px') {
    width: 100%;
  }
}

.sub-menu__categories-levels {
  display: flex;

  * {
    font-size: 14px;
  }

  @include responsive-down('md') {
    flex-direction: column;
  }
}

.sub-menu__categories-level1 {
  width: 33%;
  padding: 5px;

  @include responsive-down('md') {
    width: 100%;
  }
}

.sub-menu__categories-level2 {
  width: 33%;
  padding: 5px;

  @include responsive-down('md') {
    width: 100%;
  }
}

.sub-menu__categories-level3 {
  width: 33%;
  padding: 5px;

  @include responsive-down('md') {
    width: 100%;
  }
}

.sub-menu__breadcrump {
  font-size: 12px;
  color: rgb(119, 119, 119);
  margin-bottom: 15px;

  .pink-link {
    color: $newPink;
    text-decoration: none;
  }

  @include responsive-down('md') {
    font-size: 18px;

    .pink-link {
      font-weight: bold;
      margin: 0px 10px;
      color: $newPink !important;
    }
  }
}

.menu-category {
  padding: 3px 6px;
  margin: 8px 0px;
  position: relative;
  cursor: pointer;

  //
  &:hover {
    color: $newPink;
    background-color: rgba(0, 0, 0, 0.04);
  }

  &--arrow {
    &:after {
      display: block;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      background: transparent
        url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Arrow-down.svg/1200px-Arrow-down.svg.png')
        no-repeat;
      background-size: 15px;
      top: 6px;
      right: 3px;
      transform: rotate(-90deg);
      opacity: 0.6;
    }
  }

  // Links
  .link {
    color: inherit;
    text-decoration: none;
  }

  @include responsive-down('md') {
    margin: 15px 0px;
  }
}

.menu-last-category {
  &:after {
    content: '' !important;
    position: absolute !important;
    background: none !important;
    opacity: 0 !important;
  }
}

.deactivate-category {
  opacity: 0.2;
}

.text-category {
  width: 90%;

  @include responsive-down('md') {
    padding: 5px 0px;
    font-size: 18px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.hidden-block {
  display: none;
}

.back-arrow {
  width: 25px;
  padding-right: 15px;
}

.back-arrow-container {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sub-menu__breadcrump-category {
  flex: 1;

  a {
    margin: 0px 8px;
  }

  @include responsive-down('md') {
    //text-align: center;
  }
}

.upper-menu__controller-mobile {
  // margin-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  div {
    font-size: 22px;
  }

  @include responsive-up('md') {
    display: none;
  }

  @include responsive-down('md') {
    div {
      font-size: 18px !important;
    }
  }

  // Links
  .link {
    color: inherit;
    text-decoration: none;
  }

  .link--active {
    color: $newPink;
  }
}

.upper-menu__sections-block {
  @include responsive-down('md') {
    div {
      padding: 0px !important;
    }
  }
}

.sub-menu__breadcrump-back {
  width: 35%;

  @include responsive-up('md') {
    display: none;
  }
}

.view-all {
  width: 100%;
  display: block;
  font-size: 14px;

  a {
    text-decoration: none;
    color: $newGray;
  }
}

.upper-menu__search-mobile-container {
  padding: 26px 0px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.search-button {
  font-size: 16px !important;
}

.sub-menu__breadcrump-merge {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.upper-menu__search-mobile-container-main {
  @include responsive-up('md') {
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 34px 30px -41px rgba(0, 0, 0, 0.45);
  }
}

/* Search border fix transparent */
input.input-search {
  padding-right: 35px;
  &:focus {
    border: 0px solid transparent;
    border-style: none;
  }
}
