.cr__header-modalBoxZipCode {
  background-color: #ffffff;
  height: 100%;
  // max-height: 575px;
  overflow-y: auto;
  &-title {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dad8d6;
  }
  &-modalBox {
    padding: 0em 1em 0;
  }
  &-close {
    cursor: pointer;
  }
  &-signIn {
    margin: 1em 1em 0;
    &-button {
      margin: 1em 0 0;
      cursor: pointer;
      font-weight: 400;
      font-size: 0.8125em;
      line-height: 1.01562em;
      height: 35px;
      width: 100%;
      border: 1px solid #c72a60;
      border-radius: 3px;
      box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
        0 1px 0 0 rgba(0, 0, 0, 0.09);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      color: #ffffff !important;
      background-color: #e63976;
      &:hover {
        color: #e63976 !important;
        background-color: #ffffff;
      }
    }
  }
  .field_container,
  &-newAddress {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 1em;
    .add,
    &-button {
      cursor: pointer;
      font-weight: 400;
      font-size: 0.8125em;
      line-height: 1.01562em;
      height: 35px;
      width: 100%;
      border: 1px solid #c72a60;
      border-radius: 3px;
      color: #e63976;
      background-color: #ffffff;
      box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
        0 1px 0 0 rgba(0, 0, 0, 0.09);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:hover {
        background-color: #e63976;
        color: #ffffff;
      }
    }
  }
  &-newAddress {
    margin-top: 1em;
  }
  &-message {
    margin: 1em;
    text-align: start;
    span {
      letter-spacing: 0;
      line-height: 17px;
    }
  }
  @media screen and (max-width: 767px) {
    max-height: 400px;
  }
}
