/////////////////////////
// DIRECCIONES DE ENVÍO
    .address{
        background: white;
        border: $border-style;
        padding: $margin-base;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin: $margin-base auto;
        position: relative;
        cursor: pointer;
        
        .map_container{
            width: auto;
            margin-right: $margin-base;
            border: $border-style;
            height: 4em;
            background:$color3;
            img{
                height:100%;
            }
        }
        .info{
            width:12em;
            height:50px;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
        }
        .form{ 
            margin-bottom: 0!important;
            label{
                display: flex;
                flex-wrap: wrap;
                cursor: pointer;
            }
        }
        &_c2a{
            text-align: right;
            position: absolute;
            bottom: 10px;
            left: 5em;
        }
        &.active{
            background:#efefef;
            border: $border-style;
            border-radius: $border-radius;
        }  
    }

@media screen and (min-width:$bp-mobile-m){
    .address{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        .form__data{
            margin-right: $margin-base*2;
            label{
                flex-wrap: nowrap;
            }
        }
        &_c2a{
            display: flex;
            flex: 20%;
        } 
        .info{
            width:14.8em;
        }
    }        
}
@media screen and (min-width:$bp-tablet-sm){
    .address{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        .form__data{width: 75%;margin-right: $margin-base*2; }
        &_c2a{
            display: flex;
            flex: 20%;
            justify-content: space-between;
        } 
    }
}
@media screen and (min-width:$bp-tablet-m){
    .address{
        flex-flow: row wrap;
        .form__data{width: 100%;margin-right: $margin-base*2; }
        &_c2a{
            justify-content: flex-start;
        } 
    }
}

@media screen and (min-width: 50em){
    .address{
        flex-flow: row nowrap;
        .form__data{width: 75%;margin-right: $margin-base*2; }
        &_c2a{
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: $bp-desktop-sm){     
    .address{
        flex-flow: row nowrap;
        .form__data{width: 70%;margin-right: $margin-base*2; }
        &_c2a{
            flex: 20%;
            justify-content: space-between;
        } 
    } 
} 