.assistant{
    width: 100%;
    height: 100px;
    background: #f5e6e7;
    background-image: url($images_path+'illustration/butler_banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    border-radius: $border-radius;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__container{
        flex: 0 0 75%;
        text-align: center; 
        h5{
            //font-family: $font_title_bold; 
            //font-size: 1.1em;
            @include type-setting(0);
            margin-bottom: 0;
        }
        p{margin: 0; font-size: .9em;}
    }
    &__button{
        font-family: $font_button;
        font-weight: bold;
        margin-top: $margin-base;
    }

    @media screen and (min-width: $bp-mobile-sm){
       
    }
    @media screen and (min-width: $bp-mobile-l){
        &__container{
            h5{font-size: 1.2em; }
        }
        &__button{font-size: 1em;}
    }
}