button{
    cursor: pointer;
}

/*----------------------------------------
// CALL TO ACTION BUTTONS
----------------------------------------*/
%c2a_commons{
    display: inline-block;
    cursor: pointer; 
    box-shadow: none;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none; //@include type-setting(0);
  
    &:disabled{
        color: #adabab;
        background: #eae9e8;
        border: $color2;
        cursor: not-allowed
    }
}
@mixin c2a_base(){
    @extend %c2a_commons;
}

.c2a_round{
    padding: 0.75em 1.2em;
    border-top: 1px solid lighten($color1, 10%);
    border-radius: 25px;
    background-color: $color1;
    font-size: 0.875em;
    border:none;
    @include c2a_base();
}
.c2a_square{
    padding: 0.6em 1.2em;
    border: 1px solid #E43271;
    border-radius: $border-radius;
    background: $color1 linear-gradient(180deg, #E63976 0%, rgba(#E53876, 0.5) 30%, rgba(#B4106C, 0.5) 100%);
    font-size: 1.125em;
    font-family: $font_title;
    @include c2a_base();
}
@mixin c2a_square(){
    padding: 0.6em 1.2em;
    border: 1px solid #E43271;
    border-radius: $border-radius;
    background: $color1 linear-gradient(180deg, #E63976 0%, rgba(#E53876, 0.5) 30%, rgba(#B4106C, 0.5) 100%);
    font-size: 1.125em;
    font-family: $font_title;
    @include c2a_base();
}
.c2a--square{
    @extend .c2a_square;
}
.disabled {
    background: #d2cecd linear-gradient(180deg, #d2cecd 0%, rgba(#d2cecd, 0.5) 30%, rgba(#B4ADA9, 0.5) 100%);
    border: 1px solid lighten($color3, 50%);
    color: lighten($color2, 20%);
    cursor: not-allowed;
    @extend .c2a_square
}
.c2a_border{
    padding: 0.6em 1.2em;
    border: 1px solid $color1;
    border-radius: $border-radius;
    color: $color1;
    background: white;
    font-size: 1.125em;
    font-family: $font_title;
    @include c2a_base();
}


/*----------------------------------------
// ACTION BUTTON
----------------------------------------*/
.action-button{
    position: relative !important;
    overflow: hidden;
    z-index: 0;
    transition: background 120ms ease;

    // Properties and Button types
    &:disabled{
        cursor: default;
        cursor: not-allowed;
        color: #fff;
        background: #b7b7b7 !important;
        // opacity: 0.5;
    }
    &:not([disabled]){
        @include with-hover(){
            background: darken($color1, 12%);
        }
    }

    // ICON CONTAINER
    &__icon{
        @include center-content(50%, 50%);
        @include responsive-container(100%);
        display: block;
        position: absolute;
        opacity: 0;
        width: 30px;
        transition: all 220ms ease-in-out 120ms;

        // Animation settings
        &--entering { opacity: 0; transform: translate(-50%, 100%) }
        &--entered { opacity: 1; transform: translate(-50%, -50%) }
        &--exiting { opacity: 1; transform: translate(-50%, -50%) }
        &--exited { opacity: 0; transform: translate(-50%, 100%) }

        // Svg Icons
        svg{
            position: absolute;
            display: block;
            width: 100%; height: 100%;
            top: 0; left: 0;
        }
    }

    // BUTTON LABEL
    &__label{
        display: inline-block;
        transition: all 200ms ease-in-out 80ms;
        opacity: 1;
        transform: scale(1);
        @include type-setting(0);
        font-weight: 500;
        text-transform: uppercase;

        // Animation settings
        &--entering { opacity: 1; transform: scale(1); }
        &--entered { opacity: 0; transform: scale(0.5); }
        &--exiting { opacity: 0; transform: scale(1) translateY(-10px);}
        &--exited { opacity: 1; transform: scale(1) translateY(0px); transition-delay: 200ms}
    }
}

.quantity_button {
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    width: 75px;
    min-width: 75px;
    height: 28px;
    min-width: 70px;
    min-height: 25px;
    overflow: hidden;
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 0.4em;
    font-weight: bolder;
    color: #898989;
    margin-right: 0.5em;
    button{
        font-weight: bold;
        border: none;
        background: white;
        color: #898989;
        text-align: center;
        padding: 0;
        font-size: 1em;
        min-width: 19px;
    }

    input {
        border: none;
        padding: 0;
        width: 32px;
        min-width: 30px;
        text-align: center;
        font-size: 1em;
    }

    .in-stock{
        color: $color1;
    }
}
/*----------------------------------------
// ICON ADD MORE CIRCLE
----------------------------------------*/
.icon_oval-add{
    @include hide-text();
    @include responsive-container(100%);
    z-index: 1;
    cursor: pointer;
    display: block;
    background: url($images_path+'icons/icon_more_oval.svg') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    border: solid 2px #FFF;
    width: 45px;
}

/*----------------------------------------
// SIMPLE BUTTON
----------------------------------------*/
.button-simple{
    @include type-setting(-1);
    text-decoration: none;
    cursor: pointer;
    background: none;
    color: $color3!important;
    border: none;

    // Color Codes
    &.remove{color: $status-color-error !important;}
    &--alert,
    &--remove {
        color: $status-color-error !important;
    }
    &--pink{
        color: $color1 !important;
        font-weight: bold;
    }
}

/*----------------------------------------
// GENERIC BUTTONS FORM
----------------------------------------*/
.button-square--grey {
    cursor: pointer;
    text-align: center;
    border: solid 1px $color4 !important;
    text-decoration: none;
    height: 41px;
    width: 144px;
  }
.button-square,
.button-square--white {
    @include type-setting(0);
    cursor: pointer;
    text-align: center;
    border: solid 1px $color4 !important;
    padding: 0.75em;
    border-radius: $border-radius;
    color: $color2;
    font-size: 0.875em;
    font-family: $font_content;
    text-decoration: none;
}
.button-square--gray {
    @extend .button-square;
    color: $color2;
    background: #F0EDEB;
}
.button-square--gray-deg{
    padding: #{$margin-base * 1.5};
    border-radius: $border-radius;
    background: linear-gradient(180deg, #E0DDDB 0%,  #bbb3ad 100%);
    color: $color2;
    @include type-setting();
    @include c2a_base();
}
.button-square--pink {
    @extend .button-square;
    border: none !important;
    color: white;
    background: $color1;
}
.button--add {
    display: inline-block;
    &:before {
        content: '';
        display: inline-block;
        position: relative;
        background: url($images_path+'icons/icon_more.svg') no-repeat center;
        background-size: contain;
        vertical-align: middle;
        margin-right: $margin-base;
        width: 15px;
        height: 15px;
    }
}

/////////////////////////
// BUTTONS
.modal__button{
    display: inline-block;
    margin: 0 $margin-base;
    border: none !important;
    border-radius: $border-radius;
    background: $color1;
    color: #fff !important;
    @include type-setting(0);
    font-family: $font_content;
    padding: 0.5em 0.75em !important;
}
.modal__button-cancel{
    @extend .modal__button;
    margin: 0 auto;
    background: transparent;
    color: $color2 !important;
}

//Button tag
.button-option{
    border: 1px solid lighten($color3, 20%);
    border-radius: 25px;
    margin: $margin-base 0;
    background: white;

    .button-tag{
        border: none;
        background: none;
        font-family: $font-title;
        color: $color2;
        @include type-setting();
        line-height: 1.2rem;
        position: relative;
        padding-left: 2em;
        margin: $margin-base/2 $margin-base;
        text-align: left;
    }

    &.active{
        background: $color1;
        border: 1px solid $color1;
        .button-tag{
            color: #ffffff;
        }
    }

    &--disabled{
        background: lighten($color3, 35%);
        border: 1px solid lighten($color3, 27%);
        .button-tag{
            color:$color2;
            cursor: not-allowed;
        }
    }

}
.button-option.active{
    &:hover{
        background: $color1;
        border: 1px solid $color1;
        .button-tag{
            color: #ffffff;
        }
    }   
    
}
