//////////////////////////////////////
// CALENDAR COMPONENT CUSTOM STYLES
//////////////////////////////////////
.calendar-component {
    font-family: $font_content;

    // Single Day Tiles
    &__tile {
        transition: background 200ms ease;

        // Tile Types
        &--weekend {
            color: black;
        }

        &--disabled {
            color: $color4 !important;
            background: transparent !important;
            cursor: not-allowed;
        }

        &--active {
            background: $color1 !important;
            color: white;
        }
    }
}