.cardConfirmationBox{
    background: #fff;
    padding:1.5em 1em;
    text-align: center;
    .cvc{width: auto;}
    .c2a_action{  
        button{margin:$margin-base*2 $margin-base;}
        .c2a_border{border: $border-style;}
    }
    .header{
        @include type-setting(0); 
        color: inherit; 
        padding: $margin-base 0;
        border-bottom: $border-style;}
    .note{margin-bottom: 0;}
}