.collapseBox{

    /////////////////////
    // CONTENT
    padding: 0 $margin-base;
    border-bottom: 1px solid lighten($color3, 30%);

    // HEADER
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $margin-base*2 0;
        width: 100%;
        height: 100%;

        @include type-setting(0);
        font-family: $font_title_bold;
        text-decoration: none;
        color: $color2;
        cursor: pointer;
        transition: color 120ms ease;

        // Icon
        &:after{
            content: '';
            position: relative;
            display: inline-block;
            margin-left: 0.5em;
            width: 15px; height: 15px;
            flex: 0 0 auto;
            transition: transform 200ms ease-in-out;
            filter: grayscale(100%);
            background-size: contain;
            background: url($images_path+'icons/arrows/arrow_down.svg') no-repeat center;
        }

        p {
            margin-right: 0;
        }
    }

    .header {
        // Active component styles
        .hover-active &:hover {
            color: $color1;
        }
        &.active{
            color: $color1;
            // Icon
            &:after{
                transform: rotate(270deg);
                filter: none;
                background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center
            }
        }
    }

    /////////////////////
    // CONTENT
    .box {
        position: relative;
        padding: 0 $margin-base*2;
        height: auto;
        overflow: hidden;
        transition: all 400ms ease-out;

        // Open / Close states
        &.open {
            transition: all 320ms ease-in-out;
        }

        // Content container
        &__content{
            padding-bottom: $margin-base*2;
        }

        // Generic Styles
        ul{
            list-style: disc;
            padding-left: 1em;
            li{ margin-bottom: 0.5em; }
        }
        a{
            color: $color2;
            text-decoration: none;
            transition: color 100ms ease;
            .hover-active &:hover {
                color: $color1;
            }
        }
        strong{
            font-weight: bold;
        }
    }
}