/*----------------------------------------
// FORM 'VALIDATION/ERROR' MESSAGES
----------------------------------------*/
.form_status {
  width: 100%;
  margin-top: -0.6em;
  @include type-setting(-1);
  line-height: 1.425em;
  padding-top: 0.875em;
  ////////////////
  // ICONS
  &:before {
    content: '';
    display: none; //inline-block;
    position: relative;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 0.4em;
    top: 3px;
  }

  &--big {
    padding: 0.65em 0;
    font-size: 0.875em;
  }

  &.status--error {
    color: rgb(230, 7, 55);
  }
  &.status--main {
    font-size: 0.9125em;
    margin-bottom: 1em;
    padding: 0.5em;
    border: solid 1px rgba($color4, 0.5);
    background: $color5;
  }

  &.danger {
    color: rgb(230, 7, 55);
    &:before {
      background: url($images_path + 'icons/icon_helpbox-02.svg') no-repeat center;
    }
  }
  &.warning {
    color: rgb(240, 185, 2);
    &:before {
      background: url($images_path + 'icons/icon_helpbox-01.svg') no-repeat center;
    }
  }
  &.warning--giftReceiverNote {
    color: #494953;
    background-color: #f8efc0;
    padding: 1em;
    border: 1px solid #f3e396;
  }
  &.success {
    color: rgb(120, 190, 0);
    &:before {
      background: url($images_path + 'icons/icon_helpbox-03.svg') no-repeat center;
    }
  }
}

/*----------------------------------------
// GENERIC FORM STYLES
----------------------------------------*/
.form {
  position: relative;
  width: 100%;

  // DATA FIELD CONTAINER
  &__data {
    position: relative;
    width: 100%;
    margin-bottom: 0.65em;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
  }

  // INPUT FIELDS
  input {
    width: 100%;
    border: 1px solid lighten($color3, 30%);
    background: white;
    padding: 0.5em 0.75em;
    border-radius: $border-radius;
    @include type-setting(0);
    font-family: $font_content;
    color: $color3;
    transition: border 180ms ease;
    outline: none;
    transition: color 180ms;
    &:focus {
      outline: none;
      border: 1px solid rgba($color3, 0.75);
      color: $color2;
    }
    &::placeholder {
      color: #bbb3ad;
    }
    &.error {
      border: solid 1px lightcoral !important;
      background: lighten(lightcoral, 25%);
      //$status-color-warning: #ceb52b;
    }
  }
  input[type='submit'] {
    @extend .c2a_square;
  }
  input[type='radio'] {
    display: none;
  }
  .adjustmentBasicUserForm {
    padding-right: 0.6em;
  }
  input[type='radio'] + label.dot {
    padding-left: 27px;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    span {
      color: $color3;
      line-height: 23px;
      display: block;
      margin-top: $margin-base/2;
    }
  }
  input[type='radio'].dots:checked + label.dot {
    background-image: url($images_path + 'icons/selectors/icon_radio_check.svg');
  }

  label.dot {
    background-image: url($images_path + 'icons/selectors/icon_radio.svg');
    user-select: none;
  }
  textarea {
    @extend input;
    margin: 0 0;
  }
  label {
    &.title {
      display: block;
      color: $color2;
      font-family: $font_title_bold;
      margin-bottom: 0.125em;
    }
  }
  select {
    @extend input;
    width: auto;
    padding-left: 0.325em;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }
  .adjustmentBasicUserFormBd {
    margin-top: 0.3em;
  }
}

//////////////////////
// COLOR STYLED FORMS
form.form_color {
  @extend .form;
  input {
    border: 1px solid #ebe4e0;
    background: #ebe4e0;
  }
}

/*----------------------------------------
// SLIDE STYLE CHECKBOX
----------------------------------------*/
.form-switch {
  $switch-offset: 3px;
  $switch-left: 5px;
  position: relative;
  width: 70%;
  height: 28px;
  margin: auto;

  // HIDDEN CHECKBOX
  input {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    &:checked ~ label {
      background: $status-color-success;
      color: $status-color-success;
    }
    &:checked ~ label div {
      left: 54%;
    }
  }

  // LABEL CONTROL
  label {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20em;
    background: $status-color-error;
    color: $status-color-error;
    transition: all 300ms ease;
  }

  // CUSTOM STYLES/COLORS
  &--pink {
    label {
      background: #ccc;
      color: $color6;
    }
  }

  // SWITCH
  .slider {
    display: block;
    position: absolute;
    left: $switch-left;
    top: $switch-offset;
    height: calc(100% - 6px);
    width: 35%;
    background: #fff;
    border-radius: 10px;
    transition: all 200ms ease-in-out;

    // Drag Texture
    // &:before {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     height: 45%;
    //     width: 2px;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     margin: auto;
    //     border-radius: 1em;
    //     background: #d3d3d3;
    //     box-shadow: -4px 0 0 0 #d3d3d3, 4px 0 0 0 #d3d3d3;
    //     transition: all 300ms ease;
    // }
  }
}
