.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    overflow-y: hidden;
    
    //
    .prev,
    .next{
        .button {
            @include hide-text();
            border: 1px solid lighten($color3, 30%);
            background: #E0DDDB;
        }
    }
    .prev .button:before {
        background: url($images_path+'icons/arrows/arrow_prev_lgray.svg') no-repeat center;
        background-size: 30%;
    }
    .next .button:before {
        background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center;
        background-size: 30%;
    }

    //
    .button {
        display: inline-block;
        background: transparent;
        border-radius: $border-radius;
        border: none;
        padding: $margin-base;
        margin: 0 auto;
        width: 32px;
        color: $color2;
        text-decoration: none;
        @include type-setting(0);
        @include responsive-container(100%);

        &:hover {
            color: $color1;
        }
        &__index {
            //display: none;
            position: absolute;
            @include center-content(50%, 50%);
        }
        &--enabled {
            background: white;
        }
        &--active {
            color: $color1;
        }
    }

    //
    .page-numbers {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: nowrap;
        align-self: flex-start;
        margin: 0 $margin-base;
        .number {
            margin: 0 $margin-base/2;
        }
        .button {
        }
    }
}