
//SPINNER
%spinner {
    margin: auto;
    width: 20px;
    height: 20px;
    text-align: center;
    animation: sk-rotate 1s infinite linear;
    .dot1, .dot2 {
        width: 40%;
        height: 40%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color:$color1;
        border-radius: 100%;
        animation: sk-bounce 1s infinite ease-in-out;
      }
      .dot2 {
        top: auto;
        bottom: 0;
        background-color:$color1;
        animation-delay: -.5s;
      }
      
      @keyframes sk-rotate { 
          100% { 
              transform: rotate(360deg);
            }
        }

      @keyframes sk-bounce {
        0%, 100% { 
          transform: scale(0.0);
          -webkit-transform: scale(0.0);
        } 50% { 
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
        }
    }
}
.preloader {
   
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;

    margin-top: 80px;
    margin-bottom: 80px;

    @include hide-text();
    background: linear-gradient(to right, $color1 10%, rgba(255, 255, 255, 0) 42%);

    -webkit-mask-image: url($images_path+'utils/mask_loader.svg');
    mask-image: url($images_path+'utils/mask_loader.svg');
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;

    animation: rotate 620ms infinite cubic-bezier(0.645, 0.5, 0.5, 1); //cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateZ(0);
    
    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 50%; height:50%;
        background: $color1;
        border-radius: 100% 0 0 0;
    }
      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0;
        margin: auto;
        width: 65%; height: 65%;
        border-radius: 50%;
    }
    
    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
}