/*----------------------------------------
//   LIST PRODUCT CARD BASE
----------------------------------------*/
.product-list-container{
    position: relative;

    //////////////////
    // PRODUCT LIST
    //////////////////
    .products-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
        
        // PRODUCT
        .product{
            text-align: left;
            margin: 0 0 ($margin-base*2);
            padding: 0 $margin-base;
            position: relative;
            text-decoration: none;

            &__wrapper{
                //border: solid 1px $color7;
                border-radius: $border-radius;
                transition: box-shadow 300ms ease-out;
                &:hover{
                    background: #fff;
                    transition: box-shadow 120ms ease-in;
                    box-shadow: 0 1px 12px 0px rgba(#000, 0.15);
                }
            }

            // Images
            &__image{
                position: relative;
                display: block;
                width: 100%;
                a{
                    display: block;
                    overflow: hidden;
                    @include responsive-container(percentage(157/193));
                    width: 100%;
                    @include background__product--default();
                    background-size: cover;
                }
                img {
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }

            // Info
            &__info{
                position: relative;
                color: $color3;
                padding:#{ $margin-base};
                // line-height: 1.25em;
                a{
                    text-decoration: none;
                }
                .product-name{
                    display: block;
                    color: $color2;
                    overflow-wrap: break-word;
                    a{
                        color: $color2;
                    }
                }
                .store-name{
                    display: block;
                    color: $color3;
                    @include type-setting(-1);
                }
                &--price{      
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    span:first-child{
                        font-size: .8em;
                        color: $color3;
                    }
                    span.price{
                        color: $color2;
                        font-weight: bold;
                    }
                }
                .slug{
                    display: block;
                }
            }

            // Price Tag
            &__marker{
                background: $color1;
                background-size: cover;
                border-radius: $border-radius 0 0 $border-radius;
                position: absolute;
                bottom: 0.7em;
                right: -5px;
                padding: 2px $margin-base;

                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 5px;
                    height: 100%;
                    right: 0; top: -2px;
                    transform: skew(0, 30deg);
                    background: darken($color1, 15%);
                    z-index: -1;
                }
                span{
                    @include type-setting(-1);
                    color: white;
                }
            }
        }
    }
    .withoutProducts{
        text-align: center;
        margin: $margin-base;
        .c2a_square{
            margin: 1em;
        }
    }
}


//////////////////////
// PRODUCTS LIST
//////////////////////
.products__list{
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    //max-width: 20em;

    // Product
    .product{
        padding: #{$margin-base / 2};
        //flex: 0 0 40%;
        a{ text-decoration: none; }
        
        &__info{
            padding:  $margin-base 0;
            @include type-setting(0);
            color: $color2;
            .product__name,
            .product__store-link,
            .product__rating,
            .product__price{
                display: block;
            }

            .product__name{
                @include type-setting(0);
                line-height: 1.325em;
                color: $color2;
                word-break: break-word;
            }
            .product__rating{
                display: none;
            }
            .product__store-link {
                @include type-setting(-1);
                line-height: 1.5em;
                color: $color3;
                word-break: break-all;
            }
            .product__price {
                @include type-setting(-1);
                color: $color2;
                font-weight: bold;
            }
        }
    }

    // Thumnail
    .thumbnail {
        &__image{
            display: block;
            text-decoration: none;
            width: 100%;
            @include responsive-container(100%);
            overflow: hidden;
            img {
                position: absolute;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
    }
}