.test{
    color: red
}

.ui-list-rating{
    &__stars{
        display: flex;

        .star__item{
            position: relative;
            display: flex;
            width: 1em;
            height: 1em;
            // @include responsive-container(100%);
            // clip-path: url("#ratingStar");
            // background: url($images_path+'rating/star_rating.svg');

            .slider{
                display: block;
                position: absolute;
                background: linear-gradient(to bottom, #fee189 0%, #e3920e 100%);
                width: 100%;
                height: 100%;
            }

            .icon{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0; left: 0;
                border: 0; padding: 0; margin: 0;
                background: transparent url($images_path+'rating/star_rating.svg');
                @include hide-text();
            }
             
            .active{ background: url($images_path+'rating/star_rating_fill.svg')}

            label{@include hide-text();}
            input[type="checkbox"]{
                display: none;
            }
            input[type=checkbox] + label.checkmark {
                padding-left: 20px;
                background-repeat: no-repeat;
                background-position:center;
                background-size: cover;
                width: 17px;
                height: 17px;
                line-height: 30px;
                cursor: pointer;
            }
            input[type=checkbox]:checked + label.checkmark {
                background-image: url($images_path+'rating/star_rating.svg');
            }
            
            input[type=checkbox]:checked:hover + label.checkmark {
                background-image: url($images_path+'rating/star_rating_fill.svg');
                opacity: .5;
            }
        
            label.checkmark {
                background-image : url($images_path+'rating/star_rating_fill.svg');
                user-select: none;
            }
        }
    }
}