.responsive-picture{
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.responsive-image{
    @include responsive-image();
    opacity: 1;
}