.season-banner{
    width: 100%;
    height: 100px;
    background: white;
    background-image: url($images_path+'illustration/buenfin_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 30%;
    border-radius: $border-radius;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    
    &__container{
        flex: 0 0 64%;
        text-align: center; 
        color: #ffffff;
        .text{margin: 0; font-size: .75em;}
        .code, .title{color: #ffffff; margin: 0; font-size: 1.2em;} 
        .title{font-weight: bold; color: $color1;}
    }
    &__button{
        font-family: $font_button;
        font-weight: bold;
        margin-top: $margin-base;
        font-size:  1.5em;
        color: $color1;
        text-decoration: none;
        &:after {
            content: '';
            display: inline-block;
            position: relative;
            background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center;
            background-size: contain;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: $margin-base/2;
        } 
    }
    @media screen and (min-width: $bp-mobile-l){
        background-position: center;
        &__container{
            .code{font-size: 1.2em;}
            .title{font-size: 1.5em;}
            .text{font-size: .8em;}
        }
        &__button{
            font-size: 2em;
            &:after {
                width: 25px; height: 25px;
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm){
        &__container{
            flex: 0 0 77%;
        }
    }
}