.ui-checkbox-list,
.ui-list-selector {
	margin-bottom: $margin-base * 2;

	&__selector,
	&__selection {
		border: $border-style;
		padding: $margin-base/2 $margin-base;
		border-radius: 3px;
		color: gray;
		background: #ffff;
		position: relative;
		cursor: pointer;
		height: 41px;
        display: flex;
        align-items: center;
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			background-size: contain;
			right: 14px;
			top: 40%;
			width: 10px;
			height: 10px;
			background: url($images_path+'icons/arrows/arrow_down_gray.svg')
				no-repeat center;
			transform: scale(1.4);
		}
	}

	&__selection {
		width: 120px;
		&:first-child {
			margin-right: $margin-base;
		}
	}

	&__options {
		border: $border-style;
		border-radius: $border-radius;
		background: #ffff;
		&.hours {
			overflow: auto;
			max-height: 100px;
			max-width: 120px;
		}

		.options__item {
			display: flex;
			padding: 0.2em $margin-base;
			&.active,
			&:hover {
				background: $color1;
				color: #ffff;
			}

			input[type='checkbox'] {
				display: none;
			}
			input[type='checkbox'] + label.checkmark {
				width: 100%;
				padding-left: 27px;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 17px;
				line-height: 30px;
				background-position-y: 7px;
				cursor: pointer;
			}
			input[type='checkbox']:checked + label.checkmark {
				background-image: url($images_path+'icons/selectors/icon_checkbox_check.svg');
			}

			label.checkmark {
				background-image: url($images_path+'icons/selectors/icon_checkbox.svg');
				user-select: none;
			}
		}
	}
	@media screen and (min-width: $bp-mobile-l) {
		max-width: 320px;
	}
}

.ui-calendar-selector {
	max-width: 280px;
	&__day {
		border: $border-style;
		padding: $margin-base/2 $margin-base;
		border-radius: 5px;
		color: gray;
		background: #ffff;
		position: relative;
		cursor: pointer;
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			background-size: contain;
			right: 10px;
			top: 25%;
			width: 15px;
			height: 15px;
			background: url($images_path+'icons/schedules/icon_calendar.svg')
				no-repeat center;
		}
	}
	@media screen and (min-width: $bp-mobile-l) {
		max-width: 300px;
	}
}
