/*----------------------------------------
// SHOPPING CART RESUME (APP SIDE BAR)
----------------------------------------*/
.addToCart {
  position: fixed;
  overflow-y: auto;
  z-index: 10000;
  right: 0;
  top: 0;
  width: 17em;
  height: 100%;
  border-radius: $border-radius;
  box-shadow: 0px 0px 12px rgba(#000, 0.5);
  background: white;

  &.open {
    right: 0;
    transition: right 500ms ease;
  }
  &.close {
    right: -20em;
    transition: right 500ms ease;
  }

  h4 {
    padding-bottom: $margin-base/2;
    margin: $margin-base;
    border-bottom: $border-style;
  }
  .note__required {
    color: $color3;
    text-align: center;
  }
  @import '../shoppingCart/cart-products';

  .order_container {
    max-height: 390px;
    width: auto;
    overflow-x: hidden;
    margin: $margin-base;
    .product {
      border: 0;
      border-bottom: $border-style;
      &:last-child {
        border: 0;
      }
      .options,
      .message-container {
        display: none;
      }
      &__detail {
        .image {
          width: 75px;
          max-height: 75px;
        }
        .remove {
          display: none;
        }
      }
      &__comment {
        .quantity {
          display: none;
        }
      }
    }
  }

  .resume-container {
    border-top: $border-style;
    padding: $margin-base 0 0;
    margin: $margin-base;
    text-align: center;
    .cart-resume__breakdown {
      display: flex;
      padding: $margin-base/2;
      .quantity {
        text-align: right;
        flex: 1;
        font-weight: bold;
      }
    }
    .note {
      @include type-setting(-1);
      color: $color3;
      padding: 0 $margin-base;
      text-indent: 0;
      padding: 20px 0px;
      text-align: left;
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    .order_container .product__wrapper {
      display: block;
    }
  }
}
