.statusWindow{
    $window-opacity: 0.97;

    position: fixed;
    z-index: 99;
    margin: 0 auto;
    padding: 1em 1.25em;
    bottom: 0;
    left: 0; right: 0;
    width: calc(100% - #{$margin-base * 2});
    max-width: 480px;
    box-shadow: 0px 1px 3px 0px rgba(#000, 0.3);
    border-radius: 4px;

    background: rgba($color5, $window-opacity);
    color: #fff;
    text-align: center;
    font-size: 0.925em;

    transition: all 200ms ease-in-out;
    
    &:before{
        content: '';
        width: calc(100% - 8px);
        height: 1px;
        position: absolute;
        top: 1px;
        left: 0; right: 0;
        margin: 0 auto;
        background: rgba(249, 164, 164, 0.5);
    }

    &--success{
        background: rgba($status-color-success, $window-opacity);
    }
    &--error{
        background: rgba($status-color-error, $window-opacity);
    }
    &--warning{
        background: rgba($status-color-warning, $window-opacity);
    }


    /*----------------------------------------
    // FORM STEPS DISPLAY
    ----------------------------------------*/
    
        ///////////////////
        // STEPS LIST
    

        @media screen and (min-width: $bp-desktop-sm){
            width: auto;
            min-width: 12em;
            left: auto; right: $margin-base;

        }
}