.stepsDisplay{
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 9px 1px rgba(#000, 0.2);

    ///////////////////
    // STEPS LIST
    .steps{
        position: relative;
        display: inline-block;
        margin: auto;
        width: auto;
        padding: 1.125em $margin-base 0.7em;

        // PROGRESS LINE
        &:before{
            content: '';
            position: absolute;
            height: 3px; width: 70%;
            background: $color4;
            transform: translate(-50%, -2px);
            top: 50%; left: 50%;
        }
        
        // STEP BULLET
        &__item{
            cursor: pointer;
            margin: 0 0.875rem;
            display: inline-block;

            a{
                color: $color3;
                text-decoration: none;
                width: 20px;
                display: block;

                @include hide-text();
                @include responsive-container(100%);
                &:before{
                    background: $color4;
                    border-radius: 50%;
                    transition: background 180ms ease;
                }
                &:hover{
                    color: $color2;
                    &:before{
                        background: $color3
                    }
                }
                &.active{
                    color: $color2;
                    &:before{
                        background: $color1;//$color-gradient;
                    }
                }
            }
        }
    }


    // MEDIA QUERIES
    @media screen and (min-width: 50em){
        .steps{
            width: 90%;
            display: flex;
            justify-content: space-between;

            // PROGRESS LINE
            &:before{
                content: '';
                top: 38%;
                width: calc(100% - 90px);
            }
            
            // BULLET
            &__item{
                a{
                    @include type-setting(-1);
                    font-family: $font_content;
                    width: auto;

                    &:before{
                        width: 20px; height: 20px;
                        background: $color4;
                        border-radius: 50%;
                        padding: 0;
                        margin: 0 auto 0.125em;
                    }
                }
            }
        }
    }
}