.stock{
    background: $color5;
    border-top: 1px solid lighten($color3, 30%);
    border-bottom: 1px solid lighten($color3, 30%);
    padding:#{$margin-base * 2} $margin-base;
    

    //////////////////////
    // PRODUCTS LIST
    //////////////////////
    &_products{
        margin: 0 auto;

        // HEADER
        &--header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $margin-base;
            p{
                margin:0;
                span{
                color:$color3;
                }
            }
            a{
                margin-bottom: 0;
                background: $color4;
                &:before{ 
                    content: '';
                    display: inline-block;
                    position: relative;
                    background: url($images_path+'icons/icon_filter.svg') no-repeat center;
                    background-size: contain;
                    width: 25px;
                    height: 21px;
                    vertical-align: middle;
                    margin-right: $margin-base;  
                }
                &.c2a_border{
                    border: 1px solid lighten($color3, 30%);
                    padding: $margin-base;
                    color: $color2;
                    margin-bottom: 0!important;
                }
            }
        }

        // PRODUCTS LIST
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            //max-width: 20em;
            .thumbnail{
                padding: #{$margin-base / 2};
                flex: 0 0 40%;
                a{
                    text-decoration: none;
                }
                &_image{
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    @include responsive-container(100%);
                    overflow: hidden;
                    img {
                        position: absolute;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                        @include responsive-image();
                        @include center-content(50%, 50%);
                    }
                }
                
                &_info{
                    padding:  $margin-base 0;
                    @include type-setting(-1);
                    color: $color2;
                    .store, .ranking ,.price{
                        display: block;
                        
                    }
                    .store{
                        color: $color3;
                    }
                    .price{  
                        color: $color2;
                        font-weight: bold;
                    }
                }
            }
        }
    } 
    @media screen and (min-width: $bp-tablet-sm){
        &_products{
            &--header{
                margin: auto $margin-base;
                margin-bottom: $margin-base;
            }
            ul{
                //max-width: 40em;
                .thumbnail{
                    padding: $margin-base;
                    flex: 0 0 30%;
                }
            }
        }  
    }
    @media screen and (min-width: 45em){
        &_products{  
            ul{
                width: 95%;
                margin: 0 auto;
                justify-content: flex-start;
                .thumbnail{
                    flex: 0 0 25%;
                }
            }
        }
    }
    @media screen and (min-width: $bp-desktop-sm) {
        display: flex;
        justify-content: center;
        border-top: 0;
        border-bottom: 1px solid lighten($color3, 30%);
        padding: 2.5em 2em;
        &_products{
            margin: 0;
            width: 73%;
            .mobile{
                display: none;
            }
            .desktop{
                display: block;
            }
            ul{
                .thumbnail{
                    flex: 0 0 25%;
                }
            }
        }
    }
}