
////////////////////
// HELP ICON
.form__helpIcon{
    @include hide-text();
    @include responsive-container(100%);
    position: absolute;
    border-radius: 50%;
    width: 16px; height: 16px;
    color: #fff;
    background: $color3;
    transition: background-color 200ms;
    font-size: 1em;
    border: none;
    padding: 8px;
    margin-left: $margin-base/2; 
    top: 4px;
    // Icon
    &:after{
        content: '?';
        position: absolute;
        @include center-content(50%, 50%);
        font-size: 11px;
        font-family: $font_content;
        font-weight: 600;
        text-shadow: 1px 1px rgba(#000, 0.15);
    }

    // Hover
    &:hover{
        background-color: darken(#D2CEC8, 17%);
        .helpInfo{
            display: block;
            width: 120px;
            height: auto;
        }
    }

    .helpInfo{
        position: absolute;
        top: 18px; right: 7%;
        background:#fff;
        border-radius: $border-radius;
        box-shadow: 1px 1px 5px .5px rgba(#000, .3);
        padding:$margin-base .5em;
        color: $color3;
        font-family: $font_content;
        @include type-setting(-1);
        line-height: 1.3em;
        z-index: 1;
        display: none;
        &:before{
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 3px;
            top: -4px;
            transform: rotate(45deg);
            background: #ffff;
        }
    }
}


////////////////////
// HELPER TEXT
.form__help{
    //display: none;
    position: relative;
    margin-bottom: 0.75rem;
    @include type-setting(-1);
    color: lighten($color3, 15%);
    strong{font-weight: bold;}
    // Paragraphs
    p{
        line-height: 1.5em;

        &:last-child{
            margin-bottom: 0;
        }
    }
}