.cr__header-topHeader {
  width: 100%;
  height: 28px;
  background-color: #1a1a25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.07em;
  &-containerB,
  &-containerA {
    display: inline-flex;
    height: 19px;
  }
  &-containerA {
    overflow: hidden;
  }
  &-containerB {
    white-space: nowrap;
  }
  &-item {
    border-right: 1px solid #b7b7b7;
    padding: 0 1em;
    cursor: pointer;
    display: block;
    height: 75%;
    color: #b7b7b7;
    overflow: hidden;
    white-space: nowrap;
    &:last-child {
      // font-weight: bold;
      border: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .withoutButton {
      margin-top: 1px;
    }
  }
  &-item:hover {
    color: #ffffff;
  }
  a {
    text-decoration: none;
    position: relative;
    bottom: 5px;
    color: #b7b7b7;
  }
  a:hover {
    color: #ffffff;
  }
}
