.cr__stores-container {
  max-width: 841px;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  text-align: center;
  margin: 0 auto;
  &-title {
    font-style: normal;
    font-weight: normal;
    @include type-setting(2);
    line-height: 0.8em;
    text-align: center;
    margin-bottom: 0.25em;
    color: #343439;
    margin-top: 1.2em;
  }
  &-section {
    margin-bottom: 0em;
  }
  .cr__section-title {
    font-style: normal;
    font-weight: normal;
    @include type-setting(1);
    line-height: 22px;
    text-align: center;
    color: #898989;
    text-transform: none;
    margin-bottom: 1.5em;
    margin-top: 1em;
  }
  .cr__slider__container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    .cr__ImageContainer {
      width: 98px;
      height: 98px;
      overflow-y: hidden;
      display: flex;
      justify-content: flex-start;
      border: 1px solid #dad8d6;
      padding: 5px;
      border-radius: 8px;
      &-image {
        height: 100%;
        width: 100%;
        border-radius: 8px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    max-width: 484px;
    height: 100%;
    &-title {
      margin-top: 0;
      @include type-setting(1);
      line-height: 1em;
    }
    &-section {
      @include type-setting(-1);
      line-height: 0.55em;
      margin-bottom: 0em;
    }
    .cr__section-title {
      margin-top: 1em;
      margin-bottom: 1.3em;
      @include type-setting(-1);
    }
    .cr__slider__container {
      .cr__ImageContainer {
        height: 80px;
        width: 80px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    max-width: 320px;
    height: 100%;
    padding-right: 0.75em;
    &-title {
      margin-top: 0;
      @include type-setting(1);
      line-height: 1em;
    }
    &-section {
      @include type-setting(-1);
      line-height: 0.55em;
      margin-bottom: 0em;
    }
    .cr__section-title {
      margin-top: 1em;
      margin-bottom: 1.5em;
      @include type-setting(-1);
    }
    .cr__slider__container {
      .cr__ImageContainer {
        height: 86px;
        width: 86px;
      }
    }
  }
}
.warningAdmin {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e63976;
  font-weight: 600;
  font-size: 14px;
}
