.article{
    padding: $margin-base/2;
    width: 50%;
    flex: none;

    &_container{
        background: white;
        padding: $margin-base/2;
        border: 1px solid  #e4e3e2;
        height: 100%;
    }

    .thumbnail{
        &__image{
            display: block;
            text-decoration: none;
            width: 100%;
            height: 280px;
            @include responsive-container(100%);
            @include background__product--default();
            overflow: hidden;
            img {
                position: absolute;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
    }
    .article__info{
        margin: .6em 0;
    }
    a{
        color: $color2;
        text-decoration: none;
    }

    // MEDIA QUERIES

    @media screen and (min-width: $bp-tablet-sm) {
        width: 33.3%;
    }
    @media screen and (min-width: $bp-tablet-m) {
        width: 25%;
    } 
    @media screen and (min-width: $bp-desktop-sm) {
        width: 20%;
    } 
}

