@import "searchBar";
section.searchResults {
  padding: 0;

  @import "searchResults";
  @import "search/articlesList";
  @import "search/storesList";
  @import "search/productsList";

  //////////////////
  // INPUT SEARCH
  //////////////////
  .search_form {
    margin: $margin-base * 2 auto;
    display: table;
    justify-content: center;
    position: relative;
    border-bottom: $border-style;
    .search_field {
      border: none;
      background: none;
      @include type-setting(3);
      font-family: $font_title_bold;
      max-width: 320px;
      padding: 0 $margin-base/2;
      width: calc(100% - 30px);
    }
    .search_button {
      position: relative;
      @include hide-text();
      &:before {
        content: "";
        position: absolute;
        right: 15px;
        top: 5px;
        width: 20px;
        height: 22px;
        background: url($images_path+"icons/search/icon_search_pink.svg")
          no-repeat center;
        background-size: contain;
        opacity: 0.3;
      }
    }
  }
  /////////////////////////////
  // SEARCH RESULTS DETAILS
  /////////////////////////////
  .results-details {
    text-align: center;
    padding: 1em $margin-base 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px $color4;
    .pink {
      color: $color1;
    }
  }

  //////////////////
  // TAGS MENU
  //////////////////
  .menu_tags {
    overflow: hidden;
    overflow-x: inherit;
    padding: $margin-base * 2 $margin-base;
    &:before {
      content: "";
      background: linear-gradient(90deg, transparent 0%, white 100%);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100px;
      height: 6em;
    }
    .tags_list {
      display: flex;
      align-items: flex-start;
      .tag {
        padding: $margin-base;
        border-radius: $border-radius;
        background: rgba(123, 121, 130, 0.9);
        margin: $margin-base/2;
        position: relative;

        &:after {
          content: "";
          background: url($images_path+"store/product_7.png") no-repeat;
          z-index: -1;
          border-radius: $border-radius;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
        a {
          text-decoration: none;
          color: white;
          font-family: $font-title;
        }
      }
    }

    // MEDIA QUERIES
    @media screen and (min-width: 35em) {
      margin: 0 10%;
      &:before {
        right: 10%;
      }
    }
  }
}
