.hotsale {
  &-none {
    padding: 0 !important;
    border: none !important;
    // height: 100% !important;
  }
}
.product {
  padding: $margin-base/2;
  width: 50%;
  flex: none;

  &_container {
    background: white;
    padding: $margin-base/2 $margin-base/2;
    height: 100%;
    border: 1px solid #e4e3e2;
  }

  a {
    text-decoration: none;
    color: $color2;
  }
  .hotsale-product {
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    // border-bottom: 1px solid #ededed;
    // border-left: 1px solid #ededed;
    // border-right: 1px solid #ededed;
    // box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12);
  }
  .line-through {
    text-decoration: line-through;
    line-height: 1.4em;
  }
  &__info {
    padding: $margin-base;
    .product__name,
    .product__store-link,
    .product__rating,
    .product__price {
      display: block;
      line-height: 1.4em;
    }
    .product__price-visa{
      color: #1a1f71;
    }
    .product__rating {
      display: none;
    }
    &-detail {
      span {
        font-size: 0.9em;
        font-weight: bold;
      }
      .store {
        padding: 0;
        margin: 0;
        color: $color3;
        @include type-setting(-1);
      }
    }
  }

  // Thumnail
  .thumbnail {
    position: relative;
    .hotsale-discount {
      position: absolute;
      background-color: #1eb592;
      bottom: 0.5em;
      right: 0.75em;
      width: 40px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__image {
      display: block;
      text-decoration: none;
      width: 100%;
      @include responsive-container(100%);
      @include background__product--default();
      overflow: hidden;
      img {
        position: absolute;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        @include responsive-image();
        @include center-content(50%, 50%);
      }
    }
    .hotsale-img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  // MEDIA QUERIES
  @media screen and (min-width: $bp-tablet-sm) {
    width: 33.333%;
    // &__info-detail{
    //     display: flex;
    //     justify-content: space-between;
    // }
  }
  @media screen and (min-width: $bp-tablet-m) {
    width: 25%;
  }
  @media screen and (min-width: $bp-desktop-sm) {
    width: 20%;
  }
}
