/////////////////////////////////////////////////////
// RESULTS LIST
/////////////////////////////////////////////////////
.results-list--container {
    min-height: 20em;
    // background: $color5;
    border-top: solid 1px $color4;
    border-bottom: solid 1px $color4;
    padding: #{$margin-base*2} $margin-base;

    // LIST OF RESULTS
    .typeList {
        display: flex;
        flex-flow: row wrap;
        width:100%;
        //min-height: 20em;
        //justify-content: center;
        .products__list{ width: 100% }
        .store{height: max-content; width: 100%;}
        &--empty {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &__message {
            margin: auto;
        }
    }
    .pagination {
        width: 100%;
        text-align: center;
    }
    
    .sidebar_filters--container{
        position: relative;
        background: #ffffff;
        padding: $margin-base;
        border: $border-style;
        .button-container{
            padding: emRhythm(20) 0 0;
            border-top: $border-style;
            margin-top: emRhythm(20);
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            .icon-close{
                display: block;
                position: absolute;
                top: 0; right: 0;
                @include hide-text();
                width: 45px; height: 40px;
                background:url($images_path+'icons/icon_delete_pink.svg') no-repeat center;
                border: none;
                background-size: 45%;
            }
            .c2a_border{
                font-family: $font_button;
                font-weight: bold;
                margin-bottom: $margin-base; 
            }
            .reset{
                border-color: $color3;
                color: $color3;
            }
            .error{
                color: $color1;
                font-style: italic;
            }
        }
        .filter{
            color: $color3;
            padding: 0 0;
            margin-bottom: emRhythm(20);
            &-title {
                color: $color2;
                font-weight: 400;
                margin-bottom: emRhythm(10);
            }
            .price{
                display: block;
            }
        }

        .stores-directory{
            .filter-title{
                //margin-bottom:  0
            }
            .store-list{
                overflow: auto;
                height: 24em;
                position: relative;
                display: block;
                &:before{
                    content:none;
                }

                .store:first-child{
                    margin-top: 0;
                }
            }
        }

        // input[type="checkbox"]{
        //     display: none;
        // }
        // input[type=checkbox] + label.checkmark {
        //     padding-left: 22px;
        //     background-repeat: no-repeat;
        //     background-position: 0 0;
        //     background-size: 15px;
        //     line-height: 25px;
        //     background-position-y: 3px;
        //     cursor: pointer;
        //     display: flex;
        // }
        // input[type=checkbox]:checked + label.checkmark {
        //     background-image: url($images_path+'utils/selectors/icon_checkbox_check.svg');
        // }
    
        // label.checkmark {
        //     background-image : url($images_path+'utils/selectors/icon_checkbox.svg');
        //     user-select: none;
        //     margin-bottom: emRhythm(5);
        // }

        input[type="radio"]{
            display: none;
        }
        input[type=radio] +label.dot {
            padding-left: 22px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 15px;
            line-height: 25px;
            background-position-y: 3px;
            cursor: pointer;
            display: flex;
        }
        input[type=radio].dots:checked + label.dot {
            background-image: url($images_path+'icons/selectors/icon_radio_check.svg');
        }
    
        label.dot {
            background-image : url($images_path+'icons/selectors/icon_radio.svg');
            user-select: none;
            margin-bottom: emRhythm(5);
        }
    }

    .filters-bar{
        padding: 0 $margin-base*2 0 $margin-base;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:100%;
        .icon_filter{ 
            flex: 0 0 auto;
            text-align: right;
        }
    }


    .addToCart{
        .storesMenu{
            margin: $margin-base;
            .sidebar_filters--container{border: none;}
        }
    }
    .form{ width: auto;}
    .filters{
        display: flex;
        p{ margin: 0 $margin-base 0 0; }
        &__list{
            overflow: hidden;
            width: 130px;
            position:relative;
            select {
                background: #fff;
                color: #777777;
                border: $border-style;
                font-family: $font_content;
                @include type-setting();
                height: 30px;
                padding: 5px;
                width: 120px;
            }
            select:focus{ outline: none;}
        }
    }

    .title_header{
        @include type-setting(0);
        text-transform: none;
        display: none;
    }

    .icon_filter{
        margin-bottom: 0;
        color: $color3;
        text-decoration: none;
        @include hide-text;
        &:before {
            content: '';
            display: inline-block;
            position: relative;
            background: url($images_path+'icons/icon_filter.svg') no-repeat center;
            background-size: contain;
            width: 25px;
            height: 21px;
            vertical-align: middle;
            margin-right: $margin-base;
        }   
    }

    ////////////////////////////////////
    // MEDIA QUERIES
    ////////////////////////////////////
    @media screen and (min-width: $bp-tablet-m) {
        .results-list { 
            display: flex;
            .typeList {
                .product{
                    width: 33.33%;
                    flex: 0 0 33.33%;
                }
                // &--empty {
                //     width: 100%;
                //     align-items: start;
                //     justify-content: start;
                //     background: yellow;
                // }
            }
        }
        .filters-bar{
            justify-content: flex-end;
            padding-right: 0;
        }
        .products__wrapper {
            flex: 1
        }
        .storesMenu {
            flex: 0 0 30%;
            margin: 0 $margin-base*3 0 0;
            position: relative;
            height: 606px; 
            &:after{
                content: "";
                height: 14%;width: 100%;
                position: absolute;
                right: 0;bottom: 0;
                z-index: 1;
                background: url($images_path+'utils/gradient_color.png');
            }
            ul {
                display: block;
                height: 540px;
                overflow: auto;
                position: relative; 
                padding-bottom: 2.5em;
                &:before{content: none;}    
            }
           
            .store {
                .name {
                    width: auto;
                    &:after {
                        content: '';
                        display: none;
                        position: relative;
                        margin-left: 0.5em;
                        transform: rotate(270deg);
                        background: url($images_path+'icons/arrows/arrow_up.svg') no-repeat center;
                        background-size: contain;
                        width: 16px;
                        height: 16px;
                        flex: 0 0 16px;
                    }
                }   
                &.active {
                    .name {
                        &:after {
                            display: block;
                            background: url($images_path+'icons/arrows/arrow_down.svg') no-repeat center;
                        }
                    }
                }
            }
            &.sidebar_filters{
                &:after{ content: none;}
            }
        }
        @media screen and (min-width: $bp-desktop-sm) {
            .storesMenu {
                flex: 0 0 20%;
            }
        }
    }
}


/////////////////////////////////////////////////////
// MENU SEARCH TYPE (ARTICLES, PRODUCTS OR STORES)
/////////////////////////////////////////////////////
.menu_searchType{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin: 0;
    .searchType{
        padding:$margin-base/2 $margin-base 0;
        width: max-content;
        a{
            text-decoration: none;
            color: $color2;
            display: flex;
            span{ 
                padding: 0 $margin-base/1.5;
                @include type-setting(-1);
                vertical-align: bottom;
            }
            
        }
        &.active{
            a{
                color:$color1; 
                font-weight: bold;
                border-bottom: 2px solid $color1;
                padding: $margin-base/2;
            }
        }
    }
    @media screen and (min-width: $bp-mobile-l){
        justify-content: center; 
    }
}