.search-bar{
    // Animations
    @keyframes search-bar-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    // Styles
    position: fixed;
    z-index: 101;
    width: 100%; height: 100%;
    animation: search-bar-animation 240ms ease;

    a {
        color:$color2;
        text-decoration: none;
    }

    ///////////////////////////////
    // OVERLAY
    ///////////////////////////////
    &__overlay{
        position: absolute;
        width: 100%; height: 100%;
        background: rgba(#000, 0.5);
        z-index: 0;
    }

    ///////////////////////////////
    // SEARCH FORM
    ///////////////////////////////
    &__form-container {
        position: relative;
        width: 100%;
        height: 50px;
        background: $color1;
        box-shadow: 0px 10vh 50vh 0px rgba(0,0,0,0.84);

        .form {
            position: absolute;
            @include center-content(50%, 50%);
            width: 55%;
            height: 37px;
            margin: auto;
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                min-width: 320px;
                right: 0;
                top: 0;
                background: linear-gradient(90deg, $color1 0%, #B4106C 65%);
            }
            &__field {
                @include type-setting(1);
                padding: $margin-base*.5 $margin-base*3 $margin-base*.5 $margin-base*1.5;
                background: lighten($color6, 12%);
                color:$color2;
                font-family: $font_title_bold;
                border: 0;
                border-radius: 20px;
                width: 100%; height: 100%;
            }
            &__button {
                display: block;
                @include hide-text();
                @include responsive-container(100%);
                position: absolute;
                width: 20px;
                right: 15px;
                top: 50%; transform: translateY(-50%);
                &:before {
                    content: '';
                    position: relative;
                    display: block;
                    background: url($images_path+'icons/search/icon_search_pink.svg') no-repeat center;
                    background-size: contain;
                }
                
            }
        }
    }

    ///////////////////////////////
    // SEARCH SECTIONS DROPDOWN
    ///////////////////////////////
    .dropdown{
        position: relative;
        background: $color5;
        width: 55%;
        margin: 0 auto;
        padding: .2em .8em;
        li {
            position: relative;
            display: flex;
            border-bottom: $border-style;

            .search-term{
                font-weight: 600;
            }

            a {
              width: 100%;
              color: $color2;
              padding: $margin-base;
              padding-left: 2.5em;
             
              &:before {
                content: '';
                position: absolute;
                opacity: .5;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                left: 0;
                width: 23px;
                height: 23px;
            }
            &.articles{&:before{background-image: url($images_path+'icons/search/icon_search_articles.svg');}}
            &.stores{&:before{background-image: url($images_path+'icons/search/icon_search_store.svg');}}
            &.products{&:before{background-image: url($images_path+'icons/search/icon_search_product.svg');}}
            }
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
}