.menu_searchType{
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;
    margin: 0 0 $margin-base;
    justify-content: center;
    .searchType{
        padding:$margin-base/2 $margin-base*1.5;
        width: max-content;
        font-size: 1.132em;
        a{
            text-decoration: none;
            color: $color2;
            display: flex;
            text-align: center;
            span{ 
                padding: 0 $margin-base/1.5;
                @include type-setting(-1);
                vertical-align: bottom;
            }
            
        }
        &.active{
            background: $color1;
            border-radius: 20px;
            a{color:white;}
        }
    }
}