.store{
    padding: $margin-base/2;
    width: 100%;
    flex: none;
    &_container{
        background: white;
        padding: $margin-base;
    }

    a{
        color: $color2;
        text-decoration: none;
    }

    &_card{
        display: flex;
        flex-wrap: wrap;
        background: white;
        border: 1px solid #e4e3e2;
        padding: $margin-base*1.5;
        height: 100%;
        &-brand{
            .logo{
                display: block;
                text-decoration: none;
                width: 80px;
                height:80px;
                @include responsive-container(100%);
                @include background__store-profile--default();
                background-size: 140%;
                overflow: hidden;
                border: 1px solid #e4e3e2;
                img {
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }
        }
    
        &-name{
            display: flex;
            flex-direction: column;
            flex: 60%;
            padding: 0 .8em;
            .name{
                font-family: $font_title;
                @include type-setting(1);
            }
            .slogan{
                color: $color3;
            }
        }
    
        &-icons{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .icon{
                position: relative;
                @include hide-text();
                &:before {
                    content: '';
                    position: absolute;
                    right: 5px;
                    width: 30px;
                    height: 24px;
                    background-size: cover;
                }
            &.fav{&:before{background: url($images_path+'icons/icon_heart.svg') no-repeat center;}}
            &.dropdown{
                &:before{
                    background: url($images_path+'icons/arrows/arrow_down_gray.svg') no-repeat center;
                    bottom: 0;
                }
            }
        
            }
        }
    }
    
    &_dropdown{
        background: white;
        display: flex;
        flex-wrap: nowrap;
        .img_product{
            display: block;
            text-decoration: none;
            width: 80px;
            height:80px;
            @include responsive-container(100%);
            overflow: hidden;
            margin: $margin-base $margin-base/2 $margin-base/2;
            img {
                position: absolute;
                @include responsive-image();
                @include center-content(50%, 50%);
            }
        }
    }
    
    // MEDIA QUERIES
    
    @media screen and (min-width: $bp-tablet-sm) {
        width: 50%;
    } 
    @media screen and (min-width: $bp-desktop-sm) {
        width: 33.33%;
    } 
}
