.pro-services {
  color: #e63976 !important;
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 15px;
}
.pro-services-wrapper {
  font-size: 16px;
  font-weight: normal;
  ul {
    font-weight: normal !important;
    margin-bottom: 40px;
    margin-top: 10px;
    list-style-type: circle;
    padding-left: 15px;
  }
  li {
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.7);
  }
}
