.cr__tableProduct {
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  border: 1px solid #dad8d6;
  border-radius: 3px;
  table {
    width: 100%;
    thead {
      th {
        height: 70px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-weight: 600 !important;
        padding: 0 0.5em;
        text-align: center;
      }
      .product {
        min-width: 250px;
        width: 250px;
        text-align: left;
        padding: 0 0 0 1em;
      }
      .stocks,
      .category,
      .price {
        min-width: 140px;
      }
      .status,
      .shippingMethod,
      .delete {
        min-width: 100px;
      }
    }
    tbody {
      td {
        height: 70px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid #dad8d6;
        padding: 0 0.5em;
        text-align: center;
      }
      .product {
        padding: 0 0 0 1em;
        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          text-align: left;
          span {
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            line-height: 17px !important;
          }
          img {
            height: 55px;
            width: 55px;
            margin-right: 1em;
            border-radius: 3px;
          }
        }
      }
      .price {
        font-weight: 500 !important;
      }
      .delete {
        cursor: pointer;
        color: #898989;
        &:hover {
          color: #cc3131;
        }
      }
      .numAttributes {
        color: #494953;
      }
    }
  }
  a {
    text-decoration: none;
  }
  @media screen and (max-width: 767px) {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      width: 0;
      background: transparent;
    }
  }
}
.pagination {
  justify-content: flex-start;
  .button {
    font-size: 1.2em;
  }
}
