.third-level-categ {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none; /*Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
  &-container {
    width: 100%;
    display: flex;
    margin: 0 0 1em 0;

    a {
      text-decoration: none;
      color: #e63976;
    }
  }
  &-item {
    width: 130px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #e63976;
    border-radius: 3px;
    margin-right: 1em;

    :last-of-type {
      margin: 0;
    }
    &--name {
      width: 100%;
      // padding: 1em;
    }
  }
  &-item:hover {
    background-color: #e63976;
    color: white;
  }

  &-img-container {
    width: 140px;
    height: 65px;
    border-radius: 5px;
    position: relative;
  }
}
