.dashboard {
  .cr__containerMessage {
    text-align: center;
    &__img {
      height: 350px;
      width: 600px;
    }
    &__info {
      font-size: 2em;
      line-height: 2em;
    }
    &__button {
      text-decoration: none;
      color: $color1;
    }
  }
  // GENERAL
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    @include type-setting();

    h4 {
      margin: 0;
      font-family: $font_content;
      line-height: 0.9em;
    }

    button {
      padding: 0.4em;
      background: darken($color: rgba(250, 247, 245, 1), $amount: 3%);
      border: darken($color: rgba(250, 247, 245, 1), $amount: 4%);
      color: $color1;
      font-weight: 700;
    }
  }

  &__module {
    margin-bottom: 1em;
    padding: 1em 1.3em;
    // box-shadow: 0px 4px 30px -8px rgba(0, 0, 0, 0.15);
    .module__title {
      color: white;
      border-bottom: solid 1px white;
      font-family: $font_content;
      padding: 0.5em 0 0.2em 0;
      font-weight: 520;
    }

    .module__content {
      margin: 1.1em 0;
    }
  }

  &__shareStore {
    margin-bottom: 1em;
    //padding: 1em 1.3em;
    .title {
      color: $color3;
      margin-bottom: 0;
      text-transform: inherit;
      text-align: center;
      @include type-setting(0);
    }
    .socialMedia__share {
      // Social Network
      &--buttons {
        display: flex;
        justify-content: center;
        .icon {
          @include type-setting(0);
          text-align: left;
          text-decoration: none;
          color: $color3;
          background: transparent no-repeat center;
          background-size: contain;
          border: none;
          cursor: pointer;

          &:before {
            content: '';
            display: inline-block;
            position: relative;
            background: no-repeat center;
            background-size: contain;
            margin: 0 0.5em;
            top: 0.4em;
            width: 18px;
            height: 18px;
          }
          span {
            display: none;
            color: white;
            @include type-setting(0);
          }
          // &:hover{span{display: initial;}}
          &.icon--facebook {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_facebook_pink.svg');
            }
          }

          &.icon--twitter {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_twitter_pink.svg');
            }
          }

          &.icon--whatsapp {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_whatsapp_pink2.svg');
            }
          }
        }
      }
    }
  }

  &__rfcBanner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 75px;
    align-items: center;
    border: 1px solid #ededed;
    background-color: #ffffff;
    margin-bottom: 0.5em;
    padding: 0.5em 1em;
    &--wrapperContent {
      display: flex;
      height: 100%;
      align-items: center;
      margin-right: 1em;
    }
    &--icon {
      margin-right: 1em;
      img {
        height: 41px;
        width: 41px;
        filter: invert(31%) sepia(72%) saturate(2189%) hue-rotate(318deg)
          brightness(94%) contrast(91%);
      }
    }
    &--content {
      display: flex;
      flex-direction: column;
      height: 100%;
      h5,
      h6 {
        text-transform: none;
      }
      h5 {
        font-weight: 600;
      }
    }
    &--button {
      text-align: center;
      a {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  &__plan {
    padding: 0.5em 1em;
    position: relative;
    margin-bottom: 1em;
    z-index: 1;
    border: solid 1px $color4;

    &-header {
      position: relative;
      overflow: hidden;
      justify-content: center;
      margin: -0.5em -1em 0;
      padding: 0.5em 1em;
      text-align: center;
      background-color: #ededed;
    }

    &-details {
      padding-top: 0.5em;
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      width: 100%;
    }

    &__main-button {
      display: inline-block;
      padding: 0.5em 0.5em 0.24em;
      margin-top: 0.875em;
      border: solid 1px $color3;
      border-radius: $border-radius;
      color: $color2;
      text-decoration: none;

      @media screen and (min-width: 64em) {
        margin-top: 0;
      }
    }

    &-lu {
      width: 70px;
      position: absolute;
      left: 0%;
      top: 0%;
      z-index: 1;
    }
    &-ld {
      width: 105px;
      position: absolute;
      left: 0%;
      bottom: 0%;
      z-index: 1;
    }
    &-ru {
      width: 125px;
      position: absolute;
      right: 0%;
      top: 0%;
      z-index: 1;
    }
    &-rd {
      width: 130px;
      position: absolute;
      right: 0%;
      bottom: 0%;
      z-index: 1;
    }
    &-text {
      color: $color3;
    }
    &-type {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    &-title {
      color: $color2;
      margin: 0 0 0 0.5em;
    }
    &-iconStandard {
      height: 20px;
      width: 20px;
      transform: scale(1.4);
    }
  }

  // ORDERS MODULE
  &__orders {
    background: rgba(74, 74, 84, 1);
    color: white;
    [class^='count'] {
      font-weight: bold;
      @include type-setting(3);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      position: relative;
      width: 84px;
      height: 84px;
      border-radius: 42px;
      z-index: 1;
      margin-bottom: 0.2em;
      //Color gradient circule
      &:before {
        position: absolute;
        content: '';
        width: 68px;
        height: 68px;
        background-color: rgba(74, 74, 84, 1);
        border-radius: 34px;
        z-index: -1;
      }

      &:after {
        position: absolute;
        content: '';
        width: 84px;
        height: 84px;
        border-radius: 42px;
        z-index: -2;
      }
    }

    .count_new {
      &:after {
        background: rgba(247, 219, 101, 1);
      }
    }
    .count_in-process {
      &:after {
        background-image: linear-gradient(
          to right,
          rgba(242, 158, 52, 1) 0%,
          rgba(226, 87, 39, 1) 100%
        );
      }
    }
    .count_delivered {
      &:after {
        background: rgba(33, 120, 86, 1);
      }
    }
    .count_paid {
      &:after {
        background-image: linear-gradient(
          to right,
          rgba(225, 59, 118, 1) 0%,
          rgba(182, 28, 108, 1) 100%
        );
      }
    }
    .count_cancelled {
      &:after {
        background-image: linear-gradient(
          to right,
          rgb(31, 62, 173) 0%,
          rgba(22, 45, 118, 1) 100%
        );
      }
    }
    .note {
      font-weight: 10;
      @include type-setting(-1);
      line-height: 0.8em;
    }
    a {
      text-decoration: none;
      color: white;
      font-weight: 620;
      position: relative;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
    }

    .kpi {
      width: 50%;
      text-align: center;
      margin-bottom: 0.9em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // SALES MODULE
  &__sales {
    background-image: linear-gradient(to right, #f1536e, #e43d77);

    color: white;
    .title {
      @include type-setting(-1);
    }
    .count {
      font-weight: bold;
    }

    .kpi {
      display: flex;
      justify-content: space-between;
      margin: 0 1em;
      &:first-child {
        margin-bottom: 1.2em;
      }
      .note {
        @include type-setting(-2);
        line-height: 1em;
      }
    }
  }

  //NOTIFICATIONS MODULE
  &__notifications {
    border: solid 1px $color4;
    .module__title {
      color: $color2;
      border-bottom: solid 1px $color4;
    }

    .list {
      list-style: none;
    }

    .notif {
      display: block;
      padding-left: 1.4em;
      position: relative;

      &:before {
        color: rgba(216, 216, 216, 1);
        content: '\2022';
        font-size: 2em;
        position: absolute;
        top: 0;
        left: 0;
      }

      .message {
        width: 100%;
      }
      .container-bub {
        display: flex;
        align-items: flex-start;
      }
      [class^='bubble'] {
        display: inline-block;
        border-radius: 25px;
        padding: 0.2em 0.5em;
        font-weight: bold;
        @include type-setting(-1);
        color: white;
      }
      .bubble_new {
        background: rgba(247, 219, 101, 1);
      }
      .bubble_pending {
        background: rgba(237, 147, 67, 1);
      }
      .bubble_recollection {
        background: rgba(84, 182, 202, 1);
      }
      .bubble_urgent {
        background: rgba(221, 85, 75, 1);
      }

      .time {
        color: darken($color: $color4, $amount: 12%);
        padding-left: 0.4em;
        font-style: italic;
        min-width: 20%;
      }
    }
  }
  //DOWNLOAD MODULE
  &__download {
    border: solid 1px $color4;
    .module__title {
      color: $color2;
      border-bottom: solid 1px $color4;
    }

    .list {
      list-style: none;
    }

    .download {
      margin-bottom: 1em;
      &__link {
        text-decoration: none;
        color: $color2;
        position: relative;
        display: block;
        padding-left: 2em;
        &:before {
          color: rgba(216, 216, 216, 1);
          content: '';
          background-image: url($images_path + 'icons/icon_download.svg');
          background-repeat: no-repeat;
          position: absolute;
          width: 1.2em;
          height: 1.2em;
          top: 0;
          left: 0;
        }
      }
    }
  }
  //CR PRO MODULE
  &__crpro {
    background-image: url($images_path + 'storeApp/cr-pro.png');
    background-size: cover;
    background-position: center;
    padding: 1.3em 1em;
    height: 184.26px;
    .dark-rectangle {
      z-index: 1;
      padding: 1.5em 1em;
      position: relative;
      color: white;
      @include type-setting(1);
      text-align: center;
      // Overlay
      &:before {
        content: '';
        background: #2b2b30;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }
      .btn {
        color: $color1;
        font-weight: 900;
        text-decoration: none;
        margin-top: 0.9em;
      }
    }
  }

  &__national {
    flex: 0 0 63%;
    border: solid 1px $color4;
    .title {
      color: $color2;
      text-align: center;
      text-transform: initial;
      .strong {
        font-weight: bold;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
    .module__list {
      flex: 1;
      margin: 30px 0px;
      //color: white;
      .benefit {
        font-weight: bold;
        position: relative;
        margin: $margin-base 0;
        &__message {
          font-weight: initial;
          display: block;
          color: $color3;
        }
      }
    }
    .module__illustration {
      flex: 100%;
      @include responsive-container(56%);
      max-width: 31.25em;
      background: url($images_path + 'illustration/national.svg') no-repeat center;
      background-size: contain;
      &.is_national {
        background: url($images_path + 'illustration/climb_national.svg') no-repeat
          center;
      }
    }
    .module__contact {
      text-align: center;
      flex: 0 0 100%;
      .message {
        margin-bottom: $margin-base;
        font-weight: bold;
        .phone {
          margin-bottom: $margin-base;
        }
      }
    }
    .module__note {
      flex: 100%;
      text-align: center;
    }
    .c2a_square {
      margin: 0 $margin-base 1em;
      position: relative;
      // padding-left: 42px;
      font-size: 0.8em;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        background-size: contain;
        width: 18px;
        height: 18px;
        left: 16px;
      }
      &.whatsapp {
        background: #259d1e;
        border: 1px solid #259d1e;
        &:before {
          background: url($images_path + 'icons/social/social_icon_whatsapp_white.svg')
            no-repeat center;
        }
      }
      &.phone {
        &:before {
          background: url($images_path + 'icons/icon_phone.svg') no-repeat center;
        }
      }
    }
    .link_download {
      color: $color1;
      text-decoration: none;
    }
  }

  &__referrerCode {
    border: solid 1px $color4;
    .module__title {
      color: $color2;
      border-bottom: solid 1px $color4;
    }
    .referrer {
      margin: 1em 0;
      text-align: center;
    }
    .code_container {
      text-align: center;
      .code {
        color: $color1;
        @include type-setting(1);
        display: inline-block;
        background: $status-color-warning--light;
        border: solid 2px darken($status-color-warning--light, 0.2);
        padding: 0.25em 0.45em 0.325em;
      }
    }
    .bold {
      font-weight: bold;
    }
    .socialMedia__share {
      padding: $margin-base 0;
      position: relative;
      // Social Network
      &--buttons {
        display: flex;
        justify-content: center;
        left: 0px;
        top: 20px;
        z-index: 1;
        .icon {
          @include type-setting(0);
          text-align: left;
          text-decoration: none;
          color: $color3;
          background: transparent no-repeat center;
          background-size: contain;
          border: none;
          cursor: pointer;

          &:before {
            content: '';
            display: inline-block;
            position: relative;
            background: no-repeat center;
            background-size: contain;
            margin: 0 0.5em;
            top: 0.4em;
            width: 18px;
            height: 18px;
          }
          span {
            display: none;
            color: white;
            @include type-setting(0);
          }
          // &:hover{span{display: initial;}}
          &.icon--facebook {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_facebook_pink.svg');
            }
          }

          &.icon--twitter {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_twitter_pink.svg');
            }
          }

          &.icon--whatsapp {
            &:before {
              background-image: url($images_path + 'icons/social/social_icon_whatsapp_pink2.svg');
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__plan-ru {
      right: -30%;
    }
    &__plan-ld {
      left: -25%;
      bottom: -15%;
    }
    &__plan-lu {
      left: -10%;
    }
    &__plan-rd {
      right: -12%;
    }
  }
}
@media screen and (min-width: 24em) {
  .dashboard {
    &__notifications {
      .notif {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5em;
        .time {
          text-align: end;
        }
      }
    }
  }
}
@media screen and (min-width: 32em) {
  .dashboard {
    &__orders {
      .kpi {
        width: 33%;
      }
    }
    &__plan {
      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }
    &__shareStore {
      //display: flex;
      .title {
        text-align: right;
      }
      .socialMedia__share {
        &--buttons {
          justify-content: flex-end;
        }
      }
    }
    &__national {
      .module__illustration {
        flex: 0 0 50%;
      }
      .module__note {
        flex: 0 0 45%;
      }
    }
  }
}
@media screen and (min-width: $bp-tablet-m) {
  .dashboard {
    &__plan {
      &-wrapper {
        flex-direction: column;
      }
    }
  }
}
@media screen and (min-width: $bp-tablet-l) {
  .dashboard {
    &__notifications {
      .notif {
        .message {
          display: flex;
          flex-wrap: wrap;
        }
        .note {
          margin-right: 0.7em;
        }
        .time {
          min-width: 15%;
        }
      }
    }
    &__plan {
      &-wrapper {
        flex-direction: row;
      }
    }
  }
}
@media screen and (min-width: $bp-desktop-sm) {
  .dashboard {
    &__orders {
      .kpi {
        width: 25%;
      }
    }
  }
}
@media screen and (min-width: $bp-desktop-m) {
  .dashboard {
    &__orders {
      .kpi {
        width: 20%;
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: $bp-desktop-l) {
  .row {
    // display: flex;
    // justify-content: space-between;
  }
  .no-strech {
    //align-items: flex-start;
  }
  .dashboard {
    &__header {
      button {
        @include type-setting();
      }
    }
    &__module {
      .module__title {
        padding: 0 0 0.2em 0;
      }
      .module__content {
        margin: 1.1em 0 0.5em;
      }
    }
    &__orders,
    &__notifications,
    &__download {
      // width: 63%;
      // height: 100%;
      //Color gradient circule
      [class^='count'] {
        width: 64px;
        height: 64px;
        border-radius: 34px;
        @include type-setting(1);
        &:before {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
        &:after {
          width: 64px;
          height: 64px;
          border-radius: 34px;
        }
      }
    }
    &__sales
    // &__crpro,
    // &__referrerCode
    {
      width: 35%;
    }
    &__crpro {
      padding: 1.6em 1em;
    }
  }
  // NEW LAYOUT CONFIG
  .columns {
    display: flex;
    &-left {
      width: 64%;
    }
    &-right {
      width: 35%;
      margin-left: 1em;
    }
  }
}
@media screen and (max-width: 767px) {
  &__rfcBanner{
    flex-direction: column;
    align-items: flex-start !important;
    padding: 0.5em;
    &--icon {
      img {
        height: 51px;
        width: 51px;
      }
    }
    &--button{
      margin: 0.25em 0 0 55px;
    }
  }
}
//
.cr__dashboard-welcomeCoupon {
  padding: 1em 0.75em 0;
  border: 1px solid #ededed;
  margin: 0 0 1em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  &-title {
    text-transform: none;
    margin-bottom: 0;
    font-weight: 800 !important;
    margin-bottom: 0.5em;
  }
  &-text {
    border-top: 2px solid #dad8d6;
    padding: 1em 0 0;
    margin-bottom: 2em;
    p,
    span {
      font-weight: 600 !important;
    }
  }
  &-coupon {
    height: 59px;
    width: 100%;
    border: 1px dashed #37373e;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 0 1em;
    cursor: pointer;
    span {
      font-weight: 800 !important;
      width: 89%;
    }
    img {
      width: 5%;
      height: 27px;
    }
    img:hover {
      transform: scale(1.3);
    }
  }
  .socialMedia__share {
    margin: 0em 1em 2em;
    h5 {
      margin: 1.5em 1em 1em;
      display: flex;
      justify-content: center;
      text-transform: none;
    }
    &--buttons {
      display: flex;
      justify-content: center;
      .icon {
        @include type-setting(0);
        text-align: left;
        text-decoration: none;
        color: $color3;
        background: transparent no-repeat center;
        background-size: contain;
        border: none;
        cursor: pointer;

        &:before {
          content: '';
          display: inline-block;
          position: relative;
          background: no-repeat center;
          background-size: contain;
          margin: 0 0.5em;
          top: 0.4em;
          width: 18px;
          height: 18px;
        }
        span {
          display: none;
          color: white;
          @include type-setting(0);
        }
        // &:hover{span{display: initial;}}
        &.icon--facebook {
          &:before {
            background-image: url($images_path + 'icons/social/social_icon_facebook_pink.svg');
          }
        }

        &.icon--twitter {
          &:before {
            background-image: url($images_path + 'icons/social/social_icon_twitter_pink.svg');
          }
        }

        &.icon--whatsapp {
          &:before {
            background-image: url($images_path + 'icons/social/social_icon_whatsapp_pink2.svg');
          }
        }
      }
    }
  }
  @media screen and (max-width: 1279px) {
    padding: 2em 2em 0;
  }
}
