/*----------------------------------------
// ABOUT US
----------------------------------------*/
section.aboutUs {
    border-top: solid 1px $color4;
    border-bottom: solid 1px $color4;
    // background: #FFF8F2;

    /*----------------------------------------
	// ILLUSTRATION
	----------------------------------------*/
    .aboutUs__illustration {
        @include responsive-container(69.71235195%);
        max-width: 31.25em;
        margin: 2em auto;
        background: url($images_path+'illustration/about_illustration.svg') no-repeat center;
        background-size: contain;
    }

    /*----------------------------------------
	// INFORMATION
	----------------------------------------*/
    .aboutUs__container {
        text-align: center; // TITLE

        h3 {
            display: inline-block;
            //padding: 0.6em 0 0.4em;
            //line-height: 1em;
            //font-weight: bold;
            color: $color1;
        }

        // PARAGRAPHS
        .content {
            margin-bottom: emRhythm(30);
            strong {
                color: $color1;
                font-weight: bold;
            }
        }

        .link {
            padding: 1em 1.12em;
            width: max-content;
            margin: 0 auto
        }
    }

    /*----------------------------------------
	// MEDIA QUERIES
	----------------------------------------*/
    @media screen and (min-width: $bp-desktop-sm) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding-left: 2.5%;
        padding-right: 2.5%;

        .aboutUs__illustration {
            flex: 70% 0;
            margin: 0;
        }

        .aboutUs__container {
            text-align: left;
            align-self: center;
            padding-left: 5%;
            max-width: 600px;
            .link{
                margin: 0;
            }
        }
    }
}