.cards-list{
    margin-bottom: 1em;
    .products-list{
        margin: 0 #{-($margin-base)};
        .product{
            width: 50%;
        } 
    }
}
@media screen and (min-width: $bp-tablet-m) {
    .cards-list {
        margin-bottom: 2em;
        .products-list {
            .product {
                width: 33.33%;
            }
        }
    }
}
@media screen and (min-width: $bp-tablet-l){
    .cards-list{
        margin-bottom: 2em;
        .products-list{
            .product{
                width: 16.666%;
            }
        }
    }
}
@media screen and (min-width: $bp-tablet-m){
    .cards-list{
        margin-bottom: 2em;
        padding-top: 2.5em;
        //padding-bottom: .5em;

        &:after{
            content: '';
            display: none;
            margin-top: 3.5em;
            width: calc(100% - #{$margin-base*2});
            height: 1px;
            background: $color4;
        }
        
        .products-list{
            //margin-bottom: 3em;
            .product{
                width: 16.666%;
                margin-bottom: 0;
            }
        }
    }
}