.fav_stores{
    margin: auto;
    padding: $margin-base*2 $margin-base;
    background: #161620;

    ////////////////////////////////
    // TITLE
    ////////////////////////////////
    .title--main {
        color: $color7;
        // @include type-setting(1);
        padding: 1.25em 0;
    }

    ////////////////////////////////
    // STORES LIST
    ////////////////////////////////
    &-list{
       
        // STORE
        .store {
            position: relative;
            width: 100%;
            //flex: 50%;
            margin-bottom: $margin-base;
            //padding: 0 #{ $margin-base / 2 };

            // Wrapper
            &__wrapper {
                position: relative;
                overflow: hidden;
                box-shadow: 0px 4px 29px -3px rgba(0, 0, 0, 0.46);
                border: solid 2px darken($color5, 25%); //darken($color2, 6%);
            }
            a {
                color: #fff;
                text-decoration: none;
            }
            
            &:hover{
                //.store__name{display: block;}
                //@include type-setting(2);
                .store__data{
                    padding-bottom: 5em;
                    transition: all 200ms ease;
                    .title{
                        color: white;
                        a {
                            border: none;
                            padding: 0;
                            background: none;
                        }
                    }
                    .call-to-action {
                        opacity: 1;
                    }
                }
                .store__thumbnail {
                    transform: scale(1.1);
                    transition: transform 200ms ease;
                    .image:before {
                        background: darken($color2, 20%);
                        opacity: 0.7;
                    }
                }
            }

            &__thumbnail{
                position: relative;
                display: block;
                color: #fff;
                transition: transform 600ms ease;

                .image {
                    @include responsive-container( percentage(145/195));
                    display: block;
                    width: 100%;
                    color: inherit;
                    text-decoration: none;
                    &:before {
                        background: darken($color2, 10%);
                        opacity: 0.5;
                        z-index: 1;
                        transition: background 180ms ease;
                    }
                }
                img {
                    @include responsive-image();
                    @include center-content(50%, 50%);
                    position: absolute;
                }
            }

            &__data {
                position: absolute;
                @include center-content(50%, 50%);
                z-index: 1;
                width: 90%;
                overflow: hidden;
                transition: all 240ms ease;
                
                .title {
                    @include type-setting(1);
                    //line-height: 1.12;
                    //font-weight: 600;
                    color: $color2;
                    line-height: 1.5em;
                    text-align: center;
                    //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
                    z-index: 4;
                    white-space: nowrap;
                    a{
                        display: inline-block;
                        color: inherit;
                        background: darken($color5, 25%);
                        border: solid 1px $color5;
                        padding: $margin-base/2 $margin-base;
                    }
                }
                .call-to-action {
                    opacity: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    transition: all 400ms ease;
                    text-align: center
                }
                .slogan{
                    color: $color4;
                    margin: auto;
                    text-align: center;
                    margin-bottom: 0.5em
                }
                .visit-store{
                    display: inline-block;
                    color: $color5;
                    white-space: nowrap;
                    color: $color2;
                    background: darken($color5, 25%);
                    border: solid 1px $color5;
                    padding: $margin-base/2 $margin-base;
                    text-align: center;
                    margin: 0 auto;
                }
            }
            &__name{
                display: none;
                position: absolute;
                z-index: 2;
                text-align: center;
                @include center-content(50%, 50%);
                width: 80%;
                .link{
                    color: $color2;
                    text-decoration: none;
                    border: none;
                }
                .title {
                    @include type-setting(1);
                    line-height: 1.5em;
                }
    
                p{
                    //display: none;
                    margin: 0;
                    line-height: 1em;
                    a{color: $color4;}
                }
            }
        }
    }
    
    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-mobile-l) {
        .store {
            //@include type-setting(1);
            &__data {
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm) {
        .title--main {
            padding-top: 0;
            padding-bottom: 0;
        }
        .store {
            &__data {
                .title {
                }
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm) {
        padding: $margin-base*4 $margin-base $margin-base*5;

        &-list{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }
        .store {
            flex: 33%;
            margin: $margin-base;
            &__data {
                padding: $margin-base*1.05 $margin-base;
            }
        }
    }
}