/*----------------------------------------
// MAIN BANNER
----------------------------------------*/
.mainBanner{
    width: 100%;
    padding: $margin-base;
    position: relative;
    // margin-bottom: emRhythm(35);

    //////////////////////
    // SLIDER CONTAINER
    /////////////////////
    .slider{
        width: 100%;
        padding: 0;

        &__wrapper{
            overflow: hidden;
        }
        &__list{
            display: flex;
            position: relative;
            transition: left 420ms ease;
        }
        &__navigation{
            display: none;
        }
    }

    //////////////////////
    // SLIDES
    /////////////////////
    .slide{
        position: relative;
        width: 100%; height: 100%;
        overflow: hidden;
        border-radius: $border-radius;

        // IMAGES COLUMN
        &__image{
            position: absolute;
            width: 100%;
            @include responsive-container(90%);
            overflow: hidden;
            background: $color2;

            a{
                display: block;
                position: absolute;
                width: 100%; height: 100%;
                top: 0;
            }
            img{
                @include center-content(50%, 50%);
                @include responsive-image();
            }
        }

        // INFO COLUMN
        &__data{
            @include responsive-container(47.5%);
            overflow: hidden;
            background: #fff8f2;
            text-align: center;
            
            // Content Wrapper
            .content-wrapper{
                position: absolute;
                top: 0;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
                padding: 0.75em $margin-base*2;
            }
            .header{
                h5{display:none;}
                .title{
                    color: #fff;
                    font-family: $font_title_bold;
                    @include type-setting(0);
                    margin-bottom: 0.125em;
                    a{
                        color: $color2;
                        text-decoration: none;
                    }
                }
            }
            
            p{
                color: #d52a66;
                @include type-setting(0);
                line-break: 1em;
                margin: 0;
            }
            .shop-button{
                display: none;
                color: $color1;
                text-decoration: none;
                &:after{
                    content: '>';
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }
    
    /////////////////////////
    // BULLETS NAVIGATION
    ////////////////////////
    .bulletsNav{
        position: absolute;
        bottom: 1.5em;
        left: 50%;
        transform: translateX(-50%);

        // BULLETS LIST
        &__bullets{
            width: auto;
            text-align: center;
            display: flex;

            // Bullet
            .bullet{
                @include responsive-container(100%);
                @include hide-text();
                cursor: pointer;
                margin: 0 2.5px;
                box-shadow: 1px 2px 4px 0px rgba(#000, 0.25);
                width: 12px;
                border: 1px solid $color4;
                border-radius: 20px;

                &.active{
                    background: #fff;
                }
            }
        }
    }


    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: 22em){
        // Slides
        .slide{
            &__image{
                @include responsive-container(80%);
            }
            &__data{
                @include responsive-container(37%);
            }
        }
    }
    @media screen and (min-width: 25em){
        // Slides
        .slide{
            &__image{
                @include responsive-container(65%);
                max-height: 300px;
            }
            &__data{
                @include responsive-container(32%);
                max-height: 130px;
               
                .title{ @include type-setting(2); }
                p{ font-size: 1.065em }
            }
        }
    }
    @media screen and (min-width: 38.75em){
        // Slides
        .slide{
            display: flex;

            &__image{
                @include responsive-container(75%);
                max-height: 340px;
                flex: 0 0 66.72104%;
                order: 1;
            }
            &__data{
                flex: 1;
                max-height: none;
                background: $color5 url($images_path+'utils/texture_detail.png');
                background-size: 18em;
                background-repeat: repeat-x;
                background-position: center;
                &:before{
                    display: none;
                }
                .content-wrapper{
                    @include center-content(50%, 50%);
                    width: 92%;
                }
            }
        }
    }
    @media screen and (min-width: $bp-tablet-l){
        padding: 0;
        margin-bottom: 1.75em;

        // Slider
        .slider{
            border-bottom: solid 1px $color4;
        }
        // Slides
        .slide{
            border-radius: 0;
            &__image{
                max-height: 400px;
                flex: 0 0 56%;
            }
            &__data{
                text-align: left;
                .content-wrapper{
                    width: 85%;
                    display: flex;
                    flex-flow: column;
                    align-items: flex-start
                }
                .header{
                    display: inline-block;
                    width: auto;
                    position: relative;
                    z-index: 1;
                    left: -0.5em;
                    padding: 0.65em 0.75em 0.5em;
                    background: $color-gradient;
                    h5{ display:block; color: #fff;}
                    .title{
                        @include type-setting(3);
                        a{ color: inherit };
                    }
                }
                
                p{
                    position: relative;
                    @include type-setting(0);
                    background: #fff;
                    color: $color2;
                    padding: 2em 1.325em 1em;
                    display: inline-block;
                    width: auto;
                    left: 0.5em;
                    margin-top: -1.5em;
                }
                .shop-button{
                    padding-top: 0.5em;
                    align-self: flex-end;
                    display: inline-block;
                }
            }
        }
    }
}