.marketplace-benefits{
    padding: #{$margin-base * 11} #{$margin-base * 3} #{$margin-base * 5};
    text-align: center;
    //background: $color5;
    top: 10px;

    /*----------------------------------------
    // STORE TENT
    ----------------------------------------*/
    @include tent-tile();

    &__background{
        display: none;
    }
    .slider{
        position: relative;
        width: 100%;
        transition: height 300ms ease-in-out;
        &__move{
            position: relative;
            overflow: hidden;
            .slide {
                margin-bottom: emRhythm(20); //$margin-base*2;
                &__image{
                    padding: $margin-base*2;
                    .icon__profit{
                        height: 4.5em
                    }
                }
                &__info{
                    a{
                        text-decoration: none;
                        color: $color2;
                    }
                    .title {
                        @include type-setting(0);
                        //margin-bottom: 0;
                    }
                    .content{
                        //display: none;
                    }
                }
            }
        }
    }
    a.c2a_square{
        display: inline;
        &:after {
            content: '';
            display: inline-block;
            position: relative;
            background-size: contain;
            top: 8px;
            left: 8px;
            width: 1.5em;
            height: 1.5em;
            background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center;
            
        }
    }
    @media screen and (min-width: 50em){
        .slider{
            margin: 0 auto;
        }
        .slider__container{
            display: flex;
            justify-content: space-between;
            margin: $margin-base*3 0;
            .slide{
                width: 35%;
                border-right: 1px dotted lighten($color3, 30%);
                padding:0 $margin-base*4;
                &:last-child{
                    border: 0px;
                }
                &__info{
                    .content{
                        display: inline-block;
                        @include type-setting(-1);
                        color: $color3;
                        margin-top: $margin-base;
                    }
                }
            } 
        }
        .bulletsList{
            display: none;
        } 
    }
}