/*----------------------------------------
// NEW SHOPS
----------------------------------------*/
.new-shops{
    $card-margin: $margin-base*0.75;
    margin: auto;
    padding-top: 2.75em;
    padding-bottom: 2.75em;
    .link_container{
        text-align: right;
        margin-bottom: .75em;

        a{
            color: $color1;
            text-decoration: none;
            margin: 1.5em;
            position: relative;
            @include type-setting(0);
            text-transform: uppercase;
            font-weight: 600;
            &:after{
                content:"\025be";
                transform: rotate(270deg);
                color: $color1;
                position:absolute;
                padding-top: 2px;	
                pointer-events: none;
            }
        }
    }
    .title--main{
        margin-bottom: 0;
    }
    ////////////////
    // SHOPS
    ////////////////
    .shops{
        //position: relative;
        overflow: hidden;
        overflow-x: auto;

        // SHOPS LIST
        &__list{
            //position: relative;
            display: flex; 
            flex-flow: row nowrap;
            // GRADIENT OVERLAY
            &:after{
                content: "";
                position: absolute;
                z-index: 1;
                bottom: 10%; right: 0;
                width: 4.5em;
                height: 62%;
                //background: linear-gradient(90deg, transparent 0%, white 100%);
                background: url($images_path+'utils/gradient.png');
            }
        }

        // SHOP
        .shop{
            position: relative;
            display: flex;
            flex-flow: column;
            flex: 0 0 13.5em;
            margin: $margin-base;
            overflow: hidden;
            border-radius: 3px;
            border: 1px solid $color7;

            // Brand Box
            &__brand{
                display: flex;
                align-items: flex-start;
                text-decoration: none;
                padding: $card-margin;
                color: $color3;
                order: 1;

                .profile-photo{
                    @include responsive-container(100%);
                    display: inline-block; 
                    overflow: hidden;
                    flex: 0 0 2em;
                    text-decoration: none;
                    border: solid 1px $color4;
                    @include background__store-profile--default();
                    
                    img{
                        @include center-content(50%, 50%);
                        @include responsive-image();
                    }
                }
                .name{
                    padding-left: $card-margin;

                    &__link{
                        display: block;
                        text-decoration: none;
                        color: $color2;
                        line-height: 1.25em;
                    }
                    &__description{
                        display: block;
                        @include type-setting(-1);
                        line-height: 1.25em;
                    }
                }
            }

            // Product Image
            &__image{
                width: 100%;
                @include background__store-cover--default();
                background-color: $color5;
                
                .image-link{
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    @include responsive-container(percentage(120/160));
                    img {
                        @include center-content(50%, 50%);
                        @include responsive-image();
                    }
                }
            }

            // More Information
            &__info{
                display: none;
            }   
        }
    }


    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: 28em){
        .shops{
            .shop{
                flex: 0 0 16em;
                &__image{
                    .image-link{
                        @include responsive-container(percentage(110/160));
                    }
                }
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm){
        .shops{
            .shop{
                flex: 0 0 18em;
                &__image{
                    .image-link{
                        @include responsive-container(percentage(100/160));
                    }
                }
            }
        }
    }

    @media screen and (min-width: $bp-tablet-l) {
        padding-bottom: 5em;
    }

    @media screen and (min-width: $bp-tablet-l){
        .shops{
            overflow-x: hidden;
            &__list{
                padding: 0 #{($margin-base*2)};
                margin: 0 #{-($margin-base*2)};
                &:after{
                    content: none;
                }
            }
            
            .shop{
                flex: 1;
                max-width: 33.333%;
                margin: 0 $margin-base;
                padding: $margin-base $card-margin;

                &__image{
                    padding: 0;
                    .image-link{
                        border-radius: $border-radius;
                        overflow: hidden;
                    }
                }
                &__brand{
                    order: -1;
                    padding: 0 0 $margin-base;
                    .profile-photo{
                        flex: 0 0 2.75em
                    }
                }
                &__info{
                    display: block;
                    padding: $card-margin $card-margin 0;
                    color: $color2;
                    @include type-setting(0);
                    p{
                        margin: 0;
                        line-height: 1.25em;
                    }
                } 
            }
        }
    }
    
    @media screen and (min-width: $bp-desktop-sm){
        .shops{
            .shop{
                padding: $margin-base*1.25;
            }
        }
    }
}