/*----------------------------------------
// TRENDING ITEMS
----------------------------------------*/
.trending-items{
    background: $color5;
    border-top: 1px solid lighten($color3, 30%);
    border-bottom: 1px solid lighten($color3, 30%);
    padding: 2em $margin-base;
    margin-top: 1em;
    // margin-top: 35px;
    ///////////////////
    // CARDS LIST
    ///////////////////
    .cards_list{
        position: relative;
        margin: 0 auto;
        border: solid 1px $color4;
        border-radius: $border-radius;
        overflow: hidden;
        //padding: ;

        // PRODUCT CARD
        .card{
            position: relative;
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            text-decoration: none;
            
            // Border / Order
            &:nth-child(even){
                .card__image{
                    order: 1
                }
                .card__info{
                    text-align: right;
                }
            }
            .line-through{
            text-decoration: line-through;
            }
            // Images
            &__image{
                display: block;
                width: 50%;
                position: relative;
                
                a{
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    @include responsive-container(75%);
                    @include background__product--default();
                }
                img {
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }

            // Info
            &__info{
                position: relative;
                color: $color3;
                padding: $margin-base;
                width: 50%;
                background: white;
                a{
                    display: block;
                    text-decoration: none;
                }
                .wrapper{
                    position: absolute;
                    width: calc(100% - #{$margin-base*2});
                    @include center-content(50%, 50%);
                }
                
                .product-link{
                    @include type-setting(0);
                    line-height: 1.25em;
                    color: $color2;
                }
                .store-link{
                    @include type-setting(-1);
                    line-height: 1.5em;
                    color: $color3;
                }
                .price{
                    font-weight: bold;
                    color: $color2; 
                    line-height: 1em;
                }
            } 
            &:nth-child(odd){
                order: -1;
            }  
        }
    }


    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-sm) { 

        .cards_list{
            .card{
                &__info{
                    .product-link{
                        @include type-setting(1);
                    }
                    .store-link{
                        @include type-setting(0);
                    }
                }
            }
        }
    }
    @media screen and (min-width: 30em) { 

        .cards_list{
            width: 85%;
        }
    }
    @media screen and (min-width: $bp-tablet-m) {
    margin-top: 1em;

        padding-top: 2.75em;
        padding-bottom: 2.75em;
        background: $color5 url($images_path+'utils/texture_detail.png') center repeat;
        background-size: 150px;
        

        .cards_list{
            width: 100%;
            border: none;
            border-radius: 0;
            display: flex;
            justify-content: space-around;

            .card{
                width: 25%;
                margin: 0 $margin-base;
                border-radius: $border-radius;
                overflow: hidden;

                &:nth-child(even){
                    .card__image{
                        order: 0
                    }
                    .card__info{
                        text-align: center;
                    }
                }
                &__image{
                    width: 100%;
                    a{
                        @include responsive-container(percentage(192/245));
                    }
                }
                &__info{
                    background: transparent;
                    text-align: center;
                    width: 100%;
                    padding: $margin-base;
                    
                    .wrapper{
                        position: relative;
                        transform: none;
                        width: 100%;
                        top: auto; left: auto;
                    }
                    .product-link{
                        @include type-setting(0);
                    }
                    .store-link{
                        @include type-setting(0);
                    }
                }
            }
        }
    }
}