.modalBox__container {
  max-width: 400px;
}
.cr__filtersModalBox {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  min-height: 495px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #dad8d6;
    &-title {
      font-weight: 600 !important;
    }
    &-close {
      cursor: pointer;
      transform: 0.3s;
      color: #b7b7b7;
      &:hover {
        color: #37373e;
      }
    }
  }
  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
    text-align: left;
    position: relative;
    margin-bottom: 4em;
  }
  .borderError {
    border-color: #cc3131;
  }
  &-selection {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0 1em;
    margin: 0 auto;
    &-title {
      margin: 0 0 0.5em;
    }
    select {
      height: 35px;
      border-color: #dad8d6;
      border-radius: 3px;
      padding-left: 1em;
      cursor: pointer;
      width: 295px;
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;
    }
    /* For IE10 */
    select::-ms-expand {
      display: none;
    }
  }
  &-dates {
    padding: 0.5em 0 0.5em;
    margin: 0 auto;
    &-title {
      margin: 0 0 0.5em;
      text-transform: none;
    }
  }
  &-date {
    width: 295px;
    position: relative;
    cursor: pointer;
    img {
      width: 17px;
      height: 15px;
      position: absolute;
      right: 8px;
      top: 11px;
    }
  }
  &-dateTitle {
    display: block;
    padding: 0.5em 0.5em 0.5em 1em;
    border: 1px solid #dad8d6;
    border-radius: 3px;
  }
  &-calendarContainer {
    z-index: 3;
    width: 295px;
    height: 100%;
    transition: 0.3s;
  }
  // Calendar Component Styles
  .react-calendar {
    border-color: #dad8d6;
    &__month-view__days__day,
    &__month-view__days__day--weekend {
      color: #37373e;
    }
    &__tile--hasActive,
    &__tile--active,
    &__tile--active:enabled,
    &__tile--active:hover {
      background-color: #e63976;
      color: #ffffff;
    }
    &__tile--active:enabled:hover,
    &__tile--active:enabled:focus {
      background-color: #e63976;
    }
    &__navigation__arrow {
      color: rgba(230, 57, 118, 1);
    }
  }
  //End
  &-calendar {
    width: 295px;
  }

  &-buttons {
    display: flex;
    margin-top: 1em;
    border-top: 1px solid #dad8d6;
    height: 63.6px;
    position: absolute;
    bottom: 0%;
    width: 100%;
  }
  &-button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &-button + &-button {
    border-left: 1px solid #dad8d6;
  }
  &-error {
    margin-top: 0.25em;
  }
}
