.cr__headerMobile-top {
  background-color: #1a1a25;
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  &-icon {
    height: 10px;
    width: 7px;
    background: url('../../images/map--white.svg') no-repeat;
    margin: 0.7px 6px 0 0;
  }
  &-messageBox {
    width: 101%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 44, 0.85);
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 127px;
    left: 0%;
    padding: 0.5em;
    animation: fadeIn 1s;
    transition: 0.3s;
    z-index: 1;
    padding: 1em;
    p {
      margin: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      height: 0px;
      top: 120px;
    }
    to {
      opacity: 1;
      height: 100px;
      top: 127px;
    }
  }
  &-zipCode {
    display: flex;
    justify-content: flex-end;
    margin-left: 0.5em;
    min-width: 120px;
  }
}
