.cr__headerMobile-dropdown {
  width: 100%;
  // height: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  z-index: 4;
  &-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0 1em;
    &-photo {
      width: 90%;
      display: flex;
      align-items: center;
      img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-right: 0.5em;
      }
      span {
        font-weight: 600 !important;
      }
    }
    &-arrow {
      width: 50px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0.5em;
      img {
        height: 7px;
        width: 12px;
        filter: brightness(0%);
        transition: 0.3s;
      }
    }
  }
  &-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 1em;
    border-top: 1px solid #dad8d6;
    border-bottom: 1px solid #dad8d6;
    a {
      font-weight: 600 !important;
    }
  }
  a {
    text-decoration: none;
  }
  &-guest {
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dad8d6;
    padding: 0 0.5em 0 0.7em;
    &-text {
      margin: 0.45em, 2em 0 0;
      span {
        font-weight: 600 !important;
      }
      p {
        height: 51px;
        line-height: 16px;
        margin-top: 0.25em;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      a {
        height: 38px;
        width: 133px;
        font-weight: 600 !important;
        letter-spacing: 0;
        line-height: 23px;
        text-align: center;
        border-radius: 5px;
        padding: 6px 0 9px;
      }
      a:nth-child(1) {
        border: 1px solid #e63976;
        margin-bottom: 14px;
      }
      a:nth-child(2) {
        border: 1px solid #6b6b7a;
      }
    }
  }
  &-sections {
    width: 100%;
    margin: 0 0 0.25em;
    &-link,
    &-title {
      height: 38px;
      display: flex;
      align-items: center;
      margin: 0 0 0 1em;
      // span{
      //   font-weight: 600 !important;
      // }
    }
    &-title::after {
      content: '';
      background: url('../../../../../images/icons/arrows/arrow_next.svg') no-repeat;
      filter: brightness(0%);
      height: 20px;
      width: 20px;
      position: absolute;
      right: 3%;
      transform: scale(0.6);
    }
  }
  .activeProfileOptions {
    transform: rotate(180deg);
  }
}
