//Hackathon
.horarosa__little {
  @media screen and (min-width: 768px) {
    margin-bottom: 0px !important;
    .bannerElements {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      margin: 0 auto;
    }
    img {
      max-width: 300px !important;
    }
    #countdown #tiles {
      padding: 10px !important;
      font-size: 30px !important;
    }
  }
  @media screen and (max-width: 768px) {
    //min
    margin-bottom: 0px !important;
    .bannerElements {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      margin: 0 auto;
    }
    img {
      max-width: 300px !important;
    }
    #countdown #tiles {
      padding: 10px !important;
      font-size: 30px !important;
    }
  }
}
.horarosa__mouse {
  cursor: pointer;
}
.horarosa {
  .banner {
    width: 100%;
    max-width: 1160px;
    display: flex;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .bannerElements {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
    .bannerImg {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .horarosa__discount {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      text-decoration: underline;
    }
  }
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 30px;
  img {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    padding-bottom: 0px;
  }
  h1 {
    margin: 20px !important;
    margin-top: 10px;
    font-size: 26px !important;
  }
  .horarosastores {
    margin: 0 auto;
    width: 60%;
    min-width: 800px;
    display: flex;
    div {
      width: 25%;
      margin-bottom: 20px;
      a {
        color: #ff54a3;
        background-color: #ffe0e0;
        padding: 10px;
      }
    }
  }
}

.horarosa__countdown {
  word-wrap: break-word;
  background: #fff;
  padding-top: 20px;
}

.horarosa__countdown {
  .countdown-label {
    font-size: 12px;
    color: #5b5b5b;
    text-align: center;
    display: inline-block;
    letter-spacing: 1px;
    padding: 8px;
  }
  #countdown {
    box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
    width: 100%;

    text-align: center;
    background: #f1f1f1;

    border-radius: 5px;

    margin: auto;
    width: 100%;
    max-width: 400px;
  }
  .countdown-copy {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  #countdown #tiles {
    color: #fff;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 0px #ccc;
    display: inline-block;
    text-align: center;

    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 48px;
    font-weight: normal;
    display: block;
    letter-spacing: 10px;
  }

  .color-full {
    background: #ff3c85;
  }
  .color-half {
    background: #ff3c85;
  }
  .color-empty {
    background: #ff3c85;
  }

  #countdown #tiles > span {
    width: 70px;
    max-width: 70px;

    padding: 18px 0;
    position: relative;
  }

  #countdown .labels {
    width: 100%;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 8px;
  }

  #countdown .labels li {
    width: 102px;
    font: bold 15px 'Droid Sans', Arial, sans-serif;
    color: #f47321;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    display: inline-block;
  }
}

.link-hora-rosa {
  text-decoration: none;
}
