/*----------------------------------------
// DETAIL PRODUCT BASE
----------------------------------------*/
.detail-info {
    &__category {
        border-top: 1px solid lighten($color3, 30%);
        padding: 0 $margin-base;

        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;

            @include type-setting(0);

            line-height: 3.25em;
            font-size: 1.2em;
            font-family: $font_title_bold;
            color: $color2;
            cursor: pointer;

            &.dropdown {
                &:after {
                    content: '';
                    position: relative;
                    margin-left: 0.5em;
                    background: url($images_path + "icons/arrows/arrow_up.svg") no-repeat center;
                    background-size: contain;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

/*----------------------------------------
// PRODUCT CONTAINER
----------------------------------------*/
.productItem_container {
    padding: 0 $margin-base 2.1875em;

    @import "product/store-details";
    @import "product/product-details";
    @import "product/more-info";
    @import "product/similar-items";

    /*----------------------------------------
    // MEDIA QUERIES
    ----------------------------------------*/
    @media screen and (min-width: 25em) {
        .detail-info {
            &--addCar {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a.c2a_square {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media screen and (min-width: 45em) {
        padding: 0;

        .detail-info {
            &--category,
            .description {
                display: none;
            }
        }
    }
}

.menu_details {
    @include menu_base;
}

.menu_details {
    display: none;
}

.module-title {
    @include type-setting(1);

    font-family: $font_content;
    margin-bottom: $margin-base;
}

@media screen and (min-width: 45em) {
    .menu_details {
        display: block;
        background-color: transparent;
        border-bottom: 1px solid lighten($color3, 30%);

        ul {
            padding: 0;

            li {
                margin: 0;
                padding: #{$margin-base * 2};
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 60%;
                    width: 1px;

                    @include center-content(100%, 50%);

                    background: $color4;
                }

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                a.active {
                    color: $color1;
                }
            }
        }
    }
}
