/*----------------------------------------
// DETAIL INFORMATION
----------------------------------------*/
&__product-details {
    @import '../store/reviews';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto #{ $margin-base * 2};
    .assistant{margin: $margin-base 0;}
    .soldout{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background: no-repeat center;
            background-size: cover;
            background-image: url($images_path+'market/soldout_marker.svg');
            top: -.725em;
            right:-$margin-base*2;
            z-index: 9;
            width: 9em;
            height: 9em;
        }
    }

    ////////////////////////
    // GALLERY
    ////////////////////////
    .photos_container{position: relative;}
    .gallery {
        width: 100%;
        
        // MAIN IMAGE
        &__main {
            display: block;
            overflow: hidden;
            margin: 0 #{-$margin-base};
            @include background__product--default();
            position: relative;
            line-height: 0;
        }

        .message{
            position: absolute;
            top: 48%;
            left: 10%;
            color:$color3;
            text-align: center;
        }

        // THUMNAILS LIST
        &__thumbnails {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            // THUMBNAIL
            .thumbnail {
                margin:#{$margin-base / 2};
                width: 5em;
                
                &__button {
                    display: block;
                    overflow: hidden;
                    @include responsive-container(100%);
                    opacity: .5;
                    @include background__product--default();
                    &:hover{
                        opacity: 1;
                    }
                }
                img {
                    position: absolute;
                    @include center-content(50%, 50%);
                    @include responsive-image();
                }
            }
        }
    }

    ////////////////////////
    // SOCIAL MEDIA SHARE
    ////////////////////////
    .socialMedia__share {
        padding: $margin-base 0;
        position: relative;
        // Social Network
        &--buttons {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 0px;
            top: 20px;
            z-index: 1;
            .icon {
                @include type-setting(0);
                text-align: left;
                text-decoration: none;
                color: $color3;
                background: transparent no-repeat center;
                background-size: contain;
                border: none;
                cursor: pointer;

                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    background: no-repeat center;
                    background-size: contain;
                    margin-right: $margin-base;
                    top: 0.4em;
                    width: 2em;
                    height: 2em;
                } 
                span{
                    display: none;
                    color: white;
                    @include type-setting(0);
                }
                // &:hover{span{display: initial;}} 
                &.icon--facebook{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_facebook_color.svg');
                    }
                }
    
                &.icon--twitter{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_twitter_color.svg');
                    }
                }

                &.icon--whatsapp{
                    &:before {
                        background-image: url($images_path+'icons/social/social_icon_whatsapp_color.svg');
                    }
                }
            }

            // Add to Wishlist
            .wishlist {
                border-radius: 0 0 3px 3px;
                background: linear-gradient(180deg, #FAF7F5 0%, #F1F0EF 100%);
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
                width: 48%;
                &:before {
                    background-image: url($images_path+'icons/icon_heart.svg');
                    margin-right: $margin-base;
                }
            }
        }
    }

    ////////////////////////
    // DETAIL INFO
    ////////////////////////
    @import '../storeApp/shipping-schedules';
    .detail-info {
        margin-top: #{ $margin-base * 2};
        position: relative;
        a.c2a_square {
            margin-bottom: 1em;
        }
        p {
            color: $color3;
        }

        .title{
            font-weight: 600;
            @include type-setting(2);
            margin-bottom: emRhythm(3);
            overflow-wrap: break-world;
        }
        .line-through{
         text-decoration: line-through;
        }
        .discount {
            color: '#D87041';
             margin-left: 0.35em;
          }
        &--shippingNote{
            margin-bottom: emRhythm(20);
            .title{
                color: $status-color-success;
                font-weight: 500;
                padding: $margin-base $margin-base $margin-base $margin-base*3.5;
                margin: 0; font-size: 1.1em;
                &.warning--title{
                    color: #C97C0E;
                    margin: 1.5em 0;
                }
                &.name:before{
                    width: 30px; height: 30px;
                }
            }
            &.cdmx{
                .title{
                    color: #f3a536;
                }
            }
        }
        // PRICE
        &--price {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            h3{
                @include type-setting(3);
                font-weight: 300;
                color:$color2;
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0.86806em;
            }
            .typeProduct{color: $color3;}
            .form {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                label {
                    margin-right: $margin-base;
                    color: $color3;
                    font-size: .9em;
                }
            }
        }

        &--attributes{
            margin-bottom: 1em;   
            .form{
                margin-bottom: $margin-base;
                .title{
                    text-transform: capitalize;
                    color: $color3;
                    font-size: .9em;
                }
            }
        }

        &.reviews{
            
        }
        
        // SHIPPING
        &__shipping {
            border-bottom: $border-style;
            margin: #{ $margin-base * 2} -$margin-base;
            .container{
                padding: $margin-base*2 $margin-base $margin-base;
            }
            .shipping_standard{
                margin-bottom: $margin-base;
                a{color: $color3;}
            }
            .title_shipping{
                margin:0 0 $margin-base;
                span{font-weight: 500;}
            }
            .delivery_info {
                background: $color5;
                margin-bottom: 1em;
                .is_holidays{
                    p{
                        color: $status-color-error;
                        font-weight: bold;
                        margin: auto auto $margin-base;
                        font-size: 0.925em;
                        line-height: 1.25em;
                    }
                }
                .schedule_container{
                    background: rgba(248,208,28,0.72);
                    border-radius: 20px;
                    padding: $margin-base/2;
                    max-width: max-content;
                    position: relative;
                    .name{
                        padding: 0 $margin-base 0 $margin-base*2.5;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                .delivery{
                    padding: $margin-base;
                    &_details{
                        margin: 0 auto emRhythm(30);
                        p{margin:0;}
    
                        &--day, &--schedule{
                            max-width: 350px;
                            margin-bottom: emRhythm(20);
                        }
                        &--day{margin-top: $margin-base;}
                    }
                    .container{p{margin: auto auto 0;}} 
                }
            }
            .custom{
                //margin-top: $margin-base; 
                p{margin: 0;}
            }
            .schedules-list{
                margin: auto auto auto $margin-base*3;
                color: $color3;
                &__item{
                    max-width: 320px;
                }
            }
            
            .contact{
                color: $color1;
                text-decoration: none;
                font-weight: bold;
            }
        }  
    }

    .details{
        margin: 0 auto #{ $margin-base * 3};

        &__category{
            border: 0;
            font-family: $font_title_bold;
            .dropdown{
                display: inline-block;
                line-height: 2.5em;
                border-bottom: 1px dotted $color4;
                margin-bottom: .5em;
                width: 100%;
                &:after{
                    display: none;
                }
                &.rating{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: .6em 0;
                    
                }
            }
        }
        .review{
            &_wrapper {
                border-top: $border-style;
                padding: 1em 0; 
            }
        }

        .rating-header{display: flex;}
        .rating-title{
            margin-bottom: 0;
        }
        .rating-container{
            display: flex;
            align-items: center;
            margin-left: $margin-base;
            span{font-size: .8em; margin-left: $margin-base;}

            .score{
                @include type-setting(2);
                font-weight: bold;
                
            }
        }
        .button-square--white{font-size: .8em;}
        &__txt{
            color: $color3;
            p{
                line-height: 1.8em;
            }
            ul{
                li{
                    line-height: 2em;
                    &:before {
                        content: "•"; 
                        color:$color1;
                        padding-right: $margin-base;
                    }
                }
            } 
        }
    }
    
    .description_container{
        // OWNER
        .author{
            padding: 0 0 #{ $margin-base * 3};
            margin: 0 auto;

            .container{
                display: inline-flex;
                align-items: center;
                &__img{
                        display: block;
                        overflow: hidden;
                        width: 80px;
                        border-radius: 50%;
                        border: 1px solid lighten($color3, 30%);
                        margin-right: $margin-base;
                        @include responsive-container(100%);
                    img{
                        position: absolute;
                        @include center-content(50%, 50%);
                        @include responsive-image();
                    }
                }
                &__info{
                    .name{
                        color: $color1;
                    }
                    a{
                        text-decoration: none;
                        color: $color1;
                    }
                }
            }
        }
    }


    /*----------------------------------------
    // ASIDE PRODUCT LIST
    ----------------------------------------*/
    .products_container{
        padding: #{ $margin-base * 2};
        margin: 0 -$margin-base;
        width: calc(100% + #{$margin-base * 2});
        text-align: center;
        background: $color5;
        border-bottom: 1px solid $color4;
        border-top: 1px solid $color4;
        
        .store-name{
            text-align: center;
            margin: 0 0 1.4125em 0;
            p{ margin: 0 auto 0.325em;}
            h4{ margin-top: $margin-base/2;}
            &__photo{
                display: block;
                max-width: 75px;max-height: 75px;
                border: 1px solid lighten($color3, 30%);
                border-radius: 50%;
                margin: 0 auto;
                overflow: hidden;
                @include responsive-container(100%);
                @include background__store-profile--default();
                background-size: 185%;
                img{
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 50%);
                }
            }

            &__link{
                color: inherit;
                text-decoration: none;
            }
        }

        .product-list-container {
            .products-list {
                .product {
                    width: 50%
                }
            }
        }
    }

    .col-l{width: 100%; .description_container{display: none;}}

    @media screen and (min-width: $bp-mobile-m) {
        .soldout:before {
            right:-$margin-base*2;
        }
        .gallery {
            &__main {
                .message{
                    left: 20%;
                }
            }
        }
    }
    @media screen and (min-width: $bp-mobile-l) {
        .soldout{
            width: 27em;
            margin: 0 auto;
            &:before {
                right:-$margin-base;
            }
        }
       
        .gallery__main, .socialMedia__share {
            width: 27em;
            margin: 0 auto;
            &--buttons {
                .icon {
                    width: 30%;
                }
            }
        }
        .detail-info__shipping{
            .delivery_details{
                &--day, &--schedule{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .ui-calendar-selector, .ui-checkbox-list{
                    flex: 0 0 80%;
                }
            }
        }
        .assistant{
            &__container{flex: 0 0 76%;}
            &__button{ font-size: 1em;}
        }
        
    }
    @media screen and (min-width: $bp-tablet-sm) {
        .products_container{
            .product-list-container {
                .products-list {
                    .product {
                        width: 25%;
                    }
                }
            }
        }  
        .socialMedia__share--buttons {
            left: -10%;
        } 
    }
    @media screen and (min-width: $bp-tablet-m) {
        justify-content: space-between; 
        padding: 0 $margin-base*2;
        max-width: 65.5em;

        .col-l{
            width: 55%;
            .description_container{display: block; margin-top: 2em;} 
        }

        .col-s{
            width: 37%;
             margin-left: $margin-base;
             .description_container{display: none;}
        }

        .gallery__main,
        .socialMedia__share{ width: auto; }

        .soldout{
            width: auto;
            &:before {
                right:-$margin-base;
            }
        }
            

        .detail-info {
            &__shipping{background: #fff;}
        }
        
        .decription_container{
            .author{
                border: none;
                text-align: left;
            }
        }

        .products_container{
            padding: 0;
            background: transparent;
            border: 0;
            margin: 0;
            width: 100%;
            .product-list-container {
                .products-list {
                    margin: 0 (-$margin-base);
                    .product {
                        width: 50%;
                    }
                }
            }
        }
        .assistant{
            &__container{
                h5{font-size: 1em;}
                p{font-size: .9em;}
            }
            &__button{font-size: .9em;}
        }
        .socialMedia__share--buttons {
            left: 9px;
        } 
    }
    @media screen and (min-width: $bp-tablet-l) {
        .gallery{
            &__main {
                .message{left: 24%;}
            }
        }
        .socialMedia__share--buttons {
            left: -10%;
        } 
    }
    @media screen and (min-width: $bp-desktop-sm) {
        .soldout, .gallery__main,  .socialMedia__share {
            width: 32em;
            margin: 0 auto;
        }
        .socialMedia__share--buttons {
            left: -10%;
        } 
    }
    @media screen and (min-width: 70em) {
        padding: 0;
        .soldout:before {
            right:-$margin-base;
        }
    }
    @media screen and (max-width:330px){
        .discount {
            bottom: 74px !important;
        }
    }
    @media screen and (min-width:728px) and (max-width:866px){
        .discount {
            bottom: 74px !important;
        }
    }
}