/*----------------------------------------
// MORE PRODUCT DETAIL
----------------------------------------*/
.similar-items{
    border-bottom: solid 1px $color4;     
    .products-list{
        margin-bottom: 0;
        .product{
            width: 50%;
        }
    }   
    
    
    @media screen and (min-width: $bp-tablet-sm){
        .products-list{
            .product{
                width: 25%;
            }
        } 
    }
    @media screen and (min-width: 45em){  
        background: $color5 url($images_path+'utils/texture_detail.png') center repeat;
        background-size: 150px;
        border-bottom: 1px solid lighten($color3, 30%);
        border-top: 1px solid lighten($color3, 30%);      
    }
}