/*----------------------------------------
// STORE DETAILS
----------------------------------------*/
&__store-details {
    display: flex;
    align-items: center;
    padding: $margin-base 0;
    margin: emRhythm(20) auto 0;
    border-bottom: solid 1px $color4;
    max-width: 68em;

    .store_brand {
        border: 1px solid lighten($color3, 30%);
        width: 4em;
        display: block;
        overflow: hidden;
        @include responsive-container(100%);
        @include background__store-profile--default();
        background-size: 155%;
        background-color: $color4;
        img {
            position: absolute;
            @include responsive-image();
            @include center-content(50%, 50%);
        }
    }

    // STORE NAME AND INFORMATION
    .store_name {
        margin-left: 0.875em;
        text-decoration: none;
        font-family: $font-title;
        text-transform: uppercase;
        font-weight: 300;
        @include type-setting(1);
        color: $color2;
        cursor: pointer;
        p {
            margin-bottom: 0px;
            color: $color3;
        }
    }

    @media screen and (min-width: $bp-tablet-sm) {
        padding-left: $margin-base;
        padding-right: $margin-base;
    }
    @media screen and (min-width: 70em) {
        margin: auto auto margin-base;
    }
}