.cr__pausedStore {
  height: 115px;
  width: 100%;
  z-index: 4;
  margin-top: -1px;
  &--container {
    background-color: #e3edf8;
    position: fixed;
    width: 100%;
    z-index: 4;
  }
  &--img {
    height: 115px;
    position: absolute;
    right: 0;
    z-index: -1;
    img {
      width: 300px;
      height: 115px;
      object-position: 210px 0;
    }
  }
  &--content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 115px;
    &--text {
      text-align: center;
      max-width: 280px;
      h5,
      h6 {
        text-transform: none;
      }
      h5 {
        font-weight: 600;
      }
      h6 {
        display: none;
      }
    }
    &--button {
      button {
        height: 43.3px;
        width: 107.3px;
        border: 0.65px solid #e63976;
        border-radius: 3px;
        background-color: #e63976;
        -webkit-box-shadow: 0 0 20px 1px rgba(43, 43, 48, 0);
        box-shadow: 0 0 20px 1px rgba(43, 43, 48, 0);
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    &--img {
      right: 0;
      left: -11%;
      img {
        object-position: initial;
      }
    }
    &--content {
      margin-left: -76px;
    }
  }
  @media screen and (min-width: 1200px) {
    &--img {
      left: 0;
    }
    &--content {
      flex-direction: row;
      justify-content: space-evenly;
      &--text {
        margin-left: 215px;
        max-width: 100%;
        h6 {
          display: block;
        }
      }
    }
  }
}
