@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/common';
@import '../../../styles/typography';

@import '../../components/Landing/Banner/banner';
@import '../../components/Landing/Inspire/inspire';
@import '../../components/Landing/Products/products';
@import '../../components/Landing/Stores/stores';
@import '../../components//Landing/Countdown/countdown';

.landing {
  &-container {
    margin-top: -2px;
  }
  &-error {
    text-align: center;
    margin-top: 30px;
    strong {
      background-color: $color1;
      color: $color5;
      padding: 5px;
      border-radius: 8px;
    }
    img {
      width: 450px;
    }
  }
}
.pagination {
  margin-bottom: 1em;
  ul {
    display: flex;
    li {
      margin-right: 1.5em;
      @include type-setting(2);
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #494953;
    }
    .active {
      color: #e63976;
    }
  }
}
.cr__container-countdown {
  max-width: 480px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;
  @media screen and (max-width: 767px) {
    padding-bottom: 1em;
  }
}
.cr__title-countdown {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.42em;
  @media screen and (max-width: 767px) {
    font-size: 1.3em;
    line-height: 30px;
  }
  @media screen and (max-width: 370px) {
    font-size: 1.1em;
  }
}
.cr__storesCatalog {
  padding: 1em;
}
