/*Error Page*/
.cr__error {
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  p {
    text-align: center;
    margin-top: 1em;
  }
  img {
    height: auto;
    width: 100%;
  }
}
