.container-unavailableProducts {
  width: 100%;
  .product-unavailableProducts {
    display: flex;
    padding-bottom: 15px;

    .photo-unavailableProducts {
      width: 85px;
      height: 84px;
      border-left: 5px solid red;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        filter: grayscale(100%);
      }
    }

    .details-unavailableProducts {
      flex: 1;
      margin-left: 8px;
    }
    .button-unavailableProducts {
      //width: 100px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .list-unavailableProducts {
    margin: 30px 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
  }

  .details-unavailableProducts__price {
    font-weight: bold;
    display: block;
  }

  .details-unavailableProducts__name {
    //font-size: 1.2em;
    display: block;
    font-weight: bold;
  }

  .details-unavailableProducts__store {
    display: block;
  }

  .icon-fail {
    width: 15px;
    margin-right: 8px;
  }
  .red {
    color: red;
  }
}

.method-notification {
  position: fixed;
  background-color: #f8efc0;
  z-index: 9999999;
  bottom: 0px;
  width: 100%;
  left: 0px;
  padding: 15px;
  border-top: 8px #f8db6a solid;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.method-notification-container {
  max-width: 700px;
  pointer-events: none;
}
