.about_faqs{
    padding: 0;
    /*------------------------------------------
    // MAIN BANNER COMPONENT
    ------------------------------------------*/
    @import './home/main-banner.scss';

    .bankTransfer-info{
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;
        h5{
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }
        p{
            text-indent: 1.5em;
            margin: auto;
            span{font-weight: bold;}
        }
        .note{
            text-indent: 0;
            margin: $margin-base;
            &--small{
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }
            a{
                color: $color1;
                text-decoration: none;
            }
            .phone{color: $color1; font-weight: normal;}
        }
        // MEDIA QUERIES
        @media screen and (min-width: $bp-tablet-sm){
            width: 30em;
        }
    }
    // Overwrite banner Generic styles
    .mainBanner{
        // Bullets Navigation
        .bulletsNav{
            &__bullets{
                .bullet{
                    &.active{
                        background: $color1;
                        border: 1px solid $color1;
                    }
                } 
            }
        }
        .slide__data{
            a{
                color: $color1;
                text-decoration: none;
            }
            .title{
                color: white;
                @include type-setting(2);
                margin-bottom: $margin-base;
            }
            // 1.44em grande
        }
        .shipping_methods-list{
            li{
                strong{font-weight: bold}
                span{
                    display: none;
                }
            }
        }
        // MEDIA QUERIES
        @media screen and (min-width: 25em){
            // Slides
            .slide{
                &__data{
                    max-height: none;
                }
            }
        }
        @media screen and (min-width: $bp-tablet-l){
            .slide{
                &__data{
                    max-width: 45em;
                    text-align: center;
                    p{background: none; padding: 0;}
                }
            }
            .bulletsNav{
                bottom: 13%;
                &__bullets{
                    .bullet{
                        background: initial;
                        box-shadow: inherit;
                        margin: 0 3px;
                        &.active{
                            background: $color1;
                            border: 1px solid $color1;
                        }
                    }
                }
               
            }
        }
    }

    /*------------------------------------------
    // FAQs BANNER
    ------------------------------------------*/
    .faqsBanner {
        margin-bottom: 0;
        height: 350px;
        background: $color2;
        background-image: url($images_path+'aboutUs/back_faqs.png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: 130%;
        background-position-y: 20%;

        // SLIDER CONTAINER
        .slider {
            height: 100%;
            &__wrapper,
            &__list,
            &__navigation {
                height: 100%;
            }
        }

        // SLIDES
        .slide{
            height: 100%;
            // INFO COLUMN
            &__data{
                background: none;
                padding: $margin-base;
                @include center-content(50%, 50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                &:before{content: none;}

                .faq__question{
                    color: #fff; 
                    font-family: $font_title_bold; 
                    margin: 0 0 $margin-base;
                }
                p{
                    color:darken(#fff, 20%);
                    @include type-setting(0);
                    line-break: 1em;
                    margin: 0;
                }
            }
        }

        // MEDIA QUERIES
        @media screen and (min-width: $bp-tablet-sm){
            background-size: 60%;
        }
    }

    /*----------------------------------------
    // FAQS LIST
    ----------------------------------------*/
    .faqs{
        max-width: 60em;
        margin: 0 auto;
        padding: 0 0.3em;
        &__title{
            @include type-setting(2);
            color: $color1;
            margin-bottom: 0.5em;
            padding-left: 0.4em;
        }

        &__list {
            margin-bottom: 2.875em;
        }

        @media screen and (min-width: $bp-tablet-sm){
            padding: $margin-base*2;
            .box{
                //padding: 0 $margin-base*2 $margin-base*2;
            }
        }
    }
}