@import '../storeApp/Plans/plans';

.about__sell{
    padding: 0;
    .section__subtitle{
        color: $color2;
        text-align: center;
        padding: $margin-base/3 $margin-base;
        position: relative;
        text-transform: initial;
        margin: 0 auto $margin-base*2;
    }
    p+p{margin-top: 0; text-indent: 0;}
    .cover{
        background: #ffffff url($images_path+'aboutUs/sell/cover_sell.png') center no-repeat;
        background-size: cover;
        &__header{
            text-align: center;
            @include center-content(50%, 60%);
            position: absolute;
            width: 90%;
            &--title{
                color:$color1;
                font-weight: 600;
                line-height: 1.325em;
                margin-bottom: 0;
            }
            &--subtitle{
                @include type-setting(1);
                color: #ffffff;
                padding: $margin-base 0 $margin-base*2;
            }
        }
        .c2a_square{padding:$margin-base;}
    }
    .section__profits{
        margin: 1.5em auto;
    }
    .profits__list{
        padding: $margin-base;
        .item__profit{
            text-align: center;
            margin-bottom: $margin-base*2;
            color:$color3;
            &--title{
                margin-bottom: $margin-base;
                text-transform: initial;
                @include type-setting(1);
            }
            .icon__profit{height: 3.2em; margin-bottom: $margin-base*2}
        }
    }
    .cr__plans-specifications table{
        width: 85%;
    }
    .cr__plans-selection{
        padding-bottom: 3em;
        padding-top: 1em;
    }
    .section__charge{
        background:url($images_path+'aboutUs/sell/back_pink.svg') center no-repeat;
        background-size: cover;
        color: #ffffff;
        text-align: center;
        padding:5em $margin-base*2;
        &--title{
            color: #ffffff; 
            font-weight:bold;
            text-transform: inherit;
            margin-bottom: $margin-base*2;
        }
        .subtitle, .subtitle_note { @include type-setting(1);}
        .charge{
            @include type-setting(4);
            font-weight:bold;
        }
        .note{ @include type-setting(-1); margin-top: $margin-base*2; max-width: 235px;}
    }
    .section__tribe{
        .tribe__illustration {
            max-width: 31.25em;
            height: 320px;
            margin: 2em auto 0;
            background: url($images_path+'aboutUs/sell/about_tribe.svg') no-repeat center;
            background-size: contain;
        }
        .container__tutorial{
            text-align: center;
            margin: 1em;
        }
        .tribe__description{
            padding: 0 $margin-base $margin-base*2;
            &--title{
                text-align: center;
                text-transform: inherit;
                color: $color2;
            }
        }
    }
    .section__sellers{
        margin: 2em auto;
        .seller{
            text-align: center;
            margin: $margin-base*2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__img{max-width: 230px; margin: 0 auto;}
            &__review{
                padding: $margin-base;
                background: rgba(105, 90, 122, .09);
                text-align: left;
                margin: 0 auto;
                &--name{
                    // @include type-setting(-1);
                    margin-bottom: $margin-base*2;
                }
                .bold{font-weight: bold;}
                &--review{
                    @include type-setting(0);
                    text-transform: inherit;
                    color: $color3;
                }
            }
            &:nth-child(even){
                .seller__review{
                    background: #ffffff;
                }
            }
        }   
    }
    .section__faqs{
        background:rgba(105, 90, 122, .09);
        padding: 1.5em;
        margin: 2em 0;
        &--subtitle{
            text-align: center;
        }
        .faqs__list{
            max-width: 65em;
            margin: 0 auto;
        }
        .faq{ 
            &:last-child{
                .collapseBox{
                    border-bottom: 0;
                }
            }
        }
        .collapseBox .header{
            padding: .8em 0;
        }
    }
    .section__store{
        background: #ffffff url($images_path+'aboutUs/sell/store_ceiling.svg') no-repeat top;
        background-size: 150%;
        text-align: center;
        padding: 7em 0 2em;
        max-width: 65em;
       &--title{
           text-transform: inherit;
       }
       &--help{
            text-transform: inherit;
            margin: $margin-base;
       }
       .contact__list{
            width: 42%;
            margin: $margin-base auto 0;
       }
    }
    .section__pro{
        background: url($images_path+'aboutUs/sell/cr_pro.png') no-repeat top;
        background-size: cover;
        text-align: center;
        margin: $margin-base*2 0;
        padding: $margin-base;
        color: #ffffff;

        .text__crpro{
            .color{color:$color1; font-weight: bold; @include type-setting(1)}
        }
    }
    .contact__list{
        text-align: center;
        margin-top: $margin-base;
        .contact__link, .contact__tutorial{
            color: $color1;
            text-decoration: none;
        }
        &--whatsapp{
            padding: 0 0.5em; 
            &:before {
                content: '';
                display: inline-block;
                width: 1.2em;
                height: 1.2em;
                margin-right:.5em;
                background: url($images_path+'icons/social/social_icon_whatsapp_pink2.svg') no-repeat;
            }
        }
    }

    ////////////////    
    //MEDIA QUERIES
    ////////////////
    @media screen and (min-width: $bp-tablet-sm){
        .section__charge{ padding: 4em; width: 30em;}
        .profits__list{
            display: flex;
            justify-content: space-between;
            .item__profit{
                flex: 0 0 23%;
            }
        }
        .contact__list{
            display: flex; 
            justify-content: space-around; 
            flex-direction: column;
        }
        .section__tribe{
            background: rgba(105, 90, 122, .09);
            &--container{
                display: flex;
                align-items: center;
                margin: 2em auto;
                padding: $margin-base;
                .tribe__illustration{    
                    flex: 0 0 50%;
                    margin: auto;
                }
            }
        }
        .section__pro{
            display: flex;
            justify-content: center;
            background: none;
            padding:0;
            max-width: 40em;
            margin: 0 auto;
            &--text{
                flex: 0 0 60%;
                padding: 2em 0;
                background: $color2;
                color: #ffffff;
            }
            &--c2a{
                flex: 0 0 40%;
                background: url($images_path+'aboutUs/sell/cr_pro.png') no-repeat top;
                background-size: cover;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .section__sellers{
            padding: $margin-base*2;
            .seller{
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto $margin-base;
                &__img{width: 20%;}
                &__review{ background: none; text-align: center;}

                //&.pink{.seller__review{background: none;order: -1;}}
                &:nth-child(even){
                    .seller__review{background: none;}
                }
            }
        }
        .section__store{
            background-size: contain;
        }
    }
    @media screen and (min-width: $bp-tablet-m){
        .sellers__container{
            display: flex;
            justify-content: space-between;   
            .seller{
                flex: 0 0 26%;
                flex-direction: column;
                align-self: end;
                &__img{
                    width: 60%;
                    margin: 0;
                }
            }
        }
    }
    @media screen and (min-width: $bp-desktop-sm){
        .section__store{
            background-size: 80%;
        }
        .contact__list{
            flex-direction: row;
        }
        .cover{
            height: 100px;
            background-position: top;
        } 
        .tribe__description{
             flex: 0 0 48%;
        }
    }
}