.about_team {
  padding: 0;

  //////////////////////////
  // MENU SECCIONES ABOUT US
  //.menuSections{ justify-content: flex-start; border: 0; margin: 0;}
  .menuSections {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    bottom: 0;
    z-index: 1;
    a {
      color: #cecece;
    }
  }

  //////////////////////////
  // COVER PHOTO
  .cover {
    background: $color5 url($images_path+"aboutUs/cover_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .title {
      line-height: 1.5em;
      font-size: 1.44em;
    }
  }

  //////////////////////////
  // INFO CONTAINER
  .info_container {
    padding: $margin-base * 2;
    background: $color6;
    .subtitle {
      @include type-setting(-1);
      margin-bottom: 0;
      text-align: center;
    }
    .title {
      @include type-setting(2);
      font-family: $font_title_bold;
      text-align: center;
      margin-bottom: 1.5em;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 150px;
        @include center-content(50%, 120%);
        background: rgba($color2, 0.5);
      }
    }
    p + p {
      text-indent: 0;
      margin-top: 1em;
    }
  }

  //////////////////////////
  // THE TEAM
  .team {
    margin: 0 0 3em;

    //SECTION COVER
    &_cover {
      background: $color5 url($images_path+"aboutUs/cover_team.jpg") center
        no-repeat;
      background-size: cover;
      .title {
        @include center-content(50%, 20%);
        width: 95%;
      }
    }

    // SECTION TITLE
    .title {
      @include type-setting(3);
      text-align: center;
      margin: 1.5em 0;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 90px;
        @include center-content(50%, 120%);
        background: rgba($color2, 0.5);
      }
    }

    // MEMBERS LIST
    .members-list {
      display: flex;
      flex-wrap: wrap;

      // TEAM MEMBER
      .member {
        width: 50%;
        padding: $margin-base/2;

        // PORTRAIT
        .img_container {
          display: block;
          margin: 0 auto;
          overflow: hidden;
          @include responsive-container(100%);
          img {
            position: absolute;
            //filter: grayscale(100%);
            @include responsive-image();
            @include center-content(50%, 50%);
          }
        }

        // INFORMATION
        .name {
          color: $color2;
          padding: $margin-base 0;
          margin: 0 auto;
        }
        .role {
          display: block;
          color: $color3;
          @include type-setting(-1);
          line-height: 1.325em;
        }
      }
    }
  }

  ////////////////
  //MEDIA QUERIES
  ////////////////
  @media screen and (min-width: $bp-tablet-sm) {
    .menuSections {
      bottom: 3em;
    }
    .info_container {
      padding: $margin-base * 4.5;
      max-width: 40em;
      position: relative;
      margin-top: -3em;
      z-index: 1;
    }
    .team {
      margin: 3em 0 3em;
      .members-list {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  @media screen and (min-width: $bp-tablet-m) {
    .team {
      .members-list {
        .member {
          width: 33.33%;
        }
      }
      .title {
        @include type-setting(5);
      }
    }
  }
  @media screen and (min-width: $bp-tablet-l) {
    .team .members-list {
      width: 60%;
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    .cover {
      .title {
        font-size: 1.728em;
      }
    }
  }
}
