.about_jobs{
    padding: 0;

    /*------------------------------------------
    // MAIN BANNER COMPONENT
    ------------------------------------------*/
    @import './home/main-banner.scss';

    .bankTransfer-info{
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;
        h5{
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }
        p{
            text-indent: 1.5em;
            margin: auto;
            span{font-weight: bold;}
        }
        .note{
            text-indent: 0;
            margin: $margin-base;
            &--small{
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }
            a{
                color: $color1;
                text-decoration: none;
            }
            .phone{color: $color1; font-weight: normal;}
        }
        // MEDIA QUERIES
        @media screen and (min-width: $bp-tablet-sm){
            width: 30em;
        }
    }
    // Overwrite banner Generic styles
    .mainBanner{
        // Bullets Navigation
        .bulletsNav{
            &__bullets{
                .bullet{
                    &.active{
                        background: $color1;
                        border: 1px solid $color1;
                    }
                } 
            }
        }
        .slide__data{
            a{
                color: $color1;
                text-decoration: none;
            }
            .title{
                color: white;
                @include type-setting(2);
                margin-bottom: $margin-base;
            }
            // 1.44em grande
        }
        .shipping_methods-list{
            li{
                strong{font-weight: bold}
                span{
                    display: none;
                }
            }
        }
        // MEDIA QUERIES
        @media screen and (min-width: 25em){
            // Slides
            .slide{
                &__data{
                    max-height: none;
                }
            }
        }
        @media screen and (min-width: $bp-tablet-l){
            .slide{
                &__data{
                    max-width: 45em;
                    text-align: center;
                    p{background: none; padding: 0;}
                }
            }
            .bulletsNav{
                bottom: 13%;
                &__bullets{
                    .bullet{
                        background: initial;
                        box-shadow: inherit;
                        margin: 0 3px;
                        &.active{
                            background: $color1;
                            border: 1px solid $color1;
                        }
                    }
                }
               
            }
        }
    }

    /*------------------------------------------
    // JOBs Cover
    ------------------------------------------*/
    .jobsBanner {
        height: 150px;
        background-image: url($images_path+'aboutUs/cover-jobs.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }

    /*----------------------------------------
    // JOBS LIST
    ----------------------------------------*/
    .jobs{
        max-width: 60em;
        margin: 0 auto;
        padding: 0 0.3em;
        &__title{
            @include type-setting(2);
            color: $color1;
            margin-bottom: 0.5em;
            padding-left: 0.4em;
        }

        &__list {
            //Overwrite default styles
            *{
                font-family: $font_content !important;
                font-size: 1em !important;
                font-weight: 300 !important;
            }
            margin-bottom: 2.875em;
            
            .box__content{
                .job{
                    p + p { text-indent: 0 }
                    p { margin-bottom: .4em }
                    ul li { margin-bottom: 0 }
                    
                    .section {
                        margin-top: 1.5em;
                    }
                    .subtitle {
                        font-weight: bold !important;
                    }

                    .content {
                        margin-left: 1.1em;
                        margin-top: .3em;
                    }

                    .contact {
                        margin-bottom: 1.5em;
                        .mail{
                            margin-bottom: 1em;
                            &__link { color: $color1 }
                        }
                    }

                    .hide{
                        display: none;
                    }
                }
            }
        }

        
        @media screen and (min-width: $bp-tablet-sm){
            padding: $margin-base*2;
        }
    }
}