.about-cr{
    padding: 0;

    // SECTION COVER
    .cover{  
        background: $color5 url($images_path+'aboutUs/cover.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // CONTENT PARAGRAPHS
    &__information{
        position: relative;
        margin: 0 auto;
        padding: $margin-base*3 0;
        max-width: 47.5em;
        .info{
            text-align: center;
            margin: 0 auto 1.75em;
            color: $color2;

            &--big {
                line-height: 1.5em;
            }
        }
        
        // MEDIA QUERIES
        @media screen and (min-width: $bp-desktop-sm) {
            padding: 4.5em 0;
            .info {
                &--big {
                    @include type-setting(1);
                    line-height: 1.5em;
                }
            }
        }
    }


    .sections{
        padding: 0 $margin-base 2em;

        &__module{
            .quote{
                position: relative;
                @include type-setting(0);
                font-style: italic;
                color: $color1;
                margin-bottom: 1em;

                &:before,
                &:after{
                    content: '"';
                    position: relative;
                    opacity: 0.8;
                    @include type-setting(1)
                }
                &:before {
                    top: 0; left: 0;
                }
                &:after {
                    bottom: 0; right: 0;
                }
            }
            .img{
                display: block;
                margin: 0 auto;
                overflow: hidden;   
                @include responsive-container(50%);
                img{
                    position: absolute;
                    @include responsive-image();
                    @include center-content(50%, 0);
                    box-shadow: 0px 2px 3px 0px rgba(#000, 0.15);
                }
                .title {
                    @include center-content(50%, 50%);
                    @include type-setting(3);
                    position: absolute;
                    color: #fff;
                }
            }
            .txt{
                padding: $margin-base*3 $margin-base*2;
                p{margin: 0;}
                span{
                    font-weight: bold;
                }
                .title {
                    @include type-setting(2);
                    font-family: $font_title_bold;
                    margin-bottom: 0.5em;
                    display: none;
                }
            }  
        }

        .market{
            margin-bottom: 2em;
            .txt{
                background: $color6;
            }
        }


        ////////////////    
        //MEDIA QUERIES
        //////////////// 
        @media screen and (min-width: $bp-tablet-sm) {
            &__module {
                display: flex;
                flex-flow: wrap row;
                .img {
                    @include responsive-container(100%);
                    flex: 40%;
                    img {
                        width: auto;
                        height: 100%
                    }
                    .title {
                        display: none;
                    }
                }
                .txt {
                    flex: 60%;
                    .title {
                        display: block;
                    }
                }
            }
            .market {
                padding: 3em 0;
                margin-bottom: 0;
                .txt {
                    background: #fff;
                    order: -1;
                    text-align: right;
                }
            }
            .inspire .txt {
                background: $color6;
            }
            .tribe .txt {
                background: rgba($color1, .6);
                color: #fff;
                .quote{
                    color: $color2
                }
                .title {
                    color: #fff;
                }
            }
        }

        @media screen and (min-width: $bp-tablet-m) {
            padding: 0 0 2em;
            &__module {
                position: relative;
                margin-bottom: 3em;
                .quote {
                   margin-left: 20%;
                }
                .img {
                    position: absolute;
                    @include responsive-container(100%);
                    flex: 35%;
                    top: 0;
                }
                .txt {
                    top: 2em;
                    height: 300px;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    flex: 60%;
                    position: relative;
                    border-radius: $border-radius;
                    z-index: -1;
                    .title,
                    p {
                        margin-left: 20%;
                    }
                }
            }
            .inspire .txt {
                top: 3em;
                left: -10%;
                align-self: flex-end;
            }

            .tribe .txt {
                top: -3em;
                left: -10%;
            }
            .market{
                margin-bottom: 4em;
            }
        }

        @media screen and (min-width: $bp-tablet-l) {
            max-width: 65.5em;
            margin: 0 auto;
            &__module {
                margin-bottom: 4em;
                .img {
                    flex: 0 0 35%;
                    height: 350px;
                }
            }
        }
    }
}