.about-us-page{
    @import 'aboutCR';
    @import 'aboutTeam';
    @import 'aboutFaqs';
    @import 'aboutSell';
    @import 'aboutJobs';

    //MENU SECTIONS
    .menuSections {
        display: flex;
        justify-content: flex-start;
        margin: 1em 0;
        padding-left: 0.4em;
        width: 100%;
        height: 45px;
        overflow-y: hidden;
        
        ul {
            display: flex;
            li {
                padding: $margin-base $margin-base $margin-base/2;
                width: max-content;
                a {
                    font-family: $font_content;
                    font-size: 1em;
                    color: $color3;
                    text-decoration: none;
                    padding-bottom: $margin-base/2;
                    cursor: pointer;
                    &.active {
                        border-bottom: 2px solid $color1;
                        color: $color1;
                        font-weight: bold;
                    }
                }
            }
        }
        ////////////////    
        //MEDIA QUERIES
        ////////////////
        @media screen and (min-width: $bp-mobile-l) {
            justify-content: center;
        }
    }

    //COVERS
    .cover {
        height: 340px;
        position: relative;
        .title {
            color: #fff;
            text-align: center;
            @include center-content(50%, 50%);
            line-height: 1.325em;
            position: absolute;
            width: 90%;
            span {
                color: $color1;
                font-family: $font_title_bold;
                @include type-setting(1); //padding-top: 1em;
            }
        }
        
        ////////////////    
        //MEDIA QUERIES
        ////////////////
        @media screen and (min-width: $bp-tablet-m) {
            height: 300px;
            .title {
                @include type-setting(3);
                span {
                    @include type-setting(2);
                }
            }
        }
        @media screen and (min-width: $bp-tablet-l) {
            min-height: 350px;
            max-height: 500px;
            height: 65vh;
        }
    }
}