.ui-detailed-block__content {
  .cr__storeStatus {
    &-item {
      list-style: none;
      display: flex;
      width: 100%;
      &-text {
        width: 70%;
        margin: 0 1em 0 0;
      }
      h5 {
        font-weight: 600 !important;
        text-transform: none;
      }
      p {
        text-indent: 0;
        margin-bottom: 1em;
        line-height: 18px;
        span {
          font-weight: bold;
        }
      }
      &-button {
        width: 30%;
        display: flex;
        height: 105px;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1em;
        .button-square--white {
          width: 106px;
        }
      }
    }
    &-item:first-child {
      border-bottom: 1px solid #dad8d6;
      margin-bottom: 2em;
      padding-bottom: 1em;
    }
    @media screen and (max-width: 767px) {
      &-item {
        flex-direction: column;
        &-text {
          width: 100%;
          margin: 0;
          h5 {
            margin-bottom: 1em;
          }
        }
        &-button {
          width: 100%;
          margin-top: -1.25em;
          justify-content: flex-start;
        }
      }
    }
  }
}
