@import '../storeApp/modalbox';
.shoppingCart {
  position: relative;

  // .form { margin: $margin-base 0; }
  /*----------------------------------------
    // PROMOTIONAL CODE
    ----------------------------------------*/
  .promo-code {
    position: relative;
    margin: auto;
    padding: 0 0 1em;
    border-bottom: 1px solid #d6d6d6;

    &__container {
      position: relative;
      display: flex;
    }

    &__button {
      flex: 0 1 45%;
      border: none;
      background: $color1;
      color: #fff;
      font-family: $font-content;
      @include type-setting(0);
      border-radius: 0.125em;
      margin-left: $margin-base;

      &:disabled {
        background: darken($color5, 8%) !important;
      }
    }

    &__button--clean {
      position: absolute;
      right: 10px;
      top: 10px;
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      outline: none;
      text-align: center;
      padding: 2px;
      color: white;
      background-color: #b7b7b7;
      font-weight: 100;
    }

    &__status {
      @include type-setting(-1);
      padding: 0 $margin-base;

      &--valid {
        color: $status-color-success;
      }
      &--invalid {
        color: $status-color-error;
      }
    }

    &__input {
      flex: 0 1 auto;
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font-content;
      color: $color2;
      border-width: 2px;
      height: 100%;
      margin: 0 auto;
      padding: 0.75em;
      @include type-setting(-1);

      &.valid {
        border-color: $status-color-success;
        //background-color: lighten($status-color-success, 55%);
      }
      &.invalid {
        border-color: $status-color-error;
        //background-color: lighten($status-color-error, 30%);
      }
      &.focus {
        border: solid 1px #305aeb;
        //background-color: lighten($status-color-error, 30%);
      }
    }
  }

  // HEADER
  &__header {
    /*----------------------------------------
        // NAV CONTAINER
        ----------------------------------------*/
    .navigation {
      position: relative;
      //display: flex;
      //justify-content: space-between;
      //flex-flow: row wrap;
      //padding: 10px $margin-base;
      //border-bottom: 1px solid rgba(#AA0E54, 0.75);
    }

    /*----------------------------------------
        // SHOPPING BREADCRUMBS
        ----------------------------------------*/
    .navigation__breadcrumbs {
      display: block;
      width: 100%;
      position: relative;
      padding: $margin-base;
      background: #fff;
      color: $color2;
      box-shadow: 0 2px 4px rgba(black, 0.12);

      // BREADCRUMBS CONTAINER
      .steps {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        // PATH LINE
        &:before {
          content: '';
          position: absolute;
          width: 50%;
          background: $color4;
          height: 2px;
          @include center-content(50%, 30%);
        }

        // BREADCRUMB ITEM
        &__item {
          width: 50%;
          text-align: center;
          line-height: 1.25em;

          // LINK
          .link {
            display: inline-block;
            color: $color3;
            font-size: 0.875em;

            &:before {
              content: '';
              display: block;
              position: relative;
              margin: 0 auto 0px;
              width: 0.875em;
              height: 0.875em;
              background: #fff;
              border: solid 2px $color4;
              border-radius: 50%;
            }

            // Hover & Active Styles
            &.active,
            &.active:hover {
              color: $color2;
              &:before {
                border-color: $color1;
                background: $color1;
              }
            }
            &:hover {
              color: $color2;
              &:before {
                background: $color4;
              }
            }
          }
        }
      }
    }

    /*----------------------------------------
        // SHOPPING BREADCRUMBS
        ----------------------------------------*/
    .logo {
      height: 100%;
      padding: 10px $margin-base;
    }
    // .shoppingCart__header {
    //   left: 50px;
    // }
    .secure_checkout {
      position: absolute;
      margin-left: 1em;
      top: 4px;
      left: 50px;
      transform: translateY(50%);

      color: $color6;

      &:before {
        content: '';
        display: inline-block;
        margin-right: 0.4em;
        height: 11px;
        width: 11px;
        background: url($images_path + 'icons/icon_secure.svg') no-repeat left center;
      }
      @media screen and (min-width: $bp-tablet-sm) {
        top: 10px;
      }
      @media screen and (min-width: 36em) {
        top: -0.6em;
        left: 0;
        position: relative;
        @include type-setting(-1);
      }
      @media screen and (min-width: $bp-tablet-m) {
        @include type-setting(0);
      }
    }
    /*----------------------------------------
        // MEDIA QUERIES
        ----------------------------------------*/
    @media screen and (min-width: $bp-tablet-sm) {
      height: 4.25em;

      // LOGO
      .logo {
        padding: 0;
        max-height: 2.5em;
        a {
          max-height: none;
        }
      }

      // NAVIGATION CONTAINER
      .navigation {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 10px $margin-base;
      }

      // BREADCRUMBS
      .navigation__breadcrumbs {
        position: absolute;
        right: 0;
        min-width: 300px;
        max-width: 480px;
        width: 50%;
        background: transparent;
        box-shadow: none;

        .steps {
          &:before {
            //background: darken($color1, 5%);
            background: $color1;
          }

          &__item .link {
            color: lighten($color1, 6%);
            &:before {
              background: $color1;
              border-color: $color1;
            }
            &.active,
            &.active:hover {
              color: $color5;
              &:before {
                border-color: $color5;
                background: $color5;
              }
            }
            &:hover {
              color: lighten($color1, 18%);
              &:before {
                background: lighten($color1, 18%);
              }
            }
          }
        }
      }
    }
  }
}

//Factory Errors
.factoryErrors {
  text-align: center;
  color: red;
  padding: 0.5em 0;
  //height: 22px;
  padding-bottom: 1.8em;
  @media screen and (max-width: 767px) {
    position: absolute;
    padding-bottom: 1.1em;
    bottom: 140%;
    padding-right: 1em;
    li {
      margin-top: 0.25em;
    }
  }
}
@media screen and (min-width: 768px) {
  .factoryweb {
    display: block !important;
  }
  .factorybutton {
    margin-left: 6em;
  }
}
//End
.productList {
  border-bottom: $border-style;
  margin-bottom: $margin-base * 2;
  max-height: 300px;
  overflow: auto;
  padding-left: 0 !important;
  a {
    text-decoration: none;
    color: $color2;
  }
  .store-detail {
    margin-bottom: $margin-base;
    .store {
      font-weight: bold;
    }
  }
  .product {
    display: flex;
    margin-bottom: $margin-base * 2;
    &_photo {
      @include responsive-container(100%);
      display: inline-block;
      overflow: hidden;
      flex: 0 0 60px;
      max-height: 50px;
      border: $border-style;
      border-radius: $border-radius;
      img {
        @include center-content(50%, 50%);
      }
    }
    &_price {
      flex: 1 0 70px;
      font-size: 0.875em;
      text-align: right;
    }
    &_detail {
      flex: 1 1 auto;
      padding: 0 $margin-base;
      @include type-setting(-1);

      p {
        margin: auto;
        margin-bottom: 0.325em;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .name {
        font-weight: bold;
        line-height: 1.25em;
        color: inherit;
        text-decoration: none;
        display: block;
      }
      .store {
        text-transform: capitalize;
        font-family: $font_title_bold;
        line-height: 1.25em;
        color: $color2;
        text-decoration: none;
        display: block;
      }
      .attribute {
        color: $color3;
        line-height: 1.25em;
      }
      .delivery {
        font-weight: bold;
        color: $status-color-success;
        line-height: 1.25em;
      }
    }
    &.unavailable {
      color: $color3;
      .product_photo {
        cursor: not-allowed;
        filter: grayscale(100%);
      }
      .product_detail {
        .name {
          cursor: not-allowed;
        }
      }
    }
  }
}

.cart_container {
  padding: emRhythm(0) 0 0;
  background: $color5;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 8px;
    // background: url($images_path + 'utils/separator/separator.svg') repeat-x
    //   center top;
  }
  .statusNotificationsWindow__content {
    position: relative;
    text-align: center;
    strong {
      font-weight: bold;
    }
  }
  .cart {
    $column-s: 30%;
    $column-l: 61%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $margin-base;
    max-width: $bp-tablet-l;

    //
    &__counter {
      text-indent: 0;
      width: 100%;
      order: -1;
      //margin-bottom: $margin-base/2;
    }

    @import 'cart-products';

    /////////////////////////////
    // CART RESUME
    .cart-resume {
      width: 100%;
      &__module {
        border-top: $border-style;
        padding: ($margin-base * 1.5) 0;
      }

      &--pushTop {
        order: -1;
        .collapseBox {
          border: $border-style;
          .header .header-resume {
            display: flex;
            align-items: center;
            width: 100%;
          }
        }
      }
      p {
        text-indent: 0;
        display: flex;
        &:last-child {
          margin-bottom: 0;
          // text-align: right;
        }
      }
      span {
        align-items: flex-end;
      }
      .section-checkout {
        .cart-resume__breakdown {
          margin: 0 0 $margin-base;
          &.subtotal {
            font-weight: bold;
          }
        }
      }
      &__breakdown {
        display: flex;
        margin: 0 0 $margin-base;
        &:first-child {
          margin: 0;
        }
      }
      &__total {
        @include type-setting(1);
        font-weight: bold;
        border-top: $border-style;
        padding: $margin-base 0 0;
        .taxIncluded {
          margin-left: 0.3em;
        }
      }
      &__breakdown,
      &__total {
        .products-count {
          @include type-setting(-1);
          padding-left: $margin-base/2;
        }
        .quantity {
          align-self: flex-end;
          text-align: right;
          flex: 1;
        }
      }

      .form {
        margin-bottom: $margin-base;
        .promo-code {
          &__input {
            //margin-bottom: .4em;
          }
        }
      }

      /////////////////////////////////////////
      // PAY PAY PAYMENT CONTAINER / BUTTON
      .paypal-payment {
        display: none;
        border-radius: $border-radius;
        border: $border-style;
        padding: $margin-base;
        background: darken($color5, 7%);
        &__title {
          display: block;
          @include type-setting(0);
          font-weight: 600;
          text-align: center;
          color: $color1;
          margin-bottom: 0.5em;
        }
      }

      /////////////////////////////
      // CREDIT CARDS CONTAINER
      .creditCards {
        padding: $margin-base * 1.5 0;
        &__list {
          display: flex;
          justify-content: center;
          flex-flow: row nowrap;
          &__item {
            span {
              display: none;
            }
            margin-right: 5px;
            &:before {
              content: '';
              display: inline-block;
              background: no-repeat center;
              background-size: contain;
              width: 45px;
              height: 25px;
            }
            &.visa {
              &:before {
                background-image: url($images_path + 'icons/payment/icon_visa.svg');
              }
            }
            &.mastercard {
              &:before {
                background-image: url($images_path + 'icons/payment/icon_mastercard.svg');
              }
            }
            &.amex {
              &:before {
                background-image: url($images_path + 'icons/payment/icon_amex.svg');
              }
            }
            &.paypal {
              &:before {
                background-image: url($images_path + 'icons/payment/icon_paypal.svg');
              }
            }
            &.oxxo {
              &:before {
                background-image: url($images_path + 'icons/payment/icon_oxxo.svg');
              }
            }
          }
          .bankTransfer {
            font-size: 0.7em;
            line-height: 1.2em;
            text-align: center;
            font-weight: bold;
            color: #16297a;
          }
        }
      }

      /////////////////////////////
      // CHECKOUT NOTES CONTAINER
      .notes {
        position: relative;
        padding-right: $margin-base;
        padding-left: $margin-base;
        //@include type-setting(-1);
        line-height: 1.15em;
        color: $color3;

        p {
          margin-bottom: 0.75em;
        }
        p + p {
          margin-top: 0;
        }

        // Buttons
        .link {
          color: $color1;
        }

        // NOTE
        .note {
          position: relative;
          @include type-setting(-1);
          color: $color3;
          line-height: inherit;

          // Padlock Note
          &--padlock,
          &--gift {
            padding: 0 0.65em;
            text-align: left;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 3px;
              left: -8px;
              width: 100%;
              height: 12px;
            }
          }
          &--padlock {
            &:before {
              background: url($images_path + 'icons/icon_secure.svg') no-repeat;
              filter: brightness(0.5);
            }
          }

          &--gift {
            flex-direction: column;
            margin: 0;
            &:before {
              background: url($images_path + 'icons/icon_gift.svg') no-repeat;
              opacity: 0.5;
            }
            a {
              color: $color1;
              text-decoration: none;
              font-weight: bold;
            }
          }

          // Delivery Times
          &--deliveryTime {
            padding-left: 0.65em;
            margin-bottom: 0;
          }
          &.terms-conditions {
            display: inline;
          }
        }
      }

      /////////////////////////////
      // CALL TO ACTION BUTTONS
      .c2a_container {
        display: flex;
        justify-content: center;
        width: 100%;
        &--return {
          @extend .c2a_container;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
          margin-bottom: 6vh;
        }
      }
      .c2a_square {
        width: 100%;
        display: none;
        &.mobile {
          display: block !important;
        }
      }
      .button-simple {
        color: $color2 !important;
        @include type-setting(0);
        position: relative;
        &:before {
          content: '\025be';
          transform: rotate(90deg);
          color: $color1;
          position: absolute;
          left: -14px;
          pointer-events: none;
        }
      }
    }
    //COLLAPSE BOX
    .collapseBox {
      background: white;
      margin: 0 0 $margin-base;
      // width: calc(100% + #{$margin-base*2});
      // margin-left: -$margin-base;
      .header {
        padding: $margin-base * 1.5 0;
      }
      .box {
        position: inherit;
        padding: 0;
        li {
          list-style: none;
        }
      }
    }

    //FIXED BAR
    .fixed-bar {
      //$sticky-height: 100px; // <--- This should be a dynamic value.
      position: relative;
      z-index: 9;
      width: 100%;
      //height: $sticky-height;
      margin-bottom: 12vh;

      // STATES
      &--active .fixed-bar__container {
        //background-color: rgba(lighten($color2, 10%), 0.975);
        //color: white;
      }
      &--inactive .fixed-bar__container {
        //background-color: rgba(160, 160, 160, 0.975);
        //color: white;
        .price,
        .products-count,
        .call-to-action {
          color: inherit;
        }

        .call-to-action {
          background-color: darken($color4, 10%);
        }
      }

      // Stiky Element Container
      &__container {
        background-color: rgba($color4, 0.95);
        border: solid 1px darken($color4, 10%);
        justify-content: center;
        padding: ($margin-base * 1.5) $margin-base;
        align-items: center;
        position: relative;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        height: inherit;
        bottom: 0;
        left: 0;
        transition: bottom 500ms cubic-bezier(0.08, 0.74, 0.26, 1);

        // Container Components
        .products-count {
          position: absolute;
          right: 1em;
          padding: 0 4px;
          border: solid 1px darken($color4, 20%);
          border-radius: 3px;
          margin: 0;
          width: auto;
          @include type-setting(0);
          min-width: 25px;
          text-align: center;
        }
        .price {
          position: absolute;
          left: 1em;
          padding: 0;
          border: 0;
          margin: 0;
          width: auto;
        }
        .call-to-action {
          //background: transparent;
          padding: 7px 10px;
          margin: auto;
          border: none;
          @include type-setting(0);
          font-weight: 700;
          font-family: $font-content;
          text-align: center;
          max-width: 75%;
          width: 75%;

          // Button States
          &:disabled {
          }
        }

        // Fix position
        &.sticky {
          position: fixed;
          box-shadow: 0px 0px 8px 1px rgba(#000, 0.3);
          transition: bottom 400ms cubic-bezier(0.08, 0.74, 0.26, 1) 0.1s;
        }
      }
    }

    /////////////////////////////
    // ZIP CODE FORM
    .header_zipCode {
      border-top: $border-style;
      padding: $margin-base 0;
      font-weight: 500;
      margin: 0;
    }
    .form_zipCode {
      display: flex;
      justify-content: space-between;
      .form__data {
        flex: 0 1 auto;
        margin: 0 $margin-base 0 0;
      }
      .c2a_border {
        flex: 0 1 45%;
        padding: 0;
        font-family: $font_button;
        font-weight: 500;
        background: $color3;
        border: none;
        color: white;
      }
    }

    /*-------------------------------------------
            MEDIA QUERIES
        -------------------------------------------*/
    @media screen and (min-width: $bp-mobile-m) {
      .fixed-bar {
        .c2a_square {
          &.mobile {
            width: auto;
          }
        }
        .total,
        h5 {
          padding: 0;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-m) {
      .order_container {
        //width: $column-l;
        flex: 1 0;
        margin-right: $margin-base * 2;
      }
      &__counter {
        order: 0;
      }
      .cart-resume {
        width: $column-s;
        margin: 0 0 0 $margin-base/2;
        order: 0;
        margin-top: 1em;
        .paypal-payment {
          display: block;
        }
        .c2a_square {
          width: 100%;
          position: inherit;
          display: block;
        }
        .c2a_container--return {
          position: inherit;
          transform: none;
          margin: $margin-base 0;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-l) {
      .order_container {
        width: 67%;
      }
    }
  }

  /*----------------------------------------
    // SIMILAR PRODUCTS
    ----------------------------------------*/
  .cardList {
    .product-list-item {
      overflow: hidden;
      overflow-x: inherit;
      &:after {
        content: '';
        background: linear-gradient(90deg, transparent 0%, white 100%);
        position: absolute;
        top: 20%;
        right: 0;
        z-index: 9;
        width: 100px;
        height: 70%;
      }
      .products-list {
        flex-flow: nowrap;
        justify-content: inherit;
        .post {
          flex: 0 0 60%;
          margin-right: $margin-base;
        }
      }
    }
    @media screen and (min-width: 35em) {
      .product-list-item {
        .products-list {
          .post {
            flex: 0 0 30%;
          }
        }
      }
    }
    @media screen and (min-width: $bp-desktop-sm) {
      .product-list-item {
        &:after {
          content: none;
        }
        .products-list {
          margin: 0 auto;
          .post {
            flex: 1;
            padding: $margin-base/2;
          }
        }
      }
    }
    @media screen and (min-width: 70em) {
      .products-list {
        width: 90%;
      }
    }
  }
}
.cr__messageBazar {
  border: 1px solid lightgrey;
  padding: 1em;
  background-color: white;
  margin-top: -4em;
  margin-bottom: 1em;
  @media screen and (max-width: 736px) {
    margin-top: 0em;
  }
  &-title {
    margin-bottom: 1em;
    text-transform: none;
    font-weight: bold;
  }
  &-text {
    display: inline-block;
    text-transform: none;
    width: 95%;
    span {
      font-weight: bold;
    }
  }
}
