.order_container {
    // CART CARD
    .store-card{
        background: white;
        border: $border-style;
        padding:$margin-base $margin-base 0;
        position: relative;
        margin-bottom: $margin-base*2;
    }
    .store-detail{
        border-bottom: 1px solid $color4;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: $margin-base;
        .thumbnail{
            width:10%;
            img{
                border-radius: 50%;
                border: $border-style;
                width:100%;
            }
        }
        &__name{
            font-weight: bold;
            padding-left: 3%;
            flex: 20%;
            .link {
                color: $color2;
                text-decoration: none;
                border: none;
            }
        }
        &__quantity{
            flex: 1;
            text-align: right;
            color: $color3;
            span{font-weight: bold;}
        }
    }
    .product-detail{
        display: flex;
        flex-wrap: wrap;
        margin-top: $margin-base;
        .thumbnail{
            display: block;
            overflow: hidden;
            width: 85px;
            height: 84px;
            border: $border-style;
            @include responsive-container(100%);
            @include background__product--default();
            img {
                position: absolute;
                @include center-content(50%, 50%);
                @include responsive-image();
            }
        }
        &__box-detail{
            padding-left: $margin-base;
            flex: 65%;
            .attributes{
                color: $color3;
                @include type-setting(-1);
                line-height: 1;
            }
        }
        &__price{
            width:100%;
            display: flex;
            position: relative;
            .button-simple{
                position: absolute;
                bottom: -5px;
                padding: 0;
            }
            .price{
                font-weight: bold;
                span{
                    font-weight: 200;
                    font-size: .8em;
                }
            }
            label{margin-right: $margin-base;}
            .quantity{
                margin-right: $margin-base;
                @include type-setting(-1);
                display: flex;
                align-items: center;
                &__select{
                    margin: 0
                }
            }
        }
        .message-container {
            margin-top: $margin-base;
            .container{ padding-bottom: 0; }
            textarea{ margin: 0; @include type-setting(0) }
        }

        &.sidebar-detail{
            margin-top: $margin-base*2;
            &:first-child{margin-top:0; }
            .product-detail__name{font-weight: 500;}
            .price{
                .quantity{
                    @include type-setting(-1);
                    display: flex;
                    align-items: center;
                }
                .price__total{font-weight: bold;}
                .price__unit{ @include type-setting(-1);}
            }
        }
    }

    // DELIVERY DETAILS
    .delivery_details{
        margin: 0 0 $margin-base*2;
        position: relative;
        &-container{
            border-top: $border-style; 
            margin-top: $margin-base;
        }
        .button-simple{
            color: $color1;
            position: absolute;
            top: 0; right: 0;
        }
    }
    .delivery_details--day{
        display: flex;
        p{margin: 0 $margin-base 0 0;}
        .ui-calendar-selector{flex: 1;}
    }

    // DELIVERY SCHEDULES
    .shipping-schedules.detail{
        display: flex;
        flex-wrap: wrap;
        width: 100%; padding: .875em 0 0 0;

        .detail_info{
            display: flex;
            flex-wrap: wrap;
            background: rgba(248,208,28,0.52);
            border-radius: 20px;
            padding:  $margin-base/2 $margin-base*1.5;
            max-width: max-content;
            font-weight: normal;
            border: 1px solid rgba(243, 201, 14, 0.8);
            p{margin: 0;}
            .hover-active &:hover{
                background: rgba(243, 201, 14, 0.8);
            }
        }

        .price {
            color: $color1;
            margin: 0 $margin-base*3 0 0;
            text-align: right;
            flex: 1;
            font-family: $font_content;
            font-weight: 500;
        }
    }
    .shipping_date-container{
        display: flex;
        justify-content: space-between;
        margin: .3em 0 $margin-base;
        .shipping_date{
            text-indent: 0;
            color: $status-color-success;
            @include type-setting(0);
            font-family: $font_content;
            font-weight: bold;
            margin: 0;
        }
    }
    
    @import '../storeApp/shipping-schedules';

    .collapseBox{     
        padding: 0; margin: 0;  
        border-bottom: none;
        // p{ margin: auto auto $margin-base; }
        .dot{
            display: flex;
            flex-wrap: wrap;
            position:relative;
            .price{
                line-height: 1rem;
                color: $color3;
                margin: 0;
                position:absolute;
                right:21px; top:0;
                font-weight: 500;
                font-size: .8em;
            }
        }
        .header{
            padding: $margin-base 0 $margin-base 0;
            position: relative;
            &:after{
                position: absolute;
                right: 0; top: 14px;
            }
            .hover-active &:hover{color: inherit; }
            &.active{
                color: inherit;
                .price{ color: $color1;}
            }
            .detail_info{
                display: flex;
                flex-wrap: wrap;
                background: rgba(248,208,28,0.52);
                border-radius: 20px;
                padding:  $margin-base/2 $margin-base*1.5;
                max-width: max-content;
                font-weight: normal;
                border: 1px solid rgba(243, 201, 14, 0.8);
                p{margin: 0;}
                .hover-active &:hover{
                    background: rgba(243, 201, 14, 0.8);
                }
            }
        }
        .box__content .form{margin-bottom: $margin-base*2;}
        .box{
            padding: 0;
            ul{
                list-style: none;
                padding-left: 0;
            }
        }
    }

    .shipping-method {
        margin-bottom: $margin-base*2;

        &--disabled{ 
            .shipping-method__label {
                cursor: default;
                color: lighten($color3, 15%)
            }
        }

        .dot{
            display: flex;
            flex-wrap: wrap;
            position:relative;
            .price{
                @include type-setting(0);
                font-weight: 500;
                color: $color2;
                margin: 0;
                position: absolute;
                right: 1em; top: 0;
            }
        }

        .form__helpIcon{
            right: 0; top: 0;
            .helpInfo{display: none;}
            &:hover{
                .helpInfo{
                    display: block;
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
    
    /////////////////////////////////////////////
    // MEDIA QUERIES
    /////////////////////////////////////////////
    @media screen and (min-width: $bp-mobile-m){
        .product-detail{
            &__box-detail{
                flex:34%;
            }
            &__price{
                width: auto;
                margin-left: $margin-base;
                display: inline;
                .button-simple{
                    position: initial;
                    padding: 0;
                }
            }
            &.sidebar{
            }
            // .message-container {width: 70%;}
        }
    }
    @media screen and (min-width: $bp-tablet-sm){
        .store-detail{
            .thumbnail{
                width:7%;
            }
        }
    }
}

