.checkout__methods{
    .collapseBox{
        border: $border-style!important;
        margin-bottom: $margin-base!important;
        .header{
            padding: $margin-base!important;
            background: $color1;
            &:after{content: none;}
            .title{
                width: 100%;
                display: flex;
                font-family: $font_title_bold;
                color: #fff;
                margin: 0 auto;
                &:before{
                    content: '';
                    display: inline-block;
                    margin-right: 0.4em;
                    height: 27px; width: 27px; 
                }
                &.shipping{
                    &:before{background: url($images_path+'icons/schedules/icon_number1.svg') no-repeat center;}
                }
                &.payment{
                    &:before{background: url($images_path+'icons/schedules/icon_number2.svg') no-repeat center;}
                }
                span{
                    color: #fff;
                    @include type-setting(-2);
                    font-family: $font_content;
                    flex: 1;
                    text-align: right;
                }
            }
            
            &.valid{
                background: $color4;
                padding: $margin-base;
                .title{
                    color: $color2;
                    span{color: $color2;}
                    &.shipping, &.payment{
                        &:before{background: url($images_path+'icons/schedules/icon_schedule_day-active.svg') no-repeat center;}
                    }
                }
            }
        }
        .box__content{
            padding-bottom: 0;
            border-top: $border-style;
        }
    }
}