.confirmation{
    padding: 0;
    .msn_confirmation{
        text-align: center;
        padding: $margin-base*4 $margin-base*2;
        .title{
            color:$color1;
            margin-bottom: $margin-base/2;
            
        }
        .order{@include type-setting(1);}
        a{color: $color2; font-weight: bold; text-decoration: none;}
    }
    hr{border: .5px solid lighten($color3, 30%);}
    .img_container{
        width: 80%;
        margin: 0 auto;
        img{width: 100%;}
    }
    .title-method{
        font-family: $font-title-bold; 
        margin: 0 0 $margin-base; 
        text-align: left;
        span{font-weight: bold;}
    }
    .payment-method, .pickup-point{
        padding: $margin-base 0;
    }
    .pickup-point{
        text-align: left;
        p{
            text-indent: 0;
            &:first-child{
                margin: auto auto $margin-base;
            }
        }
        
        .note{ 
            color: $color3;
            &--strong{
                font-weight: bold;
                color: $color3;
            }
        }
        .address{
            margin: auto;
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                background: url($images_path+'icons/icon_location.svg') no-repeat center;
                background-size: contain;
                width: 15px;
                height: 15px;
                margin-right: #{$margin-base / 2};
            }
        }
    }

    /*================================================
        ORDER CONFIRMARTION TEXT & DETAILS
    ================================================*/
    .confirmation-text{
        margin: 1.5em auto;
    }


    /*================================================
        BANK TRANSFER
    ================================================*/
    .bankTransfer-info{
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;
        text-align: left;
        h5{
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }
        p{
            text-indent: 1.5em;
            margin: auto;
            span{font-weight: bold;}
        }
        .note{
            text-indent: 0;
            margin: $margin-base;
            &--small{
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }
            a{
                color: $color1;
                text-decoration: none;
            }
            .phone{color: $color1; font-weight: normal;}
        }
    }

    /*================================================
        OXXO
    ================================================*/
    .oxxo-info{
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;
        text-align: left;
        h5{
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }
        p{
            text-indent: 1.5em;
            margin: auto;
            span{font-weight: bold;}
        }

        .bold{
            font-weight: bold;
        }

        .payment-document-link{
            display: block;
            margin: 0.75em auto;
            padding: 0.75em;
            max-width: 48%;
            color: $color5;
            text-align: center;
        }

        .note{
            text-indent: 0;
            margin: $margin-base;
            .link{
                color: $color1;
            }
            &--small{
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }
            a{
                color: $color1;
                text-decoration: none;
            }
            .phone{color: $color1; font-weight: normal;}
        }
    }


    //
    .order_container{width: 100%;}
    .cart_container .cart  .product__detail{flex: 1 0 60%;}
    .cart_container .cart .product__comment{flex: 1 0 30%;}
    .order_container--detail{
        border-bottom: 0;
        padding: $margin-base*2 $margin-base; 
        p{
            text-indent: 0;
            &:first-child{font-weight: bold;}
            &:last-child{margin-bottom: 0}
            a{color: $color1; text-decoration: none;}
        }
    }
    .cart{ 
        &_products{
            width: 100%;
        }
        .mail{ font-weight: bold;}
        .subtitle{
            color:$color1;
            text-align: right;
            text-indent: 0;
            margin: $margin-base*2 0 $margin-base/2;
        }
    }
    .products_list{
        @import 'shoppingCart/cart-products';
        .product-detail{
            justify-content: space-between;
            &__box-detail{flex: 0 0 45%!important; padding: 0 $margin-base!important;}
            &__price{
                flex-direction: column;
                text-align: right;
                flex: 1;
            }
            .note{
                flex: 0 0 100%;
                span{font-weight: bold; margin: $margin-base 0 0;}
            }
            
        }
        .delivery_details-container{
            padding: $margin-base 0;
            .shipping-schedules.detail{flex-wrap: wrap;}
            .shipping_date{
                flex: auto!important;
                text-align: left!important;
                margin: 0!important;
            }
        }
    }
    
    .promo-container{
        max-width: 38em;
        margin: emRhythm(20) auto 0;
        text-align: center;
        border: #e0e0e0 dashed 1px;
        border-radius: $border-radius;
        padding: $margin-base*2 $margin-base*3;
        background:#ffff;
        h5{
            font-family: $font_title_bold; 
            padding: $margin-base;
            color: $color1;
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                top: -40px;
                left: 30%;
                background: url($images_path+'/illustration/shipping.png') no-repeat center;
                background-size: contain;
                width: 100px;
                height: 45px;
            }
        }
        p{margin: 0px;}
        .bold{
            color: $color1;
            &.instagram{
                position: relative;
                padding-left: $margin-base*3.5;
                &:before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 8%;
                    background: url($images_path+'icons/social/social_icon_instagram_pink.svg') no-repeat center;
                    background-size: contain;
                    width: 20px;
                    height:20px;
                }
            }
        }
    }
    @import "home/marketplace-benefits";
    @import "home/card-list";
    @media screen and (min-width: $bp-mobile-m){
        .promo-container{
            h5{
                &:before{left: 37%;}
            }
        }
    }
    @media screen and (min-width: $bp-tablet-sm){
        .img_container{
            width: 40%;
        }
        .cart.order-resume{padding-top: 5em;}
    }
    @media screen and (min-width: $bp-tablet-l){  
        .cart{
            .order{
                margin: $margin-base*2 0 0 0;
            }
        }
        .promo-container{
            h5{
                &:before{left: 40%;}
            }
        }
        .cards-list{
            &:after{
                content: none;
            }
        }
        .order_container{
            &--detail{
                display: flex;
                justify-content: space-between;
                p{ margin: 0 auto }
            }      
        }
        .cart_products{
            position: relative;
            display: flex;
            flex-flow: row wrap;
            // .order_price{
            //     flex: 0 0 280px;
            //     margin: 0 0 0 $margin-base*2;
            //     border: 0;
            //     .c2a_square{
            //         width: 100%;
            //     }
            // }
        }
        .methods_info{
            width: 90%;
            margin: 0 auto;
        }
        .header{
            display: flex;
            justify-content: center;
            align-items: center;
            .img_container{
                width: auto;
                margin: initial;
            }
        }
    }
    @media screen and (min-width: $bp-desktop-sm){
        .methods_info{
            width: 70%;
            margin: 0 auto;
        }
        .cart.order-resume{width: 50em;}
    }
    @media screen and (min-width: $bp-desktop-l){
        .cart{
            .subtitle{
                text-align: left;
            }
        }
        .methods_info{
            width: 60%;
            margin: 0 auto;
        }
    }
}