.review{
    .module{
        margin-bottom: $margin-base*3;
        &__title{padding: $margin-base*0.75 0; font-family: $font-title-bold;}
    }
    &_container{
        margin-bottom: 1.5em;
        .title{
            font-weight: bold; margin: 0 $margin-base $margin-base 0;
        }
        .personal-information{
            padding-bottom: $margin-base;
            border-bottom: solid 1px $color4;
            
        }

        .location{
            border-bottom: solid 1px $color4;
            padding: $margin-base 0;
            
            .strong{ font-weight: bold;}
            .address_canastaRosa{ 
                font-style: italic;
                color: $color3;
                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    background: url($images_path+'icons/icon_location.svg') no-repeat center;
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    margin-right: #{$margin-base / 2};
                }
            }
            .address{
                padding: 0;
                border: none;
            }
        }
        .invoice{
            padding: $margin-base 0 0;
        }
        .shipping{
            background: $color5;  
            .title{
                font-weight: bold; margin: 0 $margin-base $margin-base 0;
            }
            .locations_container{
                background: white;
                padding: $margin-base;
                border: $border-style;
                margin-bottom: $margin-base;
                &:last-child{border-bottom: none;}
                .location, .type{
                    p{
                        text-indent: 0;
                    }
                }
                .delivery{padding: $margin-base 0 0;}
                .type{display: flex;}
                .pay{
                    display: flex;
                    .card-provider{
                        @include hide-text();
                        @include responsive-container(45%);
                        width: 70px;
                        background:  no-repeat center;
                        background-size: contain;
                        p{
                            margin-left: $margin-base;
                            font-weight: bold;
                        }
            
                        $providers-icons: (
                            visa: 'icon_visa.svg',
                            master: 'icon_mastercard.svg',
                            amex:'icon_amex.svg',
                            paypal: 'icon_paypal.svg',
                            PayPal: 'icon_paypal.svg'
                        );
                        @each $name, $icon in $providers-icons {
                            &.#{$name} {
                                background-image: url($images_path+'icons/payment/'+$icon);
                            }
                        }
                        &.bankTransfer{
                            @include type-setting(0);
                            font-family: $font_content;
                            font-weight: bold;
                            color: #16297A;
                            width: 100%;
                            &:before{
                                content: none;
                            }
                        }
                    }
                }
            }
        } 
        .products_list{
            @import 'shoppingCart/cart-products';
            .product-detail{
                justify-content: space-between;
                &__box-detail{flex: 0 0 45%!important; padding: 0 $margin-base!important;}
                &__price{
                    flex-direction: column;
                    text-align: right;
                    flex: 1;
                }
                .note{
                    flex: 0 0 100%;
                    span{font-weight: bold; margin: $margin-base 0 0;}
                }
                
            }
            .delivery_details-container{
                padding: $margin-base 0;
                .shipping-schedules.detail{flex-wrap: wrap;}
                .shipping_date{
                    flex: auto!important;
                    text-align: left!important;
                    margin: 0!important;
                }
            }
        }
    }
     
    @media screen and (min-width: 50em){
        &_container{
            .shipping{
                margin-bottom: $margin-base*2;
            }
        }
        @media screen and (min-width: 70em){
            .cart_products{
                position: relative;
                display: flex;
                flex-flow: row wrap;
            }  
        }
    }
}
