.shipping{
    .note__required{
        color: $color3;
        @include type-setting(-1);
        margin: 0 0 $margin-base;
    }
    .boxed-container{
        background: white;
        border: $border-style;
        padding:2em $margin-base*2 $margin-base*2;
        position: relative;
    }
    .module{
        padding: $margin-base;
        border-top: $border-style;
        position: relative;
        .container{
            border: $border-style;
            padding: $margin-base;
            &:first-child{
                margin-bottom: $margin-base;
            }
        }
        &__header{
            display: flex;
            justify-content: space-between;
            button.button-simple{color: $color1!important; font-weight: bold;}
        }
        .module__title{
            font-family: $font_content;
            @include type-setting(0);
            margin-bottom: 0;
            text-transform: none;
            font-weight: 500;
        }
        &__info{
            .info{
                padding:$margin-base 0; 
                p+p{text-indent: 0;}
                p{margin:0!important;}
                .name{font-weight: 500; margin: 0!important;}
            }
            &.address{
                border: none; 
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                .info{
                    white-space: normal;
                    text-overflow: unset;
                    overflow: visible;
                    flex: auto;
                    height: auto;
                    padding: 0;
                }
                .c2a_square{text-align: center}
            }
        }
        .form__data {
            &-giftReceiverNote {
                textarea {
                    min-height: 8.5em;
                }
            }
        }
        .gift{
            input[type="checkbox"]{
                display: none;
            }
            input[type=checkbox] + label.checkmark {
                padding-left: 22px;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 15px;
                line-height: 30px;
                background-position-y: 3px;
                cursor: pointer;
            }
            input[type=checkbox]:checked + label.checkmark {
                background-image: url($images_path+'icons/selectors/icon_checkbox_check.svg');
            }
        
            label.checkmark {
                background-image : url($images_path+'icons/selectors/icon_checkbox.svg');
                user-select: none;
                position: relative;
            }
            .note--gift{
                span{
                    position: relative;
                    background-image: none;   
                    &:before{
                        content: '';
                        position: absolute;
                        top: -1.8em; left: 17.5em;
                        display: block;
                        background: url($images_path+'icons/icon_gift.svg') no-repeat center;
                        background-size: contain;
                        width: 15px;
                        height: 15px;
                        opacity: .5;
                    }
                }
            }
            span{
                @include type-setting(-1); 
                padding-left: 22px;
                color: $color3; 
                line-height: 1.5em; 
                display: block
            }
        }
        .form.module{
            margin-bottom: 0!important;
            .module__title{
                @include type-setting(); 
            }
        }
        &__fields{
            padding: $margin-base 0;
            label.title{font-family: $font_content}
        }
        &__buttons{
            text-align:right; 
            padding: 0 0 $margin-base;
            font-weight: bold;
            .c2a_border{padding:$margin-base/2 $margin-base; font-family: $font_title_bold;}
        }
        &:first-child{
            border-top: none;
            padding-top: $margin-base;
        }
    }

    /////////////////////////
    // DIRECCIONES DE ENVÍO
    &__address{
        .address{
            padding: $margin-base;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            cursor: pointer;
            transition: background-color 200ms ease;

            &:active {
                background-color: $color4;
            }

            .map_container{
                width: auto;
                margin-right: $margin-base;
                height: 4em;
                background:$color3;
                border: $border-style;
                img{
                    height:100%;
                }
            }
            .form{ 
                width: 100%;
                &__data{margin: 0;}
                label{
                    display: flex;
                    flex-wrap: nowrap;
                    cursor: pointer;
                    width: 100%;
                }
            }
            &_c2a{
                text-align: right;
            }
            &.active{
                background:#efefef;
                border: $border-style;
                border-radius: $border-radius;
            }  
        }
        
        .addresses_container {
            .address-selector{
                &__button{
                    position: absolute;
                    z-index: 1;
                    top: .8em; right:1em;
                    font-weight: 600;
                    color: $color1 !important;
                    padding: 0;
                }
                &__list {
                    display: block;
                    width: 100%;
                }
                &__label {
                    @include type-setting();
                    font-weight: 600;
                    display: block;
                    margin-bottom: $margin-base;
                }
            }
            .container--half{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .form__data {
                    width: 47.5%;
                    &-postalCode{
                        top: -.7em;
                    }
                }
            }
        }
    }

    /////////////////////////
    // MÉTODOS DE ENVÍO
    &__method{
        // TIPO DE ENVÍO
        .delivery{

            // Form Fields
            .form__data{
                border-bottom: $border-style;
                padding-bottom: $margin-base*2;
                margin-bottom: $margin-base*2;
                &:last-child{
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                .provider_name{
                    font-weight: bold;
                    display:block;
                    &:first-child{
                        margin-bottom: $margin-base/2;
                    }
                }
                .description{
                    font-size: 0.9125em;
                    line-height: 1.5em;
                    margin-bottom: 0.325em;
                }
                .note{
                    @include type-setting(-1);
                    text-indent: 0;
                    line-height: 1.45em;
                    color: $color3;
                    margin: auto;
                    &.address_canastaRosa{
                        margin: auto;
                        &:before {
                            content: '';
                            display: inline-block;
                            position: relative;
                            background: url($images_path+'icons/icon_location.svg') no-repeat center;
                            background-size: contain;
                            width: 15px;
                            height: 15px;
                            margin-right: #{$margin-base / 2};
                        }
                    }
                }
                
            }
        }            
    }
    //////////////////////////
    // PRODUCT UNAVAILABLE
    .product_unavailable{
        .productList{
            border: none;
            margin: 0;
            .store-card{
                border: none;
                margin: 0;
                padding: $margin-base $margin-base 0;
            }
            .product{
                margin:$margin-base 0 0;
                align-items: center;
                &:first-child{ margin: 0;}
            }
            .product_photo{
                flex: 0 0 38px;
                max-height: 35px;
            }
            .store-detail{display: none;}
        }
    }

    //////////////////////////
    // ADD ADDRESS CONTAINER
    .add_container{
        text-align: center;
        margin: $margin-base;

        &--no-address{
            padding-top: 1em;
        }
    }

    /*----------------------------------------------------
        MEDIA QUERIES
    ----------------------------------------------------*/
    @media screen and (min-width:$bp-mobile-m){
        .boxed-container{padding: $margin-base*2}       
    }
    
    @media screen and (min-width: 50em){
        .delivery{
            .form{
                display: flex;
                justify-content: space-between;
                .form__data{
                    flex: 0 0 48%;
                    border: 0;
                }
            }
        }
    }
    .storeApp-modal{
        &__title{
            text-align: center;
            @include type-setting(1);
        }
    }
}