.payment {
    form {
        padding: $margin-base;

        @media (min-width: $bp-tablet-sm) {
            padding: $margin-base*2;
        }
    }

    h4 {
        padding: $margin-base*0.75 0;
        font-family: $font-title-bold;
    }

    /////////////////////////////////////
    // PAYMENT CHOICES LIST CONTAINER
    &__choices {
        background: #fff;
        border: solid 1px $color4;
        border-radius: $border-radius;
        padding: $margin-base;
        margin-bottom: 1.5em;
    }

    //////////////////////////
    // PAYMENT CHOICE
    &-choice {
        position: relative;
        border-bottom: 1px solid $color4;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;

        // DISABLED CHOICE
        &--disabled {
            color: $color3;
        }

        // SELECTED CHOICE
        &--selected {
            .payment-choice__label {
                margin-bottom: 1em;
            }

            .payment-choice__details {
                overflow: auto;
                max-height: 800px
            }
        }

        // REMOVE BORDER/PADDING/MARGIN ON LAST CHOICE
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        // CHOICE NAME/LABEL
        &__label {
            position: relative;
            display: flex;

            .radio {
                margin-right: 1em;
            }

            .dot {
                line-height: 1.5em !important;

                &.logo {
                    width: 50%;
                }
            }
        }

        // PAYMENT DETAILS
        &__details {
            overflow: hidden;
            max-height: 0px;
            transition: max-height 340ms ease-in-out
        }
    }

    //////////////////////
    // PAY PAL
    .payPal {
        .payment-choice__label {
            margin-bottom: 0
        }
    }


    //////////////////////
    // BANK TRANSFER
    .bankTransfer-info {
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;

        h5 {
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }

        p {
            text-indent: 1.5em;
            margin: 0 !important;

            span {
                font-weight: bold;
            }
        }

        .note {
            text-indent: 0;
            margin: $margin-base;

            &--small {
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }

            a {
                color: $color1;
                text-decoration: none;
            }

            .phone {
                color: $color1;
                font-weight: normal;
            }
        }
    }

    //////////////////////
    // CREDIT CARRD
    //////////////////////
    .creditCard-info {
        margin-top: 1em;
        padding: $margin-base*1.5 $margin-base;
        border-radius: $border-radius;
        border: $border-style;
        background: #f8f8f8;

        h5 {
            font-family: $font-title-bold;
            color: $color1;
            margin-bottom: $margin-base;
        }

        p {
            text-indent: 1.5em;
            margin: 0 !important;

            span {
                font-weight: bold;
            }
        }

        .note {
            text-indent: 0;
            margin: $margin-base;

            &--small {
                @extend .note;
                text-indent: 0;
                color: $color3;
                @include type-setting(-1);
            }

            a {
                color: $color1;
                text-decoration: none;
            }

            .phone {
                color: $color1;
                font-weight: normal;
            }
        }

        //back button
        .back-button{
            @include type-setting(-1);
            border: 0; margin: 0 0 .75em; padding: 0 0 0 1em;
            font-family: $font_content;
            background: transparent
        }

        //
        .selected-card{
            margin-bottom: 1em;
            flex-wrap: wrap;

            // CARD SELECTOR
            .credit-card-selector {
                display: flex;
                position: relative;
                margin-right: 0.5em;
                border: $border-style;
                border-radius: 0.1875em;
                padding: 0.5em;
                width: 100%;
                background: #fff;
    
                .card-provider {
                    position: initial;
                    width: 55px;
                    height: 25px;
                    margin-right: 10px;
        
                    $providers-icons: (debvisa: 'icon_visa.svg',
                            visa: 'icon_visa.svg',
                            master: 'icon_mastercard.svg',
                            debmaster: 'icon_mastercard.svg',
                            amex: 'icon_amex.svg'
                        );
        
                    @each $name,
                    $icon in $providers-icons {
                        &.#{$name} {
                            background-image: url($images_path+'icons/payment/'+$icon);
                            background-repeat: no-repeat;
                        }
                    }
                }
    
                .card-number{
                    //width: 100%;
                }
    
                .card-exp{
                    color: $color3;
                    flex: 1 0 auto;
                    margin-left: 1em;
                }
    
                // Arrow Icon
                .card-change {
                    margin-left: 1.5em;
                    @include type-setting(-1);
                }
            }

            // CVV CONFIRMATION
            .cvv-confirmation{
                &__label{
                    display: block;
                    width: 100%;
                }

                &__input{
                    width: 4em;
                } 
            }
        } 

        // NEW CARD BUTTON
        .new-card-button{
            padding-top: 1em;
            border-top: $border-style;

            .button{
                text-align: center;
                margin: .5em auto 0;
                display: block;
            }
        }
    }

    .credit-cards-list-container{

        // MODULE TITLE
        &__title {
            //font-family: $font_content;
            @include type-setting(0);
            color: $color2;
            margin-bottom: 0;
            text-transform: none;
            font-weight: 500;
        }

        // OPTION
        .credit-cards-list{
            background: #fff;
            border: $border-style;
            border-radius: $border-radius;
        }
        .credit-card-option {
            padding: 0.625em 0.5em;
            label {
                width: 100%;
                display: flex;
            }

            .card-provider {
                width: 55px;
                height: 25px;
    
                $providers-icons: (debvisa: 'icon_visa.svg',
                    visa: 'icon_visa.svg',
                    master: 'icon_mastercard.svg',
                    debmaster: 'icon_mastercard.svg',
                    amex: 'icon_amex.svg'
                );
    
                @each $name,
                $icon in $providers-icons {
                    &.#{$name} {
                        background-image: url($images_path+'icons/payment/'+$icon);
                        background-repeat: no-repeat;
                    }
                }
            }
    
            .card-exp{
                color: $color3;
                flex: 1 0 auto;
                margin-left: 1em;
            }
        }

    }



    .creditCard {
        // PROVIDER LOGOS
        &__logos {
            margin-top: $margin-base;
            width: 50%;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;

            .logo {
                width: 40px;
                height: auto;
                margin-right: 10px;

                &:last-child {
                    margin: 0
                }
            }

            .visa {}

            .master-card {}

            .pay-pal {
                width: 80px
            }
        }

        .message{
            text-indent:0;
            color: #1eb592; 
            margin-bottom:0.5em !important; 
            margin-top:-0.5em !important;
        }
        

        // CARD FORM
        &__form {
            padding: #{$margin-base*1.25} $margin-base;
            border-radius: $border-radius;
            border: solid 1px $color4;
            background: #f8f8f8;

            fieldset {
                position: relative;
                width: 100%;
            }

            // Responsive field containers
            .tablet-sm--half {
                @media (min-width: $bp-mobile-l) {
                    display: inline-block;
                    width: 50%;
                    //margin-right: 1em;
                }
            }

            .tablet-sm--half:first-child {
                margin: none;
            }
        }

        .form__data {
            position: relative;
            font-size: 1em;
            margin-bottom: 0.75em;
            width: 100%;

            &:last-child {
                margin-bottom: none;
            }

            >label {
                margin-bottom: 0em;
                display: block;
                font-family: $font_content;
            }

            >input {
                width: 100%;
                padding: 0.5em;
                color: $color2;
                font-family: $font_content;
                border: solid 1px $color4;

                &::placeholder {
                    color: $color3
                }

                &:focus {
                    border-color: $color3;
                }
            }
        }

        // Credit Card Holder Details
        .email {}

        .card-number {}

        .card-details {
            .input {
                border: solid 1px $color4;
                font-family: $font_content;
            }

            .is-invalid {
                border: solid 1px $status-color-error
            }
        }

        .card_data {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            &--number {
                width: 100%;
            }
        }

        .cc-exp,
        .cvv {
            width: 48%;
        }

        @media screen and (min-width: $bp-mobile-l) {
            &__logos {
                margin-top: 0;
                float: right;
            }
        }

        @media screen and (min-width: $bp-tablet-sm) {
            .card_data {
                &--number {
                    flex: 1 1 50%;
                    margin-right: .6em;
                }

                .cc-exp,
                .cvv {
                    width: 23%;
                }

                .cc-exp {
                    margin-right: .6em;
                }
            }
        }

        @media screen and (min-width: $bp-tablet-m) {
            .card_data {
                &--number {
                    flex: 1 1 100%;
                }

                .cc-exp,
                .cvv {
                    width: 48%;
                }
            }
        }

        @media screen and (min-width: $bp-tablet-l) {
            .card_data {
                &--number {
                    flex: 1 1 35%;
                }

                .cc-exp,
                .cvv {
                    width: 30%;
                }
            }
        }

        ///Mine
        .collapseBox {
            border: none !important;
            margin-bottom: 0 !important;
            .header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: $margin-base*2 0;
                background: white;
                width: 100%;
                height: 100%;

                @include type-setting(0);
                font-family: $font_title_bold;
                text-decoration: none;
                color: $color2;
                cursor: pointer;
                transition: color 120ms ease;

                // Icon
                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    margin: auto 0.5em;
                    transition: transform 200ms ease-in-out;
                    filter: grayscale(100%);
                    background-size: contain;
                    background: url($images_path+'icons/arrows/arrow_down.svg') no-repeat center;
                    position: initial !important;
                }
            }

            .header {
                &.active {

                    // Icon
                    &:after {
                        transform: rotate(270deg);
                        filter: none;
                        background: url($images_path+'icons/arrows/arrow_next.svg') no-repeat center
                    }
                }
            }

            .payment-choice__details {
                overflow: initial;
                max-height: inherit;
            }
        }

        .saveCreditCard {
            input[type="checkbox"] {
                display: none;
            }

            input[type=checkbox]+label.checkmark {
                padding-left: 22px;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 15px;
                line-height: 30px;
                background-position-y: 3px;
                cursor: pointer;
            }

            input[type=checkbox]:checked+label.checkmark {
                background-image: url($images_path+'icons/selectors/icon_checkbox_check.svg');
            }

            label.checkmark {
                background-image: url($images_path+'icons/selectors/icon_checkbox.svg');
                user-select: none;
                position: relative;
            }
        }
    }

    //////////////////////
    // CardId Form
    .cardId {
        &__form {  
            margin-bottom: 0 !important;
        
            

        }
    }

    //////////////////////
    // OXXO
    .oxxo {
        .payment-choice__label {
            margin-bottom: 0
        }

        // LOGOS
        .logo-container {
            width: 50%;
            display: inline-flex;
            align-items: flex-start;
            justify-content: flex-end;

            .logo {
                width: 55px;
                height: auto;
            }
        }
    }

    //////////////////////////////////////
    // INVOICE OPTIONS AND CHECKBOX
    .invoice_note {
        margin-top: $margin-base*3;

        input[type="checkbox"] {
            display: none;
        }

        input[type=checkbox]+label.checkmark {
            padding-left: 22px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 15px;
            line-height: 30px;
            background-position-y: 3px;
            cursor: pointer;
        }

        input[type=checkbox]:checked+label.checkmark {
            background-image: url($images_path+'icons/selectors/icon_checkbox_check.svg');
        }

        label.checkmark {
            background-image: url($images_path+'icons/selectors/icon_checkbox.svg');
            user-select: none;
        }

        span {
            @include type-setting(-1);
            padding-left: 22px;
            color: $color3;
            line-height: 1.5em;
            display: block
        }
    }
}
