.cr__welcomeBanner {
  height: 115px;
  width: 100%;
  z-index: 4;
  margin-top: -1px;
  &--container {
    background-color: #fbf3f3;
    position: fixed;
    width: 100%;
    height: 115px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    &--titles {
      text-align: center;
      h5 {
        text-transform: none;
        font-weight: bold;
      }
    }
    &--iconLeft,
    &--iconRight {
      height: 115px;
      position: absolute;
    }
    &--iconLeft {
      left: 0px;
      object-position: -260px 0;
    }
    &--iconRight {
      right: 215px;
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
    &--container {
      &--titles {
        margin-left: -205px;
      }
      &--iconLeft {
        object-position: -160px 0;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &--container {
      justify-content: center;
      &--iconLeft {
        object-position: 0;
      }
      &--iconRight {
        display: block;
      }
    }
  }
}
