@import './awards.scss';

.awards__banner {
  width: 100%;
  height: 105px;
  background: $colorGray url('../../../images/illustration/awards_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 16%;
  display: flex;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
  &-container {
    flex: 1;
    text-align: center;
    h5 {
      span {
        font-weight: 600;
      }
      color: #ffff;
      text-transform: initial;
    }
  }
  .button__square {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0.3em 0.8em;
    border-radius: $base * 3;
    background: linear-gradient(158.82deg, $colorCoral 0%, #bf7b71 100%);
    box-shadow: 2px 3px 5px -3px $colorGray;
    font-weight: 500;
    font-size: 1.1em;
  }

  @media screen and (min-width: $bp-tablet-sm) {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      .button__square {
        margin: 0 0 0 $base;
      }
    }
  }
}
