@import '../../../styles/mixins';
$colorCoral: #dea8a0;
$colorBlack: #272525;
$colorGray: #3e3e4a;
$colorLigthGray: #f5f4f4;
$base: 0.625em;
$bp-mobile-m: 25em;
$bp-tablet-sm: 35em;
$bp-desktop-sm: 60em;

.awards {
  // .app-body-layout{ margin-top: 0; }
  padding: 0;
  .container {
    padding: $base * 3 $base;
  }
  .title {
    font-weight: 700;
    &.color {
      color: $colorCoral;
    }
  }
  .bold {
    font-weight: 600;
  }
  .wrapper--center {
    max-width: 54.5em;
  }
  a {
    cursor: pointer;
  }
  &__cover {
    background: $colorGray url('../../../images/awards/awards_cover.png') top
      no-repeat;
    background-size: cover;
    height: 13em;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 7em;
      width: 12.6em;
      transform: translate(-50%, -50%);
      background: $colorGray url('../../../images/awards/awards_logo.png') center
        no-repeat;
      background-size: cover;
    }
  }

  &__presentation {
    text-align: center;
    .bold {
      font-weight: 600;
    }
    .title {
      font-size: 1.5em;
      line-height: 1.3em;
      max-width: 540px;
      margin: 0 auto 1em;
    }
    .info {
      max-width: 430px;
      margin: 0 auto;
    }
  }

  &__button {
    text-align: center;
    padding-bottom: $base * 3;
    .button__square {
      display: inline-block;
      color: #fff;
      text-align: center;
      text-decoration: none;
      padding: $base $base * 2;
      border-radius: $base * 3;
      background: linear-gradient(158.82deg, $colorCoral 0%, #bf7b71 100%);
      box-shadow: 2px 3px 5px -3px $colorGray;
      font-weight: 500;
      font-size: 1.1em;
    }
  }

  &__steps {
    background: $colorGray url('../../../images/awards/awards-text.png') top
      no-repeat;
    background-size: 100%;
    //padding: 15em $base $base*3;
    position: relative;
    color: $colorLigthGray;
    .info {
      margin-bottom: 1em;
    }
    // .title{
    //     position: absolute;
    //     top: 30%; right: 20%;
    // }
    .step {
      margin: 0 $base * 2 $base;
      position: relative;
      color: $colorLigthGray;
      padding: 0 2em;
      &:before {
        content: '';
        color: $colorCoral;
        position: absolute;
        // width: 2em; height: 2em;
        // left: -1em;
      }
      &.one {
        &:before {
          background: url('../../../images/awards/step_1.svg') center no-repeat;
          background-size: cover;
        }
      }
      &.two {
        &:before {
          background: url('../../../images/awards/step_2.svg') center no-repeat;
          background-size: cover;
        }
      }
      &.three {
        &:before {
          background: url('../../../images/awards/step_3.svg') center no-repeat;
          background-size: cover;
        }
      }
      .day {
        font-weight: 100;
      }
    }
  }

  &__event {
    background: $colorLigthGray url('../../../images/awards/awards_event.png') center
      no-repeat;
    background-size: cover;
    position: relative;
    padding: 7em $base 9em;
    color: white;
    .title {
      width: 70%;
    }
    .info {
      max-width: 430px;
      margin: auto 0;
    }
  }

  &__footer {
    background: $colorGray;
    padding: $base * 1.5;
    position: absolute;
    .socialMedia__list {
      background: none;
      width: 100px;
    }
    .socialMedia__list__item {
      width: 1.5rem;
      &.facebook a {
        background-image: url('../../../images/awards/awards_icon_facebook.svg');
      }
      &.instagram a {
        background-image: url('../../../images/awards/awards_icon_instagram.svg');
      }
    }
    .copy {
      text-align: center;
    }
  }

  &__categories {
    text-align: center;
    .info {
      max-width: 440px;
      margin: 0 auto;
    }
    .categories__list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      margin: 3em auto;
      .link {
        box-shadow: none;
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: none;
        width: 100%;
      }
      &.general {
        .category {
          position: relative;
          flex: 0 0 33%;
          .link {
            color: $colorBlack;
            position: relative;
            padding: 6.5em 0 0 0;
            display: flex;
            justify-content: center;
            margin: $base 0;
            font-size: 0.8em;
            &:before {
              content: '';
              position: absolute;
              width: 6em;
              height: 6em;
              top: 0;
            }
            &.postres {
              &:before {
                background: url('../../../images/awards/category_postre.svg') center
                  no-repeat;
                background-size: cover;
              }
            }
            &.saludable {
              &:before {
                background: url('../../../images/awards/category_saludable.svg')
                  center no-repeat;
                background-size: cover;
              }
            }
            &.mascotas {
              &:before {
                background: url('../../../images/awards/category_mascotas.svg')
                  center no-repeat;
                background-size: cover;
              }
            }
            &.infantil {
              &:before {
                background: url('../../../images/awards/category_infantil.svg')
                  center no-repeat;
                background-size: cover;
              }
            }
            &.belleza {
              &:before {
                background: url('../../../images/awards/category_belleza.svg') center
                  no-repeat;
                background-size: cover;
              }
            }
            &.flores {
              &:before {
                background: url('../../../images/awards/category_flores.svg') center
                  no-repeat;
                background-size: cover;
              }
            }
            &.accesorios {
              &:before {
                background: url('../../../images/awards/category_accesorios.svg')
                  center no-repeat;
                background-size: cover;
              }
            }
            &.eco {
              &:before {
                background: url('../../../images/awards/category_eco.svg') center
                  no-repeat;
                background-size: cover;
              }
            }
          }
          &:hover {
            background: $colorLigthGray;
          }
        }
      }

      &.special {
        justify-content: center;
        .category {
          .link {
            color: #ffff;
            margin: $base;
            font-weight: bold;
            font-size: 1em;
            width: 7.8em;
            height: 7.8em;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('../../../images/awards/category_special.svg') center
              no-repeat;
            background-size: cover;
          }
          &:hover {
            background: $colorLigthGray;
          }
        }
      }
    }
  }

  @media screen and (min-width: $bp-mobile-m) {
    &__steps {
      background: $colorGray url('../../../images/awards/awards-text.png') top right
        no-repeat;
      //background-size: contain;
    }
  }
  @media screen and (min-width: $bp-tablet-sm) {
    &__categories {
      padding: 3.5 $base;
      .categories__list {
        max-width: 80%;
        margin: 2em auto;
        &.general {
          .category {
            flex: 0 0 25%;
          }
        }
      }
      .info {
        max-width: 100%;
      }
    }
    &__presentation {
      margin: 2em 0 0;
    }
    &__button {
      padding-bottom: 3.5em;
    }
    &__steps {
      padding: 0;
      .wrapper--center {
        padding: $base * 4;
      }
    }
    &__footer {
      padding: 2em;
      .socialMedia__list {
        position: initial;
      }
    }
  }
  @media screen and (min-width: $bp-desktop-sm) {
    &__cover {
      height: 18em;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        height: 9em;
        width: 16.3em;
        transform: translate(-50%, -50%);
        background: $colorGray url('../../../images/awards/awards_logo.png') center
          no-repeat;
        background-size: cover;
      }
    }
    &__event {
      background: $colorLigthGray url('../../../images/awards/awards_event.png') left
        top no-repeat;
      background-size: contain;
      padding: 6em $base;
      .wrapper--center {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        padding: 0;
        .info {
          color: $colorBlack;
          width: 430px;
        }
      }
      .title {
        width: 50%;
      }
    }
    &__presentation {
      .info {
        max-width: 545px;
      }
    }
  }

  .category__detail {
    position: relative;
    margin: 2em auto;
    background: $colorLigthGray;
    padding: $base * 1.5;
    max-width: 780px;
    &-button {
      display: flex;
      justify-content: flex-end;
      position: relative;
      .close {
        border: none;
        background: none;
        color: transparent;
        height: 15px;
        width: 1.7em;
        position: absolute;
        background: url('../../../images/awards/icon_delete.svg') center no-repeat;
        background-size: cover;
      }
    }
    &-header {
      display: flex;
      flex-flow: column;
      text-align: left;
      .icon__category {
        width: 2.5em;
        position: absolute;
        top: 0.6em;
      }
      .info {
        border-bottom: 1px solid #b3b2b6;
        padding: 0 0 $base;
        flex: 0 0 80%;
        margin: 0 $base;
        .title {
          padding: 0 0 0 2em;
        }
      }
    }
    &-container {
      padding: 2em $base;
      position: relative;
      .soon {
        padding: 4em $base;
        color: #b3b2b6;
        &:after {
          content: '';
          position: absolute;
          width: 3em;
          height: 3em;
          right: 45%;
          top: 55%;
          background: url('../../../images/awards/icon_win.svg') center no-repeat;
          background-size: contain;
        }
      }
      .photo_container {
        border: 1px solid #b3b2b6;
        margin-right: $base * 2;
        overflow: hidden;
        background: #ffff;
        @include responsive-container(100%);
        width: 100%;
        max-width: 7em;
        margin: 0 auto;
        .photo {
          filter: grayscale(100%);
          width: 100%;
          position: absolute;
          @include responsive-image();
          @include center-content(50%, 50%);
        }
      }
      .store {
        font-weight: 600;
        text-transform: uppercase;
        flex: 0 0 80%;
        margin: $base auto;
        width: 100%;
        .owner {
          text-transform: initial;
          font-weight: initial;
        }
      }
      .nominees {
        .title {
          text-align: left;
          text-transform: initial;
        }
        &__list {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          .item {
            flex: 0 0 40%;
            padding: $base 0 0;
            &__nominee {
              text-decoration: none;
              color: $colorGray;
              display: flex;
              justify-content: space-between;
              flex-flow: row wrap;
              align-items: center;
            }
          }
        }
      }
      .winners {
        .winner {
          padding: $base * 2;
        }
        .title {
          margin: $base;
          position: relative;
          padding: $base * 3 0 0;
          &:before {
            content: '';
            position: absolute;
            width: 2.2em;
            height: 2.2em;
            @include center-content(50%, 0%);
            top: -10%;
            background: url('../../../images/awards/icon_win.svg') center no-repeat;
            background-size: contain;
          }
        }
        .photo_container {
          max-width: 15em;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-sm) {
      &-header {
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-around;
        .icon__category {
          max-width: 5em;
          top: 0;
          position: relative;
          flex: 0 0 20%;
        }
        .info {
          .title {
            padding: 0;
          }
        }
      }
      .winners {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .winner {
          flex: 0 0 30%;
        }
      }
    }
    @media screen and (min-width: $bp-tablet-sm) {
      .nominees__list {
        .store {
          padding: 1.2em;
          margin: 0;
          text-align: left;
        }
        .item {
          flex: 0 0 50%;
          &__nominee {
            flex-flow: initial;
          }
        }
      }
    }
  }
}

.awards__steps {
  height: 100px;
}
