/*----------------------------------------
// MIXINS
----------------------------------------*/
/*----------------------------------------
// FUNCTIONS
----------------------------------------*/
.awards {
  padding: 0;
}

.awards .container {
  padding: 1.875em 0.625em;
}

.awards .title {
  font-weight: 700;
}

.awards .title.color {
  color: #dea8a0;
}

.awards .bold {
  font-weight: 600;
}

.awards .wrapper--center {
  max-width: 54.5em;
}

.awards a {
  cursor: pointer;
}

.awards__cover {
  background: #3e3e4a url('../../../images/awards/awards_cover.png') top no-repeat;
  background-size: cover;
  height: 13em;
  position: relative;
}

.awards__cover:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 7em;
  width: 12.6em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #3e3e4a url('../../../images/awards/awards_logo.png') center no-repeat;
  background-size: cover;
}

.awards__presentation {
  text-align: center;
}

.awards__presentation .bold {
  font-weight: 600;
}

.awards__presentation .title {
  font-size: 1.5em;
  line-height: 1.3em;
  max-width: 540px;
  margin: 0 auto 1em;
}

.awards__presentation .info {
  max-width: 430px;
  margin: 0 auto;
}

.awards__button {
  text-align: center;
  padding-bottom: 1.875em;
}

.awards__button .button__square {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 0.625em 1.25em;
  border-radius: 1.875em;
  background: linear-gradient(158.82deg, #dea8a0 0%, #bf7b71 100%);
  -webkit-box-shadow: 2px 3px 5px -3px #3e3e4a;
  box-shadow: 2px 3px 5px -3px #3e3e4a;
  font-weight: 500;
  font-size: 1.1em;
}

.awards__steps {
  background: #3e3e4a url('../../../images/awards/awards-text.png') top no-repeat;
  background-size: 100%;
  position: relative;
  color: #f5f4f4;
}

.awards__steps .info {
  margin-bottom: 1em;
}

.awards__steps .step {
  margin: 0 1.25em 0.625em;
  position: relative;
  color: #f5f4f4;
  padding: 0 2em;
}

.awards__steps .step:before {
  content: '';
  color: #dea8a0;
  position: absolute;
}

.awards__steps .step.one:before {
  background: url('../../../images/awards/step_1.svg') center no-repeat;
  background-size: cover;
}

.awards__steps .step.two:before {
  background: url('../../../images/awards/step_2.svg') center no-repeat;
  background-size: cover;
}

.awards__steps .step.three:before {
  background: url('../../../images/awards/step_3.svg') center no-repeat;
  background-size: cover;
}

.awards__steps .step .day {
  font-weight: 100;
}

.awards__event {
  background: #f5f4f4 url('../../../images/awards/awards_event.png') center no-repeat;
  background-size: cover;
  position: relative;
  padding: 7em 0.625em 9em;
  color: white;
}

.awards__event .title {
  width: 70%;
}

.awards__event .info {
  max-width: 430px;
  margin: auto 0;
}

.awards__footer {
  background: #3e3e4a;
  padding: 0.9375em;
  position: absolute;
}

.awards__footer .socialMedia__list {
  background: none;
  width: 100px;
}

.awards__footer .socialMedia__list__item {
  width: 1.5rem;
}

.awards__footer .socialMedia__list__item.facebook a {
  background-image: url('../../../images/awards/awards_icon_facebook.svg');
}

.awards__footer .socialMedia__list__item.instagram a {
  background-image: url('../../../images/awards/awards_icon_instagram.svg');
}

.awards__footer .copy {
  text-align: center;
}

.awards__categories {
  text-align: center;
}

.awards__categories .info {
  max-width: 440px;
  margin: 0 auto;
}

.awards__categories .categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: 3em auto;
}

.awards__categories .categories__list .link {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: none;
  width: 100%;
}

.awards__categories .categories__list.general .category {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
}

.awards__categories .categories__list.general .category .link {
  color: #272525;
  position: relative;
  padding: 6.5em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.625em 0;
  font-size: 0.8em;
}

.awards__categories .categories__list.general .category .link:before {
  content: '';
  position: absolute;
  width: 6em;
  height: 6em;
  top: 0;
}

.awards__categories .categories__list.general .category .link.postres:before {
  background: url('../../../images/awards/category_postre.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.saludable:before {
  background: url('../../../images/awards/category_saludable.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.mascotas:before {
  background: url('../../../images/awards/category_mascotas.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.infantil:before {
  background: url('../../../images/awards/category_infantil.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.belleza:before {
  background: url('../../../images/awards/category_belleza.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.flores:before {
  background: url('../../../images/awards/category_flores.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.accesorios:before {
  background: url('../../../images/awards/category_accesorios.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category .link.eco:before {
  background: url('../../../images/awards/category_eco.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.general .category:hover {
  background: #f5f4f4;
}

.awards__categories .categories__list.special {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.awards__categories .categories__list.special .category .link {
  color: #ffff;
  margin: 0.625em;
  font-weight: bold;
  font-size: 1em;
  width: 7.8em;
  height: 7.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('../../../images/awards/category_special.svg') center no-repeat;
  background-size: cover;
}

.awards__categories .categories__list.special .category:hover {
  background: #f5f4f4;
}

@media screen and (min-width: 25em) {
  .awards__steps {
    background: #3e3e4a url('../../../images/awards/awards-text.png') top right
      no-repeat;
  }
}

@media screen and (min-width: 35em) {
  .awards__categories {
    padding: 3.5 0.625em;
  }
  .awards__categories .categories__list {
    max-width: 80%;
    margin: 2em auto;
  }
  .awards__categories .categories__list.general .category {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .awards__categories .info {
    max-width: 100%;
  }
  .awards__presentation {
    margin: 2em 0 0;
  }
  .awards__button {
    padding-bottom: 3.5em;
  }
  .awards__steps {
    padding: 0;
  }
  .awards__steps .wrapper--center {
    padding: 2.5em;
  }
  .awards__footer {
    padding: 2em;
  }
  .awards__footer .socialMedia__list {
    position: initial;
  }
}

@media screen and (min-width: 60em) {
  .awards__cover {
    height: 18em;
  }
  .awards__cover:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 9em;
    width: 16.3em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #3e3e4a url('../../../images/awards/awards_logo.png') center
      no-repeat;
    background-size: cover;
  }
  .awards__event {
    background: #f5f4f4 url('../../../images/awards/awards_event.png') left top
      no-repeat;
    background-size: contain;
    padding: 6em 0.625em;
  }
  .awards__event .wrapper--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0;
  }
  .awards__event .wrapper--center .info {
    color: #272525;
    width: 430px;
  }
  .awards__event .title {
    width: 50%;
  }
  .awards__presentation .info {
    max-width: 545px;
  }
}

.awards .category__detail {
  position: relative;
  margin: 2em auto;
  background: #f5f4f4;
  padding: 0.9375em;
  max-width: 780px;
}

.awards .category__detail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}

.awards .category__detail-button .close {
  border: none;
  background: none;
  color: transparent;
  height: 15px;
  width: 1.7em;
  position: absolute;
  background: url('../../../images/awards/icon_delete.svg') center no-repeat;
  background-size: cover;
}

.awards .category__detail-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: left;
}

.awards .category__detail-header .icon__category {
  width: 2.5em;
  position: absolute;
  top: 0.6em;
}

.awards .category__detail-header .info {
  border-bottom: 1px solid #b3b2b6;
  padding: 0 0 0.625em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  margin: 0 0.625em;
}

.awards .category__detail-header .info .title {
  padding: 0 0 0 2em;
}

.awards .category__detail-container {
  padding: 2em 0.625em;
  position: relative;
}

.awards .category__detail-container .soon {
  padding: 4em 0.625em;
  color: #b3b2b6;
}

.awards .category__detail-container .soon:after {
  content: '';
  position: absolute;
  width: 3em;
  height: 3em;
  right: 45%;
  top: 55%;
  background: url('../../../images/awards/icon_win.svg') center no-repeat;
  background-size: contain;
}

.awards .category__detail-container .photo_container {
  border: 1px solid #b3b2b6;
  margin-right: 1.25em;
  overflow: hidden;
  background: #ffff;
  position: relative;
  width: 100%;
  max-width: 7em;
  margin: 0 auto;
}

.awards .category__detail-container .photo_container:before {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.awards .category__detail-container .photo_container .photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.awards .category__detail-container .photo_container .photo.vertical {
  height: 100% !important;
  width: auto !important;
}

.awards .category__detail-container .photo_container .photo.horizontal {
  width: 100% !important;
  height: auto !important;
}

.awards .category__detail-container .store {
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  margin: 0.625em auto;
  width: 100%;
}

.awards .category__detail-container .store .owner {
  text-transform: initial;
  font-weight: initial;
}

.awards .category__detail-container .nominees .title {
  text-align: left;
  text-transform: initial;
}

.awards .category__detail-container .nominees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.awards .category__detail-container .nominees__list .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  padding: 0.625em 0 0;
}

.awards .category__detail-container .nominees__list .item__nominee {
  text-decoration: none;
  color: #3e3e4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.awards .category__detail-container .winners .winner {
  padding: 1.25em;
}

.awards .category__detail-container .winners .title {
  margin: 0.625em;
  position: relative;
  padding: 1.875em 0 0;
}

.awards .category__detail-container .winners .title:before {
  content: '';
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  top: -10%;
  background: url('../../../images/awards/icon_win.svg') center no-repeat;
  background-size: contain;
}

.awards .category__detail-container .winners .photo_container {
  max-width: 15em;
}

@media screen and (min-width: 35em) {
  .awards .category__detail-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .awards .category__detail-header .icon__category {
    max-width: 5em;
    top: 0;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  .awards .category__detail-header .info .title {
    padding: 0;
  }
  .awards .category__detail .winners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .awards .category__detail .winners .winner {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 35em) {
  .awards .category__detail .nominees__list .store {
    padding: 1.2em;
    margin: 0;
    text-align: left;
  }
  .awards .category__detail .nominees__list .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .awards .category__detail .nominees__list .item__nominee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: initial;
    flex-flow: initial;
  }
}

.awards__steps {
  height: 100px;
}

.awards__banner {
  width: 100%;
  height: 105px;
  background: #3e3e4a url('../../../images/illustration/awards_banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.awards__banner-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.awards__banner-container h5 {
  color: #ffff;
  text-transform: initial;
}

.awards__banner-container h5 span {
  font-weight: 600;
}

.awards__banner .button__square {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 0.3em 0.8em;
  border-radius: 1.875em;
  background: linear-gradient(158.82deg, #dea8a0 0%, #bf7b71 100%);
  -webkit-box-shadow: 2px 3px 5px -3px #3e3e4a;
  box-shadow: 2px 3px 5px -3px #3e3e4a;
  font-weight: 500;
  font-size: 1.1em;
}

@media screen and (min-width: 35em) {
  .awards__banner__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .awards__banner__container .button__square {
    margin: 0 0 0 0.625em;
  }
}
/*# sourceMappingURL=awardsBanner.css.map */
