.cr__searchError {
  position: relative;
  margin: 0 auto;
  padding: 3em 0 0;
  text-align: center;
  max-width: 60em;
  &--content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dad8d6;
    height: 100%;
    align-items: center;
    padding: 0 1.25em 3em;
  }
  &--message {
    text-align: left;
    h6 {
      text-transform: none;
    }
    ul {
      margin: 2em 0 1em;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      font-weight: 600 !important;
    }
  }
  &--img {
    img {
      width: 340px;
      height: 201px;
    }
  }
  .newStores {
    position: relative;
  }
  @media screen and (max-width: 767px) {
    overflow: hidden;
    &--content {
      flex-direction: column;
    }
    &--img {
      margin: 3em 1em 0;
      img {
        width: auto;
      }
    }
  }
}
