//Special message Emails
.cr__specialMessage {
  width: 100%;
  max-width: 500px;
  padding: 0.5em;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  &-main {
    margin-bottom: 1em;
    h5 {
      font-weight: 900 !important;
    }
    p {
      margin-top: 0.75em;
    }
  }
  &-content {
    margin-bottom: 1em;
    h5 {
      font-weight: 600 !important;
    }
  }
  &-button {
    text-align: right;
    padding-top: 1em;
    border-top: 1px solid lightgrey;
    margin-top: 1em;
    button {
      cursor: pointer;
      height: 35px;
      width: 137px;
      border: 1px solid #c72a60;
      border-radius: 3px;
      background-color: #e63976;
      box-shadow: inset 0 -2px 6px 0 rgba(0, 0, 0, 0.06),
        0 1px 0 0 rgba(0, 0, 0, 0.09);
      color: #ffffff;
      transition: 0.3s;
    }
    button:hover {
      color: #e63976;
      background-color: #ffffff;
      border-color: #e63976;
    }
  }
  h5,
  h6 {
    margin-bottom: 0;
    text-transform: none;
  }
  @media screen and (max-width: 726px) {
    transform: translateY(0%);
  }
}
